@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Get Client"].Value;
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/client.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/client.min.css", true)" />
    </environment>
}
<div class="container">
    <div class="p1">
        <h1 class="w800">@Localizer["NEO & GAS"]</h1>
        <p class="mt5 w600">@Localizer["The wallets shown on this page are all developed by the development teams or individual developers of the NEO community. Please contact the developer if you encounter any problems during use."]</p>
        <p class="mt5 w600">@Localizer["As some wallets are open-source while some are not, you may lose control of your own NEO assets when using some wallets that shown on this page. Please choose the wallets as appropriate."]</p>
        <p class="mt5 w600">@Localizer["When using the wallet, please back up the private key in a secure manner. The private key is the only way to control your own NEO assets."]</p>
    </div>

    <h2 class="m2">@Localizer["Get Client"]</h2>
    <div>
        <p class="mt5">@Localizer["The wallets shown on this page are all developed by the development teams or individual developers of the NEO community. Please contact the developer if you encounter any problems during use."]</p>
        <p class="mt5">@Localizer["As some wallets are open-source while some are not, you may lose control of your own NEO assets when using some wallets that shown on this page. Please choose the wallets as appropriate."]</p>
        <p class="mt5">@Localizer["When using the wallet, please back up the private key in a secure manner. The private key is the only way to control your own NEO assets."]</p>
    </div>
    <select id="select">
        <option value="">@Localizer["All Client"]</option>
        <option value="desktop">@Localizer["Desktop"]</option>
        <option value="mobile">@Localizer["Mobile"]</option>
        <option value="web">@Localizer["Web"]</option>
        <option value="extension">@Localizer["Extension"]</option>
        <option value="hardware">@Localizer["Hardware"]</option>
    </select>
    <ul class="row mt5 client-ul">
        <li class="desktop">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/gui.png")" />
            <header>NEO-GUI</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
            </div>
            <a class="open-source" href="https://github.com/neo-project/neo-gui" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/neo-project/neo-gui" target="_blank">NEO Project</a></div>
            <div class="license d-none"><a class="float-left" href="https://github.com/neo-project/neo-gui/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://github.com/neo-project/neo-gui/releases" target="_blank">@Localizer["Download"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-desktop preview">
                    <img data-original="@Helper.ToCDN("/images/client/gui.png")" />
                </div>
                <p>@Localizer["NEO-GUI is a full-node NEO client, which contains all the basic functions of NEO network. This wallet is designed for advanced users, with professional software interaction and extremely high security. However, it takes a long time to initialize synchronization, occupies disk and memory, and has poor stability."]</p>
                <p>@Localizer["Need to install"] <a href="https://www.microsoft.com/net/download/dotnet-framework-runtime" target="_blank">.NetFramework 4.7.1</a> @Localizer["and"] <a href="https://www.microsoft.com/en-us/download/details.aspx?id=14632" target="_blank">VC++ 2010 Redist x64</a>/<a href="https://www.microsoft.com/en-us/download/details.aspx?id=5555" target="_blank">x86</a>
                <p>@Localizer["For more information, see:"]<a href="@Localizer["https://docs.neo.org/en-us/node/gui/install.html"]" target="_blank">@Localizer["Instructions for use"]</a></p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-success">@Localizer["Comprehensive"]</span>
                        <div>@Localizer["This wallet is a full node that stores all the data in the NEO blockchain, which means that there is no need to trust a third party when verifying payments or executing contracts. The full node provides the highest level of security and is an integral part of protecting the network. However, it requires more hard disk space (15GB), greater bandwidth, and a longer initialization synchronization time. The initialization synchronization speed can be accelerated by downloading the <a href=\"http://sync.ngd.network/\" target=\"_blank\">offline synchronization package</a> provided by NGD."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/neo-project/neo-gui" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Support Plugins"]</span>
                        <p>NEO-GUI @Localizer["supports plugins. The following is a list of commonly-used plug-in components."]</p>
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">@Localizer["Plugin"]</th>
                                    <th scope="col">@Localizer["Introduction"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">ImportBlocks</a>
                                    </th>
                                    <td>@Localizer["Synchronizes the client using offline packages. Installed by default."]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rich"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/cli.png")" />
            <header>NEO-CLI</header>
            <div class="platform">
                <i class="iconfont" header data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
            </div>
            <a class="open-source" href="https://github.com/neo-project/neo-cli" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/neo-project/neo-cli" target="_blank">NEO Project</a></div>
            <div class="license d-none"><a href="https://github.com/neo-project/neo-cli/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://github.com/neo-project/neo-cli/releases" target="_blank">@Localizer["Download"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-desktop preview">
                    <img data-original="@Helper.ToCDN("/images/client/cli.png")" />
                </div>
                <p>
                    @Localizer["NEO-CLI is a full-node command-line client that can run across platforms. It can provide APIs for developers to call, or participate in the consensus mechanism as a consensus node in the block chain. This wallet is designed for developers, with professional software interaction, as well as higher security and stability. The disadvantages of this wallet are that it takes a long time to initialize synchronization, and it takes up disk and memory."]
                </p>
                <p>@Localizer["For more information, see:"] <a href="@Localizer["http://docs.neo.org/en-us/node/cli/setup.html"]" target="_blank">@Localizer["Instructions for use"]</a>, <a href="https://github.com/neo-project/neo-cli/blob/master/CHANGELOG.md" target="_blank">@Localizer["Change log"]</a></p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-success">@Localizer["Comprehensive"]</span>
                        <div>@Localizer["This wallet is a full node that stores all the data in the NEO blockchain, which means that there is no need to trust a third party when verifying payments or executing contracts. The full node provides the highest level of security and is an integral part of protecting the network. However, it requires more hard disk space (15GB), greater bandwidth, and a longer initialization synchronization time. The initialization synchronization speed can be accelerated by downloading the <a href=\"http://sync.ngd.network/\" target=\"_blank\">offline synchronization package</a> provided by NGD."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/neo-project/neo-cli" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Support Plugins"]</span>
                        <p>NEO-CLI @Localizer["supports plugins. The following is a list of commonly-used plug-in components."]</p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">@Localizer["Plugin"]</th>
                                    <th scope="col">@Localizer["Introduction"]</th>
                                </tr>
                            </thead>
                            <tbody class="table table-bordered table-sm">
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">ApplicationLogs</a>
                                    </th>
                                    <td>@Localizer["Synchronizes the smart contract log (ApplicationLogs) automatically in RPC mode. Mandatory for exchanges."]</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">ImportBlocks</a>
                                    </th>
                                    <td>@Localizer["Synchronizes the client using offline packages. Installed by default."]</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcWallet</a>
                                    </th>
                                    <td>@Localizer["Provides wallet-specific RPC functionalities."]</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">SimplePolicy</a>
                                    </th>
                                    <td>@Localizer["Enables policies for consensus. Mandatory for building private chain."]</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcSecurity</a>
                                    </th>
                                    <td>@Localizer["Improves RPC security. Optional."]</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">StatesDumper</a>
                                    </th>
                                    <td>@Localizer["Exports NEO-CLI status data. Optional."]</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcNep5Tracker</a>
                                    </th>
                                    <td>@Localizer["Enquiries NEP-5 balance and transactions history of accounts through RPC."]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rich"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/o3.png")" />
            <header>O3 Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <a class="open-source" href="https://github.com/O3Labs" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://o3.network/" target="_blank">O3 Labs</a></div>
            <div class="license d-none"><a href="https://github.com/O3Labs/O3Android/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://o3.network/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-desktop" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/o3.png")" />
                </div>
                <div class="p-desktop preview" style="display:none;">
                    <img data-original="@Helper.ToCDN("/images/client/o3-desktop.png")" />
                    <img data-original="@Helper.ToCDN("/images/client/o3-desktop.png")" />
                    <img data-original="@Helper.ToCDN("/images/client/o3-desktop.png")" />
                </div>
                <p>
                    @Localizer["It's a cross-platform wallet developed by O3 Labs. This wallet supports most mainstream operating systems, maintains a high update frequency and can support NEO network updates and features in a timely manner."]
                </p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives you a high degree of control over digital assets. The private key is encrypted and stored by the Encrypted Key and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the Encrypted Key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["Higher"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/O3Labs" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-9.mediawiki" target="_blank">NEP-9</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/neon.png")" />
            <header>Neon Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
            </div>
            <a class="open-source" href="https://github.com/CityOfZion/neon-wallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/CityOfZion/neon-wallet" target="_blank">City of Zion</a></div>
            <div class="license d-none"><a href="https://github.com/CityOfZion/neon-wallet/blob/dev/LICENSE.md" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://neonwallet.com/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-desktop preview">
                    <img data-original="@Helper.ToCDN("/images/client/neon.png")" />
                </div>
                <p>@Localizer["It's a cross-platform wallet developed by NEO developer community City of Zion. This wallet supports mainstream operating systems such as Windows, macOS and Linux, and focuses on UE and UI."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the wallet file."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/aphelion.png")" />
            <header>Aphelion Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <a class="open-source" href="https://github.com/aphtoken/aph-wallet-gui" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://aphelion.org" target="_blank">Aphelion, Ltd</a></div>
            <div class="license d-none"><a href="https://github.com/aphtoken/aph-wallet-gui/blob/development/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none">
                <a class="btn" href="https://aphelion.org" target="_blank">@Localizer["Website"]</a>
                <a class="btn" href="https://mobilewallet.aphelion.org/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-desktop" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/aphelion.png")" />
                </div>
                <div class="p-desktop preview" style="display:none;">
                    <img data-original="@Helper.ToCDN("/images/client/aphelion-desktop.png")" />
                </div>
                <p>
                    @Localizer["It's a cross-platform wallet that supports almost all mainstream operating systems, and it also supports contacts and complete NEP-5. This wallet can be used in conjunction with the Ledger hardware wallet."]
                </p>
                <p>@Localizer["Languages"]: English / 简体中文 / Deutsch / 日本語 / 한국어 / Nederlands / Русский</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["Higher"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/aphtoken/aph-wallet-gui" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-warning">@Localizer["So so"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/anybit.png")" />
            <header>AnyBit</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <a class="open-source" href="https://github.com/AnyBitIO/anybit-Android" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://www.anybit.io/" target="_blank">AnyBit</a></div>
            <div class="license d-none"><a href="https://github.com/AnyBitIO/anybit-iOS/blob/master/LICENSE" target="_blank">Apache License</a></div>
            <div class="button d-none"><a class="btn" href="https://www.anybit.io/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/anybit.png")" />
                </div>
                <p>
                    @Localizer["It's a the first hot and cold combined wallet that supports NEO. The mnemonic and private key are stored locally. This wallet is divided into general mode and isolation mode. In the isolation mode, the devices used need to be completely isolated from the network. This wallet is simple in functions, and when transaction happens, the hot wallet needs to be used for transaction request and broadcast."]
                </p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key or the mnemonic are stored locally. This wallet gives more support to the cold and hot wallet dual mode cooperation, offline signature authorization and online asset observation. It is completely isolated from the network environment so as to store assets more securely."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["Higher"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/AnyBitIO/anybit-Android" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-warning">@Localizer["So so"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/sea.png")" />
            <header>SEA Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <a class="open-source" href="https://github.com/OTCGO/sea-app" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://otcgo.cn/" target="_blank">SEA</a></div>
            <div class="license d-none"><a href="https://github.com/OTCGO/sea-app/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none">
                <a class="btn" href="https://otcgo.cn/download/" target="_blank">@Localizer["Website"]</a>
                <a class="btn" href="https://otcgo.cn/#/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/sea.png")" />
                </div>
                <p>@Localizer["It's a wallet developed by SEA. This wallet contains basic functions such as importing private keys, transferring assets, retrieving GAS, etc."]</p>
                <p>@Localizer["Languages"]: 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["Higher"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/OTCGO/sea-app" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile hardware">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/spatium.png")" />
            <header>Spatium</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
            </div>
            <a class="open-source" href="https://github.com/CaspianTechnologies" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="http://spatium.net/" target="_blank">CaspianTechnologies</a></div>
            <div class="license d-none"><a href="https://github.com/CaspianTechnologies/Spatium/blob/master/LICENSE" target="_blank">GPL-3.0 License</a></div>
            <div class="button d-none"><a class="btn" href="http://spatium.net/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/spatium.png")" />
                </div>
                <p>
                    @Localizer["It's a digital currency wallet developed by CaspianTechnologies. This wallet needs signatures from multiple parties on transactions, and it is compatible with the Spatium hardware wallet, which possesses the biological recognition technologies. It also focuses on the security."]
                </p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the hardware wallet, so it has extremely high security."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["Higher"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/CaspianTechnologies" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/cobo.png")" />
            <header>Cobo Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <div class="developer d-none"><a href="https://cobo.com/about" target="_blank">Cobo</a></div>
            <div class="button d-none"><a class="btn" href="https://cobo.com/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/cobo.png")" />
                </div>
                <p>@Localizer["Cobo is a wallet that supports multiple digital asset management."]</p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["Similar to a digital asset exchange, your assets are hosted on its servers. Your assets may be stolen in the event of an attack on your server. However, you also need to trust the developers of this wallet."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The NEO Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/math.png")" />
            <header>@Localizer["Math Wallet"]</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <div class="developer d-none"><a href="http://www.mathwallet.org" target="_blank">Math Labs</a></div>
            <div class="button d-none"><a class="btn" href="http://www.mathwallet.org" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/math.png")" />
                </div>
                <p>@Localizer["It's a multiple digital asset wallet developed by Math Labs. This wallet supports BTC, ETH, NEO, EOS and other ecosystems, as well as face recognition, living body recognition and other biometric recognition technologies."]</p>
                <p>@Localizer["Languages"]: English / 简体中文 / 한국어</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The NEO Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-warning">@Localizer["So so"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/infinito.png")" />
            <header>infinito wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <div class="developer d-none"><a href="https://www.infinitowallet.io" target="_blank">Infinito Blockchain Labs</a></div>
            <div class="button d-none"><a class="btn" href="https://www.infinitowallet.io" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/infinito.png")" />
                </div>
                <p>@Localizer["It's a multi-token wallet developed by Infinito Blockchain Labs . This wallet supports BTC, ETH, NEO, EOS and other ecosystems. It has more than 10 languages for alternatives and supports fingerprint identification."]</p>
                <p>@Localizer["Languages"]: English / 简体中文 / Tiếng Việt / 日本語 / 한국어 / Italiano / Русский / Español</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The NEO Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-warning">@Localizer["So so"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/iwallic.png")" />
            <header>iWallic</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <a class="open-source" href="https://github.com/ext-studio/iwallic" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/ext-studio" target="_blank">e-studio</a></div>
            <div class="button d-none">
                <a class="btn" href="https://iwallic.com" target="_blank">@Localizer["Website"]</a>
                <a class="btn" href="https://app.iwallic.com/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/iwallic.png")" />
                </div>
                <p>@Localizer["It's an Android wallet developed by e-studio. This wallet contains basic functions such as importing private keys, transferring assets, etc."]</p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["Higher"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/ext-studio/iwallic" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/atomic.png")" />
            <header>Atomic Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
            </div>
            <a class="open-source" href="https://github.com/Atomicwallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/Atomicwallet" target="_blank">Atomicwallet</a></div>
            <div class="button d-none"><a class="btn" href="https://atomicwallet.io/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/atomic.png")" />
                </div>
                <p>@Localizer["Atomic is a decentralized wallet that supports 300+ cryptocurrency assets. The wallet uses Atomic Swap technology for cross-chain custody free exchange. Atomic Wallet provides instant exchange and \"buy crypto with a credit card\" feature. Available for Windows, Mac OS, Linux, and Android."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The NEO Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="extension">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/neoline.png")" />
            <header>NEO Line</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="extension">&#xe68b;</i>
            </div>
            <a class="open-source" href="https://github.com/NeoNextClub/neoline" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/NeoNextClub" target="_blank">NeoNext</a></div>
            <div class="license d-none"><a href="https://github.com/NeoNextClub/neoline/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none">
                <a class="btn" href="https://neoline.cn" target="_blank">@Localizer["Website"]</a>
                <a class="btn" href="https://chrome.google.com/webstore/detail/neoline/cphhlgmgameodnhkjdmkpanlelnlohao" target="_blank">@Localizer["Download"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-extension active" href="javascript:" onclick="switchPlatform('extension');">@Localizer["Extension"]</a>
                </div>
                <div class="p-extension preview">
                    <img data-original="@Helper.ToCDN("/images/client/neoline.png")" />
                </div>
                <p>@Localizer["NEOLine is a browser extension wallet of NEO. We intend to provide a secure and convenient digital asset wallet. It offers comprehensive wallet capabilities and a wide range of dAPIs for developers."]</p>
                <p>@Localizer["Languages"]: English / 中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/NeoNextClub/neoline" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="extension">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/teemo.png")" />
            <header>Teemo Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="extension">&#xe68b;</i>
            </div>
            <a class="open-source" href="https://github.com/NewEconoLab/TeemoWallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/NewEconoLab" target="_blank">NewEconoLab</a></div>
            <div class="button d-none"><a class="btn" href="https://chrome.google.com/webstore/detail/teemo-wallet/faddjfhplkcfackpcjnmmeapchnkobjk" target="_blank">@Localizer["Download"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-extension active" href="javascript:" onclick="switchPlatform('extension');">@Localizer["Extension"]</a>
                </div>
                <div class="p-extension preview">
                    <img data-original="@Helper.ToCDN("/images/client/teemo.png")" />
                </div>
                <p>@Localizer["Teemo is a browser extension wallet of NEO.<br/>The extension injects the NEO DApp API into every website's JavaScript context, so that DApps can interact with the blockchain."]</p>
                <p>@Localizer["Languages"]: English / 中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/NewEconoLab/TeemoWallet" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/bitkeep.png")" />
            <header>Bitkeep Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <div class="developer d-none"><a href="https://www.bitkeep.com/about" target="_blank">BitKeep</a></div>
            <div class="button d-none"><a class="btn" href="https://www.bitkeep.com/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/client/bitkeep.png")" />
                </div>
                <p>@Localizer["Bitkeep is a decentralized multi-chain digital wallet that supports thousands of digital assets such as BTC, ETH, EOS, NEO, USDT, ONT, multi-wallet management, aggregation transactions, exchange asset docking and more."]</p>
                <p>@Localizer["Languages"]: English / 中文 / 日本語 / 한국어 </p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The NEO Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/neotracker.png")" />
            <header>NEO Tracker</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <a class="open-source" href="https://github.com/neotracker/neotracker-wallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/neotracker/" target="_blank">NEO Tracker</a></div>
            <div class="license d-none"><a href="https://github.com/neotracker/neotracker-wallet/blob/master/LICENSE.md" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://neotracker.io/wallet" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/client/neotracker.png")" />
                </div>
                <p>@Localizer["It's an online wallet developed by NEO Tracker. This wallet is logged in with the private key or key storage, and is also a blockchain browser."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the wallet file."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when when you visit a web wallet."]
                            @Localizer["Get source code"]: <a href="https://github.com/neotracker/neotracker-wallet" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
                <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/nelwallet.png")" />
            <header>NEL Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <a class="open-source" href="https://github.com/NewEconoLab/NELBrowser-Web-React" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://nel.group/" target="_blank">NewEconoLabs</a></div>
            <div class="license d-none"><a href="https://github.com/NewEconoLab/NELBrowser-Web-React/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://wallet.nel.group/" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/client/nelwallet.png")" />
                </div>
                <p>@Localizer["It's an online wallet developed by NEL. This wallet supports NNS auction, transaction information viewing, and is also a blockchain browser."]</p>
                <p>@Localizer["Languages"]: English / 简体中文<br>
                <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when when you visit a web wallet."]
                            @Localizer["Get source code"]: <a href="https://github.com/NewEconoLab/NELBrowser-Web-React" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-success">@Localizer["Rick"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/yez.jpg")" />
            <header>YEZ Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <div class="developer d-none"><a href="https://wallet.yezcoin.com/" target="_blank">YEZ Wallet</a></div>
            <div class="button d-none"><a class="btn" href="https://wallet.yezcoin.com/" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/client/yez.png")" />
                </div>
                <p>@Localizer["YEZ Wallet is a NEP-5 Wallet. We focuses on easy on-boarding with Google/Facebook Login integration.User can send/receive YEZ and see transaction history on one screen."]</p>
                <p>@Localizer["Languages"]: English / 简体中文<br>
                <p>@Localizer["Supported Browser"]: Chrome / Edge</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The NEO Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-warning">@Localizer["So so"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/ansy.png")" />
            <header>Ansy</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
            </div>
            <a class="open-source" href="https://github.com/snowypowers/ansy" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/snowypowers/" target="_blank">Snowypowers</a></div>
            <div class="license d-none"><a href="https://github.com/snowypowers/ansy/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://snowypowers.github.io/ansy/" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/client/ansy.png")" />
                </div>
                <p>@Localizer["It's a simple paper wallet generator developed by Snowypowers. This wallet only supports the encryption and decryption of private keys. It fails to support other functions like transferring assets."]</p>
                <p>@Localizer["Languages"]: English<br>
                <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet supports the encryption and decryption of the private key for secure storage. The website itself does not store the private key, so please pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when when you visit a web wallet."]
                            @Localizer["Get source code"]: <a href="https://github.com/snowypowers/ansy" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-warning">@Localizer["So so"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="hardware">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/ledger.png")" />
            <header>Ledger Nano S</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
            </div>
            <a class="open-source" href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/LedgerHQ" target="_blank">Ledger SAS</a></div>
            <div class="license d-none"><a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-hardware active" href="javascript:" onclick="switchPlatform('hardware');">@Localizer["Hardware"]</a>
                </div>
                <div class="p-hardware preview">
                    <img data-original="@Helper.ToCDN("/images/client/ledgernanos.png")" />
                </div>
                <p>@Localizer["It's a multi-currency hardware wallet that supports NEO. This wallet’s private key is stored in the hardware chip and it focuses on the security."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the hardware wallet, so it has extremely high security."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]
                            @Localizer["Get source code"]: <a href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="hardware">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/client/logo/ledger.png")" />
            <header>Ledger Blue</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
            </div>
            <a class="open-source" href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/LedgerHQ" target="_blank">Ledger SAS</a></div>
            <div class="license d-none"><a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>Preview</h3>
                    <a class="plat-btn btn-hardware active" href="javascript:" onclick="switchPlatform('hardware');">@Localizer["Hardware"]</a>
                </div>
                <div class="p-hardware preview">
                    <img data-original="@Helper.ToCDN("/images/client/ledgerblue.png")" />
                </div>
                <p>
                    @Localizer["It's a multi-currency hardware wallet that supports NEO. This wallet’s private key is stored in the hardware chip and it focuses on the security."]
                </p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the hardware wallet, so it has extremely high security."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]
                            @Localizer["Get source code"]: <a href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span><span class="span-danger">@Localizer["Poor"]</span>
                        <div>
                            @Localizer["Fail to support more NEP"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-hr">
                    <div class="clearfix">
                        <img class="float-left" id="model_img" />
                        <div class="modal-title float-left">
                            <h3 id="model_name"></h3>
                            <div id="model_dev"></div>
                            <div id="model_button"></div>
                            <div id="model_license" class="light-text"></div>
                        </div>
                    </div>
                    <div class="developer" id="model_platform"></div>
                    <div class="light-text">Supported Platform</div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="model_desc"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".client-ul li img").click(function () {
                zoomin(this);
            });
            $(".client-ul li header").click(function () {
                zoomin(this);
            });
            $(".card-header").attr("onclick", "showDetails(this)");
            if (window.location.hash) {
                var _num = parseInt(window.location.hash.substr(1, 1));
                var _str = window.location.hash.substr(2);
                console.log(_num);
                console.log(_str);
                showPlatform($('.nav-client li')[_num], _str);
            }
        })
        $("#select").change(function () {
            showPlatform($(this).val());
        });
        function showPlatform(name) {
            $("body").trigger("scroll");
            if (name) {
                $('.client-ul li').not('.' + name).hide();
                $('.' + name).show();
            }
            else
                $('.client-ul li').show();
        }
        function switchPlatform(obj) {
            $(".modal .preview").hide();
            $(".modal .p-" + obj).show();
            $(".modal .plat-btn").removeClass("active");
            $(".modal .btn" + obj).addClass("active");
        }
        function zoomin(obj) {
            var img = $(obj).parent().find("img");
            var name = $(obj).parent().find("header");
            var developer = $(obj).parent().find(".developer");
            var platform = $(obj).parent().find(".platform");
            var desc = $(obj).parent().find(".desc");
            var link = $(obj).parent().find(".link");
            var button = $(obj).parent().find(".button");
            var license = $(obj).parent().find(".license");
            $("#modal").modal();
            $("#model_img").html("");
            $("#model_name").html("");
            $("#model_dev").html("");
            $("#model_platform").html("");
            $("#model_button").html("");
            $("#model_license").html("");
            $("#model_desc").html("");
            $("#model_link").html("");
            desc.find("img").each(function () {
                $(this).attr("src", $(this).data("original"));
            });;

            $("#model_img").attr("src", img.attr("src"));
            $("#model_name").html(name.html());
            $("#model_dev").html(developer.html());
            $("#model_platform").html(platform.html());
            $("#model_button").html(button.html());
            $("#model_license").html(license.html());
            $("#model_desc").html(desc.html());
            $("#model_link").html(link.html());
        }
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.nav-item [href='/client']").css("border-bottom", "2px solid #58bf00")
    </script>
}