@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Get Client"];
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/client.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.CDN/css/client.min.css" asp-append-version="true" />
    </environment>
}


<div class="text-center">
    <h1 class="m3">@Localizer["Get Client"]</h1>
</div>
<ul class="nav-client t1">
    <li class="selected" onclick="showPlatform(this)"><i class="iconfont"></i>All Client</li>
    <li onclick="showPlatform(this, 'desktop')"><i class="iconfont">&#xe632;</i><span>@Localizer["Desktop"]</span></li>
    <li onclick="showPlatform(this, 'mobile')"><i class="iconfont">&#xe64b;</i><span>@Localizer["Mobile"]</span></li>
    <li onclick="showPlatform(this, 'web')"><i class="iconfont">&#xe63c;</i><span>@Localizer["Web"]</span></li>
    <li onclick="showPlatform(this, 'hardware')"><i class="iconfont">&#xe688;</i><span>@Localizer["Hardware"]</span></li>
</ul>
<ul class="client-ul client-desktop">
    <li class="desktop">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/gui.png" />
        <header>NEO-GUI</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <div class="developer d-none"><a href="https://github.com/neo-project/neo-gui" target="_blank">NEO Project</a></div>
        <div class="desc d-none">
            <img data-src="@Helper.CDN/images/client/gui.png" />
            <p>NEO-GUI 是一个全节点的 NEO 客户端，它包含了 NEO 网络的所有基本功能，软件交互较为专业，面向高级用户，拥有极高的安全性。缺点是初始化同步时间长，占用磁盘和内存，且稳定性欠佳。</p>
            <p>需要安装 <a href="https://www.microsoft.com/net/download/dotnet-framework-runtime" target="_blank">.NetFramework 4.7.1</a> 和 <a href="https://www.microsoft.com/en-us/download/details.aspx?id=14632" target="_blank">VC++ 2010 Redist x64</a>/<a href="https://www.microsoft.com/en-us/download/details.aspx?id=5555" target="_blank">x86</a>
            <p>更多信息请参见：<a href="http://docs.neo.org/zh-cn/node/gui.html" target="_blank">使用说明</a></p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意钱包文件的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            全面验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是一个全节点，它存储 NEO 区块链中的所有数据。这意味着当验证支付或者执行合约的时候，不需要信任第三方。
                            全节点提供了最高级别的安全性并且是保护网络不可或缺的元素。然而，它需要更多的硬盘空间（15GB）、更大的带宽和一个更长的初始化同步时间。
                            通过下载 NGD 提供的 <a href="http://sync.ngd.network/" target="_blank">离线同步包</a> 可以加快初始化同步速度。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。
                            @Localizer["Get source code"]: <a href="https://github.com/neo-project/neo-gui" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持插件功能
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>NEO-GUI 支持插件功能，以下是常用插件列表</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">插件</th>
                                        <th scope="col">简介</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <a href="https://github.com/neo-project/neo-plugins/releases/">ImportBlocks</a>
                                        </th>
                                        <td>同步离线包，已默认安装。</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a class="float-left" href="https://github.com/neo-project/neo-gui/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://github.com/neo-project/neo-gui/releases" target="_blank">@Localizer["Download"]</a>
        </div>
    </li>
    <li class="desktop">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/cli.png" />
        <header>NEO-CLI</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
        <div class="developer d-none"><a href="https://github.com/neo-project/neo-cli" target="_blank">NEO Project</a></div>
        <div class="desc d-none">
            <img data-src="@Helper.CDN/images/client/cli.png" />
            <p>
                NEO-CLI 是一个全节点的命令行客户端，可以跨平台上运行，它可以提供 API 供开发者调用，也可以作为区块链中的共识节点参与共识。
                软件交互较为专业，面向开发者，不建议小白用户使用。它拥有较高的安全性和稳定性。缺点是初始化同步时间长，占用磁盘和内存。
            </p>
            <p>更多信息请参见：<a href="@Localizer["http://docs.neo.org/en-us/node/cli/setup.html"]" target="_blank">使用说明</a>, <a href="https://github.com/neo-project/neo-cli/blob/master/CHANGELOG.md" target="_blank">更新日志</a></p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意钱包文件的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            全面验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是一个全节点，它存储 NEO 区块链中的所有数据。这意味着当验证支付或者执行合约的时候，不需要信任第三方。
                            全节点提供了最高级别的安全性并且是保护网络不可或缺的元素。然而，它需要更多的硬盘空间（15GB）、更大的带宽和一个更长的初始化同步时间。
                            通过下载 NGD 提供的 <a href="http://sync.ngd.network/" target="_blank">离线同步包</a> 可以加快初始化同步速度。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。
                            @Localizer["Get source code"]: <a href="https://github.com/neo-project/neo-cli" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持插件功能
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>NEO-CLI 支持插件功能，以下是常用插件列表</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">插件</th>
                                        <th scope="col">简介</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <a href="https://github.com/neo-project/neo-plugins/releases/">ApplicationLogs</a>
                                        </th>
                                        <td>存储智能合约日志（ApplicationLogs），交易所必选。</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <a href="https://github.com/neo-project/neo-plugins/releases/">ImportBlocks</a>
                                        </th>
                                        <td>同步离线包，已默认安装。</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <a href="https://github.com/neo-project/neo-plugins/releases/">RpcSecurity</a>
                                        </th>
                                        <td>提升 RPC 安全，可选。</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <a href="https://github.com/neo-project/neo-plugins/releases/">SimplePolicy</a>
                                        </th>
                                        <td>启用共识的简单策略，搭建私链必选。</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <a href="https://github.com/neo-project/neo-plugins/releases/">StatesDumper</a>
                                        </th>
                                        <td>导出 NEO-CLI 状态数据，可选。</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/neo-project/neo-cli/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://github.com/neo-project/neo-cli/releases" target="_blank">@Localizer["Download"]</a>
        </div>
    </li>
    <li class="desktop mobile">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/o3.png" />
        <header>O3 Wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <div class="developer d-none"><a href="https://o3.network/" target="_blank">O3 Labs</a></div>
        <div class="desc d-none">
            <div class="text-center">
                <a href="javascript:" onclick="$('.o3desktop').hide(); $('.o3mobile').show();">手机</a>
                <a href="javascript:" onclick="$('.o3mobile').hide(); $('.o3desktop').show(); ">桌面</a>
            </div>
            <img class="o3mobile" data-src="@Helper.CDN/images/client/o3.png" />
            <img class="o3desktop" style="display:none;" data-src="@Helper.CDN/images/client/o3-desktop.png" />
            <p>
                O3 Labs 开发的跨平台客户端，几乎支持所有主流平台，软件的界面设计和用户体验都很友好，它拥有较高的安全性和稳定性。该客户端更新比较快，能及时支持 NEO 网络中的新特性。
            </p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过 Encrypted Key 和密码加密存储的。但你仍需注意在安全的设备上使用，并注意 Encrypted Key 的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/O3Labs" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-9.mediawiki" target="_blank">NEP-9</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/O3Labs/O3Android/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://o3.network/" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="desktop">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/neon.png" />
        <header>Neon Wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
        <div class="developer d-none"><a href="https://github.com/CityOfZion/neon-wallet" target="_blank">City of Zion</a></div>
        <div class="desc d-none">
            <img data-src="@Helper.CDN/images/client/neon.png" />
            <p>NEO 英文开发者社区 City of Zion 开发的跨平台的客户端，支持 Windows、 macOS 和 Linux，新版拥有全新的视觉和简约的界面设计。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意私钥的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。
                            @Localizer["Get source code"]: <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/CityOfZion/neon-wallet/blob/dev/LICENSE.md" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://neonwallet.com/" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="desktop mobile web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/aphelion.png" />
        <header>Aphelion Wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://aphelion.org" target="_blank">Aphelion, Ltd</a></div>
        <div class="desc d-none">
            <div class="text-center">
                <a href="javascript:" onclick="$('.apheliondesktop').hide(); $('.aphelionmobile').show();">手机</a>
                <a href="javascript:" onclick="$('.aphelionmobile').hide(); $('.apheliondesktop').show(); ">桌面</a>
            </div>
            <img class="aphelionmobile" data-src="@Helper.CDN/images/client/aphelion.png" />
            <img class="apheliondesktop" style="display:none;" data-src="@Helper.CDN/images/client/aphelion-desktop.png" />
            <p>
                一个跨平台的客户端，几乎支持所有主流平台，并且支持通讯录和完整的 NEP-5 ，支持和 Ledger 硬件钱包结合使用。 软件的界面设计和用户体验都很友好。
            </p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意私钥的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/aphtoken/aph-wallet-gui" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文 / Deutsch / 日本語 / 한국어 / Nederlands / Русский</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/aphtoken/aph-wallet-gui/blob/development/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://aphelion.org" target="_blank">@Localizer["Website"]</a>
            <a class="btn btn-success" href="https://mobilewallet.aphelion.org/" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="mobile">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/anybit.png" />
        <header>AnyBit</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <div class="developer d-none"><a href="https://www.anybit.io/" target="_blank">AnyBit</a></div>
        <div class="desc d-none">
            <img data-src="@Helper.CDN/images/client/anybit.png" />
            <p>
                第一个支持 NEO 的冷热结合的钱包客户端，助词词及私钥本地保存，该客户端分为常规模式和隔离模式。
                在隔离模式下，使用设备需要完全隔离网络，功能简单，在交易时，需使用热钱包进行交易请求及广播。缺点是为了安全性而牺牲了部分用户体验。
            </p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥或助词本地保存。更支持冷热钱包双重模式配合，离线签名授权，在线资产观察。完全隔离网络环境，更安全地存储资产。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/AnyBitIO/anybit-Android" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/AnyBitIO/anybit-iOS/blob/master/LICENSE" target="_blank">Apache License</a>
            <a class="btn btn-success" href="https://www.anybit.io/" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="desktop mobile web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/sea.png" />
        <header>SEA Wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61b;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://otcgo.cn/" target="_blank">SEA</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/sea.png" />
            <p>SEA 开发的一个钱包，包含基本的功能，如导入私钥，转账，提取 GAS 等。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意私钥的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/OTCGO/sea-app" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: 简体中文</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/OTCGO/sea-app/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://otcgo.cn/download/" target="_blank">@Localizer["Website"]</a>
            <a class="btn btn-success" href="https://otcgo.cn/#/" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="mobile hardware">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/spatium.png" />
        <header>Spatium</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
        <div class="developer d-none"><a href="http://spatium.net/" target="_blank">CaspianTechnologies</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/spatium.png" />
            <p>
                CaspianTechnologies 开发的数字货币钱包，对交易进行分布式签名，兼容生物识别的 Spatium 硬件钱包，拥有极高的安全性。据开发者说可以有效防止黑客攻击。缺点是为了安全性而牺牲了用户体验。
            </p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过硬件钱包加密存储的，有极高的安全性。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/CaspianTechnologies" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            不支持更多 NEO 特性
                        </a>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/CaspianTechnologies/Spatium/blob/master/LICENSE" target="_blank">GPL-3.0 License</a>
            <a class="btn btn-success" href="http://spatium.net/" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="mobile">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/cobo.png" />
        <header>Cobo Wallet - 云端钱包</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <div class="developer d-none"><a href="https://cobo.com/about" target="_blank">Cobo</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/cobo.png" />
            <p>Cobo 是专业的数字资产管理钱包，帮您安全储存资产。通过智能投票、DPOS 票池、POS 挖矿的数字资产增益矩阵为您提供稳定收益。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            托管资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            与数字资产交易所类似，你的资产托管在他们的服务器中。在服务器受到攻击的情况下你的资产有可能会被盗。同时你也要十分信任钱包的开发者不会跑路。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-danger">
                            非开源软件
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是非开源软件，这意味着需要十分信任这个钱包的开发者。NEO Foundation、NGD 不为该客户端进行背书。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            不支持更多 NEO 特性
                        </a>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a class="text-danger" href="javascript:" target="_blank">@Localizer["Not open source"]</a>
            <a class="btn btn-success" href="https://cobo.com/" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="mobile">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/math.png" />
        <header>麦子钱包</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <div class="developer d-none"><a href="http://www.mathwallet.org" target="_blank">Math Labs</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/math.png" />
            <p>Math Labs 开发的多币种钱包客户端，同时支持BTC系、ETH系、NEO系、EOS系等生态，支持人脸、活体等多种生物识别技术。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意私钥的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-danger">
                            非开源软件
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是非开源软件，这意味着需要十分信任这个钱包的开发者。NEO Foundation、NGD 不为该客户端进行背书。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文 / 한국어</p>
        </div>
        <div class="link d-none">
            <a class="text-danger" href="javascript:" target="_blank">@Localizer["Not open source"]</a>
            <a class="btn btn-success" href="http://www.mathwallet.org" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="mobile">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/infinito.png" />
        <header>infinito wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <div class="developer d-none"><a href="https://www.infinitowallet.io" target="_blank">Infinito Blockchain Labs</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/infinito.png" />
            <p>Infinito 区块链实验室开发的多币种钱包客户端，同时支持BTC系、ETH系、NEO系、EOS系等生态，可支持 10 种以上语言，支持指纹识别密码。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意助记词的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-danger">
                            非开源软件
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是非开源软件，这意味着需要十分信任这个钱包的开发者。NEO Foundation、NGD 不为该客户端进行背书。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文 / Tiếng Việt / 日本語 / 한국어 / Italiano / Русский / Español</p>
        </div>
        <div class="link d-none">
            <a class="text-danger" href="javascript:" target="_blank">@Localizer["Not open source"]</a>
            <a class="btn btn-success" href="https://www.infinitowallet.io" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="mobile web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/iwallic.png" />
        <header>iWallic</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://github.com/ext-studio" target="_blank">e-studio</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/iwallic.png" />
            <p>e-studio 开发的安卓钱包，包含基本的功能，如导入私钥，转账等。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意钱包文件的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/ext-studio/iwallic" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a class="text-warning" href="javascript:" target="_blank">@Localizer["No open source License"]</a>
            <a class="btn btn-success" href="https://iwallic.com" target="_blank">@Localizer["Website"]</a>
            <a class="btn btn-success" href="https://app.iwallic.com/" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="desktop mobile">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/inwe.png" />
        <header>InWe Wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xe898;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xf1e8;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
        <div class="developer d-none"><a href="http://inwecrypto.com" target="_blank">InWeCrypto</a></div>
        <div class="desc d-none">
            <p>InWeCrypto 钱包是一款 HD 钱包的移动端数字资产钱包，支持 BTC / ETH / NEO / ONT 等多链，旨在为不同需求用户提供精准的解决方案。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意私钥的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/InWeCrypto/wallet_Android" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/InWeCrypto/wallet_Android/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="http://inwecrypto.com" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="mobile web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/neowallet.png" />
        <header>NEO WALLET</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe633;</i>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://github.com/PeterLinX/" target="_blank">PeterLinX</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/neowallet.png" />
            <p>PeterLinX 开发的一个钱包，包含基本的功能，如导入私钥，转账，提取 GAS 等。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意钱包文件的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你安装或更新软件时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/PeterLinX/neowallet.cn" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            不支持更多 NEO 特性
                        </a>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/PeterLinX/neowallet.cn/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success d-none-zh" href="https://play.google.com/store/apps/details?id=neo.app" target="_blank">@Localizer["Download"]</a>
            <a class="btn btn-success d-none" href="http://android.myapp.com/myapp/detail.htm?apkName=neo.app" target="_blank">@Localizer["Download"]</a>
            <a class="btn btn-success" href="https://neowallet.cn/" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/neotracker.png" />
        <header>NEO Tracker</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://github.com/neotracker/" target="_blank">NEO Tracker</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/neotracker.png" />
            <p>NEO Tracker 开发的在线钱包，用私钥或者密钥存储登录，同时也是一个区块链浏览器。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意钱包文件的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你访问网页钱包时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/neotracker/neotracker-wallet" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English</p>
            <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/neotracker/neotracker-wallet/blob/master/LICENSE.md" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://neotracker.io/wallet" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/nelwallet.png" />
        <header>NEL Wallet</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://nel.group/" target="_blank">NewEconoLabs</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/nelwallet.png" />
            <p>NEL 开发的在线钱包，支持NNS竞拍、交易信息查看，同时也是一个区块链浏览器。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过钱包文件和密码加密存储的。但你仍需注意在安全的设备上使用，并注意钱包文件的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你访问网页钱包时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/NewEconoLab/NELBrowser-Web-React" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English / 简体中文<br>
            <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/NewEconoLab/NELBrowser-Web-React/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://wallet.nel.group/" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="web">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/ansy.png" />
        <header>Ansy</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe63c;</i>
        <div class="developer d-none"><a href="https://github.com/snowypowers/" target="_blank">Snowypowers</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/ansy.png" />
            <p>Snowypowers 开发的简单的纸钱包生成器，仅支持私钥的加密解密，不支持转账等功能。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端支持将私钥进行加密和解密，以便将其安全存储。网站本身不存储私钥，请注意私钥的安全备份和妥善保管。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你访问网页钱包时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/snowypowers/ansy" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            支持的 NEO 特性
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English<br>
            <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/snowypowers/ansy/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://snowypowers.github.io/ansy/" target="_blank">@Localizer["Go to Web Wallet"]</a>
        </div>
    </li>
    <li class="hardware">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/ledger.png" />
        <header>Ledger Nano S</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
        <div class="developer d-none"><a href="https://github.com/LedgerHQ" target="_blank">Ledger SAS</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/ledgernanos.png" />
            <p>一个支持 NEO 的多币种的硬件钱包，私钥存储在硬件芯片中，拥有极高的安全性。并且官方的 APP 也有着不错的用户体验。</p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过硬件钱包加密存储的，有极高的安全性。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你访问网页钱包时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            不支持更多 NEO 特性
                        </a>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="hardware">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/ledger.png" />
        <header>Ledger Blue</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
        <div class="developer d-none"><a href="https://github.com/LedgerHQ" target="_blank">Ledger SAS</a></div>
        <div class="desc d-none">
            <img src="@Helper.CDN/images/client/ledgerblue.png" />
            <p>
                一个支持 NEO 的多币种的硬件钱包，私钥存储在硬件芯片中，拥有极高的安全性。并且官方的 APP 也有着不错的用户体验。
            </p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            完全的资金掌控权
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端让你拥有对数字资产的完全掌控权。私钥是通过硬件钱包加密存储的，有极高的安全性。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            集中验证
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            轻钱包，这个钱包依赖于一个中心的服务，使用时无需同步区块数据。但需要信任第三方不会隐藏和模拟支付。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-success">
                            基本的透明度
                        </a>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            该客户端是开源软件，这意味着世界上所有的开发人员都可以审查它的编码并确保最后的软件没有隐藏任何秘密。不过，当你访问网页钱包时，你还是需要信任该客户端的开发者。
                            @Localizer["Get source code"]: <a href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-warning">
                            不支持更多 NEO 特性
                        </a>
                    </div>
                </div>
            </div>
            <p>@Localizer["Languages"]: English</p>
        </div>
        <div class="link d-none">
            <a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-success" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a>
        </div>
    </li>
    <li class="hardware">
        <img class="client-logo" src="@Helper.CDN/images/client/logo/neodun.png" />
        <header>NEODUN</header>
        <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe688;</i>
        <div class="developer d-none"><a href="https://nel.group/" target="_blank">NewEconoLabs</a></div>
        <div class="desc d-none">
            NewEconoLabs 开发的硬件钱包，支持私钥导入及多私钥管理。OLED 屏幕，Type-C/蓝牙，多币种，支持NEO/GAS，可使用其它扩展应用。
            <p>@Localizer["Languages"]: English / 简体中文</p>
            @Localizer["Get source code"]: <a href="https://github.com/NewEconoLab/NeoDun" target="_blank">GitHub</a>
        </div>
        <div class="link d-none">
            <a href="https://github.com/NewEconoLab/NeoDun/blob/master/LICENSE" target="_blank">MIT License</a>
            <a class="btn btn-secondary" href="javascript:" target="_blank">Coming Soon</a>
        </div>
    </li>
</ul>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img id="model_img" />
                <div>
                    <h2 class="modal-title" id="model_name"></h2>
                    <div class="developer" id="model_dev"></div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="model_desc"></div>
            <div class="modal-footer" id="model_link"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".client-ul .client-logo").click(function () {
                zoomin(this);
            });
            $(".card-header a").attr("onclick", "showDetails(this)");
        })
        function showDetails(obj){
            var col = $(obj).parent().parent().find('.collapse');
            $(".collapse").not(col).hide('fast');
            col.toggle('fast');
        }
        function showPlatform(obj, name){
            if (name) {
                $('.client-ul li').hide();
                $('.' + name).show();
            }
            else
                $('.client-ul li').show();
            $('.nav-client li').removeClass("selected");
            $(obj).addClass("selected");
        }
        function zoomin(obj){
            var img = $(obj).parent().find("img");
            var name = $(obj).parent().find("header");
            var developer = $(obj).parent().find(".developer");
            var desc = $(obj).parent().find(".desc");
            var link = $(obj).parent().find(".link");
            $("#modal").modal();
            $("#model_img").html("");
            $("#model_name").html("");
            $("#model_dev").html("");
            $("#model_desc").html("");
            $("#model_link").html("");
            desc.find("img").each(function () {
                $(this).attr("src", $(this).data("src"));
            });;

            $("#model_img").attr("src", img.attr("src"));
            $("#model_name").html(name.html());
            $("#model_dev").html(developer.html());
            $("#model_desc").html(desc.html());
            $("#model_link").html(link.html());
        }
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.nav-item [href='/client']").css("border-bottom", "2px solid #58bf00")
    </script>
}