@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Get Client"];
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/client.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/client.min.css" asp-append-version="true" />
    </environment>
}

<div class="container">
    <div class="row">
        <h1 class="m3">@Localizer["Get Client"]</h1>
    </div>
    <ul class="nav-download m3 t1" id="downTab">
        <li><a class="iconfont">&#xe64b;</a>@Localizer["Mobile"]</li>
        <li><a class="iconfont">&#xe632;</a>@Localizer["Desktop"]</li>
        <li><a class="iconfont">&#xe63c;</a>@Localizer["Web"]</li>
        <li><a class="iconfont">&#xe688;</a>@Localizer["Hardware"]</li>
    </ul>
    <div class="row download-container">

        <ul class="download-ul download-mobile">
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/o3-android.jpg" />
                </div>
                <h2>O3 - @Localizer["Android version"]<small>1.6.7</small></h2>
                <p class="desc">
                    - <a href="https://github.com/O3Labs/O3Android" target="_blank">O3 Labs</a> @Localizer["developed a native Android application"]<br />
                    - @Localizer["Manage your assets in a simple and secure way"]<br />
                    - @Localizer["Send assets, Claim GAS, top up from a cold storage wallet"]<br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["Supported OS"]: Android 6.0 @Localizer["or later"]<br />
                    @Localizer["License"]: <a href="https://github.com/O3Labs/O3Android/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-5-21</p>
                <a class="down-btn" href="https://play.google.com/store/apps/details?id=network.o3.o3wallet" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="https://o3.network/" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/o3-ios.jpg" />
                </div>
                <h2>O3 - @Localizer["iOS version"]<small>1.4.0</small></h2>
                <p class="desc">
                    - <a href="https://github.com/CityOfZion/OzoneWalletIOS" target="_blank">O3 Labs</a> @Localizer["developed a native iOS application"]<br />
                    - @Localizer["Contacts, Claim GAS, Sending/receiving assets"]<br />
                    - @Localizer["Protected by TouchID and pincode"]<br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["Supported OS"]: iOS 11.0 @Localizer["or later"]<br />
                    @Localizer["License"]: <a href="https://github.com/CityOfZion/OzoneWalletIOS/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-5-21</p>
                <a class="down-btn" href="https://itunes.apple.com/app/id1336781023" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="https://o3.network/" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/app.jpg" />
                </div>
                <h2>NEO APP - @Localizer["Android version"]<small>1.2.2</small></h2>
                <p class="desc">
                    - <a href="https://github.com/PeterLinX/neowallet.cn" target="_blank">PeterLinX</a> @Localizer["developed Android wallet"]<br />
                    - @Localizer["Light wallet, without sync block"]<br />
                    - @Localizer["Wallet file is stored locally, log in via password"]<br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["Supported OS"]: Android 5 @Localizer["or later"]<br />
                    @Localizer["License"]: <a href="https://github.com/PeterLinX/neowallet.cn/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-3-5</p>
                <a class="down-btn" href="@Localizer["https://play.google.com/store/apps/details?id=neo.app"]" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/in-android.jpg" />
                </div>
                <h2>InWeCrypto - @Localizer["Android version"]<small>2.0.1</small></h2>
                <p class="desc">
                    - <a href="https://github.com/InWeCrypto/wallet_android" target="_blank">InWeCrypto</a> @Localizer["developed efficient smart wallet"]<br />
                    - @Localizer["Multi-dimension display project dynamic"]<br />
                    - @Localizer["Wallet file is stored locally, support transfer, claim gas"]<br />
                    - @Localizer["Support"] NEO, GAS, ETH, ERC20 <br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["Supported OS"]: Android 4.4 @Localizer["or later"]<br />
                    @Localizer["License"]: <a href="https://github.com/InWeCrypto/wallet_android/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-4-19</p>
                <a class="down-btn" href="http://inwecrypto.com/en/platform" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="http://inwecrypto.com/en/download" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/in-ios.jpg" />
                </div>
                <h2>InWeCrypto - @Localizer["iOS version"]<small>2.0.1</small></h2>
                <p class="desc">
                    - <a href="https://github.com/InWeCrypto/wallet_ios" target="_blank">InWeCrypto</a> @Localizer["developed efficient smart wallet"]<br />
                    - @Localizer["Multi-dimension display project dynamic"]<br />
                    - @Localizer["Wallet file is stored locally, support transfer, claim gas"]<br />
                    - @Localizer["Support"] NEO, GAS, ETH, ERC20 <br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["Supported OS"]: iOS 9.0 @Localizer["or later"]<br />
                    @Localizer["License"]: <a href="https://github.com/InWeCrypto/wallet_ios/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-4-19</p>
                <a class="down-btn" href="http://inwecrypto.com/en/platform" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="http://inwecrypto.com/en/download" target="_blank">@Localizer["Website"]</a>
            </li>
        </ul>

        <ul class="download-ul download-desktop">
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/gui.jpg" />
                </div>
                <h2>NEO-GUI<small>2.6.0</small></h2>
                <p class="desc">
                    - <a href="https://github.com/neo-project/neo-gui" target="_blank">NEO Project</a> @Localizer["developed PC client"] <br />
                    - @Localizer["Clients with complete blockchain data"]<br />
                    - @Localizer["Full-featured client"]<br />
                    - <a href="http://static.neo.org/client/chain.acc.zip" title="@ViewBag.MainNetCreationTime" target="_blank">@Localizer["Offline synchronized data(Main Net)"]</a>/<a href="http://static.neo.org/client/chain.acc.test.zip" title="@ViewBag.TestNetCreationTime" target="_blank">@Localizer["Test Net"]</a><br />
                    - <a href="@Localizer["http://docs.neo.org/en-us/node/gui.html"]" target="_blank">@Localizer["Instructions for use"]</a><br />
                    - @Localizer["Need to install"] <a href="https://www.microsoft.com/net/download/dotnet-framework-runtime" target="_blank">.NetFramework 4.7.1</a><br />
                    - @Localizer["Need to install"] <a href="https://www.microsoft.com/en-us/download/details.aspx?id=14632" target="_blank">VC++ 2010 Redist x64</a>/<a href="https://www.microsoft.com/en-us/download/details.aspx?id=5555" target="_blank">x86</a><br />
                    - @Localizer["Support"] NEP-5, NEP-6 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["Supported OS"]: Windows 7 SP1 @Localizer["or later"]<br />
                    @Localizer["License"]: <a href="https://github.com/neo-project/neo-gui/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-1-22</p>
                <a class="down-btn" href="https://github.com/neo-project/neo-gui/releases" target="_blank">@Localizer["Download"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/cli.jpg" />
                </div>
                <h2>NEO-CLI<small>2.7.5</small></h2>
                <p class="desc">
                    - <a href="https://github.com/neo-project/neo-cli" target="_blank">NEO Project</a> @Localizer["for developers command line client"]<br />
                    - @Localizer["Clients with complete blockchain data"]<br />
                    - @Localizer["Provided API support and consensus function"]<br />
                    - <a href="http://static.neo.org/client/chain.acc.zip" target="_blank">@Localizer["Offline synchronized data(Main Net)"]</a>/ <a href="http://static.neo.org/client/chain.acc.test.zip" target="_blank">@Localizer["Test Net"]</a><br />
                    - <a href="@Localizer["http://docs.neo.org/en-us/node/cli.html"]" target="_blank">@Localizer["Instructions for use"]</a><br />
                    - @Localizer["Support"] NEP-5, NEP-6 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["Supported OS"]: Windows / Linux<br />
                    @Localizer["License"]: <a href="https://github.com/neo-project/neo-cli/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-5-18</p>
                <a class="down-btn" href="https://github.com/neo-project/neo-cli/releases" target="_blank">@Localizer["Download"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/neon.jpg" />
                </div>
                <h2>Neon Wallet<small>0.2.5</small></h2>
                <p class="desc">
                    - <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">City of Zion</a> @Localizer["developed cross-platform client"]<br />
                    - @Localizer["New UI, simple interface design"]<br />
                    - @Localizer["Light wallet, without sync block"]<br />
                    - @Localizer["Login via private key"]<br />
                    - @Localizer["Support"] NEP-2, NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["Supported OS"]: Mac OS / Windows / Linux<br />
                    @Localizer["License"]: <a href="https://github.com/CityOfZion/neon-wallet/blob/dev/LICENSE.md" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-5-17</p>
                <a class="down-btn" href="https://github.com/CityOfZion/neon-wallet/releases" target="_blank">@Localizer["Download"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/morpheus.jpg" />
                </div>
                <h2>Morpheus Wallet<small>0.0.582</small></h2>
                <p class="desc">
                    - <a href="https://github.com/MorpheusWallet/beta" target="_blank">MorpheusWallet</a> @Localizer["developed cross-platform client"]<br />
                    - @Localizer["Login via encrypted key and password"]<br />
                    - @Localizer["Light wallet, without sync block"]<br />
                    - @Localizer["Perfect combination with Ledger Nano S"]<br />
                    - @Localizer["Support"] Neo, GAS, NEP Tokens, BTC, LTC<br />
                    - @Localizer["Support"] NEP-2, NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["Supported OS"]: Mac OS / Windows<br />
                    @Localizer["License"]: <a href="https://github.com/MorpheusWallet/beta/blob/build/LICENSE.md" target="_blank">GPL-3.0</a><br />
                </p>
                <p class="down-time">2018-5-18</p>
                <a class="down-btn" href="https://github.com/MorpheusWallet/beta/releases" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="https://morpheuswallet.com/" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/in-pc.jpg" />
                </div>
                <h2>InWe Wallet<small>1.0.0</small></h2>
                <p class="desc">
                    - <a href="https://github.com/InWeCrypto/wallet-electron/tree/dev" target="_blank">InWeCrypto</a> @Localizer["developed cross-platform client"]<br />
                    - @Localizer["Login via password"]<br />
                    - @Localizer["Convenient operation and rich function"]<br />
                    - @Localizer["Support"] NEO, GAS, ETH, ERC20 <br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["Supported OS"]: Mac OS / Windows<br />
                    @Localizer["License"]: <a href="https://github.com/MorpheusWallet/beta/blob/build/LICENSE.md" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-4-19</p>
                <a class="down-btn" href="http://inwecrypto.com/en/platform" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="http://inwecrypto.com/en/download" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/aphelion.jpg" />
                </div>
                <h2>Aphelion Wallet<small>1.4.1</small></h2>
                <p class="desc">
                    - <a href="https://github.com/aphtoken/aph-wallet-gui" target="_blank">Aphtoken</a> @Localizer["developed cross-platform client"]<br />
                    - @Localizer["A cutting edge user interface"]<br />
                    - @Localizer["Real-time trading chart data"]<br />
                    - @Localizer["Address book and complete Nep5 token integration"]<br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["Supported OS"]: Windows / Mac OS / Linux<br />
                    @Localizer["License"]: <a href="https://github.com/aphtoken/aph-wallet-gui/blob/development/LICENSE" target="_blank">MIT</a><br />
                </p>
                <p class="down-time">2018-5-16</p>
                <a class="down-btn" href="https://github.com/aphtoken/aph-wallet-gui/releases" target="_blank">@Localizer["Download"]</a>
                <a class="down-btn" href="https://aphelion.org" target="_blank">@Localizer["Website"]</a>
            </li>
        </ul>

        <ul class="download-ul download-web">
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/tracker.jpg" />
                </div>
                <h2>NEO Tracker</h2>
                <p class="desc">
                    - <a href="https://github.com/neotracker/neotracker-wallet" target="_blank">NEO Tracker</a> @Localizer["developed an online wallet"]<br />
                    - @Localizer["Login with private key or keystore File"]<br />
                    - @Localizer["It is also a good NEO blockchain explorer"]<br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["Supported Browser"]: Chrome/Edge<br />
                    @Localizer["License"]: <a href="https://github.com/neotracker/neotracker-wallet/blob/master/LICENSE.md" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn" href="https://neotracker.io/wallet" target="_blank">@Localizer["Visit Site"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/wallet.jpg" />
                </div>
                <h2>NEO WALLET</h2>
                <p class="desc">
                    - <a href="https://github.com/PeterLinX/neowallet.cn" target="_blank">PeterLinX</a> @Localizer["developed an online wallet"]<br />
                    - @Localizer["Wallet file is stored locally, log in via password"]<br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br>
                    @Localizer["Supported Browser"]: Chrome<br />
                    @Localizer["License"]: <a href="https://github.com/PeterLinX/neowallet.cn/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn" href="https://neowallet.cn/" target="_blank">@Localizer["Visit Site"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/otcgo.jpg" />
                </div>
                <h2>@Localizer["OTCGO"]</h2>
                <p class="desc">
                    - <a href="https://github.com/OTCGO/website" target="_blank">@Localizer["OTCGO"]</a> @Localizer["developed an online wallet"]<br />
                    - @Localizer["Login with private key or wallet file"]<br />
                    - @Localizer["It is also an exchange"]<br />
                    - @Localizer["Support"] NEP-5 <br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["Chinese"]<br>
                    @Localizer["Supported Browser"]: Chrome<br />
                    @Localizer["License"]: <a href="https://github.com/OTCGO/website/blob/master/LICENCE" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn" href="https://otcgo.cn/" target="_blank">@Localizer["Visit Site"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/ansy.jpg" />
                </div>
                <h2>Ansy</h2>
                <p class="desc">
                    - <a href="https://github.com/snowypowers/ansy" target="_blank">Snowypowers</a> @Localizer["developed a simple paper wallet"]<br>
                    - @Localizer["Simple and easy to use"]<br>
                    - @Localizer["Support"] NEP-2 (Similar to BIP38)<br>
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br>
                    @Localizer["Supported Browser"]: Chrome/Edge<br />
                    @Localizer["License"]: <a href="https://github.com/snowypowers/ansy/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn" href="https://snowypowers.github.io/ansy/" target="_blank">@Localizer["Visit Site"]</a>
            </li>
        </ul>

        <ul class="download-ul download-hardware">
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/ledger-blue.jpg" />
                </div>
                <h2>Ledger Blue</h2>
                <p class="desc">
                    - <a href="https://github.com/LedgerHQ" target="_blank">Ledger</a> @Localizer["developed a hardware wallet"]<br />
                    - @Localizer["Large touchscreen"]<br />
                    - @Localizer["Bluetooth (BLE)"]<br />
                    - @Localizer["Rechargeable battery"]<br />
                    - @Localizer["Multicurrency"]<br />
                    - @Localizer["Extensible with other apps"]<br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["License"]: <a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/ledger-nano.jpg" />
                </div>
                <h2>Ledger Nano S</h2>
                <p class="desc">
                    - <a href="https://github.com/LedgerHQ" target="_blank">Ledger</a> @Localizer["developed a hardware wallet"]<br />
                    - @Localizer["Compact and durable"]<br />
                    - @Localizer["OLED screen + buttons"]<br />
                    - @Localizer["Multicurrency"]<br />
                    - @Localizer["Extensible with other apps"]<br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English"]<br />
                    @Localizer["License"]: <a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a>
            </li>
            <li class="down-box">
                <div class="picture">
                    <img src="~/images/client/neodun.jpg" />
                </div>
                <h2>@Localizer["NEODUN"]</h2>
                <p class="desc">
                    - <a href="https://github.com/NewEconoLab/NeoDun" target="_blank">NEL</a> @Localizer["developed a hardware wallet"]<br />
                    - @Localizer["Support for importing private key and Managing multiple private keys"]<br />
                    - @Localizer["OLED screen + buttons"]<br />
                    - @Localizer["Type-C/Bluetooth"]<br />
                    - @Localizer["Multicurrency"]<br />
                    - @Localizer["Extensible with other apps"]<br />
                </p>
                <p class="info">
                    @Localizer["Languages"]: @Localizer["English/Chinese"]<br />
                    @Localizer["License"]: <a href="https://github.com/NewEconoLab/NeoDun/blob/master/LICENSE" target="_blank">MIT</a><br />
                </p>
                <a class="down-btn disabled" href="javascript:" target="_blank">Coming Soon</a>
            </li>
        </ul>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            var test = window.location.hash.substr(1);
            var num = parseInt(test);
            $("#downTab li").eq(num ? num - 1 : 1).addClass("downtab-select");
            $(".download-container ul").eq(num ? num - 1 : 1).addClass("down-select");

            $("#downTab li").click(function () {
                $(".downtab-select").removeClass("downtab-select");
                $(".down-select").removeClass("down-select");
                $(this).addClass("downtab-select");
                $(".download-container ul").eq($(this).index()).addClass("down-select");
            })
        })
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.nav-item [href='/client']").css("border-bottom", "2px solid #58bf00")
    </script>
}
