@model IEnumerable<NeoWeb.Models.Job>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = Localizer["Join Us"].Value;
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/joinus.min.css", true)" />
}
<div class="py-0 py-md-5">
    <div class="introduction">
        <div class="introduction-content">
            <h1 class="introduction-title" style="text-transform:none">@Html.Raw(Localizer["Hello<br/>NeoWorld."].Value)</h1>
            <div class="introduction-description">
                <p>@Localizer["We are in a totally different world where innovation happens each single day. If you are looking for something brand new rather than normal as usual, come and join us."]</p>
            </div>
        </div>
        <img class="introduction-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/introduction-bg.svg", true)" />
    </div>

    <div class="mt-5">
        @foreach (var item in ViewBag.Groups)
        {
            @if (item == ViewBag.Group)
            {
                <a href="/joinus?group=@item" class="btn-3 my-1">@item</a>
            }
            else
            {
                <a href="/joinus?group=@item" class="btn-1 my-1">@item</a>
            }
        }
    </div>
    <hr />
    <div class="mt-5">
        @foreach (var item in Model)
        {
            <div class="mt-5">
                <a class="title with-space" onclick="show(this)" href="#@item.Number">
                    <h4>@(SharedLocalizer["en"].Value == "zh" ? @item.ChineseTitle : @item.EnglishTitle)<i class="iconfont float-right">&#xe624;</i></h4>
                </a>
                <div id="@item.Number" style="display: none">
                    <div class="mt-5 with-space">
                        @Html.Raw(SharedLocalizer["en"].Value == "zh" ? @item.ChineseContent : @item.EnglishContent)
                    </div>
                    @* <p>@Localizer["Posted by"] <a href="mailto:career@neo.org?subject=@item.Number">career@neo.org</a> @item.EditTime.ToShortDateString() </p> *@

                    @if (ViewBag.UserRules != null && ViewBag.UserRules)
                    {
                        <div class="mt-4">
                            <a target="_blank" href="/resume?jobid=@item.Id">@Localizer["Resume List"]</a>
                            <a class="ml-2" asp-action="Edit" asp-controller="JoinUS" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                            <a class="ml-2" asp-action="Delete" asp-controller="JoinUS" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                        </div>
                    }
                    <div>
                        <a class="btn-2 mt-3" href="/resume/create?jobid=@item.Id">@Localizer["Apply Now"]</a>
                    </div>
                </div>
            </div>
            <hr class="mt-5" />
        }
    </div>
</div>
@section Scripts{
    <script>
        var c = "rotage90";
        function show(obj) {
            var top = $(document).scrollTop();
            $(obj).next().toggle(500);
            if ($(obj).find(".iconfont").hasClass(c))
                $(obj).find(".iconfont").removeClass(c);
            else
                $(obj).find(".iconfont").addClass(c);
            $('html,body').animate({ scrollTop: top }); 
        }
        $(window.location.hash).show();
        $(window.location.hash).prev().find(".iconfont").addClass(c);
    </script>
}
