@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NeoWeb.Models.Testnet
@{
    ViewData["Title"] = Localizer["Developer"];
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/testnet.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/testnet.min.css" asp-append-version="true" />
    </environment>
}
<div class="container body-content">
    <div class="row apply-content m2">
        <div class="col-lg-12">
            <h1 class="apply-title m2">@Localizer["Apply For TestNet NEO&GAS"]</h1>
            <form asp-action="Create">
                <div class="input-form">
                    <ul>
                        <li class="col-lg-6">
                            <label asp-for="Name">@Localizer["Name"]</label><br />
                            <input name="Name" id="Name" type="text"
                                   data-val="true" data-val-required="@Localizer["This field is required"]">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </li>
                        <li class="col-lg-6">
                            <label asp-for="Email">@Localizer["Email"]</label><br />
                            <input asp-for="Email" name="Email" id="Email" type="email"
                                   data-val="true" data-val-required="@Localizer["This field is required"]" data-val-email="@Localizer["Please enter a valid E-mail address"]">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </li>
                        <li class="col-lg-6">
                            <label asp-for="Phone">@Localizer["Phone Number"]</label><br />
                            <input asp-for="Phone" id="Phone" type="tel"
                                   data-val="true" data-val-phone="@Localizer["Please enter a valid phone number"]">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </li>
                        <li class="col-lg-6">
                            <label asp-for="QQ">@Localizer["QQ"]</label><br />
                            <input asp-for="QQ" id="QQ" type="text"
                                   data-val="true" data-val-regex-pattern="\d+"/>
                            <span asp-validation-for="QQ" class="text-danger"></span>
                        </li>
                        <li class="col-lg-12">
                            <label asp-for="Company">@Localizer["Company Name/Project Name"]</label><br />
                            <input asp-for="Company" id="Company" type="text" placeholder=@Localizer["Company Name/Project Name"]
                                   data-val="true" data-val-required="@Localizer["This field is required"]"/>
                            <span asp-validation-for="Company" class="text-danger"></span>
                        </li>
                        <li class="col-lg-12">
                            <label asp-for="Reason">@Localizer["Reasons For Application"]</label><br />
                            <textarea asp-for="Reason" id="Reason" type="text" rows="2" cols="20"
                                      data-val="true" data-val-required="@Localizer["This field is required"]" data-val-length-min="50" data-val-length-max="300" data-val-length="@Localizer["Application reason at least 50 characters, up to 300 characters"]"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </li>
                        <li class="col-sm-4">
                            <label asp-for="ANSCount">@Localizer["Amount Of NEO"]</label><br />
                            <input asp-for="ANSCount" id="NEOCount" type="text"
                                   data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex-pattern="\d+" data-val-regex="@Localizer["Please enter a valid number"]"/>
                            <span asp-validation-for="ANSCount" class="text-danger"></span>
                        </li>
                        <li class="col-sm-4">
                            <label asp-for="ANCCount">@Localizer["Amount Of GAS"]</label><br />
                            <input asp-for="ANCCount" id="GASCount" type="text"
                                   data-val="true" data-val-regex-pattern="\d+" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter a valid number"]"/>
                            <span asp-validation-for="ANCCount" class="text-danger"></span>
                        </li>
                        <li class="col-sm-4">
                            <label asp-for="PubKey">@Localizer["NEO Public Key"]</label><br />
                            <input asp-for="PubKey" id="PubKey" type="text"
                                   data-val="true" data-val-regex-pattern="0[0-9|abcdef]{65}" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter a valid public key"]"/>
                            <span asp-validation-for="PubKey" class="text-danger"></span>
                            <p class="pub-key-hint t3">@Localizer["Please enter your own NEO public key. If the application succeeds, we will send Neo/GAS to a multiple signature address and tell you how to use it."]</p>
                        </li>
                    </ul>
                    <p class="apply-btn-p m1"><input type="submit" class="btneo-fri t1" value=@Localizer["Submit Application"]></p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.menu-item [href='/testnet']").css("border-bottom", "2px solid #58bf00")
    </script>
}