@model NeoWeb.Models.Testnet

@{
    ViewData["Title"] = "Details";
}
@section Styles{
    <link rel="stylesheet" href="~/css/testnet-list.min.css" />
}

<div class="container">
    <h1 class="m1">测试币申请详情</h1>
    <div class="coin-back apply-detail">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QQ)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QQ)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Reason)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Reason)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ANSCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ANSCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ANCCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ANCCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PubKey)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PubKey)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>
        </dl>
    </div>
    <div class="back-to-list">
        <a asp-action="Edit" asp-route-id="@Model.Id">备注</a> 
        <a asp-action="List">返回列表</a>
    </div>
</div>
