@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer"];
    Layout = "_LayoutTestnet.cshtml";
}
<div class="container body-content">
    <div class="row content-border link-apply">
        <div class="col-md-6 neo-bg"></div>
        <div class="col-md-6">
            <p class="h1 m2">@Localizer["Apply For NEO/GAS in Testnet"]</p>
            <p class="t2 apply-intro">@(Localizer["If you are developing a NEO ecosystem application project, and need NEO/GAS in the <b>TestNet</b>, please fill in the following application form and send it. Once your application has been processed, you will receive an email notification."])</p>
            <p class="m2">
                <a class="btneo-fri t1" asp-controller="Testnet" asp-action="Create">@Localizer["Apply for NEO/GAS"]</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="content-border github-back">
                <h1 class="m1">GitHub</h1>
                <p class="center-area m2"><a href="https://github.com/neo-project" target="_blank" class="btneo-sec t1">@Localizer["Open link"]</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="content-border docu-back">
                <h1 class="m1">@Localizer["Technical Documents"]</h1>
                <p class="center-area m2"><a href="http://docs.neo.org" target="_blank" class="btneo-sec t1">@Localizer["Open link"]</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="content-border bounty-back">
                <h1 class="m1">Bug Bounty</h1>
                <p class="center-area m2">
                <a class="btneo-sec t1" asp-controller="Testnet" asp-action="Bounty">@Localizer["Open link"]</a>
                </p>
            </div>
        </div>
    </div>
</div>