@model NeoWeb.Models.Candidate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Consensus Nodes"];
}

@section Styles{
    <link rel="stylesheet" href="@Helper.CDN/css/consensus.min.css" />
}

<div class="container">
    <div class="title-line t1 m2">@Localizer["Blockchain Info"]</div>
    <div class="row block-info">
        <div class="info-cont">
            <p class="info-icon gray-text"><i class="iconfont">&#xe619;</i></p>
            <p class="t2">@Localizer["Block Height"]</p>
            <span class="t1" id="blohei">--</span>
        </div>
        <div class="info-cont">
            <p class="info-icon gray-text"><i class="iconfont">&#xe6c1;</i></p>
            <p class="t2">@Localizer["Last Time"]</p>
            <span class="t1" id="lastime">--</span>
        </div>
        <div class="info-cont">
            <p class="info-icon gray-text"><i class="iconfont">&#xe61c;</i></p>
            <p class="t2">@Localizer["Candidate Count"]</p>
            <span class="t1" id="cannum">--</span>
        </div>
        <div class="info-cont">
            <p class="info-icon gray-text"><i class="iconfont">&#xe609;</i></p>
            <p class="t2">@Localizer["Consensus Count"]</p>
            <span class="t1" id="connum">--</span>
        </div>
    </div>
    <div class="title-line t1 m2">@Localizer["Blockchain indicator"]</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="block-data">
                <div class="can-charts" id="main"></div>
            </div>
        </div>
    </div>
    <div class="title-line t1 m2">
        @Localizer["Off-Chain Governance"]
    </div>
    <div class="gray-back p2 text-center">
        <p class="m3 t2">
            @Localizer["For more details, see the documentation:"]<a class="green-text" href="@Localizer["https://github.com/neo-ngd/reference/blob/master/How%20To%20Become%20A%20Consensus%20Nodev1.2.md"]"> @Localizer["How To Become A Consensus Node"]</a>
        </p>
        <a class="tab-btn text-white m3" href="mailto:consensus@neo.org">@Localizer["Apply"]</a>
    </div>
    <div class="title-line t1 m2 mb0">
        @Localizer["On-Chain Governance"]
    </div>
    <div class="flo-clear m3">
        <a class="tab-btn float-right d-none d-xl-block" data-toggle="modal" data-target="#exampleModal">@Localizer["Provide Candidate Info"]</a>
    </div>
    <div class="row">
        <ul class="col-sm-12 table-list" id="tableList"></ul>
    </div>
    <p class="m3">
        <a href="javascript:" onclick="setLanguage('en-us')">English</a>
        <a class="p4" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
    </p>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localizer["Candidate Info"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Index" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="PublicKey" class="control-label">@Localizer["Public Key"]<span class="red-text"> * </span></label>
                        <select asp-for="PublicKey" class="form-control">
                            @foreach (var item in ViewBag.PubKeys as List<string>)
                    {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="Organization" class="control-label">@Localizer["Organization"]<span class="red-text"> * </span></label>
                            <input asp-for="Organization" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter the correct website format"]" />
                            <small class="form-text text-muted">@Localizer["Relevant information about NEO should be displayed."]</small>
                            <span asp-validation-for="Organization" class="text-danger"></span>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="Logo" class="control-label">@Localizer["Logo"]</label>
                            <input type="hidden" asp-for="Logo" name="oldLogo" />
                            <input type="file" name="logo" id="logo" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="Website" class="control-label">@Localizer["Website"]<span class="red-text"> * </span></label>
                            <input asp-for="Website" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter the correct website format"]" />
                            <small class="form-text text-muted">@Localizer["Relevant information about NEO should be displayed."]</small>
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="Email" class="control-label">@Localizer["E-mail"]<span class="red-text"> * </span></label>
                            <input asp-for="Email" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter the correct E-mail format"]" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SocialAccount" class="control-label">@Localizer["Social media account"]</label>
                        <input asp-for="SocialAccount" placeholder="Twitter:neo_blockchain;Facebook:NEOSmartEcon;" class="form-control" />
                        <span asp-validation-for="SocialAccount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Summary" class="control-label">@Localizer["Summary"]</label>
                        <textarea asp-for="Summary" class="form-control"></textarea>
                        <small class="form-text text-muted">@Localizer["Brief introduction about team"]</small>
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                    <hr class="m3" />
                    <div class="form-group">
                        <label class="control-label">Hash</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" onclick="hashInfo()">@Localizer["Generate Hash"]</button>
                            </div>
                            <input id="hash" type="text" readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="signature" class="control-label">@Localizer["Signature"]</label>
                        <input name="signature" id="signature" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" />
                        <small class="form-text text-muted">@Localizer["Please sign the above hash with your private key."]</small>
                        <span data-valmsg-for="signature" class="text-danger"></span>
                        <span class="text-danger">@ViewBag.Message</span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@Localizer["Submit"]" class="btn btn-default float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script id="test" type="text/html">
    <li class="pt0 pr0">
        <div class="can-th p4">
            {{if Active}}<span class="detail-left t2 green-text">@Localizer["Consensus Node"]</span>{{/if}}
            {{if !Active}}<span class="detail-left t3">@Localizer["Candidate Node"]</span>{{/if}}
            <div class="detail-right">
                <span class="can-votes">@Localizer["Votes"]: {{Votes}}</span>
                <span class="pub-key ">@Localizer["Public Key"]: <span class="text-ellipsis">{{PublicKey}}</span></span>
            </div>
        </div>
        {{if Info}}
        <div class="can-detail p4">
            <div class="detail-left" style="background-image:url(/upload/{{Info.Logo}})">
                {{if Info.Logo}}<div style="padding-top:100%"></div>{{/if}}
            </div>
            <div class="detail-right">
                <p class="green-text t2 pt0">{{if Info.Organization}}{{Info.Organization}}{{/if}}</p>
                {{if Info.Website}}<span>@Localizer["Website"]: </span><a href={{Info.Website}} target="_blank">{{Info.Website}}</a><br>{{/if}}
                {{if Info.Email}}<span>@Localizer["E-mail"]: </span>{{Info.Email}}<br>{{/if}}

                {{if Info.Summary}}<span>@Localizer["Summary"]: </span>{{Info.Summary}}<br>{{/if}}
            </div>
        </div>
        {{/if}}
</script>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Helper.CDN/js/echarts.js"></script>
    <script src="@Helper.CDN/js/template.js"></script>
    <script src="@Helper.CDN/js/consensus.min.js"></script>
    <script src="@Helper.CDN/js/getseed.js"></script>
    <script src="@Helper.CDN/js/sha256.min.js"></script>
    <script>
        function hashInfo() {
            var msg = "candidate" + $("#Email").val() + $("#Website").val() + $("#SocialAccount").val() + $("#Summary").val();
            $("#hash").val(sha256(msg));
        }
        var block_s = '@Localizer["Block Size"]';
        var tx_v = '@Localizer["Tx Volume"]';
        var error = '@ViewBag.Message';
        if (error.length > 0) {
            $('#exampleModal').modal();
        }
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.nav-item [href='/consensus']").css("border-bottom", "2px solid #58bf00")
    </script>
}