@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="menu-page-title">
    <img class="menu-page-title-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/earlyadoption.svg", true)" />
    <span class="menu-page-title-text">
        @Localizer["Early Adoption Program"]
    </span>
</div>
<div class="tabs d-none d-lg-block">
    <span class="tab active">@Localizer["About"]</span>
    <span class="tab">@Localizer["Portfolio"]</span>
</div>

<select class="select-tab-page d-lg-none form-control">
    <option selected="selected">@Localizer["About"]</option>
    <option>@Localizer["Application"]</option>
</select>
<div class="tab-page active">
    <div class="row eco-body py-3">
        <img class="img-fluid col-12 col-lg-6 col-xl-5 d-none d-lg-block" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/eap1.svg", true)" />
        <div class="col-12 col-lg-6 col-xl-7">
            <h2>@Localizer["About"]</h2>
            <div>
                <p><strong>@Localizer["The launch of N3 is a big milestone for Neo and we've prepared something special for the occasion. To encourage developers to start building on Neo N3, we are launching the Early Adoption Program. This program includes a grant sponsorship funding pool totaling US $10 million and will run from June to December 2021."]</strong></p>
                <p><strong>@Localizer["Early Adoption Program is aimed at accomplishing the following goals:"]</strong></p>
                <ul>
                    <li>
                        @Localizer["Encouraging more new projects to participate in early development using Neo N3."]
                    </li>
                    <li>
                        @Localizer["Encouraging projects to provide feedback on Neo N3 to ensure continuous optimization."]
                    </li>

                    <li>
                        @Localizer["Continuously revitalizing the Neo developer community while assisting existing Neo projects with migration from Neo Legacy."]
                    </li>

                    <li>
                        @Localizer["Rapidly establishing Neo N3’s infrastructure while bolstering awareness."]
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <p>@Localizer["The Early Adoption program will provide financial support to developers (based on the size of the project, team track record, and vision), along with high priority technical and other support."]</p>
            <p>@Localizer["Neo is actively seeking out high potential projects for incubation and growth. We are looking forward to working with enthusiastic and driven teams who are committed to exploring and pushing the boundaries of blockchain technology. With your help, we hope to develop new business innovations while implementing novel ideas to achieve the smart economy of tomorrow."]</p>
            <h2>@Localizer["Eligibility"]</h2>
            <h4><strong>@Localizer["The types of projects welcomed to apply to the Early Adoption Program include:"]</strong></h4>
            <h4><strong>@Localizer["Small or concept projects"]</strong></h4>
            <p>@Localizer["Ideal for individuals or small teams looking to get started on N3. Typically, these types of projects will be early stage or proof-of-concept initiatives. Applications should focus on using N3 in ways that demonstrate new functionality, test the limits of N3 capabilities, or provide practical examples to the wider Neo development community."]</p>
            <h4><strong>@Localizer["Start-up projects"]</strong></h4>
            <p>@Localizer["Teams that already have a well defined idea or project. Start-up projects are expected to have a clearly defined niche and a sustainable business model. These projects should focus on using Neo N3 to create new business opportunities and provide new applications for Neo ecosystem users. Teams should be prepared to present an existing proof of concept or MVP."]</p>
            <h4><strong>@Localizer["Existing businesses"]</strong></h4>
            <p>@Localizer["Teams with an established business model looking to integrate or migrate to Neo N3. These projects should already have an existing user base and will be looking to expand or improve their business through Neo integration. Ideally, teams should be able to bring large scale use cases or well known services to the Neo blockchain."]</p>
            <h2>@Localizer["Business direction"]</h2>
            <h4><strong>@Localizer["In terms of the business direction, we are interested in the following:"]</strong></h4>
            <ul>
                <li><strong>@Localizer["NFT"]</strong> - @Localizer["Marketplaces, explorers, wallets, fractional-ownership, gaming"]</li>
                <li><strong>@Localizer["DeFi"]</strong> - @Localizer["AMMs, lending, stablecoins, asset managers, synthetic assets, liquidity pools"]</li>
                <li><strong>@Localizer["NeoFS use cases"]</strong></li>
                <li><strong>@Localizer["Neo Oracle use cases"]</strong></li>
                <li><strong>@Localizer["Games"]</strong></li>
                <li><strong>@Localizer["General infrastructure"]</strong> - @Localizer["Layer2 protocols, scalability, privacy, DAO technologies"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-page">
    <div class="eco-body py-3">
        <h2>@Localizer["Portfolio"]</h2>
        <p>@Localizer["This successful program concluded at the end of 2021. Read about program participants and their achievements below."]</p>
        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp1.svg")" />
            <strong>GhostMarket</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["GhostMarket is a multi-chain NFT marketplace. GhostMarket allows users to buy or sell NFTs in bulk across various wallets. Through GhostMarket, users can participate in three types of auctions: Classic, Dutch, and reserve."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["GhostMarket was the first dApp to launch on the Neo N3 MainNet. To date, GhostMarket has deployed four smart contracts with Neo that allow users to mint and trade NFT in a fully decentralized way. GhostMarket also established a standard regarding NFT royalties on Neo N3. Some other projects in the ecosystem have already begun to adopt this standard."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["Neo’s Early Adoption Program has been a great way to attract and onboard new projects, this program has helped exponentially grow the Neo ecosystem by attracting more developers and dApps.”"]</p>
            </div>
        </div>
        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp2.svg")" />
            <strong>iMe Smart Platform</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["The iMe Smart Platform application is a messaging platform for iOS and Android users. It is powered by the Telegram API and incorporates blockchain-enabled features such as wallets and DeFi."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["The iMe app has more than 5M downloads on Google Play and App Store, more than 800K activated wallets, and about a million active users per day."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["“This global initiative is a wonderful opportunity. The strong helping hand of Neo enables developers to improve their products and reach mass adoption faster,” said Borutskiy “The program has facilitated building a strong, international community that supports the growth of all participants’ projects.”"]</p>
            </div>
        </div>
        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp3.svg")" />
            <strong>Polychain Monsters</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["Polychain Monsters is a cross-blockchain, play-to-earn game based on NFTs. Play-to-earn games integrate blockchain-based solutions to create new monetization methods and revenue models for players and game developers."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["Sales of Polychain Monsters on the OpenSea NFT marketplace have surpassed US $14 million in trading volume. The Polychain Monsters collection continues to expand via special edition drops through partnerships such as ChainLink, Elrond, and Polygon."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/3.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["“Joining the N3 Early Adoption program has positioned us to double down on contributing to the smart economy of tomorrow.”"]</p>
            </div>
        </div>
        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp4.svg")" />
            <strong>Rentfuse</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["Rentfuse is an NFT-renting protocol layer that enables Neo N3 NFT owners to rent out their assets: Owners can lend NFTs to generate revenue, and borrowers can rent NFTs to use them temporarily."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["Since joining the N3 Early Adoption program, Rentfuse has reached thousands of people through Neo social channels and has developed Rentfuse’s core contracts on the N3 blockchain."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/3.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["“Thank you for believing in us, it is an honor to be able to participate in the Early adoption program. We look forward to see you all on the mainnet!”"]</p>
            </div>
        </div>


        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp5.svg")" />
            <strong>TranslateMe Network</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["TranslateMe is an instant translation service that joined the Neo ecosystem in 2018. The service uses a trustless protocol that leverages machine translation and blockchain technology."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["With support from the N3 Early Adoption Program, TranslateMe Network has contracted work with COZ.io and launched its first smart contract on the Neo N3 TestNet."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/3.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["“Having such a well-known and trusted team assisting us with real use case implementation of blockchain on N3 is a big step forward for TranslateMe, said Ryan Lloyd. “Without this partnership, we would be several months behind in our development. We are very grateful for Neo’s support.”"]</p>
            </div>
        </div>


        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp6.svg")" />
            <strong>Defina Finance</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["Defina Finance is a blockchain-based role-playing game (RPG) featuring a play-to-earn system. Players can participate in DeFi yield farming and reap on-chain earnings while enjoying a strategic game with Player Versus Environment (PVE) and Player Versus Player (PVP) modes. Defina also has its own utility and governance token ($FINA) that is used in the Defina ecosystem and beyond."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["While participating in the Early Adoption Program, Defina Finance has boosted rewards for the beta period for early players who tested out the game and provided suggestions. Now, the project is entering the mass adoption phase, where token rewards will be distributed more equally to ensure sustainable growth for Defina."]</p>
            </div>
        </div>


        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp7.svg")" />
            <strong>Humswap</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["Humswap brings together the worlds of DeFi and NFTs by creating unique NFTs that have potential benefits such as stackable yields, yield multipliers, lower swapping fees, and more."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["While participating in the Early Adoption Program, Defina Finance has boosted rewards for the beta period for early players who tested out the game and provided suggestions. Now, the project is entering the mass adoption phase, where token rewards will be distributed more equally to ensure sustainable growth for Defina."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/3.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["“We would not be where we are without this support,” said Mario Lopez. “We cannot wait to share the great things we’re cooking with you and the rest of the community!”"]</p>
            </div>
        </div>


        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp8.svg")" />
            <strong>NekoHit</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["The NekoHit project focuses on eliminating trust problems between content creators and their sponsors. NekoHit accomplishes this by using blockchain technology to give more control to both parties."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["With support from the Neo Early Adoption Program, NekoHit has developed and deployed smart contracts to the Neo N3 MainNet, including smart contracts for NekoHit’s core contract and a token. Now the team is constructing a community DAO token."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/3.svg")" />
                <strong>@Localizer["Leadership Quotes"]</strong>
                <p>@Localizer["“The Early Adoption Program has helped us move to the next level,” said Yannick. “We couldn’t have made it this far without Neo’s support.”"]</p>
            </div>
        </div>


        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp9.svg")" />
            <strong>Saffron Finance</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["Saffron Finance is a peer-to-peer risk management platform that uses a tranche-based yield aggregation to divide earnings into senior, junior, and fee tranches. Saffron also provides a separate insurance fund that generates yield to depositors."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["With the support of the Early Adoption Program, the Saffron team has worked to enable DeFi growth in the Neo ecosystem. Saffron has created a staking contract for NEO and SFI that enables SFI, NEO, and GAS staking. The contract now is live on the Neo N3 TestNet. It has been tested by more than 100 users and is undergoing an audit before launching on the Neo N3 MainNet."]</p>
            </div>
        </div>


        <div class="eapp">
            <img src="@Helper.ToCDN("/images/eco/eapp10.svg")" />
            <strong>TOTHEMOON</strong>
            <a href="javascript:"><i class="iconfont">&#xe601;</i></a>
            <i class="iconfont float-right up">&#xe619;</i>
            <i class="iconfont float-right down">&#xe61a;</i>
        </div>
        <div class="mt-4 mb-5">
            <div>
                <img src="@Helper.ToCDN("/images/eco/1.svg")" />
                <strong>@Localizer["Project Introduction"]</strong>
                <p>@Localizer["TOTHEMOON UNIVERSE is a Metaverse set on the Moon. TOTHEMOON plays host to a strategic, community-building game powered by NFTs. Players will engage in a new-age society built by Moon Plot Owners and Moon Teams, each with its own governance system."]</p>
            </div>
            <div>
                <img src="@Helper.ToCDN("/images/eco/2.svg")" />
                <strong>@Localizer["Project Achievments"]</strong>
                <p>@Localizer["TOTHEMOON was the first NFT project in the Early Adoption program to sell out an NFT collection."]</p>
            </div>
        </div>
    </div>
</div>
