@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="menu-page-title">
    <img class="menu-page-title-img" data-original="@Helper.ToCDN("/images/eco/eco-fund-title.png", true)" />
    <span class="menu-page-title-text">
        @Localizer["EcoFund"]
    </span>
</div>

<div class="menu-page-introduction clearfix">
    <img class="menu-page-introduction-img" data-original="@Helper.ToCDN("/images/eco/eco-fund.png", true)" />
    <div class="menu-page-title">
        <img class="menu-page-title-img" data-original="@Helper.ToCDN("/images/eco/eco-fund-title.png", true)" />
        <span class="menu-page-title-text">
            @Localizer["EcoFund"]
        </span>
    </div>
    <div class="menu-page-introduction-title">
        @Localizer["Funding success"]
    </div>
    <div class="menu-page-introduction-description">
        <p><strong>@Localizer["Neo EcoFund is an investment fund established by the Neo Foundation."]</strong> @Localizer["Its goal is to bring diversified help to the Neo ecosystem while creating long-term value and sustainable returns for Neo Foundation."]</p>
        <p>@Localizer["Neo EcoFund was established in 2018 and has continued to contribute to the expansion and incubation of Neo ecosystem."]</p>
    </div>
</div>

<div class="scopes">
    <div class="scope">
        <div class="scope-title">@Localizer["Business scope"]</div>
        <ul class="scope-items">
            <li>
                @Localizer["Investing in private equity and unlisted projects"]
            </li>
            <li>
                @Localizer["Managing the fund's crypto assets"]
            </li>
            <li>
                @Localizer["Incubating invested portfolio"]
            </li>
            <li>
                @Localizer["Project post-investment management"]
            </li>
        </ul>
    </div>
    <div class="scope">
        <div class="scope-title">@Localizer["Investment direction"]</div>
        <ul class="scope-items">
            <li>
                @Localizer["Infrastructure - Blockchain infrastructures serving the Neo ecosystem"]
            </li>
            <li>
                @Localizer["dApps - Projects built on Neo MainNet with a viable business model"]
            </li>
            <li>
                @Localizer["Blockchain Ecosystem - Potential blockchain ecosystem projects that can cooperate with Neo"]
            </li>
        </ul>
    </div>
</div>

<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    @Localizer["How to apply"]
</div>

<div class="menu-page-description">
    <strong>@Localizer["Projects or organizations that believe they fit the scope of the EcoBoost program are welcome to apply."]</strong>
</div>

<div class="application">
    <div class="application-start">
        <div class="application-start-title">
            @Localizer["If you are…"]
        </div>
        <ul class="application-start-items">
            <li>
                @Localizer["An established blockchain-based operation with substantial ties to the Neo ecosystem"]
            </li>
            <li>
                @Localizer["A project with a viable business model"]
            </li>
            <li>
                @Localizer["Looking for an investment in exchange for tokens or equity."]
            </li>
        </ul>
    </div>
    <div class="application-end">
        <i class="application-chevron iconfont">&#xe6ab;</i>
        <div class="application-end-title">
            @Localizer["EcoFund could provide…"]
        </div>
        <div class="application-end-items">
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/eco/checked.png", true)" />
                <span class="application-end-item-text">
                    @Localizer["Funding opportunities to help you achieve your business goals"]
                </span>
            </div>
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/eco/checked.png", true)" />
                <span class="application-end-item-text">
                    @Localizer["Incubation support"]
                </span>
            </div>
        </div>
    </div>
</div>

<div class="requirements-title">
    @Localizer["Application requirements"]
</div>

<div class="menu-page-description">
    <strong>@Localizer["If you feel your project is right for EcoFund, please contact NGD EcoGrowth with the following information:"]</strong>
</div>

<ul class="requirements">
    <li>
        @Localizer["Project or company name"]
    </li>
    <li>
        @Localizer["Team size, names, experience, and location"]
    </li>
    <li>
        @Localizer["Detailed information outlining:"]
        <ul class="requirements-sublist">
            <li>
                @Localizer["The nature of your project or business"]
            </li>
            <li>
                @Localizer["Your company structure"]
            </li>
            <li>
                @Localizer["Milestones you have achieved, along with short, medium, and long term goals"]
            </li>
            <li>
                @Localizer["Your unique value proposition"]
            </li>
            <li>
                @Localizer["Challenges you see in the short to medium term"]
            </li>
            <li>
                @Localizer["Size of current user or customer base"]
            </li>
        </ul>
    </li>
    <li>
        @Localizer["A detailed investment proposal including the amount of funding you are looking for and how much you are offering in equity / tokens."]
    </li>
    <li>
        @Localizer["Links to your website or application"]
    </li>
    <li>
        @Localizer["Main contact details"]
    </li>
</ul>

<div class="apply">
    <div class="apply-text">@Localizer["Apply for an investment now. NGD EcoGrowth will generally respond within one month."]</div>
    <a class="apply-btn btn-2 btn-small" href="mailto:eg@neo.org">
        @Localizer["Apply Now"]&nbsp;&nbsp;<i class="iconfont">&#xe6ab;</i>
    </a>
</div>


<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    @Localizer["EcoFund portfolio"]
</div>

<div class="menu-page-description">
    @Localizer["We are very proud of the projects in the EcoFund portfolio. We’d love to add your name to the list."]
</div>

<div class="menu-page-tertiary-title">
    @Localizer["Recently boosted projects"]
</div>

<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i>
    <i class="projects-controller-right iconfont">&#xe61b;</i>
    <div class="projects-content oneline">
        <div class="project">
            <a href="https://nash.io/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Nash.png", true)" />
            </a>
            <div class="project-name">Nash</div>
        </div>
        <div class="project">
            <a href="https://moonlight.io/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Moonlight.png", true)" />
            </a>
            <div class="project-name">Moonlight</div>
        </div>
        <div class="project">
            <a href="https://qlcchain.org/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/QLC Chain.svg", true)" />
            </a>
            <div class="project-name">QLC Chain</div>
        </div>
        <div class="project">
            <a href="https://phantasma.io/home">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Phantasma.png", true)" />
            </a>
            <div class="project-name">Phantasma</div>
        </div>
        <div class="project">
            <a href="https://switcheo.network/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Switcheo.png", true)" />
            </a>
            <div class="project-name">Switcheo</div>
        </div>
        <div class="project">
            <a href="https://o3.network/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/O3.png", true)" />
            </a>
            <div class="project-name">O3</div>
        </div>
        <div class="project">
            <a href="https://www.liquefy.com/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Liquefy.png", true)" />
            </a>
            <div class="project-name">Liquefy</div>
        </div>
        <div class="project">
            <a href="https://polkadot.network/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Polkadot.svg", true)" />
            </a>
            <div class="project-name">Polkadot</div>
        </div>
        <div class="project">
            <a href="https://cryptobriefing.com/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/CryptoBriefing.png", true)" />
            </a>
            <div class="project-name">Crypto Briefing</div>
        </div>
        <div class="project">
            <a href="https://republic.co/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Republic.png", true)" />
            </a>
            <div class="project-name">Republic</div>
        </div>
        <div class="project">
            <a href="https://cobo.com/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/logos/Cobo.png", true)" />
            </a>
            <div class="project-name">Cobo</div>
        </div>
    </div>
</div>

