<div class="menu-page-title">
    <img class="menu-page-title-img" data-original="@Helper.ToCDN("/images/eco/eco-fund-title.png", true)" />
    <span class="menu-page-title-text">
        EcoFund
    </span>
</div>

<div class="menu-page-introduction clearfix">
    <img class="menu-page-introduction-img" data-original="@Helper.ToCDN("/images/eco/eco-fund.png", true)" />
    <div class="menu-page-title">
        <img class="menu-page-title-img" data-original="@Helper.ToCDN("/images/eco/eco-fund-title.png", true)" />
        <span class="menu-page-title-text">
            EcoFund
        </span>
    </div>
    <div class="menu-page-introduction-title">
        Funding success
    </div>
    <div class="menu-page-introduction-description">
        <p><strong>Neo EcoFund is an investment fund established by the Neo Foundation.</strong> Its goal is to bring diversified help to the Neo ecosystem while creating long-term value and sustainable returns for Neo Foundation. </p>
        <p>Neo EcoFund was established in 2018 and has continued to contribute to the expansion and incubation of Neo ecosystem.</p>
    </div>
</div>

<div class="scopes">
    <div class="scope">
        <div class="scope-title">Business scope</div>
        <ul class="scope-items">
            <li>
                Investing in private equity and unlisted projects
            </li>
            <li>
                Managing the fund's crypto assets
            </li>
            <li>
                Incubating invested portfolio
            </li>
            <li>
                Project post-investment management
            </li>
        </ul>
    </div>
    <div class="scope">
        <div class="scope-title">Investment direction</div>
        <ul class="scope-items">
            <li>
                Infrastructure - Blockchain infrastructures serving the Neo ecosystem
            </li>
            <li>
                dApps - Projects built on Neo MainNet with a viable business model
            </li>
            <li>
                Blockchain Ecosystem - Potential blockchain ecosystem projects that can cooperate with Neo
            </li>
        </ul>
    </div>
</div>

<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    How to apply
</div>

<div class="menu-page-description">
    <strong>Projects or organizations that believe they fit the scope of the EcoBoost program are welcome to apply.</strong>
</div>

<div class="application">
    <div class="application-start">
        <div class="application-start-title">
            If you are…
        </div>
        <ul class="application-start-items">
            <li>
                An established blockchain-based operation with substantial ties to the Neo ecosystem
            </li>
            <li>
                A project with a viable business model
            </li>
            <li>
                Looking for an investment in exchange for tokens or equity.
            </li>
        </ul>
    </div>
    <div class="application-end">
        <i class="application-chevron iconfont">&#xe6ab;</i>
        <div class="application-end-title">
            EcoFund could provide…
        </div>
        <div class="application-end-items">
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/eco/checked.png", true)" />
                <span class="application-end-item-text">
                    Funding opportunities to help you achieve your business goals
                </span>
            </div>
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/eco/checked.png", true)" />
                <span class="application-end-item-text">
                    Incubation support
                </span>
            </div>
        </div>
    </div>
</div>

<div class="requirements-title">
    Application requirements
</div>

<div class="menu-page-description">
    <strong>If you feel your project is right for EcoFund, please contact NGD EcoGrowth with the following information: </strong>
</div>

<ul class="requirements">
    <li>
        Project or company name
    </li>
    <li>
        Team size, names, experience, and location
    </li>
    <li>
        Detailed information outlining:
        <ul class="requirements-sublist">
            <li>
                The nature of your project or business
            </li>
            <li>
                Your company structure
            </li>
            <li>
                Milestones you have achieved, along with short, medium, and long term goals
            </li>
            <li>
                Your unique value proposition
            </li>
            <li>
                Challenges you see in the short to medium term
            </li>
            <li>
                Size of current user or customer base
            </li>
        </ul>
    </li>
    <li>
        A detailed investment proposal including the amount of funding you are looking for and how much you are offering in equity / tokens.
    </li>
    <li>
        Links to your website or application
    </li>
    <li>
        Main contact details
    </li>
</ul>

<div class="apply">
    <div class="apply-text">Apply for an investment now. NGD EcoGrowth will generally respond within one month.</div>
    <a class="apply-btn btn-2 btn-small">
        Apply Now&nbsp;&nbsp;<i class="iconfont">&#xe6ab;</i>
    </a>
</div>


<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    EcoFund portfolio
</div>

<div class="menu-page-description">
    We are very proud of the projects in the EcoFund portfolio. We’d love to add your name to the list.
</div>

<div class="menu-page-tertiary-title">
    Projects
</div>

<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i>
    <i class="projects-controller-right iconfont">&#xe61b;</i>
    <div class="projects-content oneline">
        <div class="project">
            <a href="https://nash.io/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Nash logo.png", true)" />
            </a>
            <div class="project-name">Nash</div>
        </div>
        <div class="project">
            <a href="https://moonlight.io/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Moonlight logo.png", true)" />
            </a>
            <div class="project-name">Moonlight</div>
        </div>
        <div class="project">
            <a href="https://qlcchain.org/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/QLC Chain logo.svg", true)" />
            </a>
            <div class="project-name">QLC Chain</div>
        </div>
        <div class="project">
            <a href="https://phantasma.io/index.html">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Phantasma logo.png", true)" />
            </a>
            <div class="project-name">Phantasma</div>
        </div>
        <div class="project">
            <a href="https://switcheo.network/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Switcheo logo.png", true)" />
            </a>
            <div class="project-name">Switcheo</div>
        </div>
        <div class="project">
            <a href="https://o3.network/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/O3 logo.png", true)" />
            </a>
            <div class="project-name">O3</div>
        </div>
        <div class="project">
            <a href="https://www.liquefy.com/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Liquefy logo.png", true)" />
            </a>
            <div class="project-name">Liquefy</div>
        </div>
        <div class="project">
            <a href="https://polkadot.network/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Polkadot logo.svg", true)" />
            </a>
            <div class="project-name">Polkadot</div>
        </div>
        <div class="project">
            <a href="https://cryptobriefing.com/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/CryptoBriefing logo.png", true)" />
            </a>
            <div class="project-name">Crypto Briefing</div>
        </div>
        <div class="project">
            <a href="https://republic.co/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Republic logo.png", true)" />
            </a>
            <div class="project-name">Republic</div>
        </div>
        <div class="project">
            <a href="https://cobo.com/">
                <img class="project-img" data-original="@Helper.ToCDN("/images/eco/Cobo logo.png", true)" />
            </a>
            <div class="project-name">Cobo</div>
        </div>
    </div>
</div>

