<div class="menu-page-title">
    <img class="menu-page-title-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <span class="menu-page-title-text">
        EcoBoost
    </span>
</div>

<div class="menu-page-introduction clearfix">
    <img class="menu-page-introduction-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <div class="menu-page-title">
        <img class="menu-page-title-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
        <span class="menu-page-title-text">
            EcoBoost
        </span>
    </div>
    <div class="menu-page-introduction-title">
        Working together
    </div>
    <div class="menu-page-introduction-description">
        <p class="highlighted">Working in tandem with various partners, the EcoBoost program provides full lifecycle support for high-potential projects.</p>
        <p>First announced at Consenus 2019, EcoBoost is a US $100 million intiative designed to grow the Neo ecosystem.</p>
        <p>Operated by the Neo Global Development EcoGrowth department, the program works by building up a partner network to provide assistance to Neo-based projects.</p>
        <p>EcoBoost partners are leveraged to provide full lifecycle support to Neo projects, based on the individual requirements of each project. For example, media partners can assist with outreach and publicity, exchange partners can help list tokens and stimulate liquidity, and institutional partners can provide industry resources.</p>
        <p>EcoBoost partners will benefit from business growth opportunities provided by access to the Neo ecosystem and its global community.</p>
        <p>The Neo Global Development EcoGrowth team will work with EcoBoost partners and projects to ensure mutially beneficial outcomes for all participants.</p>
    </div>
</div>


<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    <img class="menu-page-secondary-title-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <span class="menu-page-secondary-title-text">
        How to apply
    </span>
</div>

<div class="menu-page-description">
    Projects or organizations that believe they fit the scope of the EcoBoost program are welcome to apply.
</div>

<div class="menu-page-tertiary-title">
    projects
</div>

<div class="application">
    <div class="application-start">
        <div class="application-start-title">
            If you are…
        </div>
        <ul class="application-start-items">
            <li>
                Project or business within the Neo ecosystem
            </li>
            <li>
                Project or business looking to migrate to, or integrate Neo
            </li>
            <li>
                Small team with innovative ideas and seed users, or
            </li>
            <li>
                Medium sized teams with a mature business model and existing community / customer base.
            </li>
        </ul>
    </div>
    <div class="application-end">
        <i class="application-chevron iconfont">&#xe6ab;</i>
        <div class="application-end-title">
            EcoBoost could provide…
        </div>
        <div class="application-end-items">
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <span class="application-end-item-text">
                    Access to the network of EcoBoost partners for tailored support 
                </span>
            </div>
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <span class="application-end-item-text">
                    Full lifecycle support, including funding, technology support, community access, and marketing assistance
                </span>
            </div>
        </div>
    </div>
</div>

<div class="requirements-title">
    Application requirements
</div>

<div class="menu-page-description">
    If you feel your project would benefit from EcoBoost support, please contact NGD EcoGrowth with the following information:
</div>

<ul class="requirements">
    <li>
        Project or company name
    </li>
    <li>
        Team size, names, experience, and location
    </li>
    <li>
        Detailed information outlining:
        <ul class="requirements-sublist">
            <li>
                The nature of your project or business
            </li>
            <li>
                Milestones you have achieved, along with short, medium, and long term goals
            </li>
            <li>
                Your unique value proposition
            </li>
            <li>
                Challenges you see in the short to medium term
            </li>
            <li>
                Size of current user or customer base
            </li>
        </ul>
    </li>
    <li>
        How you think EcoBoost can help you achieve your goals and what kind of support you are looking for
    </li>
    <li>
        Links to your website or application
    </li>
    <li>
        Main contact details
    </li>
</ul>

<div class="apply">
    <div class="apply-text">Apply for a Project EcoBoost now, NGD EcoGrowth will generally respond within one month.</div>
    <a class="apply-btn btn-2 btn-small">
        Apply Now&nbsp;&nbsp;<i class="iconfont">&#xe6ab;</i>
    </a>
</div>

<div class="menu-page-tertiary-title">
    partners
</div>

<div class="application">
    <div class="application-start">
        <div class="application-start-title">
            If you are a…
        </div>
        <ul class="application-start-items">
            <li>
                Media organization
            </li>
            <li>
                Exchange
            </li>
            <li>
                Wallet
            </li>
            <li>
                dApp directory
            </li>
            <li>
                Educational organization
            </li>
            <li>
                Security expert
            </li>
        </ul>
    </div>
    <div class="application-end">
        <i class="application-chevron iconfont">&#xe6ab;</i>
        <div class="application-end-title">
            EcoBoost could provide…
        </div>
        <div class="application-end-items">
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <span class="application-end-item-text">
                    Opportunity to grow your busines through exposure to the Neo ecosystem
                </span>
            </div>
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <span class="application-end-item-text">
                    Access to the Neo community
                </span>
            </div>
            <div class="application-end-item">
                <img class="application-end-item-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <span class="application-end-item-text">
                    Technical support
                </span>
            </div>
        </div>
    </div>
</div>

<div class="requirements-title">
    Application requirements
</div>

<div class="menu-page-description">
    If you feel your company would benefit from becoming a preferred partner of the Neo ecosystem through EcoBoost, please contact NGD EcoGrowth with the following information:
</div>

<ul class="requirements">
    <li>
        Project or company name
    </li>
    <li>
        Location
    </li>
    <li>
        Detailed information on why you think a partnership with EcoBoost would be mutually beneficial for yourself the Neo ecosystem.
    </li>
    <li>
        Links to your website or application
    </li>
    <li>
        Main contact details
    </li>
</ul>

<div class="apply">
    <div class="apply-text">Apply for a Partner EcoBoost now, NGD EcoGrowth will generally respond within one month.</div>
    <a class="apply-btn btn-2 btn-small">
        Apply Now&nbsp;&nbsp;<i class="iconfont">&#xe6ab;</i>
    </a>
</div>

<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    <img class="menu-page-secondary-title-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <span class="menu-page-secondary-title-text">
        Projects we have supported
    </span>
</div>

<div class="menu-page-description">
    At magnum periculum adiit in oculis quidem faciunt, ut summo bono, dolorem aspernari ut aut ad naturam aut rerum hic tenetur a se esse ratione intellegi posse et dolorem ipsum, quia voluptas sit, voluptatem et accusamus et quas molestias.
</div>

<div class="menu-page-tertiary-title">
    Recently boosted projects
</div>

<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i>
    <i class="projects-controller-right iconfont">&#xe61b;</i>
    <div class="projects-content oneline">
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
    </div>
</div>

<div class="menu-page-tertiary-title">
    EcoBoost Partners
</div>

<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i>
    <i class="projects-controller-right iconfont">&#xe61b;</i>
    <div class="projects-content oneline">
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
    </div>
</div>


