@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="menu-page-title">@Localizer["Overview"]</div>

<div class="menu-page-introduction clearfix">
    <img class="menu-page-introduction-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/overview.png", true)" />
    <div class="menu-page-title">@Localizer["Overview"]</div>
    <div class="menu-page-introduction-title">
        @Localizer["Our Nature is Nurture"]
    </div>
    <div class="menu-page-introduction-description">
        <p>@Localizer["Neo has initiated a number of support tracks to grow the Neo ecosystem, offering various types of assistance depending on your project needs, interests, and maturity. Options are available for grassroots developers, start up projects, established businesses, institutions, and everything in between."]</p>
        <p>@Localizer["If you would  benefit from a little help during your journey on the Neo blockchain, simply identify the track below that best describes your current situation. Full details on how to apply can be found by following the relevant links."]</p>
    </div>
</div>
<div class="menu-page-divider"></div>
<div class="menu-page-secondary-title">
    @Localizer["Find the support that is right for you"]
</div>
<div class="menu-page-tertiary-title">
    <img class="menu-page-title-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/1.svg", true)" />
    @Localizer["Existing dApps or blockchain - related business"]
</div>

<div class="row py-4" style="background-image: url(@Helper.ToCDN("/images/eco/overview-bg.svg")); background-size: cover; background-position: center;">
    <div class="col-lg-6 my-3">
        <div class="card mx-auto" style="max-width: 25rem;">
            <div class="card-img-top">
                <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/ecoboost.svg")" />
                <h4><strong>ECOBOOST</strong></h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <strong class="card-title">@Localizer["Suitable for the following:"]</strong>
                </div>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["A small team with many seed users"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["A medium sized business"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["An institution or education platform"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["A wallet or trading platform with existing users"]</span></p>
                <div class="text-center my-3">
                    <a asp-controller="eco" asp-action="index" asp-fragment="ecoboost" class="btn-4 my-3 my-auto">@Localizer["LEARN MORE"]</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-3">
        <div class="card mx-auto" style="max-width: 25rem;">
            <div class="card-img-top">
                <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/ecoboost.svg")" />
                <h4><strong>ECOFUND</strong></h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <strong class="card-title">@Localizer["Suitable for the following:"]</strong>
                </div>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["An established blockchain-based business with substantial ties to the Neo ecosystem"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["A project operating with a viable revenue model"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Teams looking for funding in exchange for equity or tokens"]</span></p>
                <div class="text-center my-3">
                    <a asp-controller="eco" asp-action="index" asp-fragment="ecofund" class="btn-4 my-3 my-auto">@Localizer["LEARN MORE"]</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-3">
        <div class="card mx-auto" style="max-width: 25rem;">
            <div class="card-img-top">
                <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/earlyadoption.svg")" />
                <h4><strong>EARLY ADOPTION PROGRAM</strong></h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <strong class="card-title">@Localizer["Suitable for the following:"]</strong>
                </div>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Projects looking to migrate to Neo N3"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Teams looking to deploy first-to-market dApps on Neo N3"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Developers looking to create early POCs that test Neo N3 capabilities"]</span></p>
                <div class="text-center my-3">
                    <a asp-controller="eco" asp-action="index" asp-fragment="earlyadoption" class="btn-4 my-3 my-auto">@Localizer["LEARN MORE"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="menu-page-tertiary-title">
        <img class="menu-page-title-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/2.svg", true)" />
        @Localizer["Infrastructure, tooling and core protocol"]
    </div>

    <div class="row py-4" style="background-image: url(@Helper.ToCDN("/images/eco/overview-bg.svg")); background-size: cover; background-position: center;">
        <div class="col-lg-6 my-3">
            <div class="card mx-auto" style="max-width: 25rem;">
                <div class="card-img-top">
                    <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/grants1.svg")" />
                    <h4><strong>GENERAL GRANTS</strong></h4>
                </div>
                <div class="card-body" style="height: 550px">
                    <div class="text-center">
                        <strong class="card-title">@Localizer["Suitable for the following:"]</strong>
                    </div>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["An experienced development team with advanced blockchain knowledge"]</span></p>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Interested in building tools and infrustructure to advance the Neo ecosystem"]</span></p>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Able to provide long-term support to your project "]</span></p>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Looking for funding to help us achieve our goals"]</span></p>
                    <div class="text-center my-3">
                        <a asp-controller="eco" asp-action="index" asp-fragment="ecoboost" class="btn-4 my-3 my-auto">@Localizer["LEARN MORE"]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-3">
            <div class="card mx-auto" style="max-width: 25rem;">
                <div class="card-img-top">
                    <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/grants2.svg")" />
                    <h4><strong>CORE DEV GRANTS</strong></h4>
                </div>
                <div class="card-body" style="height: 550px">
                    <div class="text-center">
                        <strong class="card-title">@Localizer["Suitable for the following:"]</strong>
                    </div>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Experts in blockchain architecture, distributed systems, applied cryptography, network and storage, or blockchain and internet security."]</span></p>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Developers well versed in open-source development."]</span></p>
                    <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Those interested in advancing Neo's core protocol."]</span></p>
                    <div class="text-center my-3">
                        <a asp-controller="eco" asp-action="index" asp-fragment="ecofund" class="btn-4 my-3 my-auto">@Localizer["LEARN MORE"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="menu-page-tertiary-title">
    <img class="menu-page-title-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/2.svg", true)" />
    @Localizer["Existing dApps or blockchain - related business"]
</div>

<div class="row py-4" style="background-image: url(@Helper.ToCDN("/images/eco/overview-bg.svg")); background-size: cover; background-position: center;">
    <div class="col-lg-6 my-3">
        <div class="card mx-auto" style="max-width: 25rem;">
            <div class="card-img-top">
                <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/grants3.svg")" />
                <h4><strong>RESEARCH GRANTS</strong></h4>
            </div>
            <div class="card-body" style="height: 450px">
                <div class="text-center">
                    <strong class="card-title">@Localizer["Suitable for the following:"]</strong>
                </div>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Academic institutions or research institutes"]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Individuals or groups with expert knowledge in specialized fields such as applied cryptography, P2P systems, engineering, economics, governance, etc."]</span></p>
                <p class="card-text"><img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/check.svg")" /><span>@Localizer["Those looking to advance Neo through applied research"]</span></p>
                <div class="text-center my-3">
                    <a asp-controller="eco" asp-action="index" asp-fragment="ecoboost" class="btn-4 my-3 my-auto">@Localizer["LEARN MORE"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu-page-divider"></div>
<div class="menu-page-secondary-title">
    @Localizer["Projects and organizations we have supported"]
</div>
<div class="menu-page-description">
    @Localizer["Neo is committed to helping quality projects succeed. Take a look at some of the recent groups and organizations we have supported - We’d love to add you to the list!"]
</div>
<div class="menu-page-tertiary-title">
    @Localizer["take a look at the latest projects"]
</div>
<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i>
    <i class="projects-controller-right iconfont">&#xe61b;</i>
    <div class="projects-content">
        <div class="project">
            <a href="https://switcheo.network/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Switcheo.png", true)" />
            </a>
            <div class="project-name">Switcheo</div>
        </div>
        <div class="project">
            <a href="https://o3.network/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/O3.png", true)" />
            </a>
            <div class="project-name">O3</div>
        </div>
        <div class="project">
            <a href="https://www.liquefy.com/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Liquefy.png", true)" />
            </a>
            <div class="project-name">Liquefy</div>
        </div>
        <div class="project">
            <a href="https://neoline.io/en/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/NeoLine.png", true)" />
            </a>
            <div class="project-name">NeoLine</div>
        </div>
        <div class="project">
            <a href="https://bittrex.com">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Bittrex.png", true)" />
            </a>
            <div class="project-name">Bittrex</div>
        </div>
        <div class="project">
            <a href="https://www.digifinex.com/en-ww/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/DigiFinex.png", true)" />
            </a>
            <div class="project-name">DigiFinex</div>
        </div>
        <div class="project">
            <a href="https://www.bibox.com/en">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Bibox.png", true)" />
            </a>
            <div class="project-name">Bibox</div>
        </div>
        <div class="project">
            <a href="https://www.bitmart.com/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/BitMart.png", true)" />
            </a>
            <div class="project-name">BitMart</div>
        </div>
        <div class="project">
            <a href="https://arkane.network">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Arkane Network.png", true)" />
            </a>
            <div class="project-name">Arkane Network</div>
        </div>
        <div class="project">
            <a href="https://cobo.com/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Cobo.png", true)" />
            </a>
            <div class="project-name">Cobo</div>
        </div>
        <div class="project">
            <a href="https://trustwallet.com">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Trust wallet.svg", true)" />
            </a>
            <div class="project-name">Trust Wallet</div>
        </div>
        <div class="project">
            <a href="https://www.dapp.com">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/dapp dot com.png", true)" />
            </a>
            <div class="project-name">dapp.com</div>
        </div>
        <div class="project">
            <a href="https://www.stateofthedapps.com">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/State of the Dapps.svg", true)" />
            </a>
            <div class="project-name">State of the Dapps</div>
        </div>
        <div class="project">
            <a href="https://certik.org">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Certik.png", true)" />
            </a>
            <div class="project-name">Certik</div>
        </div>
    </div>
</div>
