<h2 class="menu-page-title">Overview</h2>

<div class="overview-introduction clearfix">
    <img class="overview-introduction-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <div class="overview-introduction-title">
        Our Nature is Nuture
    </div>
    <div class="overview-introduction-description">
        At magnum periculum adiit in oculis quidem faciunt, ut summo bono, dolorem aspernari ut aut ad naturam aut rerum hic tenetur a se esse ratione intellegi posse et dolorem ipsum, quia voluptas sit, voluptatem et accusamus et quas molestias.<br /><br />
        Omne animal, simul atque corrupti, quos tu paulo ante cum memoriter, tum etiam erga nos causae confidere, sed quia dolor sit, amet, consectetur, adipisci velit, sed uti oratione perpetua malo quam interrogare aut quid malum, sensu iudicari, sed ut.
    </div>
</div>

<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    <img class="menu-page-secondary-title-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <span class="menu-page-secondary-title-text">
        Find the support that is right for you
    </span>
</div>

<div class="menu-page-tertiary-title">
    Existing dApps or blockchain-related business
</div>

<div class="supports">
    <div class="support">
        <div class="support-i-am">I am</div>
        <div class="support-start">
            <div class="predicatives">
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">A small team with many seed users</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">A medium sized business</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">A wallet or trading platform with existing users</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">An institution or education platform</span>
                </div>
            </div>
        </div>
        <div class="support-end">
            <img class="support-end-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="support-end-text">Get all the support and guidence you need with EcoBoost</div>
            <a class="support-end-btn btn-4 btn-small">EcoBoost</a>
        </div>
    </div>

    <div class="support">
        <div class="support-i-am">I am</div>
        <div class="support-start">
            <div class="predicatives">
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">An established blockchain-based business with substantial ties to the Neo ecosystem</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Operating with a viable revenue model</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Looking for funding in exchange for equity or tokens</span>
                </div>
            </div>
        </div>
        <div class="support-end">
            <img class="support-end-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="support-end-text">Get all the funding aid you need with EcoFund</div>
            <a class="support-end-btn btn-4 btn-small">EcoFund</a>
        </div>
    </div>
</div>


<div class="menu-page-tertiary-title">
    other businesses
</div>

<div class="supports">
    <div class="support">
        <div class="support-i-am">I am</div>
        <div class="support-start">
            <div class="predicatives-prefix">…interested in</div>
            <div class="predicatives">
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Getting my dApp idea or project off the ground</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Infrastructure and tools development</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Neo core-protocol development</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Participating in research intiatives</span>
                </div>
                <div class="predicative">
                    <img class="predicative-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <span class="predicative-text">Contributing to the security of the Neo project</span>
                </div>
            </div>
        </div>
        <div class="support-end">
            <img class="support-end-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="support-end-text">We have a range of new grant programs and initiatives launching very shorly. Check back soon!</div>
            <a class="support-end-btn btn-4 btn-small disabled">Coming soon</a>
        </div>
    </div>
</div>

<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    <img class="menu-page-secondary-title-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
    <span class="menu-page-secondary-title-text">
        Projects and organisations we have supported
    </span>
</div>

<div class="menu-page-description">
    At magnum periculum adiit in oculis quidem faciunt, ut summo bono, dolorem aspernari ut aut ad naturam aut rerum hic tenetur a se esse ratione intellegi posse et dolorem ipsum, quia voluptas sit, voluptatem et accusamus et quas molestias.
</div>

<div class="menu-page-tertiary-title">
    take a look at the latest projects
</div>

<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i> 
    <i class="projects-controller-right iconfont">&#xe61b;</i> 
    <div class="projects-content">
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name1</div>
            <div class="project-description">Description</div>
        </div>
        <div class="project">
            <img class="project-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
            <div class="project-name">Project name2</div>
            <div class="project-description">Description</div>
        </div>
    </div>

</div>
