@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{ ViewData["Title"] = Localizer["Eco Support"].Value; }

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/eco.min.css", true)" />
}

<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-title">@Localizer["<em>Eco</em><br/>Support"]</h1>
        <div class="introduction-description">@Localizer["Whether you are a hobbyist developer, a fledgling start-up, or an established business, we have a range of initiatives to help you bring your vision to life on the Neo blockchain."]</div>
    </div>
    <img class="introduction-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/introduction-bg.svg", true)" />
</div>

<div class="divider"></div>

<div class="resources">
    <div class="resources-start">
        <div class="menu">
            <a class="menu-item active" asp-controller="eco" asp-action="index" asp-fragment="overview">
                @Localizer["Overview"]
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item" asp-controller="eco" asp-action="index" asp-fragment="ecoboost">
                @Localizer["EcoBoost Program"]
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item" asp-controller="eco" asp-action="index" asp-fragment="ecofund">
                @Localizer["EcoFund Program"]
                <i class="iconfont">&#xe6ab;</i>
            </a>
            @*<a class="menu-item" asp-controller="eco" asp-action="index" asp-fragment="general-grants">
                @Localizer["General Grants"]
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item" asp-controller="eco" asp-action="index" asp-fragment="core-developer-grants">
                @Localizer["Core Developer Grants"]
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item" asp-controller="eco" asp-action="index" asp-fragment="research-grants
               ">
                @Localizer["Research Grants"]
                <i class="iconfont">&#xe6ab;</i>
            </a>*@
            <a class="menu-item" asp-controller="eco" asp-action="index" asp-fragment="earlyadoption">
                @Localizer["Early Adoption Program"]
                <i class="iconfont">&#xe6ab;</i>
            </a>
        </div>
        <select class="select-menu-page form-control">
            <option selected="selected">@Localizer["Overview"]</option>
            <option>@Localizer["EcoBoost Program"]</option>
            <option>@Localizer["EcoFund Program"]</option>
            @*<option>@Localizer["General Grants"]</option>
            <option>@Localizer["Core Developer Grants"]</option>
            <option>@Localizer["Research Grants"]</option>*@
            <option>@Localizer["Early Adoption Program"]</option>
        </select>
    </div>

    <div class="resources-end">
        <div class="menu-page active">
            @{await Html.RenderPartialAsync("_OverviewPartial");}
        </div>
        <div class="menu-page">
            <partial name="./_EcoBoostPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_EcoFundPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_GeneralGrantsPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_CoreDeveloperGrantsPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_ResearchGrantsPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_EarlyAdoptionPartial" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Helper.ToCDN("/js/visibilityChanged.js")"></script>
    <script>
        // index
        $(document).ready(() => {
            function updateMenu(i) {
                $('.menu-item').each((j, menuItem) => {
                    if (i === j) {
                        $(menuItem).addClass('active');
                    } else {
                        $(menuItem).removeClass('active');
                    }
                });
                $('.menu-page').each((j, menuPage) => {
                    if (i === j) {
                        $(menuPage).addClass('active');
                    } else {
                        $(menuPage).removeClass('active');
                    }
                });
                $('.select-menu-page').prop('selectedIndex', i);

                $(window).trigger('scroll');
            }

            function updateMenuWithHash() {
                const hash = location.hash.slice(1);
                if (hash === 'overview') {
                    updateMenu(0);
                } else if (hash === 'ecoboost'){
                    updateMenu(1);
                } else if (hash === 'ecofund'){
                    updateMenu(2);
                } else if (hash === 'general-grants') {
                    updateMenu(3);
                } else if (hash === 'core-developer-grants') {
                    updateMenu(4);
                } else if (hash === 'research-grants') {
                    updateMenu(5);
                } else if (hash === 'earlyadoption') {
                    updateMenu(6);
                }
            }

            $('.select-menu-page').change(e => {
                const index = e.target.selectedIndex;
                if (index === 0) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "overview")';
                } else if (index === 1) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "ecoboost")';
                } else if (index === 2) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "ecofund")';
                } else if (index === 3) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "general-grants")';
                } else if (index === 4) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "core-developer-grants")';
                } else if (index === 5) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "research-grants")';
                } else if (index === 6) {
                    location.href = '@Url.Action("index", "eco", null, null, null, "earlyadoption")';
                }
            });

            $(window).on('hashchange', updateMenuWithHash);

            updateMenuWithHash();
        });

        $(document).ready(() => {
            $('.support-end-btn').click(() => {
                $(window).scrollTop($('.resources').offset().top);
            });
        });

        $(document).ready(() => {
            const scrollDistance = 400;
            $('.projects').each((i, ele) => {
                $(ele).find('.projects-controller-left').click(function (e) {
                    if ($(this).hasClass('disabled')) {
                        e.preventDefault();
                        return;
                    }

                    $(ele).find('.projects-content').stop().animate({
                        scrollLeft: '-=' + scrollDistance,
                    }, 1000);
                });

                $(ele).find('.projects-controller-right').click(function (e) {
                    if ($(this).hasClass('disabled')) {
                        e.preventDefault();
                        return;
                    }
                    $(ele).find('.projects-content').stop().animate({
                        scrollLeft: '+=' + scrollDistance,
                    }, 1000);
                });

                function updateControllerState() {
                    const scroller = $(ele).find('.projects-content');

                    const scrollable = scroller.prop('scrollWidth') !== scroller.prop('clientWidth')
                    $(ele).find('.projects-controller-left').toggleClass('hidden', !scrollable);
                    $(ele).find('.projects-controller-right').toggleClass('hidden', !scrollable);

                    const leftmost = scroller.prop('scrollLeft') <= 0;
                    $(ele).find('.projects-controller-left').toggleClass('disabled', leftmost);

                    const rightmost = scroller.prop('scrollLeft') >= scroller.prop('scrollWidth') - scroller.prop('clientWidth');
                    $(ele).find('.projects-controller-right').toggleClass('disabled', rightmost);

                    $(window).trigger('scroll');
                }

                throttleUpdateCurrentPage = $.throttle(updateControllerState, 200, undefined, undefined, true);

                $(ele).find('.projects-content').scroll(throttleUpdateCurrentPage);

                $(ele).find('.projects-content').visibilityChanged({ callback: throttleUpdateCurrentPage });

                $(window).resize(throttleUpdateCurrentPage);

                throttleUpdateCurrentPage();

            });
        });

        function updateTabs(i) {
            $('.tab').each((j, tab) => {
                if (i === j) {
                    $(tab).addClass('active');
                } else {
                    $(tab).removeClass('active');
                }
            });
            $('.tab-page').each((j, tabPage) => {
                if (i === j) {
                    $(tabPage).addClass('active');
                } else {
                    $(tabPage).removeClass('active');
                }
            });
            $('.select-tab-page').prop('selectedIndex', i);
            $(window).trigger('scroll');
        }

        $('.tab').each((i, tab) => {
            $(tab).click(() => {
                updateTabs(i);
            });
        });

        $('.select-tab-page').change(e => {
            updateTabs(e.target.selectedIndex);
        });
    </script>
}
