@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Eco";
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/eco.min.css", true)" />
}

<div class="banner">
    <div class="container module p1 pt0">
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/Ecosystem.svg")" />
        <div class="module-text">
            <h1>@Localizer["Neo<br />Ecosystem"]</h1>
            <p class="mt5">@Localizer["With thriving partners and projects, the Neo ecosystem is rapidly growing and developing, thus enabling Neo to become the foundation for next-gen Internet."]</p>
        </div>
    </div>
</div>

<div class="module1 bg1">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>@Localizer["Join EcoBoost program and power up for success"]</h2>
                <p class="mt5">@Localizer["Neo is investing USD $100 million through its  EcoBoost program to accelerate the realization of large-scale commercial blockchain solutions by empowering developers and projects in the ecosystem."]</p>
                <p class="mt4"><a class="btn1" asp-controller="ecoboost" asp-action="index">@Localizer["Learn more"]</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container eco">
    <div class="module1 left">
        <h3 class="module-text">@Localizer["Global Neo<br />Community"]</h3>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/NeoCommunity.svg")" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">@Localizer["20<span>cities</span>"]</span>
                <span class="tag">@Localizer["7<span>countries</span>"]</span>
            </p>
            <p>@Localizer["Neo has more than 10 developer communities globally to support Neo infrastructure building and lower the entry barrier for Neo development.<br />Neo is a key market influencer with more than 500,000 followers over international social media channels."]</p>
            <p><a class="btn" asp-controller="dev" asp-action="index" asp-fragment="involved">@Localizer["Learn more"]</a></p>
        </div>
    </div>

    <div class="module1">
        <h3 class="module-text">@Localizer["dApp Platform"]</h3>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/dAppPlatform.svg")" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">100 +<span>dapps</span></span>
            </p>
            <p>@Localizer["The blockchain of choice for developers, Neo's powerful infrastructure is powering over 100 dApps enabling real use cases for digital assets."]</p>
            <p><a class="btn" href="https://ndapp.org" target="_blank">@Localizer["Learn more"]</a></p>
        </div>
    </div>
    <div class="module1 left">
        <h3 class="module-text">@Localizer["Wallet"]</h3>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/ClientInfrastructure.svg")" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">@Localizer["30 +<span>Wallets support</span>"]</span>
            </p>
            <p>@Localizer["Experience the smart economy of the future today! Download your wallet of choice for any device and any OS, and get started transfering and transacting with NEO assets!"]</p>
            <p><a class="btn" asp-controller="wallets" asp-action="index">@Localizer["Get wallet"]</a></p>
        </div>
    </div>
    <div class="module1">
        <h3 class="module-text">@Localizer["Developer Tool"]</h3>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/DevTools.svg")" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">C#  Python  Java  JavaScript  Go</span>
            </p>
            <p>@Localizer["Have a cool idea in mind? Neo is dedicated to bringing your ideas to life by offering the most comprehensive and developer-friendly toolkit, from smart contract development to dApp integration. Start building with Neo today!"]</p>
            <p><a class="btn" asp-controller="dev">@Localizer["Get started"]</a></p>
        </div>
    </div>
    <div class="module1 left">
        <h3 class="module-text">@Localizer["Neo Protocol"]</h3>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/NeoProtocol.svg")" />
        <div class="module-text">
            <p>@Localizer["The Neo MainNet has been steadily evolving across the 3 years since the launch in 2016. With the release of Neo3 rapidly approaching, Neo is ramping up for a series of major updates on the protocol layer to deliver a most stable, high-performance, and developer-optimized infrastructure to serve as the foundation of next-gen Internet."]</p>
            <p><a class="btn" href="https://github.com/neo-project" target="_blank">GitHub</a></p>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        showEco();
        function showEco(str) {
            $("body").trigger("scroll");
            if (str) {
                var e = window.event || arguments.callee.caller.arguments[0];
                $(e.target).addClass("selected").siblings().removeClass("selected");
            }
            str = str ? str : "Liquidity";
            $('.eco-logo li').not('.' + str).hide();
            $('.' + str).show();
        }
        function showDialog() {
            $(".modal-body").html($("#ecoFormDiv").html());
            $('#EcoReg').modal('show');
        }
    </script>
}