@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="menu-page-title">@Localizer["Example & Tutorials"]</div>

<div class="menu-page-description">
    <strong>@Localizer["Whether you want to learn Neo blockchain fundamentals or explore advanced topics, we have examples and tutorials to get you coding. Check back regularly to find new content authored by our global developer community."]</strong>
</div>

<div class="examples-filter">
    <span class="examples-filter-label">@Localizer["Filter by language"]</span>
    <select class="select-language form-control">
        <option value="all" selected="selected">@Localizer["All"]</option>
        <option value="python">Python</option>
        <option value="c#">C#</option>
        <option value="go">Golang</option>
        <option value="java">Java</option>
        <option value="javascript">JavaScript</option>
        <option value="typescript">TypeScript</option>
    </select>
</div>

<div class="examples">
    <a class="example" data-type="example" data-language="python" data-version="neo3" target="_blank" href="https://github.com/CityOfZion/neo3-boa/blob/development/boa3_test/examples/hello_world.py">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["\"Hello World\" Python smart contract"]</div>
                    <div class="example-author">COZ</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example \"Hello World\" smart contract written in Python."]
            </div>
            <div class="example-languages">
                <div class="example-language">Python</div>
            </div>
        </div>
    </a>
    <a class="example" data-type="example" data-language="python" data-version="neo3" target="_blank" href="https://github.com/CityOfZion/neo3-boa/blob/development/boa3_test/examples/nep17.py">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["NEP-17 Python smart contract"]</div>
                    <div class="example-author">COZ</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example NEP-17 token smart contract written in Python."]
            </div>
            <div class="example-languages">
                <div class="example-language">Python</div>
            </div>
        </div>
    </a>
    <a class="example" data-type="example" data-language="python" data-version="neo3" target="_blank" href="https://github.com/CityOfZion/neo3-boa/blob/development/boa3_test/examples/ico.py">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Token sale Python smart contract"]</div>
                    <div class="example-author">COZ</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example token sale smart contract written in Python."]
            </div>
            <div class="example-languages">
                <div class="example-language">Python</div>
            </div>
        </div>
    </a>
    <a class="example" data-type="example" data-language="python" data-version="neo3" target="_blank" href="https://github.com/CityOfZion/neo3-boa/blob/development/boa3_test/examples/wrapped_neo.py">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Wrapped NEO Python smart contract"]</div>
                    <div class="example-author">COZ</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example wrapped NEO smart contract written in Python."]
            </div>
            <div class="example-languages">
                <div class="example-language">Python</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="example" data-language="c#" data-version="neo2" target="_blank" href="https://github.com/Moonlight-io/moonlight-ico-contract">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Token sale C# smart contract"]</div>
                    <div class="example-author">Moonlight</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example token sale smart contract written in C#. Features all NEP-5 methods, purchase of tokens with both NEO and GAS, contract migration, multi-stage vesting, and more."]
            </div>
            <div class="example-languages">
                <div class="example-language">C#</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="example" data-language="c#" data-version="neo3" target="_blank" href="https://github.com/neo-project/examples/blob/master/csharp/Oracle/OracleDemo.cs">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Using Oracle in Smart Contract"]</div>
                    <div class="example-author">Neo Core</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["A smart contract example for querying data using Neo's built-in Oracle."]
            </div>
            <div class="example-languages">
                <div class="example-language">C#</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="example" data-language="c#" data-version="neo3" target="_blank" href="https://github.com/neo-project/examples/tree/master/csharp/NEP17">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["NEP-17 Smart Contract  - C#"]</div>
                    <div class="example-author">Neo Core</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example NEP-17 token smart contract written in C#."]
            </div>
            <div class="example-languages">
                <div class="example-language">C#</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="example" data-language="go" data-version="neo3" target="_blank" href="https://github.com/nspcc-dev/neo-go/tree/master/examples/token">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["NEP-17 Smart Contract  - Go"]</div>
                    <div class="example-author">Neo SPCC</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example NEP-17 token smart contract written in GO."]
            </div>
            <div class="example-languages">
                <div class="example-language">Golang</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="example" data-language="java" data-version="neo3" target="_blank" href="https://github.com/neow3j/neow3j-examples-java/blob/master/src/main/java/io/neow3j/examples/contractdevelopment/contracts/FungibleToken.java">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/example.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Example"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["NEP-17 Smart Contract - Java"]</div>
                    <div class="example-author">Axlabs</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Example"]</div>
            </div>
            <div class="example-description">
                @Localizer["An example NEP-17 token smart contract written in Java"]
            </div>
            <div class="example-languages">
                <div class="example-language">Java</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="tutorial" data-language="c#" data-version="neo3" target="_blank" href="https://docs.neo.org/docs/n3/node/cli/cli.html">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/tutorial.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Tutorial"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Getting familiar with Neo-CLI commands"]</div>
                    <div class="example-author">The Neo Project</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Tutorial"]</div>
            </div>
            <div class="example-description">
                @Localizer["An introduction to commands in the command line node, including how to create a wallet, import and export private keys, transfer assets, start consensus, and more."]
            </div>
            <div class="example-languages">
                <div class="example-language">C#</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="tutorial" data-language="c#" data-version="neo3" target="_blank" href="https://docs.neo.org/docs/n3/develop/write/nep17.html">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/tutorial.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Tutorial"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Learn how to write a NEP-17 contract"]</div>
                    <div class="example-author">The Neo Project</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Tutorial"]</div>
            </div>
            <div class="example-description">
                @Localizer["An introduction to the NEP-17 token standard, which provides systems with a generalized interaction mechanism for tokenized smart contracts."]
            </div>
            <div class="example-languages">
                <div class="example-language">C#</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="tutorial" data-language="c#" data-version="neo3" target="_blank" href="https://docs.neo.org/docs/n3/Advances/Oracles.html">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/tutorial.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Tutorial"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["The basics of Neo’s native Oracle"]</div>
                    <div class="example-author">The Neo Project</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Tutorial"]</div>
            </div>
            <div class="example-description">
                @Localizer["Oracle solutions enable blockchains to obtain external data from outside networks. Learn how to get started with Neo’s built-in Oracle service."]
            </div>
            <div class="example-languages">
                <div class="example-language">C#</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="tutorial" data-language="javascript typescript" data-version="neo2" target="_blank" href="https://neo-one.io/tutorial">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/tutorial.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Tutorial"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Introduction to NEO·ONE"]</div>
                    <div class="example-author">NEO Tracker</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Tutorial"]</div>
            </div>
            <div class="example-description">
                @Localizer["Learn how to set up the NEO·ONE JavaScript framework, create a token, and integrate NEO·ONE into a dApp."]
            </div>
            <div class="example-languages">
                <div class="example-language">JavaScript</div>
                <div class="example-language">TypeScript</div>
            </div>
        </div>
    </a>
    <a class="example hidden" data-type="tutorial" data-language="go" data-version="neo2" target="_blank" href="https://github.com/nspcc-dev/neo-go-sc-wrkshp/tree/master-2.x">
        <div class="example-start">
            <div class="example-img-wrapper">
                <img class="example-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/dev/tutorial.png", true)" />
            </div>
            <div class="example-left-type">@Localizer["Tutorial"]</div>
        </div>
        <div class="example-end">
            <div class="example-header">
                <div class="example-header-middle">
                    <div class="example-title">@Localizer["Smart contract development with Neo-GO"]</div>
                    <div class="example-author">Neo SPCC</div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="example-type">@Localizer["Tutorial"]</div>
            </div>
            <div class="example-description">
                @Localizer["Learn how to set up a private network using Neo-GO, make RPC calls, and deploy a smart contract."]
            </div>
            <div class="example-languages">
                <div class="example-language">Golang</div>
            </div>
        </div>
    </a>

</div>

<a class="load-more-examples btn-1">@Localizer["Load More"]</a>

