@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer"].Value;
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/dev.min.css", true)" />
    @RenderSection("Styles", required: false)
}
<div class="header-end form-inline">
    <span class="platform-label">Platform</span>
    <select class="select-platform form-control">
        <option value="neo2" selected="selected">Neo Legacy</option>
        <option value="neo3">N3</option>
    </select>
</div>
<div class="introduction">
    <div class="introduction-start">
        <div class="introduction-title"><em>Neo</em><br />is getting<br />an upgrade</div>
        <div class="introduction-content">After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date.</div>
        <a class="learn-more btn" target="_blank" href="https://github.com/neo-project">Learn More</a>
    </div>
    <img class="introduction-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
</div>

<div class="divider"></div>

<div class="resources">
    <div class="resources-start">
        <div class="menu">
            <a class="menu-item @(ViewBag.MenuIndex == 0 ? "active" : "")" asp-controller="dev" asp-action="index">
                Overview
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item @(ViewBag.MenuIndex == 1 ? "active" : "")" asp-controller="dev" asp-action="tooling">
                Tooling
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item @(ViewBag.MenuIndex == 2 ? "active" : "")" asp-controller="dev" asp-action="tutorials">
                Example & Tutorials
                <i class="iconfont">&#xe6ab;</i>
            </a>
        </div>
        <div class="resources-start-divider"></div>
        <div class="links">
            <a class="link" target="_blank" href="https://github.com/neo-project">
                GitHub
                <i class="iconfont">&#xe681;</i>
            </a>
            <a class="link" target="_blank" href="https://github.com/neo-project">
                Documentation
                <i class="iconfont">&#xe681;</i>
            </a>
        </div>
        <select class="select-menu-page form-control">
            <option selected="@(ViewBag.MenuIndex == 0)">Overview</option>
            <option selected="@(ViewBag.MenuIndex == 1)">Tooling</option>
            <option selected="@(ViewBag.MenuIndex == 2)">Example & Tutorials</option>
        </select>
    </div>

    <div class="resources-end">
        @RenderBody()

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('.select-menu-page').change(e => {
                const index = e.target.selectedIndex;
                if (index === 0) {
                    location.href = "@Url.Action("index", "dev")";
                } else if (index === 1) {
                    location.href = "@Url.Action("tooling", "dev")";
                } else if (index === 2) {
                    location.href = "@Url.Action("tutorials", "dev")";
                }
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
}
