<h2 class="menu-page-title">Overview</h2>
<div class="menu-page-description">
    After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date.
</div>
<div class="overview-links">
    <a class="overview-link" target="_blank" href="https://github.com/neo-project">GitHub</a>
    <a class="overview-link" target="_blank" href="https://github.com/neo-project">Documentation</a>
</div>

<div class="documentations">
    <div class="documentation">
        <div class="documentation-bookmark"></div>
        <div class="documentation-title">Documentation</div>
        <div class="flex-grow-1"></div>
        <img class="documentation-img" data-original="@Helper.ToCDN("/images/dev/documentation.png", true)" />
    </div>
    <div class="documentation">
        <div class="documentation-bookmark"></div>
        <div class="documentation-title">Documentation</div>
        <div class="flex-grow-1"></div>
        <img class="documentation-img" data-original="@Helper.ToCDN("/images/dev/documentation.png", true)" />
    </div>
    <div class="documentation">
        <div class="documentation-bookmark"></div>
        <div class="documentation-title">Documentation</div>
        <div class="flex-grow-1"></div>
        <img class="documentation-img" data-original="@Helper.ToCDN("/images/dev/documentation.png", true)" />
    </div>
</div>

<div class="menu-page-divider"></div>
<div class="menu-page-secondary-title">Featured Tutorials</div>
<div class="overview-examples">
    <div class="overview-example">
        <img class="overview-example-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
        <div class="overview-example-end">
            <div class="overview-example-title">Getting started with NeoFS: The basics.</div>
            <div class="overview-example-author">Neo SPCC</div>
            <div class="overview-example-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in at urna. </div>
        </div>
    </div>
    <div class="overview-example">
        <img class="overview-example-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
        <div class="overview-example-end">
            <div class="overview-example-title">Getting started with NeoFS: The basics.</div>
            <div class="overview-example-author">Neo SPCC</div>
            <div class="overview-example-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in at urna. </div>
        </div>
    </div>
    <div class="overview-example">
        <img class="overview-example-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
        <div class="overview-example-end">
            <div class="overview-example-title">Getting started with NeoFS: The basics.</div>
            <div class="overview-example-author">Neo SPCC</div>
            <div class="overview-example-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in at urna. </div>
        </div>
    </div>
</div>
<a class="view-all-examples btn-2" asp-controller="dev" asp-action="index" asp-fragment="tooling">View All Tutorials</a>

<div class="menu-page-divider"></div>
<div class="menu-page-secondary-title">Resource Overview</div>
<div class="menu-page-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in
    at urna. t migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date.
</div>
<img class="resource-overview-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
<a class="view-all-tools btn-2" asp-controller="dev" asp-action="index" asp-fragment="examples">View All Tools</a>
