@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer"].Value;
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/dev.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/dev.min.css", true)" />
    </environment>
}

<div class="dev-content text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="m1 dev-head dev-dis">@Localizer["Developer Portal"]</h2>
                <p class="m2 t4 dev-dis w500">
                    @Localizer["In this portal, you'll find all of tools, SDKs and other resources for developers who want to build on NEO. Besides, you can get in touch with developer communities on NEO."]
                </p>
                <div class="btn-content dev-dis">
                    <a class="dev-btn" href="https://github.com/neo-project">NEO GitHub</a>
                    <a class="dev-btn" href="https://docs.neo.org/">@Localizer["NEO Docs"]</a>
                </div>
            </div>
            <div class="dis-m-none col-md-4">
                <img src="@Helper.ToCDN("/images/dev-banner.svg")" />
            </div>
        </div>
    </div>
</div>
<div class="dev-content bg-white text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>@Localizer["NEO Links"]</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="https://github.com/neo-project" title="NEO GitHub">NEO GitHub</a></li>
                    <li><a href="https://docs.neo.org/" title="NEO Docs">@Localizer["NEO Docs"]</a></li>
                    <li><a href="/dev/bounty" title="Security Bounty">@Localizer["Security Bounty"]</a></li>
</ul>
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>@Localizer["Apply for TestNet NEO & GAS"]</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="/testcoin/apply" title="Manual Entry">@Localizer["Manual Entry"]</a></li>
                    <li><a href="http://neowish.ngd.network/" title="Automatic Entry">@Localizer["Automatic Entry"]</a></li>
</ul>
            </div>
            <div class="col-md-6">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>@Localizer["Smart Contract Languages"]</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="https://github.com/neo-project/neo-devpack-dotnet" title="neo-devpack-dotnet">neo-devpack-dotnet</a><span>C# dev-pack</span></li>
                    <li><a href="https://github.com/neo-project/neo-compiler" title="neon">neon</a><span>C# compiler</span></li>
                    <li><a href="https://github.com/CityOfZion/neo-boa" title="neo-boa">neo-boa</a><span>Python dev-pack & compiler</span></li>
                    <li><a href="https://github.com/neo-project/neo-compiler" title="neoj">neoj</a><span>Java compiler</span></li>
                    <li><a href="https://github.com/CityOfZion/neo-storm" title="neo-storm">neo-storm</a><span>Go compiler</span></li>
                    <li><a href="https://neo-one.io" title="NEO-ONE">NEO-ONE</a><span>TypeScript compiler & SDK</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>@Localizer["Tools"]</h3>
                <ul class="dev-link dev-dis link-tools">
                    <li>
                        <ul>
                            <li>@Localizer["Explorer"]</li>
                            <li class="m5"><a href="https://neoscan.io/" title="neo-scan">neo-scan</a></li>
                            <li><a href="https://neotracker.io" title="neo-tracker">neo-tracker</a></li>
                            <li><a href="https://explorer.o3.network" title="O3 explorer">O3 explorer</a></li>
                            <li><a href="https://scan.nel.group" title="NEL explorer">NEL explorer</a></li>
                            <li><a href="https://blolys.com" title="Blolys">Blolys</a></li>
                            <li><a href="http://state.otcgo.cn" title="otcgo">otcgo</a></li>
                            <li><a href="https://cbc.ilink.network/neo-blockchain-explorer" title="iLINK explorer">iLINK explorer</a></li>
                            <li><a href="https://neo.tokenview.com/" title="Tokenview explorer">Tokenview explorer</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>SDK</li>
                            <li class="m5"><a href="https://github.com/neo-project/neo" title="neo">neo</a><span>C#</span></li>
                            <li><a href="https://github.com/CityOfZion/neo-python" title="neo-python">neo-python</a><span>python</span></li>
                            <li><a href="https://github.com/CityOfZion/neon-js" title="neon-js">neon-js</a><span>javaScript</span></li>
                            <li><a href="https://github.com/CityOfZion/neo-go" title="neo-go">neo-go</a><span>go</span></li>
                            <li><a href="https://github.com/neow3j/neow3j" title="neow3j">neow3j</a><span>java</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>@Localizer["Wallet"]</li>
                            <li class="m5"><a href="https://o3.network/" title="O3">O3</a></li>
                            <li><a href="https://neoline.cn/" title="NEOLine">NEOLine</a></li>
                            <li><a href="https://github.com/NewEconoLab/TeemoWallet" title="Teemo">Teemo</a></li>
                            <li><a href="/client">More...</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>IDE</li>
                            <li class="m5"><a href="https://visualstudio.microsoft.com" title="Visual Studio">Visual Studio</a></li>
                            <li><a href="https://neocompiler.io/" title="NeVoCompiler Eco">NeVoCompiler Eco</a></li>
                            <li><a href="https://neoray.nel.group" title="NEORAY">NEORAY</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>@Localizer["Private Net"]</li>
                            <li class="m5"><a href="https://github.com/CityOfZion/neo-local" title="neo-local">neo-local</a></li>
                            <li><a href="https://github.com/neo-ngd/NEO-Private-Net" title="NEO-Private-Net">NEO-Private-Net</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>@Localizer["Monitor"]</li>
                            <li class="m5"><a href="https://happynodes.f27.ventures" title="happynodes">happynodes</a></li>
                            <li><a href="http://stateofneo.io" title="state of neo">state of neo</a></li>
                            <li><a href="http://monitor.cityofzion.io" title="CoZ monitor">CoZ monitor</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>@Localizer["Components"]</h3>
                <ul class="dev-link dev-dis">
                    <li><span class="green-text">NeoFS</span></li>
                    <li><a href="https://github.com/swisscom-blockchain" title="NeoID">NeoID</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="dev-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="dev-dis text-left">@Localizer["Developer Communities"]</h3>
                <ul class="comm-ul dev-dis m2">
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/coz.png")" /><br /><a href="https://cityofzion.io" target="_blank">City Of Zion</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/red4sec.png")" /><br /><a href="https://red4sec.com/" target="_blank">Red4Sec</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/neo_re.png")" /><br /><a href="https://neoresearch.io" target="_blank">NeoResearch</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/neo_one.png")" /><br /><a href="https://neo-one.io" target="_blank">NEO-ONE</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/nspcc.png")" /><br /><a href="https://nspcc.ru/" target="_blank">NEO SPCC</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/neow3j.png")" /><br /><a href="https://github.com/neow3j" target="_blank">neow3j</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/nel.png")" /><br /><a href="https://nel.group" target="_blank">NewEconoLabs</a></li>
                    <li><img height="30" src="@Helper.ToCDN("/images/dev-commu/next.png")" /><br /><a href="https://neonext.club" target="_blank">NEXT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("#menu_list a").css("border-bottom", "none");
        $("#menu_list li.nav-item [href='/dev']").css("border-bottom", "2px solid #58bf00");
    </script>
}