@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer Portal"].Value;
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/dev.min.css", true)" />
}
<div id="homeFri" class="p1 bg4">
    <div class="container">
        <h1 class="w800">@Localizer["Developer Portal"]</h1>
        <p class="mt3 w500 d-flex justify-content-around">
            <a class="btn" target="_blank" href="https://github.com/neo-project">GitHub</a>
            <a class="btn" target="_blank" href="https://docs.neo.org">Docs</a>
            <a class="btn" asp-controller="discover" asp-action="index" asp-route-keywords="neo3">Neo3</a>
        </p>
    </div>
</div>
<div class="b5 p1">
    <div class="container">
        <h2>@Localizer["What you can develop on Neo"]</h2>
        <div class="row list1 mt5">
            <div class="col-md-3">
                <img data-original="/images/dev/BlockchainInfrastructure.svg" />
                <div>
                    <div class="list-title">@Localizer["Blockchain Infrastructure"]</div>
                    <div>@Localizer["Contribute to the fundamental facilities on the Neo blockchain"]</div>
                </div>
            </div>
            <div class="col-md-3">
                <img data-original="/images/dev/DigitalAsset.svg" />
                <div>
                    <div class="list-title">@Localizer["Digital Asset"]</div>
                    <div>@Localizer["Make assets decentralized, safe, trustworthy, and 3rd party-free"]</div>
                </div>
            </div>
            <div class="col-md-3">
                <img data-original="/images/dev/Defi.svg" />
                <div>
                    <div class="list-title">@Localizer["De-Fi"]</div>
                    <div>@Localizer["Transform old financial products into trustless and transparent protocols"]</div>
                </div>
            </div>
            <div class="col-md-3">
                <img data-original="/images/dev/Game.svg" />
                <div>
                    <div class="list-title">@Localizer["Game"]</div>
                    <div>@Localizer["Formulate new genres of games on this emerging market"]</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p1">
    <div class="container">
        <h2>@Localizer["Why you should develop on Neo"]</h2>
        <div class="row list1 left mt5">
            <div class="col-md-4">
                <img data-original="/images/dev/MultiLanguage.svg" />
                <div>
                    <div class="list-title">@Localizer["Multi-language support"]</div>
                    <div class="bolder">
                        C#, Python, Go,<br />
                        JS/TS, Java
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/CompleteInfrastructure.svg" />
                <div>
                    <div class="list-title">@Localizer["Complete infrastructure"]</div>
                    <div class="bolder">@Localizer["protocol, dev tools and docs"]</div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/DevCommunity.svg" />
                <div>
                    <div class="list-title">@Localizer["Strong developer community"]</div>
                    <div class="bolder">@Localizer["20 cities, 7 countries and growing fast"]</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b5 p1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="line-b">@Localizer["Neo Links"]</h4>
                <ul class="dev-link mt6">
                    <li><a target="_blank" href="https://github.com/neo-project" title="Neo GitHub">Neo GitHub</a></li>
                    <li><a target="_blank" href="https://docs.neo.org/" title="Neo Docs">@Localizer["Neo Docs"]</a></li>
                    <li><a asp-controller="bounty" asp-action="index" title="Security Bounty">@Localizer["Security Bounty"]</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="line-b">@Localizer["NEO & GAS TestNet"]</h4>
                <ul class="dev-link mt6">
                    <li><a asp-controller="testcoin" asp-action="apply" title="Manual Entry">@Localizer["Apply with Manual Entry"]</a></li>
                    <li><a target="_blank" href="http://neowish.ngd.network/" title="Automatic Entry">@Localizer["Apply with Automatic Entry"]</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="line-b">@Localizer["Components"]</h4>
                <ul class="dev-link mt6">
                    <li><a target="_blank" href="https://github.com/swisscom-blockchain" title="NeoID">NeoID</a></li>
                    <li><a class="disabled" href="javascript:">NeoFS</a></li>
                </ul>
            </div>
        </div>
        <h4 class="mt4">@Localizer["Tools"]</h4>
        <div class="row tools">
            <div class="col-md-4">
                <ul class="dev-link no-before mt7">
                    <li class="link-title no-before h6"><span>@Localizer["Neo Blockchain Network"]</span></li>
                    <li class="bold pt4">@Localizer["Private Net"]</li>
                    <li><a target="_blank" href="https://github.com/neo-ngd/NEO-Private-Net" title="NEO-Private-Net">NEO-Private-Net</a></li>
                    <li><a class="disabled" href="javascript:" title="neo express">neo express</a></li>
                    <li><a target="_blank" href="https://github.com/CityOfZion/neo-local" title="neo-local">neo-local</a></li>

                    <li class="bold">@Localizer["Explorer"]</li>
                    <li><a target="_blank" href="https://neoscan.io/" title="neo-scan">neo-scan</a></li>
                    <li><a target="_blank" href="https://neotracker.io" title="neo-tracker">neo-tracker</a></li>
                    <li><a target="_blank" href="https://explorer.o3.network" title="O3 explorer">O3 explorer</a></li>
                    <li><a target="_blank" href="https://scan.nel.group" title="NEL explorer">NEL explorer</a></li>
                    <li><a target="_blank" href="https://blolys.com" title="Blolys">Blolys</a></li>

                    <li class="bold">@Localizer["Monitor"]</li>
                    <li><a target="_blank" href="http://stateofneo.io" title="state of neo">state of neo</a></li>
                    <li><a target="_blank" href="http://monitor.cityofzion.io" title="CoZ monitor">CoZ monitor</a></li>

                    <li class="bold">@Localizer["Academy"]</li>
                    <li><a class="disabled" href="javascript:">Course</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="dev-link mt7">
                    <li class="link-title h6"><span>@Localizer["Smart Contract Development"]</span></li>

                    <li class="bold pt4">@Localizer["Toolkit"]</li>
                    <li><a class="disabled" href="javascript:" title="neo blockchain toolkit for .NET">neo blockchain toolkit for .NET</a></li>

                    <li class="bold">@Localizer["Dev-pack & compiler"]</li>
                    <li><a target="_blank" href="https://github.com/neo-project/neo-devpack-dotnet" title="neo-devpack-dotnet">neo-devpack-dotnet</a> <span>C# dev-pack</span></li>
                    <li><a target="_blank" href="https://github.com/neo-project/neo-compiler" title="neon">neon</a> <span>C# compiler</span></li>
                    <li><a target="_blank" href="https://github.com/CityOfZion/neo-boa" title="neo-boa">neo-boa</a> <span>Python dev-pack & compiler</span></li>
                    <li><a target="_blank" href="https://github.com/neo-project/neo-compiler" title="neoj">neoj</a> <span>Java compiler</span></li>
                    <li><a target="_blank" href="https://github.com/CityOfZion/neo-storm" title="neo-storm">neo-storm</a> <span>Go compiler</span></li>
                    <li><a target="_blank" href="https://neo-one.io" title="NEO-ONE">NEO-ONE</a> <span>TypeScript compiler & SDK</span></li>

                    <li class="bold">@Localizer["Web IDE"]</li>
                    <li><a target="_blank" href="https://visualstudio.microsoft.com" title="Visual Studio">Visual Studio</a></li>
                    <li><a target="_blank" href="https://neocompiler.io/" title="NeoCompiler  Eco">NeoCompiler Eco</a></li>
                    <li><a target="_blank" href="https://neoray.nel.group" title="NEORAY">NEORAY</a></li>

                </ul>
            </div>
            <div class="col-md-4">
                <ul class="dev-link mt7">
                    <li class="link-title h6"><span>@Localizer["dApp Integration"]</span></li>
                    <li class="bold pt4">SDK</li>
                    <li><a target="_blank" href="https://github.com/neo-project/neo" title="neo">neo</a> <span>C#</span></li>
                    <li><a target="_blank" href="https://github.com/CityOfZion/neo-python" title="neo-python">neo-python</a> <span>python</span></li>
                    <li><a target="_blank" href="https://github.com/CityOfZion/neon-js" title="neon-js">neon-js</a> <span>javaScript</span></li>
                    <li><a target="_blank" href="https://github.com/CityOfZion/neo-go" title="neo-go">neo-go</a> <span>go</span></li>
                    <li><a target="_blank" href="https://github.com/neow3j/neow3j" title="neow3j">neow3j</a> <span>java</span></li>


                    <li class="bold">@Localizer["Wallet & Extension"]</li>
                    <li><a target="_blank" href="https://o3.network/" title="O3">O3</a></li>
                    <li><a target="_blank" href="https://neoline.cn/" title="NEOLine">NEOLine</a></li>
                    <li><a target="_blank" href="https://github.com/NewEconoLab/TeemoWallet" title="Teemo">Teemo</a></li>
                    <li><a asp-controller="wallets" asp-action="index">More...</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="p1" name="involved">
    <div class="container text-center">
        <h2>@Localizer["Get involved"]</h2>
        <p class="mt5"><a class="btn" href="mailto:dev@neo.org">@Localizer["Contact Us"]</a></p>
        <div class="row list1 mt5">
            <div class="col-md-4">
                <img data-original="/images/dev/CoreDeveloper.svg" />
                <div>
                    <div class="list-title">@Localizer["Core developers"]</div>
                    <div>@Localizer["protocol development"]</div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/ToolsDeveloper.svg" />
                <div>
                    <div class="list-title">@Localizer["Tools developers"]</div>
                    <div>@Localizer["join dev communities"]</div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/dAppDeveloper.svg" />
                <div>
                    <div class="list-title">@Localizer["dAPP developers"]</div>
                    <div>@Localizer["build your own dApps"]</div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/SecurityBounty.svg" />
                <div>
                    <div class="list-title">@Localizer["Security bounty"]</div>
                    <div>@Localizer["squash all the bugs"]</div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/OpenTasks.svg" />
                <div>
                    <div class="list-title">@Localizer["Open tasks"]</div>
                    <div>@Localizer["mission for geeks"]</div>
                </div>
            </div>
            <div class="col-md-4">
                <img data-original="/images/dev/MoreIdea.svg" />
                <div>
                    <div class="list-title">@Localizer["More ideas"]</div>
                    <div>@Localizer["you can propose to dev@neo.org"]</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center b5 p2">
    <div class="container">
        <h2>@Localizer["Join Neo Global Communities"]</h2>
        <ul class="list-none h3 mt4 w600">
            <li class="tag">20<span>@Localizer["Cities"]</span></li>
            <li class="tag">7<span>@Localizer["Countries"]</span></li>
            <li class="tag">10+<span>@Localizer["Communities"]</span></li>
        </ul>
        <ul class="press mt5">
            <li><a href="https://cityofzion.io" target="_blank"><img src="@Helper.ToCDN("/images/dev/coz.png")" /></a></li>
            <li><a href="https://neoresearch.io" target="_blank"><img src="@Helper.ToCDN("/images/dev/neo_re.png")" /></a></li>
            <li><a href="https://nspcc.ru/" target="_blank"><img src="@Helper.ToCDN("/images/dev/nspcc.png")" /></a></li>
            <li><a href="https://neo-one.io" target="_blank"><img src="@Helper.ToCDN("/images/dev/neo_one.png")" /></a></li>
            <li><a href="https://red4sec.com/" target="_blank"><img src="@Helper.ToCDN("/images/dev/red4sec.png")" /></a></li>
            <li><a href="https://neonewstoday.com/" target="_blank"><img src="@Helper.ToCDN("/images/dev/nnt.png")" /></a></li>
            <li><a href="https://nel.group" target="_blank"><img src="@Helper.ToCDN("/images/dev/nel.png")" /></a></li>
            <li><a href="https://neonext.club" target="_blank"><img src="@Helper.ToCDN("/images/dev/next.png")" /></a></li>
            <li><a href=" http://docs.neow3j.io/" target="_blank"><img src="@Helper.ToCDN("/images/dev/neow3j.png")" /></a></li>
            <li><a href="https://github.com/alienworks" target="_blank"><img src="@Helper.ToCDN("/images/dev/alien.png")" /></a></li>
        </ul>
    </div>
</div>