@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer"].Value;
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/dev.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/dev.min.css", true)" />
    </environment>
}

<div class="container">
    <div class="p1 text-center">
        <h1 class="w800">Developer Portal</h1>
        <p class="mt5 w600">Our ecosystem's wallets are compatible with your platform of choice, from Windows to Apple. Create a wallet today, and open up a new world of possibilities!</p>
        <p class="mt5">
            <a class="btn mt5 mr2">NEO GITHUB</a>
            <a class="btn mt5 mr2">NEO Docs</a>
            <a class="btn mt5">NEO 3</a>
        </p>
    </div>

    <h3 class="mt1">What you can develop on Neo</h3>
    <div class="row list1 mt5">
        <div class="col-md-3">
            <img data-original="/images/dev/BlockchainInfrastructure.png" />
            <div>
                <div class="list-title">Blockchain Infrastructure</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie Praesent justo.</div>
            </div>
        </div>
        <div class="col-md-3">
            <img data-original="/images/dev/DigitalAsset.png" />
            <div>
                <div class="list-title">Digital Asset</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie Praesent justo.</div>
            </div>
        </div>
        <div class="col-md-3">
            <img data-original="/images/dev/Defi.png" />
            <div>
                <div class="list-title">Defi</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie Praesent justo.</div>
            </div>
        </div>
        <div class="col-md-3">
            <img data-original="/images/dev/Game.png" />
            <div>
                <div class="list-title">Game</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie Praesent justo.</div>
            </div>
        </div>
    </div>

    <h3 class="mt1">What you can develop on Neo</h3>
    <div class="row list1 left mt5">
        <div class="col-md-4">
            <img data-original="/images/dev/MultiLanguage.png" />
            <div>
                <div class="list-title">Multi-language support</div>
                <div class="bolder">
                    c#, python, golang,<br />
                    js/typescript, java
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/CompleteInfrastructure.png" />
            <div>
                <div class="list-title">Complete infrastructure support</div>
                <div class="bolder">Protocol, docs, and tools</div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/StrongDevCommunity.png" />
            <div>
                <div class="list-title">Complete infrastructure support</div>
            </div>
        </div>
    </div>

    <div class="row mt1">
        <div class="col-md-4">
            <h4 class="line-b">NEO Links</h4>
            <ul class="dev-link mt5">
                <li><a href="https://github.com/neo-project" title="NEO GitHub">NEO GitHub</a></li>
                <li><a href="https://docs.neo.org/" title="NEO Docs">@Localizer["NEO Docs"]</a></li>
                <li><a href="/dev/bounty" title="Security Bounty">@Localizer["Security Bounty"]</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4 class="line-b">@Localizer["Apply for TestNet NEO & GAS"]</h4>
            <ul class="dev-link mt5">
                <li><a href="/testcoin/apply" title="Manual Entry">@Localizer["Manual Entry"]</a></li>
                <li><a href="http://neowish.ngd.network/" title="Automatic Entry">@Localizer["Automatic Entry"]</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4 class="line-b">@Localizer["Components"]</h4>
            <ul class="dev-link mt5">
                <li><a href="https://github.com/swisscom-blockchain" title="NeoID">NeoID</a></li>
                <li><span class="green-text">NeoFS</span></li>
            </ul>
        </div>
    </div>

    <h4 class="line-b">Tools</h4>
    <div class="row">
        <div class="col-md-4">
            <ul class="dev-link mt5">
                <li class="link-title h6">@Localizer["NEO Blockchain Network"]</li>

                <li class="bold mt5">@Localizer["Private Net"]</li>
                <li><a href="https://github.com/CityOfZion/neo-local" title="neo-local">neo-local</a></li>
                <li><a href="https://github.com/neo-ngd/NEO-Private-Net" title="NEO-Private-Net">NEO-Private-Net</a></li>

                <li class="bold mt4">@Localizer["Explorer"]</li>
                <li><a href="https://neoscan.io/" title="neo-scan">neo-scan</a></li>
                <li><a href="https://neotracker.io" title="neo-tracker">neo-tracker</a></li>
                <li><a href="https://explorer.o3.network" title="O3 explorer">O3 explorer</a></li>
                <li><a href="https://scan.nel.group" title="NEL explorer">NEL explorer</a></li>
                <li><a href="https://blolys.com" title="Blolys">Blolys</a></li>
                <li><a href="http://state.otcgo.cn" title="otcgo">otcgo</a></li>
                <li><a href="https://cbc.ilink.network/neo-blockchain-explorer" title="iLINK explorer">iLINK explorer</a></li>
                <li><a href="https://neo.tokenview.com/" title="Tokenview explorer">Tokenview explorer</a></li>

                <li class="bold mt4">@Localizer["Monitor"]</li>
                <li><a href="https://happynodes.f27.ventures" title="happynodes">happynodes</a></li>
                <li><a href="http://stateofneo.io" title="state of neo">state of neo</a></li>
                <li><a href="http://monitor.cityofzion.io" title="CoZ monitor">CoZ monitor</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="dev-link mt5">
                <li class="link-title h6">@Localizer["Smart Contract Development"]</li>

                <li class="bold mt5">@Localizer["dev-pack & compiler"]</li>
                <li><a href="https://github.com/neo-project/neo-devpack-dotnet" title="neo-devpack-dotnet">neo-devpack-dotnet</a> <span>C# dev-pack</span></li>
                <li><a href="https://github.com/neo-project/neo-compiler" title="neon">neon</a> <span>C# compiler</span></li>
                <li><a href="https://github.com/CityOfZion/neo-boa" title="neo-boa">neo-boa</a> <span>Python dev-pack & compiler</span></li>
                <li><a href="https://github.com/neo-project/neo-compiler" title="neoj">neoj</a> <span>Java compiler</span></li>
                <li><a href="https://github.com/CityOfZion/neo-storm" title="neo-storm">neo-storm</a> <span>Go compiler</span></li>
                <li><a href="https://neo-one.io" title="NEO-ONE">NEO-ONE</a> <span>TypeScript compiler & SDK</span></li>

                <li class="bold mt4">Web IDE</li>
                <li><a href="https://visualstudio.microsoft.com" title="Visual Studio">Visual Studio</a></li>
                <li><a href="https://neocompiler.io/" title="NeVoCompiler Eco">NeVoCompiler Eco</a></li>
                <li><a href="https://neoray.nel.group" title="NEORAY">NEORAY</a></li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="dev-link mt5">
                <li class="link-title h6">@Localizer["dApp Integration"]</li>

                <li class="bold mt5">SDK</li>
                <li><a href="https://github.com/neo-project/neo" title="neo">neo</a> <span>C#</span></li>
                <li><a href="https://github.com/CityOfZion/neo-python" title="neo-python">neo-python</a> <span>python</span></li>
                <li><a href="https://github.com/CityOfZion/neon-js" title="neon-js">neon-js</a> <span>javaScript</span></li>
                <li><a href="https://github.com/CityOfZion/neo-go" title="neo-go">neo-go</a> <span>go</span></li>
                <li><a href="https://github.com/neow3j/neow3j" title="neow3j">neow3j</a> <span>java</span></li>


                <li class="bold mt4">Wallet & Extension</li>
                <li><a href="https://o3.network/" title="O3">O3</a></li>
                <li><a href="https://neoline.cn/" title="NEOLine">NEOLine</a></li>
                <li><a href="https://github.com/NewEconoLab/TeemoWallet" title="Teemo">Teemo</a></li>
                <li><a href="/client">More...</a></li>

            </ul>
        </div>
    </div>
    <h3 class="mt2">How you can be involved in NEO development</h3>
    <div class="row list1 mt5">
        <div class="col-md-4">
            <img data-original="/images/dev/CoreDev.png" />
            <div>
                <div class="list-title">NEO JOY 2019</div>
                <div><a>LEARN MORE</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/ToolsDev.png" />
            <div>
                <div class="list-title">NEO JOY 2019</div>
                <div><a>LEARN MORE</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/dAppDev.png" />
            <div>
                <div class="list-title">NEO JOY 2019</div>
                <div><a>LEARN MORE</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/SecurityBounty.png" />
            <div>
                <div class="list-title">NEO JOY 2019</div>
                <div><a>LEARN MORE</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/OpenTask.png" />
            <div>
                <div class="list-title">NEO JOY 2019</div>
                <div><a>LEARN MORE</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <img data-original="/images/dev/MoreIdea.png" />
            <div>
                <div class="list-title">NEO JOY 2019</div>
                <div><a>LEARN MORE</a></div>
            </div>
        </div>
    </div>
</div>
<div class="b1 text-center p2 mt1">
    <h2>Join NEO Global Communities  </h2>
    <h5>Lorem ipsum dolor sit amet adipiscing elit</h5>
    <p><a class="btn b3">LEARN MORE</a></p>
</div>

<div class="w700 p3">
    <ul class="press mt0">
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
        <li><img src="/images/neo_logo.svg" alt="NEO Logo"></li>
    </ul>
    <p><a class="btn mt4">BE NEXT COMMUNITY</a></p>
</div>

@section Scripts{
    <script>
        $("#menu_list a").css("border-bottom", "none");
        $("#menu_list li.nav-item [href='/dev']").css("border-bottom", "2px solid #58bf00");
    </script>
}