<div class="menu-page">
    <h2 class="menu-page-title">Example & Tutorials</h2>
    <div class="menu-page-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in
        at urna.
    </div>
    <div class="tutorials-filter">
        <span class="tutorials-filter-label">Filter by language</span>
        <select class="select-language form-control">
            <option value="all" selected="selected">All Languages</option>
            <option value="c#">C#</option>
            <option value="java">Java</option>
        </select>
    </div>
    <div class="tutorials">
        <div class="tutorial">
            <div class="tutorial-start">
                <img class="tutorial-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <div class="tutorial-left-type">Tutorial</div>
            </div>
            <div class="tutorial-end">
                <div class="tutorial-header">
                    <img class="tutorial-type-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <div class="tutorial-header-middle">
                        <h4 class="tutorial-title">Getting started with NeoFS: The basics.</h4>
                        <div class="tutorial-author">Neo SPCC</div>
                    </div>
                    <div class="flex-grow-1"></div>
                    <div class="tutorial-type">Tutorial</div>
                </div>
                <div class="tutorial-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in
                    at urna.
                </div>
                <div class="tutorial-languages">
                    <div class="tutorial-language">C#</div>
                    <div class="tutorial-language">Java</div>
                </div>
            </div>
        </div>
        <div class="tutorial">
            <div class="tutorial-start">
                <img class="tutorial-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <div class="tutorial-left-type">Tutorial</div>
            </div>
            <div class="tutorial-end">
                <div class="tutorial-header">
                    <img class="tutorial-type-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <div class="tutorial-header-middle">
                        <h4 class="tutorial-title">Getting started with NeoFS: The basics.</h4>
                        <div class="tutorial-author">Neo SPCC</div>
                    </div>
                    <div class="flex-grow-1"></div>
                    <div class="tutorial-type">Tutorial</div>
                </div>
                <div class="tutorial-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in
                    at urna.
                </div>
                <div class="tutorial-languages">
                    <div class="tutorial-language">C#</div>
                    <div class="tutorial-language">Java</div>
                </div>
            </div>
        </div>
        <div class="tutorial">
            <div class="tutorial-start">
                <img class="tutorial-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                <div class="tutorial-left-type">Tutorial</div>
            </div>
            <div class="tutorial-end">
                <div class="tutorial-header">
                    <img class="tutorial-type-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <div class="tutorial-header-middle">
                        <h4 class="tutorial-title">Getting started with NeoFS: The basics.</h4>
                        <div class="tutorial-author">Neo SPCC</div>
                    </div>
                    <div class="flex-grow-1"></div>
                    <div class="tutorial-type">Tutorial</div>
                </div>
                <div class="tutorial-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. Aliquam vel justo sit amet nisl iaculis imperdiet in
                    at urna.
                </div>
                <div class="tutorial-languages">
                    <div class="tutorial-language">C#</div>
                    <div class="tutorial-language">Java</div>
                </div>
            </div>
        </div>
    </div>
</div>
