@model NeoWeb.Models.Blog

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutBlog.cshtml";
}

@section Styles{
    <link href="~/css/blog.css" rel="stylesheet" />
}

<div class="row">
    <ul class="col-lg-1 blog_date artical-date desktop-show" id="blogDate">
        @foreach (var item in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Select(p => p.Year).Distinct())
        {
            <li class="m3">
                <a class="h2 year">@item</a>
                <ul>
                    @foreach (var m in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Where(p => p.Year == item).Select(p => p.Month).Distinct())
                    {
                        <li><a class="month" href="~/blog/index?y=@item&m=@m">@m.ToMonth().ToUpper()</a></li>
                    }
                </ul>
            </li>
        }
    </ul>

    <div class="col-lg-11 artical-container">

        <div class="nav-artical nav-artical-top p2">
            <div class="text-left"><a class="iconfont t2 back-list" href="~/blog"><span class="desktop-show">回到文章列表</span></a></div>
            <div>
                <ul class="blog_date mobile-show">
                    @foreach (var item in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Select(p => p.Year).Distinct())
                    {
                        <li>
                            <a class="h2 year" href="~/blog/index?y=@item">@item</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="text-right">
                <a class="iconfont t2 prev-artical icon-to-left" href="~/blog/details/@ViewBag.PrevBlogId"><span class="desktop-show">上一篇</span></a>
                <a class="iconfont t2 next-artical" href="~/blog/details/@ViewBag.NextBlogId"><span class="desktop-show">下一篇</span></a>
            </div>
        </div>

        <div class="artical-content">
            <div>
                <h2>@Model.Title</h2>
                <p class="light-text t2 m3">由作者 <span class="bold-font">@Model.User.UserName</span> 于 <span class="bold-font">@Model.CreateTime.ToString()</span> 发布</p>
            </div>
            <div class="blog-content t2">
                @Html.Raw(ViewBag.Cover)
                @Html.Raw(Model.Content)
            </div>
        </div>

        <div class="nav-artical nav-artical-bottom">
            <div class="text-left"><a class="iconfont t2 back-list" href="~/blog"><span class="desktop-show">回到文章列表</span></a></div>
            <div class="text-center"><a class="iconfont t2 back-to-top"><span class="desktop-show">回顶部</span></a></div>
            <div class="text-right">
                <a class="iconfont t2 prev-artical icon-to-left" href="~/blog/details/@ViewBag.PrevBlogId"><span class="desktop-show">上一篇</span></a>
                <a class="iconfont t2 next-artical" href="~/blog/details/@ViewBag.NextBlogId"><span class="desktop-show">下一篇</span></a>
            </div>
        </div>

    </div>
</div>


<p>
    @if (Model.User.Id == ViewBag.UserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <span>|</span>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <span>|</span>
        <a asp-action="Index">Back to List</a>
    }
</p>


@section Scripts{
    <script type="text/javascript" src="~/js/blog.js"></script>
}