@using Microsoft.AspNetCore.Mvc.Localization
@using System.Xml;
@inject IViewLocalizer Localizer
@model NeoWeb.Models.BlogViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Details"] = Model.Summary;
    if (ViewBag.Cover != null)
    {
        try
        {
            XmlDocument doc = new XmlDocument() { XmlResolver = null };
            doc.LoadXml((string)ViewBag.Cover);
            ViewData["Image"] = "https://neo.org" + doc.FirstChild.Attributes["data-original"]?.Value;
        }
        catch (Exception)
        {
        }
    }
    Layout = "_LayoutBlog.cshtml";
    ViewData["keywords"] = Model.Tags;
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/blog.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/blog.min.css", true)" />
    </environment>
}
<div class="container m1">
    <div class="row">
        <div class="col-lg-11 artical-container">
            <div class="nav-artical nav-artical-top t3 p2">
                <div class="text-right">
                    @if (@ViewBag.PrevBlogId != Model.Id)
                    {
                    <a class="icon-left" href="~/blog/details/@ViewBag.PrevBlogId"><i class="iconfont">&#xe6b8;</i><span class="desktop-show">@Localizer["Previous article"]</span></a>
                    }
                    @if (@ViewBag.NextBlogId != Model.Id)
                    {
                    <a href="~/blog/details/@ViewBag.NextBlogId"><span class="desktop-show">@Localizer["Next article"]</span><i class="iconfont">&#xe6b7;</i></a>
                    }
                </div>
            </div>
            <article class="artical-content">
                <header>
                    <h3 class="bold-font with-space">@Model.Title</h3>
                    <p class="t3 m3 green-text blog-date bold-font"><span class="bold-font">@Model.CreateTime.ToShortDateString()</span></p>
                    <div class="float-right qrcode-div"><i class="iconfont green-text">&#xe79b;</i><div id="qrcode"></div></div>
                    <p class="t3">
                        @if (ViewBag.UserRules)
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <span>|</span>
                            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        }
                    </p>
                </header>
                <section class="blog-content t3 m3">
                    @Html.Raw(ViewBag.Cover)
                    <div class="with-space">
                        @Html.Raw(Model.Content)
                    </div>
                </section>
                <hr />
                <div>
                    @if (Model.Tags != null)
                    {
                        foreach (var tag in Model.Tags.Split(","))
                        {
                            <a class="blog-tag" href="/blog?t=@tag">@tag</a>
                        }
                    }
                </div>
            </article>


            <div class="nav-artical nav-artical-bottom t3">
                <div class="text-left"><a href="~/blog"><i class="iconfont">&#xeaa4;</i><span class="desktop-show">@Localizer["Back to list"]</span></a></div>
                <div class="text-center"><a class="back-to-top"><i class="iconfont">&#xe65a;</i><span class="desktop-show">@Localizer["Back to top"]</span></a></div>
                <div class="text-right">
                    @if (@ViewBag.PrevBlogId != Model.Id)
                    {
                    <a class="icon-left" href="~/blog/details/@ViewBag.PrevBlogId"><i class="iconfont">&#xe6b8;</i><span class="desktop-show">@Localizer["Previous article"]</span></a>
                    }
                    @if (@ViewBag.NextBlogId != Model.Id)
                    {
                    <a href="~/blog/details/@ViewBag.NextBlogId"><span class="desktop-show">@Localizer["Next article"]</span><i class="iconfont">&#xe6b7;</i></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Helper.ToCDN("/js/jquery.qrcode.min.js")"></script>
    <script>
        function setCookie(name, value) {
            var Days = 30;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
        }
        setCookie(@Model.Id, "Read");
        $('#qrcode').qrcode(location.href);

    </script>
}
