@using Microsoft.AspNetCore.Mvc.Localization
@using System.Xml;
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model NeoWeb.Models.BlogViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Details"] = Model.Summary.Trim();
    ViewData["keywords"] = Model.Tags;
    if (Model.Cover != null)
    {
        ViewData["Image"] = $"https://neo.org/upload/{Model.Cover}";
    }
}

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/discover.min.css", true)" />
}

<div class="nav-area mt3">
    <div><i class="iconfont">&#xe618;</i><a class="small" asp-action="index" asp-controller="discover">BACK TO LIST</a></div>
    <div class="text-right">
        @if (@ViewBag.PrevBlogId != Model.Id)
        {
            <a class="icon-left" href="~/blog/details/@ViewBag.PrevBlogId"><i class="iconfont">&#xe61c;</i><span class="d-none d-md-inline small">@Localizer["Previous"]</span></a>
        }
        @if (@ViewBag.NextBlogId != Model.Id)
        {
            <a class="ml-5" href="~/blog/details/@ViewBag.NextBlogId"><span class="d-none d-md-inline small">@Localizer["Next"]</span><i class="iconfont">&#xe61b;</i></a>
        }
    </div>
</div>
<hr />
<div class="w700 mt3">
    <article class="article">
        <div class="article-time">@Model.CreateTime.Month.ToMonth() @Model.CreateTime.Day, @Model.CreateTime.Year<span>BLOG</span></div>
        <header><h2 class="article-title mt5 with-space">@Model.Title</h2></header>
        <p class="gray mt5">By @(string.IsNullOrEmpty(Model.Editor) ? "Neo Global Development" : @Model.Editor)</p>
        <div class="share mt4 gray">
            @{
                var title = (ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "") + "Neo Smart Economy";
                var details = ViewData["Details"] ?? "Neo Smart Economy";
                var image = (ViewData["Image"] ?? Helper.ToCDN("/images/twitter-img.jpg"));
                var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
            }
            <a class="gray" target="_blank" href="https://twitter.com/intent/tweet?text=@(System.Net.WebUtility.UrlEncode(title))&url=@(System.Net.WebUtility.UrlEncode(url))&via=NEO_Blockchain&related=NEO_Blockchain"><i class="iconfont">&#xe607;</i></a>
            <i class="iconfont facebook-icon">&#xe616;</i>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <div class="fb-share-button" data-href="@url" data-layout="button_count"></div>
            <a class="gray" target="_blank" asp-controller="blog" asp-action="rss" asp-route-language="@SharedLocalizer["en"].Value"><i class="iconfont">&#xf09c;</i></a>
            <div class="qr-div">
                <i class="iconfont">&#xe615;</i>
                <div id="qrcode"></div>
            </div>
        </div>
        <p class="mt5">
            @if (ViewBag.UserRules)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="ml2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        </p>
        <hr class="mt5 mb0" />

        <section>
            <div class="mt4 with-space">
                @Html.Raw(Model.Content)
            </div>
        </section>
        <hr />
        <div>
            @if (Model.Tags != null)
            {
                foreach (var tag in Model.Tags.Split(","))
                {
                    <a href="/discover?keywords=@tag">#@tag</a>
                }
            }
        </div>

    </article>
</div>
<hr class="mt3" />
<div class="nav-area mb-5">
    <div><i class="iconfont">&#xe618;</i><a class="small" asp-action="index" asp-controller="discover">BACK TO LIST</a></div>
    <div class="text-center"><a class="back-to-top" href="javascript:"><i class="iconfont">&#xe619;</i><span class="small">@Localizer["Back to top"]</span></a></div>
    <div class="text-right">
        @if (@ViewBag.PrevBlogId != Model.Id)
        {
            <a class="icon-left" href="~/blog/details/@ViewBag.PrevBlogId"><i class="iconfont">&#xe61c;</i><span class="d-none d-md-inline small">@Localizer["Previous"]</span></a>
        }
        @if (@ViewBag.NextBlogId != Model.Id)
        {
            <a class="ml-5" href="~/blog/details/@ViewBag.NextBlogId"><span class="d-none d-md-inline small">@Localizer["Next"]</span><i class="iconfont">&#xe61b;</i></a>
        }
    </div>
</div>

@section Scripts{
    <script src="@Helper.ToCDN("/js/jquery.qrcode.min.js")"></script>
    <script>
        function setCookie(name, value) {
            var Days = 30;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
        }
        //设置已读
        setCookie(@Model.Id, "Read");
        //二维码
        $('#qrcode').qrcode(location.href);
        //懒加载
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
        //回到顶部
        $('.back-to-top').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 500);
        });
    </script>
}