@model IEnumerable<NeoWeb.Models.Blog>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Blog posts list"];
    Layout = "_LayoutBlog.cshtml";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/blog.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/blog.min.css", true)" />
    </environment>
}
<div class="container p2">
    <h2 class="m1 text-center">@Localizer["Blog posts list"]</h2>
    @if (ViewBag.UserRules)
    {
        <div class="text-center m2">
            <a class="btn-static" asp-action="Create">发布新博客</a>
        </div>
    }
    <form asp-controller="blog" asp-action="index" method="get" class="search-form m2">
        <div class="input-group m2 border-static">
            <input name="k" type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-input" type="submit">SEARCH</button>
            </div>
        </div>
    </form>
</div>
<div class="container m2">
    <div class="row">
        <ul class="col-lg-1 blog_date desktop-show" id="blogDate">
            @foreach (var item in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Select(p => p.Year).Distinct())
            {
                <li class="m3">
                    <a class="h2 year">@item</a>
                    <ul>
                        @foreach (var m in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Where(p => p.Year == item).Select(p => p.Month).Distinct())
                        {
                            <li><a class="month" href="~/blog?y=@item&m=@m">@m.ToMonth().ToUpper()</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
        <ul class="mobile-show blog_date">
            @foreach (var item in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Select(p => p.Year).Distinct())
            {
                <li><a class="h2 year" href="~/blog?y=@item">@item</a></li>
            }
        </ul>

        <div class="col-lg-11 blog_scroll" id="blogScroll">
            <ul class="blog-list">
                @foreach (var item in Model)
                {
                    @if (!item.IsShow && !ViewBag.UserRules) { continue; }
                    @if (ViewBag.Language == "zh")
                    {
                        <li class="m3 border-static">
                            <h3><a asp-action="details" class="blog-title with-space" asp-route-id="@item.Id">@item.ChineseTitle</a></h3>
                            @if (!item.IsShow)
                            {<p class="text-danger">未发布状态，仅管理员可见。</p>}
                            <p class="t4 m3 green-text blog-date bold-font">@item.CreateTime.ToShortDateString() <span class="float-right">@item.ReadCount 次阅读</span></p>
                            <a class="blog-summary" asp-action="details" asp-route-id="@item.Id">
                                <p class="t3 m3 with-space">@item.ChineseSummary.Substring(0, Math.Min(item.ChineseSummary.Length, 150))…</p>
                            </a>
                            <div class="top-line m3">
                                @if (item.ChineseTags != null)
                                {
                                    foreach (var tag in item.ChineseTags.Split(","))
                                    {
                                        <a class="blog-tag green-text" href="/blog?t=@tag">@tag</a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="m3 border-static">
                            <h3><a asp-action="details" class="blog-title with-space" asp-route-id="@item.Id">@item.EnglishTitle</a></h3>
                            @if (!item.IsShow)
                            {<p class="text-danger">未发布状态，仅管理员可见。</p>}
                            <p class="t4 m3 green-text blog-date bold-font">@item.CreateTime.ToShortDateString() <span class="float-right">@item.ReadCount Times read</span></p>
                            <a class="blog-summary" asp-action="details" asp-route-id="@item.Id">
                                <p class="t3 m3 with-space">@item.EnglishSummary.Substring(0, Math.Min(item.EnglishSummary.Length, 150))…</p>
                            </a>
                            <div class="top-line m3">
                                @if (item.EnglishTags != null)
                                {
                                    foreach (var tag in item.EnglishTags.Split(","))
                                    {
                                        <a class="blog-tag green-text" href="/blog?t=@tag">@tag</a>
                                    }
                                }
                            </div>
                        </li>
                    }
                }
                @if (Model.Count() == 0)
                {
                    <li class="m3"><h2>Coming Soon</h2></li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Helper.ToCDN("/js/blog.min.js", true)"></script>
}