@model IEnumerable<NeoWeb.Models.Blog>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutBlog.cshtml";
}
@section Styles{
    <link href="~/css/blog.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-xs-12">
        <h1 class="blog_title m2">@Localizer["Blog posts list"]</h1>

        <div class="text-center m3">
            @if (ViewBag.UserRulesCount)
            {
                <a asp-action="Create">发布新博客</a>
            }
        </div>
    </div>
    <ul class="col-lg-1 blog_date desktop-show" id="blogDate">
        @foreach (var item in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Select(p => p.Year).Distinct())
        {
            <li class="m3">
                <a class="h2 year">@item</a>
                <ul>
                    @foreach (var m in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Where(p => p.Year == item).Select(p => p.Month).Distinct())
                {
                        <li><a class="month" href="~/blog/index?y=@item&m=@m">@m.ToMonth().ToUpper()</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
    <ul class="mobile-show blog_date">
        @foreach (var item in (ViewBag.CreateTime as IEnumerable<NeoWeb.Models.BlogDateTimeViewModels>).Select(p => p.Year).Distinct())
        {
            <li>
                <a class="h2 year" href="~/blog/index?y=@item">@item</a>
            </li>
        }
    </ul>

    <div class="col-lg-11 blog_scroll" id="blogScroll">
        <ul class="blog-list">
            @foreach (var item in Model)
            {
                <li class="m3">
                    <h2><a asp-action="details" asp-route-id="@item.Id">@item.Title</a></h2>
                    <p class="t2 m3 @Localizer["hidden"]">由作者 <span class="bold-font">@item.User</span> 于 <span class="bold-font">@item.CreateTime.ToShortDateString()</span> 发布</p>
                    <p class="t2 m3 @Localizer["hidden-zh"]">Author <span class="bold-font">@item.User</span> posted on <span class="bold-font">@item.CreateTime.ToShortDateString()</span></p>
                    <p class="t2">@item.Summary.Substring(0, Math.Min(item.Summary.Length, 100))…</p>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/blog.min.js"></script>
}