@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/logo.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.CDN/css/logo.min.css" asp-append-version="true" />
    </environment>
}
<div class="container logo-container border-static">
    <div class="row">
        <h1 class="m2">NEO LOGO</h1>
    </div>
    <p class="m3">@Localizer["The logo below is only for you to choose to use in cooperation promotion, thank you!"]</p>
    <img width="250" src="@Helper.CDN/images/neo-logo/512.png" />
    <div>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/36.png" target="_blank">PNG 36×36</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/72.png" target="_blank">PNG 72×72</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/144.png" target="_blank">PNG 144×144</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/512.png" target="_blank">PNG 512×512</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/1024.png" target="_blank">PNG 1024×1024</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/NEO-logo.svg" target="_blank">SVG</a>
    </div>
    <img width="500" src="@Helper.CDN/images/neo-logo/NEO-smart-economy-logo.png" />
    <div>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/NEO-smart-economy-logo.ai" target="_blank">Ai</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/NEO-smart-economy-logo.jpg" target="_blank">JPG</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/NEO-smart-economy-logo.png" target="_blank">PNG</a>
        <a class="btn btn-outline-secondary" href="@Helper.CDN/images/neo-logo/NEO-smart-economy-logo.svg" target="_blank">SVG</a>
    </div>
</div>

