@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <style>
        .layout-container {
            max-width: none;
            padding: 0;
            margin: 0;
        }
    </style>
}
<div class="p1 bg3">
    <h1 class="w800">Neo Logo</h1>
    <p class="mt5 w700">@Localizer["The logo below is only for you to choose to use in cooperation promotion, thank you!"]</p>
</div>
<div class="container mb-5 text-center">
    <img class="mt6 p3" width="150" src="@Helper.ToCDN("/images/neo-logo/NEO-logo.svg")" />
    <div>
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/36.png")" target="_blank">PNG 36×36</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/72.png")" target="_blank">PNG 72×72</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/144.png")" target="_blank">PNG 144×144</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/512.png")" target="_blank">PNG 512×512</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/1024.png")" target="_blank">PNG 1024×1024</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/NEO-logo.svg")" target="_blank">SVG</a>
    </div>
    <img class="mt4 p3" width="400" src="@Helper.ToCDN("/images/neo-logo/NEO-smart-economy-logo.svg")" />
    <div>
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/NEO-smart-economy-logo.ai")" target="_blank">Ai</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/NEO-smart-economy-logo.jpg")" target="_blank">JPG</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/NEO-smart-economy-logo.png")" target="_blank">PNG</a>&nbsp;
        <a class="btn btn-outline-secondary" href="@Helper.ToCDN("/images/neo-logo/NEO-smart-economy-logo.svg")" target="_blank">SVG</a>
    </div>
</div>

