@model NeoWeb.Models.Candidate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = Localizer["Migration"].Value;
    ViewBag.HiddenMigration = true;
}

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/migration.min.css", true)" />
}
<div class="container">
    
    <h3 class="my-5 border-bottom">@Localizer["Frequently asked questions"]</h3>
    <div id="accordion">
        <div class="my-4">
            <h5>
                @Localizer["Is there a token migration deadline?"]
                <i class="iconfont sub" style="display: block">&#xe62c;</i>
                <i class="iconfont add" style="display: none">&#xe603;</i>
            </h5>
            <p class="answer my-4" style="display: block;">
                @Localizer["Yes, there will be eventually. However, the migration will remain open as long as the Neo Legacy network is running. Neo Legacy will move into long-term support following the launch of Neo N3 and will remain operational for at least one year."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["How do I migrate my NEP-5 tokens to Neo N3?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["The migration of NEP-5 tokens from Neo Legacy requires the contract owner to first create a NEP-17 contract on Neo N3. Project owners are welcomed to reach out to NGD’s Digital Asset Unit for migration support. Token holders should seek information from project owners on migration plans and timelines."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Will I need to pay any fees to complete the migration?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["Yes. If you migrate less than 10 NEO or 20 GAS, you will have to pay the migration fee, the system will deduct 1 GAS for each transaction. If you are migrating 10 NEO, 20 GAS, or more, Neo foundation will cover the migration fee for you.Neo foundation has a budget of 200K GAS to cover those migration fees."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Can I combine multiple transactions to reach enough migrated NEO to receive the bonus? For example, 90 NEO in one transaction and 10 in another?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["No. You should migrate the NEO in a single transaction."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Will exchanges continue to support Neo Legacy after the Neo N3 migration?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer mt-4">
                @Localizer["This will depend on the exchanges themselves. Please refer to each individual exchange and their latest announcements."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Will I receive the Token Migration Incentive Bonus if I migrate before September 1st?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["No, you won’t."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["When will I receive my Token Migration Incentive Bonus?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["Bonuses will be distributed manually within three days of completing your migration."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Are there any incentives for GAS migration？"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["There are no plans for GAS migration incentives at this time."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["The Token Migration Incentive Bonus starts at 1% and decreases to 0.5%. As NEO is indivisible, what happens if my token bonus does not equal a whole number?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["The minimum token bonus you can receive is 1 NEO. This means you will need to migrate NEO in the following quantities to receive bonuses:"]
            </p>
            <ul class="answer my-4">
                <li>@Localizer["Weeks 1 & 2 (1% bonus) - 1 bonus NEO bonus per 100 migrated NEO"]</li>
                <li>@Localizer["Weeks 3 & 4 (0.75% bonus) - 1 bonus NEO bonus per 134 migrated NEO"]</li>
                <li>@Localizer["Weeks 5 - 8 (0.5% bonus) - 1 bonus NEO bonus per 200 migrated NEO"]</li>
            </ul>
            <p class="answer my-4">
                @Localizer["Migrating in quantities less than the above numbers will not net you a token bonus. For example, if you migrate 199 NEO during week one, you will only receive 1 NEO."]
            </p>
            <p class="answer my-4">
                @Localizer["Centralized exchanges that trade NEO in fractions may distribute token bonuses differently. Please refer to the individual exchanges for their rules."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["What is the difference in the GAS generation model between Neo Legacy and Neo N3?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["On Neo Legacy, GAS is produced every block and distributed to all token NEO holders evenly. The amount of GAS produced is currently around 5, and decreases steadily over time."]
            </p>
            <p class="answer my-4">
                @Localizer["On N3, 10% of newly produced GAS is distributed to the Neo Council members, 80% to voters, and 10% evenly to all NEO holders. The GAS production is currently set at 5 GAS per block, but can be adjusted by the elected Neo Council."]
            </p>
            <p class="answer my-4">
                @Localizer["For more information, please check the <a href=\"/gov\">Governance guide</a>."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Can I import my Neo Legacy private key on Neo N3?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["Yes, you can. However, although Neo Legacy and Neo N3 share the same private key format, they will generate different public keys. You cannot import your Neo Legacy private key into a Neo N3 wallet as a method of migrating your tokens. You still need to migrate your tokens to the new public key."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Where can I perform the token migration?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="answer my-4">
                @Localizer["There are three main options for performing the token migration:"]
            </p>
            <ul class="answer my-4">
                <li>@Localizer["The official Neo.org migration website (requires NeoLine Chrome Extension or O3 desktop)"]</li>
                <li>@Localizer["Via wallets that feature native migration support, such as Neon Wallet or NeoLine mobile"]</li>
                <li>@Localizer["Custodial exchanges"]</li>
            </ul>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script src="/js/migration.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/migration.min.js", true)"></script>
    </environment>
    <script>
        $("#accordion h5").click(function () {
            var currentA = $(this).parent().find(".answer");
            var currentI = $(this).parent().find(".iconfont");
            $("#accordion").find(".answer").not(currentA).hide("fast");
            $("#accordion").find(".sub").not(currentI).hide("fast");
            $("#accordion").find(".add").not(currentI).show("fast");

            currentA.toggle("fast");
            currentI.toggle("fast");
        });
    </script>
}
