@model NeoWeb.Models.Candidate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = Localizer["Migration"].Value;
    ViewBag.HiddenMigration = true;
}

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/migration.min.css", true)" />
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="uppercase mt-5"><span class="green">NEO</span> @Localizer["Migration"]</h1>
            <p>@Localizer["After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date."]</p>
        </div>
        <div class="col-md-3 offset-md-2">
            <img class="img-fluid" src="@Helper.CDN/images/migration/n3.png" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="mt-5">@Localizer["What is N3?"]</h2>
            <h3 class="mt-5">@Localizer["A whole new world"]</h3>
            <p>@Localizer["<strong>N3</strong> is the latest version of the Neo blockchain. It was first announced in 2018 by Erik Zhang as an upgrade to the current Neo protocol."]</p>
            <p>@Localizer["<strong>N3</strong> improves on previous versions by offering an improved development experience. It boasts more powerful and complete features, a highly modular architecture, and an enhanced governance and economic model. It offers everything the hobbyist developer needs to build their first dApp, through to the power and scalability required by enterprise applications."]</p>
            <p>@Localizer["Due to the extent of improvements found in version <strong>N3</strong>, certain features are not backwards compatible with the existing Neo Legacy blockchain. This means that Neo's <strong>N3</strong> upgrade will be implemented through a new genesis block. The Neo blockchain running <strong>N3</strong> will coexist alongside the current Neo Legacy blockchain for an extended period of time. This will provide users with ample opportunity to migrate their tokens and applications to the new chain."]</p>
            <p><strong>@Localizer["At this moment, no action is required on the part of token holders."]</strong></p>
            <p>@Localizer["When the new chain is closer to a MainNet launch, Neo will publish detailed information on how to safely migrate your assets from the Legacy to <strong>N3</strong> version of Neo."]</p>
        </div>
        <div class="col-lg-6">
            <img class="img-box" src="@Helper.CDN/images/migration/box.png" />
        </div>
    </div>

    <h3 class="mt-5 border-bottom">@Localizer["New features in N3"]</h3>
    <div class="row my-5 feature">
        <div class="col-sm-6 col-md-4 text-center text-xl-left">
            <img class="img-fluid" src="@Helper.CDN/images/migration/feature1.svg" />
            <div class="d-inline-block align-middle description">@Localizer["Built in oracle (internet resource access)"]</div>
        </div>
        <div class="col-sm-6 col-md-4 text-center text-xl-left">
            <img class="img-fluid" src="@Helper.CDN/images/migration/feature2.svg" />
            <div class="d-inline-block align-middle description">@Localizer["Neo Name Service domain protocol"]</div>
        </div>

        <div class="col-sm-6 col-md-4 text-center text-xl-left">
            <img class="img-fluid" src="@Helper.CDN/images/migration/feature3.svg" />
            <div class="d-inline-block align-middle description">@Localizer["On-chain governance & economic model"]</div>

        </div>

        <div class="col-sm-6 col-md-4 text-center text-xl-left">
            <img class="img-fluid" src="@Helper.CDN/images/migration/feature4.svg" />
            <div class="d-inline-block align-middle description">@Localizer["NeoID decentralized identity protocol"]</div>
        </div>

        <div class="col-sm-6 col-md-4 text-center text-xl-left">
            <img class="img-fluid" src="@Helper.CDN/images/migration/feature5.svg" />
            <div class="d-inline-block align-middle description">@Localizer["NeoFS distributed object storage system"]</div>
        </div>

        <div class="col-sm-6 col-md-4 text-center text-xl-left">
            <img class="img-fluid" src="@Helper.CDN/images/migration/feature6.svg" />
            <div class="d-inline-block align-middle description">@Localizer["Simplified architecture"]</div>
        </div>
    </div>
    <h3 class="mt-5 border-bottom">@Localizer["Timeline"]</h3>
    <div class="scroll-x">
        <img class="my-5 @SharedLocalizer["d-none"]" src="@Helper.CDN/images/migration/timeline-zh.png" />
        <img class="my-5 @SharedLocalizer["d-none-zh"]" src="@Helper.CDN/images/migration/timeline.png" />
    </div>
    <h3 class="my-5 border-bottom">@Localizer["Frequently asked questions"]</h3>
    <div id="accordion">
        <div class="my-4">
            <h5>
                @Localizer["Why is Neo launching a new chain?"]
                <i class="iconfont sub" style="display: block">&#xe62c;</i>
                <i class="iconfont add" style="display: none">&#xe603;</i>
            </h5>
            <p class="my-4" style="display: block;">
                @Localizer["Some of the major improvements found in <strong>N3</strong>, such as the removal of UTXO assets in favour of an account model, are not compatible with the Legacy version of the Neo blockchain. In order to provide the best possible blockchain platform and developer experience, it is necessary to launch the <strong>N3</strong> version from a new genesis block."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Will I need to migrate my NEO & GAS tokens from the current Neo Legacy to Neo N3?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="my-4">
                @Localizer["Yes, when the new Neo MainNet running N3 is live, NEO & GAS token holders will need to migrate their assets from Neo Legacy. NEO and GAS tokens will be migrated at a ratio of 1:1."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Will I need to migrate my NEP-5 tokens from the current Neo Legacy to Neo N3?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="my-4">
                @Localizer["The short answer is yes, however it is up to each individual project with a token on Neo Legacy to determine how they want to handle the migration. Neo Global Development will provide support and work closely with projects who need assistance to ensure the smoothest possible transition."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Where will I find instructions on how to complete the migration safely?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="my-4">
                @Localizer["Right here in the migration section of neo.org. The most up-to-date information will be published as soon as it’s available."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["When do I have to do the migration? How long do I have to complete the migration?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="mt-4">
                @Localizer["Public NEO & GAS token migration will begin approximately one month after the Neo N3 MainNet is officially launched."]
            </p>
            <p class="mb-4">
                @Localizer["Projects and developers can participate in the Early Adopter program prior to the MainNet launch to thoroughly test their applications and tokens on TestNet. Financial and technical support will be provided to facilitate the process. More details on the early adopter program will be released soon."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["How long do I have to complete the migration?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="my-4">
                @Localizer["Neo Legacy will move into long-term support after the Neo N3 MainNet is launched and migration begins, giving you an extended period of time to complete the migration. However, we still recommend that you migrate sooner rather than later to take full advantage of the new features available in N3."]
            </p>
        </div>
        <div class="my-4">
            <h5>
                @Localizer["Will trading on exchanges be interupted?"]
                <i class="iconfont sub">&#xe62c;</i>
                <i class="iconfont add">&#xe603;</i>
            </h5>
            <p class="my-4">
                @Localizer["Neo Global Development will be working with exchanges to ensure the smoothest possible transition, including automatic migration of assets where appropriate."]
            </p>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script src="/js/migration.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/migration.min.js", true)"></script>
    </environment>
    <script>
        $("#accordion h5").click(function () {
            var currentP = $(this).parent().find("p");
            var currentI = $(this).parent().find(".iconfont");
            $("#accordion").find("p").not(currentP).hide("fast");
            $("#accordion").find(".sub").not(currentI).hide("fast");
            $("#accordion").find(".add").not(currentI).show("fast");

            currentP.toggle("fast");
            currentI.toggle("fast");
        });
    </script>
}
