@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @Localizer["Neo 3.0 data converter"].Value;
}
<div class="py-5">
    <p>@Localizer["Support conversion of address, script hash, private key, public key, big-endian and little-endian, big-integer, character string, hexadecimal string, Application Log, Base64 encoding, etc. and analysis of smart contract script"]</p>
    <p>Neo 3.0.0-CI01264</p>
    <form action="/converter/index" method="post">
        <label class="col-form-label" for="input">@Localizer["Please enter the text to be converted"]</label>
        <input type="text" class="form-control" name="input" value="@ViewBag.Input" />
        <input type="submit" value="@Localizer["Convert"]" class="btn-2 mt-3" />
    </form>
    <div class="row">
        @if (ViewBag.Result != null)
        {
            <div class="col-md-6 mt-4">
                <div>@Localizer["Conversion result:"]</div>
                @foreach (var item in ViewBag.Result as Dictionary<string, List<string>>)
                {
                    <p>@item.Key</p>
                    <p>
                        <code>
                            @foreach (var v in item.Value)
                            {@v<br />}
                        </code>
                    </p>
                }
            </div>
        }
        <div class="@(ViewBag.Result == null ? "col-md-12" :  "col-md-6" ) mt-4">

            <div>@Localizer["Don't know what to enter? Try the following"]</div>
            <code>
                7472616e73666572
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="7472616e73666572" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
            <code>
                00a3e111
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="00a3e111" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
            <code>
                0x3ff68d232a60f23a5805b8c40f7e61747f6f61ce
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="0x3ff68d232a60f23a5805b8c40f7e61747f6f61ce" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
            <code>
                zmFvf3Rhfg/EuAVYOvJgKiON9j8=
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="zmFvf3Rhfg/EuAVYOvJgKiON9j8=" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
            <code>
                AHVYXVTcKw==
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="AHVYXVTcKw==" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
            <code>
                03dab84c1243ec01ab2500e1a8c7a1546a26d734628180b0cf64e72bf776536997
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="03dab84c1243ec01ab2500e1a8c7a1546a26d734628180b0cf64e72bf776536997" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
            <code>
                AwDkC1QCAAAADBS9AxqHRNNG1hZxgWAXL2No4BfcBQwUgUkpDXgVmkkrRX4lahSzu86gNiATwAwIdHJhbnNmZXIMFLyvQdaEx9StbuDZnalwe50fDI5mQWJ9W1I4
            </code>
            <a class="copy" data-original-title="Copy to clipboard" data-clipboard-action="copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" data-clipboard-text="AwDkC1QCAAAADBS9AxqHRNNG1hZxgWAXL2No4BfcBQwUgUkpDXgVmkkrRX4lahSzu86gNiATwAwIdHJhbnNmZXIMFLyvQdaEx9StbuDZnalwe50fDI5mQWJ9W1I4" href="javascript:"><i class="iconfont">&#xe706;</i></a><br />
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        //复制按钮
        $(function () {
            var clipboard = new ClipboardJS('.copy');
            clipboard.on('success', function (t) {
                $(t.trigger).attr("title", "Copied!").tooltip("_fixTitle").tooltip("show").attr("title", "Copy to clipboard").tooltip("_fixTitle");
            });
            clipboard.on("error", function (t) {
                var e = /Mac/i.test(navigator.userAgent) ? "⌘" : "Ctrl-";
                var n = "Press " + e + "C to copy";

                $(t.trigger).attr("title", n).tooltip("_fixTitle").tooltip("show").attr("title", "Copy to clipboard").tooltip("_fixTitle");
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
}
