@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["NEO Smart economy"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
        <link href="~/css/common.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
        <link href="~/css/common.css" rel="stylesheet" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" id="backHome">NeoWeb</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right pop-menu t2">
                    <li><a asp-area="" asp-controller="home" asp-action="index">@Localizer["Home"]</a></li>
                    <li><a asp-area="" asp-controller="testnet" asp-action="index">@Localizer["Developer"]</a></li>
                    <li><a asp-area="" asp-controller="download" asp-action="index">@Localizer["Client"]</a></li>
                    <li><a asp-area="" asp-controller="dapps" asp-action="index">@Localizer["dApps"]</a></li>
                    <li><a asp-area="" asp-controller="blog" asp-action="index">@Localizer["Blog"]</a></li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Demo</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">select1</a></li>
                            <li><a href="#">select2</a></li>
                        </ul>
                    </li>*@
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footerLogo-desk">
                    <div class="">
                        <h4 class="title">图标</h4>
                        <div class=""></div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="footer-link">
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">wechat</a></li>
                        <li><a href="#">qq</a></li>
                        <li><a href="#">github</a></li>
                        <li><a href="#">reddit</a></li>
                        <li><a href="#">微博</a></li>
                        <li><a href="#">活动行</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 footerLogo-mobile">
                    <div class="">
                        <h4 class="title">图标</h4>
                        <div class=""></div>
                    </div>
                </div>
            </div>

            <div class="row copyright">
                <div class="col-sm-12 m3 t3">
                    <span>Copyright © NEO</span>
                </div>
            </div>
        </div>

    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?89c4ec96535ab0e5578edff466ccb91a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
