@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet snippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["NEO is a non-profit community-based blockchain project that utilizes blockchain technology and digital identity to digitize assets, to automate the management of digital assets using smart contracts, and to realize a \"smart economy\" with a distributed network."]'>
    <meta name="keywords" content="NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">


    @if (ViewData["Title"] == null)
    {
        <title>@Localizer["NEO Smart Economy"]</title>
        <meta name="twitter:title" content="@Localizer["NEO Smart Economy"]" />
    }
    else
    {
        <title>@ViewData["Title"] - @Localizer["NEO Smart Economy"]</title>
        <meta name="twitter:title" content="@ViewData["Title"] - @Localizer["NEO Smart Economy"]" />
    }
    @if (ViewData["Details"] == null)
    {
        <meta name="twitter:description" content="@Localizer["NEO Smart Economy"]" />
    }
    else
    {
        <meta name="twitter:description" content="@ViewData["Details"]" />
    }
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://neo.org/images/twitter-img.jpg" />
    <link rel="apple-touch-icon" href="~/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png">
    <link rel="bookmark" type="image/x-icon" href="~/images/favicon.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navigation.css" />
        <link rel="stylesheet" href="~/css/common.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(snippet.FullScript)   
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand fixed-top">
        <div id="nav_container" class="container">
            <div id="logo_div" class="pull-left">
                <a class="navbar-brand" href="/">
                    <img src="~/images/neo_logo.svg" />
                </a>
            </div>
            <ul id="menu_list" class="navbar-nav float-right t2">
                <li class="nav-item"><a class="nav-link" asp-controller="home" asp-action="index">@Localizer["Home"]</a></li>
                <li class="nav-item"><a class="nav-link" href="~/awards.html">@Localizer["Competition"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="testnet" asp-action="index">@Localizer["Developer"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="client" asp-action="index">@Localizer["Client"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="blog" asp-action="index">@Localizer["Blog"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="event" asp-action="index">@Localizer["Event"]</a></li>
                <li class="nav-item"><a class="nav-link" href="http://ndapp.org" target="_blank">@Localizer["dApps"]</a></li>
                <li id="dropdown_btn" style="display:none">
                    <a class="iconfont nav-link" href="javascript:" onclick="$('#more_list').toggle()">&#xe675;</a>
                    <ul id="more_list"></ul>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer>
        <div class="main-footer">
            <div class="lang-select d-none d-md-block">
                <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
                    <p>
                        <input type="hidden" id="culture" name="culture" />
                        <input type="hidden" id="returnUrl" name="returnUrl" />
                        <a href="javascript:" onclick="setLanguage('en-us')">English</a>
                        <a href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                        <a href="javascript:" onclick="setLanguage('de-de')">Deutsch</a>
                    </p>
                    <script>
                        function setLanguage(culture) {
                            $("#culture").val(culture);
                            $("#returnUrl").val(window.location.pathname);
                            $("#form_language").submit();
                        }
                    </script>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="footer-link t2">
                            <li>
                                <a target="_blank" href="https://github.com/neo-project">
                                    <i class="iconfont">&#xe6ed;</i><span>GitHub</span>
                                </a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/NEOSmartEcon/"><i class="iconfont">&#xe681;</i><span>Facebook</span></a></li>
                            <li><a target="_blank" href="https://twitter.com/neo_blockchain"><i class="iconfont">&#xe601;</i><span>Twitter</span></a></li>
                            <li><a target="_blank" href="https://discord.gg/b8QNXwD"><i class="iconfont">&#xe71d;</i><span>Discord</span></a></li>
                            <li><a target="_blank" href="https://www.reddit.com/r/NEO/"><i class="iconfont">&#xe7d9;</i><span>Reddit</span></a></li>
                            <li><a target="_blank" href="https://medium.com/@@NEO_Council"><i class="iconfont">&#xe7e8;</i><span>Medium</span></a></li>
                            <li><a target="_blank" href="https://weibo.com/neosmarteconomy"><i class="iconfont">&#xe64a;</i><span>@Localizer["Weibo"]</span></a></li>
                            <li><a target="_blank" href="http://www.huodongxing.com/org/240661560945"><i class="iconfont">&#xe602;</i><span>@Localizer["Huodongxing"]</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 footer-logo m3">
                        <img src="/images/neo_logo.svg">
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-sm-12 m3 t3">
                        <p class="d-block d-md-none">
                            <a href="javascript:" onclick="setLanguage('en-us')">English</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:" onclick="setLanguage('zh-cn')">中文</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:" onclick="setLanguage('de-de')">Deutsch</a>
                        </p>
                        <p><a href="mailto:contact@neo.org">E-mail: contact@neo.org</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logo">@Localizer["Download Logo"]</a></p>
                        <p>Copyright © NEO Team 2014-@DateTime.Now.Year &nbsp;&nbsp;<a href="~/home/team">NEO Contributors</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
