@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["NEO Smart economy"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
        <link href="~/css/common.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
        <link href="~/css/common.css" rel="stylesheet" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="nav_container" class="container">
            <div id="logo_div" class="pull-left">
                <a class="navbar-brand">
                    <img src="~/images/neo_logo.svg" />
                </a>
            </div>
            <ul id="menu_list" class="nav navbar-nav pull-right pop-menu t2">
                <li class="menu-item"><a asp-area="" asp-controller="home" asp-action="index">@Localizer["Home"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="testnet" asp-action="index">@Localizer["Developer"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="download" asp-action="index">@Localizer["Client"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="blog" asp-action="index">@Localizer["Blog"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="dapps" asp-action="index">@Localizer["dApps"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="explorer" asp-action="index">@Localizer["Explorer"]</a></li>
                <li id="dropdown_btn" style="display:none">
                    <a class="iconfont" onclick="$('#more_list').toggle()">&#xe675;</a>
                    <ul id="more_list"></ul>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="footer-link t2">
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">wechat</a></li>
                        <li><a href="#">qq</a></li>
                        <li><a href="#">github</a></li>
                        <li><a href="#">reddit</a></li>
                        <li><a href="#">微博</a></li>
                        <li><a href="#">活动行</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer-logo m3">
                    <img src="/images/neo_logo.svg">
                </div>
            </div>
            <div class="row copyright">
                <div class="col-sm-12 m3 t3">
                    <span>Copyright © NEO</span>
                </div>
            </div>
        </div>

    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
