@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["NEO Smart economy"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
    <link href="~/css/common.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="nav_container" class="container">
            <div id="logo_div" class="pull-left">
                <a class="navbar-brand">
                    <img src="~/images/neo_logo.svg" />
                </a>
            </div>
            <ul id="menu_list" class="nav navbar-nav pull-right pop-menu t2">
                <li class="menu-item"><a asp-area="" asp-controller="home" asp-action="index">@Localizer["Home"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="testnet" asp-action="index">@Localizer["Developer"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="download" asp-action="index">@Localizer["Client"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="blog" asp-action="index">@Localizer["Blog"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="dapps" asp-action="index">@Localizer["dApps"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="explorer" asp-action="index">@Localizer["Explorer"]</a></li>
                <li id="dropdown_btn" style="display:none">
                    <a class="iconfont" onclick="$('#more_list').toggle()">&#xe675;</a>
                    <ul id="more_list"></ul>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="footer-link t2">
                        <li><span class="iconfont">&#xe681;</span><a href="#">facebook</a></li>
                        <li><span class="iconfont">&#xe601;</span><a href="#">twitter</a></li>
                        <li><span class="iconfont">&#xe638;</span><a href="#">wechat</a></li>
                        <li><span class="iconfont">&#xe604;</span><a href="#">qq</a></li>
                        <li><span class="iconfont">&#xe6ed;</span><a href="#">github</a></li>
                        <li><span class="iconfont">&#xe7d9;</span><a href="#">reddit</a></li>
                        <li><span class="iconfont">&#xe64a;</span><a href="#">微博</a></li>
                        <li><span class="iconfont">&#xe602;</span><a href="#">活动行</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer-logo m3">
                    <img src="/images/neo_logo.svg">
                </div>
            </div>
            <div class="row copyright">
                <div class="col-sm-12 m3 t3">
                    <span>Copyright © NEO</span>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
