@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet snippet
<!DOCTYPE html>
<!--
 ___     __     __ __ ___     __ ___ __
|    \  |  |   |   __ ___|   |   ___   |
|     \ |  |   |  |__ ___    |  |   |  |
|  |\  \|  |   |   __ ___|   |  |   |  |
|  | \     |   |  |__ ___    |  |___|  |
|__|  \ ___|   |__ __ ___|   |__ ___ __|

https://neo.org/

Want to make this site better?
https://github.com/neo-project/neo.org
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["NEO is a non-profit community-based blockchain project that utilizes blockchain technology and digital identity to digitize assets, to automate the management of digital assets using smart contracts, and to realize a \"smart economy\" with a distributed network."]'>
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    @if (ViewData["keywords"] == null)
    {
        <meta name="keywords" content="NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    }
    else
    {
        <meta name="keywords" content="@string.Format("{0},", ViewData["keywords"])NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    }

    @if (ViewData["Title"] == null)
    {
        <title>@Localizer["NEO Smart Economy"]</title>
        <meta name="twitter:title" content="@Localizer["NEO Smart Economy"]" />
    }
    else
    {
        <title>@ViewData["Title"] - @Localizer["NEO Smart Economy"]</title>
        <meta name="twitter:title" content="@ViewData["Title"] - @Localizer["NEO Smart Economy"]" />
    }
    @if (ViewData["Details"] == null)
    {
        <meta name="twitter:description" content="@Localizer["NEO Smart Economy"]" />
    }
    else
    {
        <meta name="twitter:description" content="@ViewData["Details"]" />
    }
    @if (ViewData["Image"] == null)
    {
        <meta name="twitter:image" content="@Helper.ToCDN("/images/twitter-img.jpg")" />
    }
    else
    {
        <meta name="twitter:image" content="@ViewData["Image"]" />
    }
    <meta name="twitter:card" content="summary_large_image" />
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="apple-touch-icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="shortcut icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="bookmark" />

    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="@Helper.ToCDN("/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Helper.ToCDN("/css/site.min.css", true)" rel="stylesheet" />
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    <footer>
    </footer>
    <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
        @Html.AntiForgeryToken()
        <p>
            <input type="hidden" id="culture" name="culture" />
            <input type="hidden" id="returnUrl" name="returnUrl" />
        </p>
        <script>
            function setLanguage(culture) {
                $("#culture").val(culture);
                $("#returnUrl").val(window.location.pathname);
                $("#form_language").submit();
            }
        </script>
    </form>
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/popper.js/popper.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Helper.ToCDN("/js/jquery.lazyload.min.js")"></script>
    <script>
        $(".dropdown-toggle").hover(function () {
            $(this).next(".dropdown-menu").toggle();
        })

        $('.dropdown-menu').hover(function () {
            $(this).toggle();
        });

        $('[data-original]').lazyload({
            threshold: 400,
            effect: "fadeIn"
        });
    </script>

    <environment include="Development">
        <script src="/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/site.min.js", true)"></script>
        @Html.Raw(snippet.FullScript)
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
