@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.ApplicationInsights.AspNetCore

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject JavaScriptSnippet snippet
<!DOCTYPE html>
<!--
 ___     __     __ __ ___     __ ___ __
|    \  |  |   |   __ ___|   |   ___   |
|     \ |  |   |  |__ ___    |  |   |  |
|  |\  \|  |   |   __ ___|   |  |   |  |
|  | \     |   |  |__ ___    |  |___|  |
|__|  \ ___|   |__ __ ___|   |__ ___ __|

https://neo.org/

Want to make this site better?
https://github.com/neo-project/neo.org
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["NEO is a non-profit community-based blockchain project that utilizes blockchain technology and digital identity to digitize assets, to automate the management of digital assets using smart contracts, and to realize a \"smart economy\" with a distributed network."]'>
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    <meta name="keywords" content="@(ViewData["keywords"] ?? $"{ViewData["keywords"]},")NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    @{
        var title = (ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "") + Localizer["NEO Smart Economy"].Value;
        var details = ViewData["Details"] ?? Localizer["NEO Smart Economy"].Value;
        var image = (ViewData["Image"] ?? Helper.ToCDN("/images/twitter-img.jpg"));
        var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
    }
    <title>@title</title>
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@details" />
    <meta property="og:image" content="@image" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@details" />
    <meta name="twitter:image" content="@image" />
    <meta name="twitter:card" content="summary_large_image" />
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="apple-touch-icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="shortcut icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="bookmark" />

    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="@Helper.ToCDN("/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Helper.ToCDN("/css/site.min.css", true)" rel="stylesheet" />
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
    @RenderSection("Styles", required: false)
    @if (SharedLocalizer["en"].Value == "zh")
    {
        <link href="@Helper.ToCDN("/css/sitecn.css", true)" rel="stylesheet" />
    }
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="/"><img src="@Helper.CDN/images/neo_logo.svg" alt="NEO Logo" /></a>
            <button class="navbar-toggler" type="button">
                <div class="special-button">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="about">@Localizer["About"]</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="dev">@Localizer["Developer"]</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="client">@Localizer["Client"]</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="eco">@Localizer["EcoSystem"]</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="discover">@Localizer["Discover"]</a></li>

                    <li class="nav-item"></li>
                    @if (SharedLocalizer["en"].Value == "zh")
                    {
                        <li class="nav-item nav-lang">
                            <a style="font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('en-us')">EN</a> |
                            <a style="font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item nav-lang">
                            <a style="font-size: 1em; font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('en-us')">EN</a> |
                            <a style="font-size: .9em;  font-weight: 500" class="nav-link" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container layout-container">
        @RenderBody()
    </div>

    <div class="b2 footer-fo text-center p2">
        <div class="container">
            <h2>Follow Us</h2>
            <h4 class="mt6">Stay tuned for the latest updates from neo</h4>
            <ul class="mt4">
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
                <li><a href="" class="iconfont">&#xe71d;</a></li>
            </ul>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://neo.us4.list-manage.com/subscribe/post?u=228d6f3157920dc1cad664104&amp;id=4f3883ac10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate autocomplete="off">
                    <div id="mc_embed_signup_scroll">
                        <div class="mb-3 mc-field-group">
                            <input type="email" class="form-control required email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter Email Address">
                            <button class="btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">SUBSCRIBE</button>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_228d6f3157920dc1cad664104_4f3883ac10" tabindex="-1" value=""></div>
                    </div>
                </form>
            </div>
            <script src="@Helper.ToCDN("/js/mc-validate.min.js")"></script>
            <!--End mc_embed_signup-->
        </div>
    </div>
    <footer class="b3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="b-logo" width="80" height="30"/>
                </div>
                <div class="col-md-2">
                    <p class="bold no-border">About</p>
                    <ul>
                        <li>About NEO</li>
                        <li>Roadmap</li>
                        <li>Contributors</li>
                        <li>Press Kit</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <p class="bold">Developers</p>
                    <ul>
                        <li>Dev Resources</li>
                        <li>Community</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <p class="bold">Ecosystem</p>
                    <ul>
                        <li>NEO Ecosystem</li>
                        <li>EcoBoost</li>
                        <li>dApps List</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="bold">Contact Us</p>
                    <ul>
                        <li><small>General</small><a href="mailto:contact@neo.org" class="green2"> contact@neo.org</a></li>
                        <li><small>Marketing</small><a href="mailto:marketing@neo.org" class="green2"> marketing@neo.org</a></li>
                        <li><small>EcoBoost</small><a href="mailto:xxxxxxx@neo.org" class="green2"> xxxxxxx@neo.org</a></li>
                        <li><small>R&D</small><a href="mailto:xxxxxxx@neo.org" class="green2"> xxxxxx@neo.org</a></li>
                    </ul>
                </div>
            </div>
            <p class="m2 op-70"><small>Copyright © NEO Team 2014-2019</small></p>
        </div>
    </footer>
    <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
        @Html.AntiForgeryToken()
        <p>
            <input type="hidden" id="culture" name="culture" />
            <input type="hidden" id="returnUrl" name="returnUrl" />
        </p>
        <script>
            function setLanguage(culture) {
                $("#culture").val(culture);
                $("#returnUrl").val(window.location.pathname);
                $("#form_language").submit();
            }
        </script>
    </form>
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/popper.js/popper.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Helper.ToCDN("/js/jquery.lazyload.min.js")"></script>
    <script>
        $(".dropdown-toggle").hover(function () {
            $(this).next(".dropdown-menu").toggle();
        })

        $('.dropdown-menu').hover(function () {
            $(this).toggle();
        });

        $('[data-original]').lazyload({
            threshold: 400,
            effect: "fadeIn"
        });
    </script>

    <environment include="Development">
        <script src="/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/site.min.js", true)"></script>
        @Html.Raw(snippet.FullScript)
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
