@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet snippet
<!DOCTYPE html>
<!--
 ___     __     __ __ ___     __ ___ __
|    \  |  |   |   __ ___|   |   ___   |
|     \ |  |   |  |__ ___    |  |   |  |
|  |\  \|  |   |   __ ___|   |  |   |  |
|  | \     |   |  |__ ___    |  |___|  |
|__|  \ ___|   |__ __ ___|   |__ ___ __|

https://neo.org/

Want to make this site better?
https://github.com/neo-project/neo.org
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["NEO is a non-profit community-based blockchain project that utilizes blockchain technology and digital identity to digitize assets, to automate the management of digital assets using smart contracts, and to realize a \"smart economy\" with a distributed network."]'>
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    @if (ViewData["keywords"] == null)
    {
        <meta name="keywords" content="NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    }
    else
    {
        <meta name="keywords" content="@string.Format("{0},", ViewData["keywords"])NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    }

    @if (ViewData["Title"] == null)
    {
        <title>@Localizer["NEO Smart Economy"]</title>
        <meta name="twitter:title" content="@Localizer["NEO Smart Economy"]" />
    }
    else
    {
        <title>@ViewData["Title"] - @Localizer["NEO Smart Economy"]</title>
        <meta name="twitter:title" content="@ViewData["Title"] - @Localizer["NEO Smart Economy"]" />
    }
    @if (ViewData["Details"] == null)
    {
        <meta name="twitter:description" content="@Localizer["NEO Smart Economy"]" />
    }
    else
    {
        <meta name="twitter:description" content="@ViewData["Details"]" />
    }
    @if (ViewData["Image"] == null)
    {
        <meta name="twitter:image" content="@Helper.ToCDN("/images/twitter-img.jpg")" />
    }
    else
    {
        <meta name="twitter:image" content="@ViewData["Image"]" />
    }
    <meta name="twitter:card" content="summary_large_image" />
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="apple-touch-icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="shortcut icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="bookmark" />

    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/navigation.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/common.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="@Helper.ToCDN("/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Helper.ToCDN("/css/site.min.css", true)" rel="stylesheet" />
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            <div id="nav_container">
                <a class="navbar-brand" href="/">
                    <img src="@Helper.ToCDN("/images/neo_logo.svg")" />
                </a>
                <div class="collapse navbar-collapse" id="neoNnavbarToggler">
                    <ul id="menu_list" class="navbar-nav top-nav ml-auto">
                        <li class="nav-item"><a asp-controller="home" asp-action="index">@Localizer["Home"]</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" asp-controller="dev" asp-action="index" data-toggle="dropdown" onclick="window.location = '/dev'">
                                @Localizer["Developer"]
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item t4" href="/testcoin/apply">@Localizer["Apply Testnet NEO/GAS"]</a>
                                <a class="dropdown-item t4" href="http://docs.neo.org" target="_blank">@Localizer["Technical Documents"] <i class="iconfont">&#xe6f4;</i></a>
                                <a class="dropdown-item t4" href="https://github.com/neo-project" target="_blank">GitHub <i class="iconfont">&#xe6f4;</i></a>
                                <a class="dropdown-item t4" href="/dev/bounty">@Localizer["Security Bounty"]</a>
                            </div>
                        </li>
                        <li class="nav-item"><a asp-controller="client" asp-action="index">@Localizer["Client"]</a></li>
                        <li class="nav-item"><a asp-controller="blog" asp-action="index">@Localizer["Blog"]</a></li>
                        <li class="nav-item"><a asp-controller="event" asp-action="index">@Localizer["Event"]</a></li>
                        <li class="nav-item"><a asp-controller="consensus" asp-action="index">@Localizer["Consensus Nodes"]</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                @Localizer["More"]
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item t4" href="http://ndapp.org" target="_blank">DAPPS <i class="iconfont">&#xe6f4;</i></a>
                                <a class="dropdown-item t4" href="/team">@Localizer["NEO Contributors"]</a>
                                <a class="dropdown-item t4" href="/logo">@Localizer["Download Logo"]</a>
                            </div>
                        </li>
                        <li class="nav-item nav-lang">
                            <a href="javascript:" onclick="setLanguage('en-us')">EN</a>/<a href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#neoNnavbarToggler" aria-controls="neoNnavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon iconfont">&#xe629;</span>
                </button>
            </div>
        </div>
    </nav>

    <div class="container layout-container">
        @RenderBody()
    </div>
    <footer>
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 footer-logo m1 lh3 t4">
                        <img src="@Helper.ToCDN("/images/neo_logo.svg")">
                        <p class="m4 mb0"><a class="gray-text" href="mailto:contact@neo.org">Contact: contact@neo.org</a></p>
                        <p class="mb0"><a class="gray-text" href="mailto:contact@neo.org">Marketing: marketing@neo.org</a></p>
                    </div>
                    <div class="col-md-7 m1">
                        <ul class="footer-link t2">
                            <li><a target="_blank" href="https://github.com/neo-project"><i class="iconfont">&#xe6ed;</i></a></li>
                            <li><a target="_blank" href="https://twitter.com/neo_blockchain"><i class="iconfont">&#xe601;</i></a></li>
                            <li><a target="_blank" href="https://discord.io/neo"><i class="iconfont">&#xe71d;</i></a></li>
                            <li><a target="_blank" href="https://www.reddit.com/r/NEO/"><i class="iconfont">&#xe7d9;</i></a></li>
                            <li><a target="_blank" href="https://medium.com/neo-smart-economy"><i class="iconfont">&#xe7e8;</i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCl1AwEDN0w5lTmfJEMsY5Vw/videos"><i class="iconfont">&#xe612;</i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/NEOSmartEcon/"><i class="iconfont">&#xe681;</i></a></li>
                            <li><a target="_blank" href="http://www.huodongxing.com/org/240661560945"><i class="iconfont">&#xe602;</i></a></li>
                            <li class="pop-up">
                                <a href="javascript:void(0);"><i class="iconfont">&#xe638;</i></a>
                                <div class="pop-hide">
                                    <img src="@Helper.ToCDN("/images/qrcode.png")" width="120" height="120" />
                                </div>
                            </li>
                            <li><a target="_blank" href="https://weibo.com/neosmarteconomy"><i class="iconfont">&#xe64a;</i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-sm-12 m1 t5 light-text">
                        <p>Copyright © NEO Team 2014-@DateTime.Now.Year &nbsp;&nbsp;<a class="light-text" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">沪ICP备15040337号</a> <a class="light-text" href="~/map">@Localizer["Site Map"]</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
        @Html.AntiForgeryToken()
        <p>
            <input type="hidden" id="culture" name="culture" />
            <input type="hidden" id="returnUrl" name="returnUrl" />
        </p>
        <script>
            function setLanguage(culture) {
                $("#culture").val(culture);
                $("#returnUrl").val(window.location.pathname);
                $("#form_language").submit();
            }
        </script>
    </form>
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" asp-append-version="true"></script>
    <script src="@Helper.ToCDN("/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script>
        $(".dropdown-toggle").hover(function () {
            $(this).next(".dropdown-menu").toggle();
        })

        $('.dropdown-menu').hover(function () {
            $(this).toggle();
        });

    </script>

    <environment include="Development">
        <script src="/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/site.min.js", true)"></script>
        @Html.Raw(snippet.FullScript)
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
