@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.ApplicationInsights.AspNetCore

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject JavaScriptSnippet snippet
<!DOCTYPE html>
<!--
 ___     __     __ __ ___     __ ___ __
|    \  |  |   |   __ ___|   |   ___   |
|     \ |  |   |  |__ ___    |  |   |  |
|  |\  \|  |   |   __ ___|   |  |   |  |
|  | \     |   |  |__ ___    |  |___|  |
|__|  \ ___|   |__ __ ___|   |__ ___ __|

https://neo.org/

Want to make this site better?
https://github.com/neo-project/neo.org
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["NEO is a non-profit community-based blockchain project that utilizes blockchain technology and digital identity to digitize assets, to automate the management of digital assets using smart contracts, and to realize a \"smart economy\" with a distributed network."]'>
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    <meta name="keywords" content="@(ViewData["keywords"] ?? $"{ViewData["keywords"]},")NEO,Blockchain,智能经济,antshares,小蚁,区块链">

    <title>@(ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "")@Localizer["NEO Smart Economy"]</title>
    <meta name="twitter:title" content="@(ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "")@Localizer["NEO Smart Economy"]" />
    <meta name="twitter:description" content="@(ViewData["Details"] ?? Localizer["NEO Smart Economy"])" />
    <meta name="twitter:image" content="@(ViewData["Image"] ?? Helper.ToCDN("/images/twitter-img.jpg"))" />
    <meta name="twitter:card" content="summary_large_image" />
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="apple-touch-icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="shortcut icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="icon">
    <link type="image/x-icon" href="@Helper.ToCDN("/images/favicon.png")" rel="bookmark" />

    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="@Helper.ToCDN("/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Helper.ToCDN("/css/site.min.css", true)" rel="stylesheet" />
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
    @RenderSection("Styles", required: false)
    @if (SharedLocalizer["en"].Value == "zh")
    {
        <style>
            /*中文字体*/
            html, body {
                font-size: 15px;
                font-family: "微软雅黑 Light",PingFangSC-Light,"PingHei","Lucida Grande","STHeitiSC-Light","BBAlpha Sans","S60 Sans","Hiragino Sans GB","Microsoft YaHei Light","Verdana",SimHei,"WenQuanYi Micro Hei",sans-serif;
            }
        </style>
    }
</head>
<body>
    <nav class="container navbar navbar-expand-md">
        <a href="/"><img src="@Helper.CDN/images/neo_logo.svg" alt="NEO Logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="special-button">
                <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" width="50" xml:space="preserve">
                <path class="st0" d="M41,78h71c0,0,29.7-8,16-36c-1.6-3.3-19.3-30-52-30c-36,0-64,29-64,65c0,29,26,59,61.6,59c41.4,0,62.6-29,62.6-59c0-37.7-19.2-49.1-26.3-54" stroke-linejoin="round" stroke-linecap="round" /></svg>
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="about" asp-action="index">@Localizer["About"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="dev" asp-action="index">@Localizer["Developer"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="client" asp-action="index">@Localizer["Client"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="ecosystem" asp-action="index">@Localizer["EcoSystem"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="discover" asp-action="index">@Localizer["News & Event"]</a></li>

                @if (SharedLocalizer["en"].Value == "zh")
                {
                    <li class="nav-item nav-lang">
                        <a style="font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('en-us')">EN</a>|
                        <a style="font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                    </li>
                }
                else
                {
                    <li class="nav-item nav-lang">
                        <a style="font-size: 1em; font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('en-us')">EN</a>|
                        <a style="font-size: .9em;  font-weight: 500" class="nav-link" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container layout-container">
        @RenderBody()
    </div>
    <footer>
        <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
            @Html.AntiForgeryToken()
            <p>
                <input type="hidden" id="culture" name="culture" />
                <input type="hidden" id="returnUrl" name="returnUrl" />
            </p>
            <script>
                function setLanguage(culture) {
                    $("#culture").val(culture);
                    $("#returnUrl").val(window.location.pathname);
                    $("#form_language").submit();
                }
            </script>
        </form>
    </footer>
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/popper.js/popper.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Helper.ToCDN("/js/jquery.lazyload.min.js")"></script>
    <script>
        $(".dropdown-toggle").hover(function () {
            $(this).next(".dropdown-menu").toggle();
        })

        $('.dropdown-menu').hover(function () {
            $(this).toggle();
        });

        $('[data-original]').lazyload({
            threshold: 400,
            effect: "fadeIn"
        });
    </script>

    <environment include="Development">
        <script src="/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/site.min.js", true)"></script>
        @Html.Raw(snippet.FullScript)
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
