@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<!DOCTYPE html>
<!--
 ___     __     __ __ ___     __ ___ __
|    \  |  |   |   __ ___|   |   ___   |
|     \ |  |   |  |__ ___    |  |   |  |
|  |\  \|  |   |   __ ___|   |  |   |  |
|  | \     |   |  |__ ___    |  |___|  |
|__|  \ ___|   |__ __ ___|   |__ ___ __|

https://neo.org/

Want to make this site better?
https://github.com/neo-project/neo.org
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["Neo is an open-source, community driven initiative that is leveraging the intrinsic advantages of blockchain technology to realize the optimized digital world of the future."]'>
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    <meta name="keywords" content="@(ViewData["keywords"] ?? $"{ViewData["keywords"]},")Neo,Blockchain,智能经济,区块链">
    @{
        var title = (ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "") + Localizer["Neo Smart Economy"].Value;
        var details = ViewData["Details"] ?? Localizer["Neo Smart Economy"].Value;
        var image = (ViewData["Image"] ?? Helper.ToCDN("/images/twitter-img.jpg"));
        var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
    }
    <title>@title</title>
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@details" />
    <meta property="og:image" content="@image" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@details" />
    <meta name="twitter:image" content="@image" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link href="@Helper.ToCDN("/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Helper.ToCDN("/css/site.min.css", true)" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    @if (SharedLocalizer["en"].Value == "zh")
    {
        <link href="@Helper.ToCDN("/css/sitecn.css", true)" rel="stylesheet" />
    }
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <a asp-controller="home" asp-action="index">
            <img src="@Helper.CDN/images/logo files-dark.svg" alt="Neo Logo" />
        </a>
        <button class="navbar-toggler" type="button">
            <div class="special-button">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="about">@Localizer["About"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="dev">@Localizer["Developer"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="wallets">@Localizer["Wallets"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="eco">@Localizer["Ecosystem"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="discover">@Localizer["Discover"]</a></li>

                <li class="nav-item border-0"></li>
                @if (SharedLocalizer["en"].Value == "zh")
                {
                    <li class="nav-item nav-lang">
                        <a style="font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('en-us')">EN</a> |
                        <a style="font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                    </li>
                }
                else
                {
                    <li class="nav-item nav-lang">
                        <a style="font-size: 1em; font-weight: 600" class="nav-link" href="javascript:" onclick="setLanguage('en-us')">EN</a> |
                        <a style="font-size: .9em;  font-weight: 500" class="nav-link" href="javascript:" onclick="setLanguage('zh-cn')">中文</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container layout-container">
        @RenderBody()
    </div>

    <div class="b2 footer-fo text-center p2">
        <div class="container">
            <h2>@Localizer["Follow Us"]</h2>
            <ul class="mt4">
                <li><a target="_blank" title="GitHub" href="https://github.com/neo-project" class="iconfont">&#xe609;</a></li>
                <li><a target="_blank" title="Twitter" href="https://twitter.com/neo_blockchain" class="iconfont">&#xe607;</a></li>
                <li><a target="_blank" title="Medium" href="https://medium.com/neo-smart-economy" class="iconfont">&#xe608;</a></li>
                <li><a target="_blank" title="Telegram" href="@Localizer["https://t.me/NEO_EN"]" class="iconfont">&#xe606;</a></li>
                <li><a target="_blank" title="Reddit" href="https://www.reddit.com/r/NEO/" class="iconfont">&#xe60a;</a></li>
                <li><a target="_blank" title="Discord" href="https://discord.io/neo" class="iconfont">&#xe60b;</a></li>
                <li><a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UCl1AwEDN0w5lTmfJEMsY5Vw/videos" class="iconfont">&#xe60c;</a></li>
                <li>
                    <a title="WeChat" href="javascript:" class="iconfont">&#xe60d;</a>
                    <img src="@Helper.CDN/images/qrcode.png" />
                </li>
                <li><a target="_blank" title="Weibo" href="https://weibo.com/neosmarteconomy" class="iconfont">&#xe60e;</a></li>
            </ul>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup" class="mt4">
                <form action="https://neo.us4.list-manage.com/subscribe/post?u=228d6f3157920dc1cad664104&amp;id=4f3883ac10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate autocomplete="off">
                    <div id="mc_embed_signup_scroll">
                        <div class="mb-3 mc-field-group">
                            <input type="email" class="form-control required email" value="" name="EMAIL" id="mce-EMAIL" placeholder="@Localizer["Enter Email Address"]">
                            <button class="btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">@Localizer["SUBSCRIBE"]</button>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_228d6f3157920dc1cad664104_4f3883ac10" tabindex="-1" value=""></div>
                    </div>
                </form>
            </div>
            <script src="@Helper.ToCDN("/js/mc-validate.min.js")"></script>
            <!--End mc_embed_signup-->
        </div>
    </div>
    <footer class="b3 px-5">
        <div class="row">
            <div class="col-md">
                <img class="b-logo" src="@Helper.CDN/images/logo files-white.svg" width="80" height="30" />
            </div>
            <div class="col-md">
                <p class="bold no-border"><a asp-controller="about" asp-action="index">@Localizer["About"]</a></p>
                <ul>
                    <li><a asp-controller="consensus" asp-action="index">@Localizer["Consensus"]</a></li>
                    <li><a asp-controller="contributors" asp-action="index">@Localizer["Contributors"]</a></li>
                    <li><a asp-controller="presskit" asp-action="index">@Localizer["Press Kit"]</a></li>
                </ul>
            </div>
            <div class="col-md">
                <p class="bold"><a asp-controller="dev" asp-action="index">@Localizer["Developers"]</a></p>
                <ul>
                    <li><a target="_blank" href="https://docs.neo.org">@Localizer["Documentation"]</a></li>
                    <li><a target="_blank" href="https://github.com/neo-project">@Localizer["GitHub"]</a></li>
                    <li><a asp-controller="bounty" asp-action="index">@Localizer["Vulnerability Bounty Program"]</a></li>
                </ul>
            </div>
            <div class="col-md">
                <p class="bold"><a asp-controller="wallets" asp-action="index">@Localizer["Wallets"]</a></p>
            </div>
            <div class="col-md">
                <p class="bold"><a asp-controller="eco" asp-action="index">@Localizer["Ecosystem"]</a></p>
                <ul>
                    <li><a asp-controller="ecoboost" asp-action="index">@Localizer["EcoBoost"]</a></li>
                    <li><a href="https://ndapp.org" target="_blank">@Localizer["dApps List"]</a></li>
                </ul>
            </div>
            <div class="col-md">
                <p class="bold"><a asp-controller="discover" asp-action="index">@Localizer["Discover"]</a></p>
                <ul>
                    <li><a asp-controller="discover" asp-action="index" asp-route-type="1">@Localizer["Blogs"]</a></li>
                    <li><a asp-controller="discover" asp-action="index" asp-route-type="2">@Localizer["Events"]</a></li>
                    <li><a asp-controller="discover" asp-action="index" asp-route-type="3">@Localizer["News"]</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="bold">@Localizer["Contact Us"]</p>
                <ul>
                    <li><small>@Localizer["Marketing"]</small><a href="mailto:marketing@neo.org" class="green2">marketing@neo.org</a></li>
                    <li><small>@Localizer["Ecogrowth"]</small><a href="mailto:eg@neo.org" class="green2">eg@neo.org</a></li>
                    <li><small>@Localizer["General"]</small><a href="mailto:contact@neo.org" class="green2">contact@neo.org</a></li>
                </ul>
            </div>
        </div>
        <div class="mt2">
            <p class="op-70"><small>Copyright © Neo Team 2014-@DateTime.Now.Year</small></p>
            <p class="op-70"><small><a asp-controller="map" asp-action="index">@Localizer["Site Map"]</a></small></p>
        </div>
    </footer>
    <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
        @Html.AntiForgeryToken()
        <p><input type="hidden" id="culture" name="culture" /><input type="hidden" id="returnUrl" name="returnUrl" /></p>
    </form>
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/popper.js/popper.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Helper.ToCDN("/js/jquery.lazyload.min.js")"></script>
    <environment include="Development">
        <script src="/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/site.min.js", true)"></script>
    </environment>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130525731-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-130525731-3');
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
