@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="description" content='@Localizer["NEO is a non-profit community-based blockchain project, that use of blockchain technology and digital identity to digitize assets, the use of smart contracts for digital assets to be self-managed, to achieve \"smart economy\" with a distributed network."]'>
    <meta name="keywords" content="NEO,Blockchain,智能经济,antshares,小蚁,区块链">
    <meta name="author" content="neo-project">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="neo.org">

    <title>@Localizer["NEO Smart economy"]</title>

    <link rel="apple-touch-icon" href="~/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png">
    <link rel="bookmark" type="image/x-icon" href="~/images/favicon.png" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
    <link href="~/css/common.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="nav_container" class="container">
            <div id="logo_div" class="pull-left">
                <a class="navbar-brand" href="/">
                    <img src="~/images/neo_logo.svg" />
                </a>
            </div>
            <ul id="menu_list" class="nav navbar-nav pull-right pop-menu t2">
                <li class="menu-item"><a asp-area="" asp-controller="home" asp-action="index">@Localizer["Home"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="testnet" asp-action="index">@Localizer["Developer"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="download" asp-action="index">@Localizer["Client"]</a></li>
                <li class="menu-item"><a asp-area="" asp-controller="blog" asp-action="index">@Localizer["Blog"]</a></li>
                <li class="menu-item"><a href="javascript:" title="comming soon">@Localizer["dApps"]</a></li>
                @*<li class="menu-item"><a asp-area="" asp-controller="explorer" asp-action="index">@Localizer["Explorer"]</a></li>*@
                <li id="dropdown_btn" style="display:none">
                    <a class="iconfont" href="javascript:" onclick="$('#more_list').toggle()">&#xe675;</a>
                    <ul id="more_list"></ul>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="main-footer">
        <div class="lang-select hidden-xs">
            <form id="form_language" asp-action="SetLanguage" asp-controller="home" method="post">
                <p>
                    <input type="hidden" id="culture" name="culture" />
                    <input type="hidden" id="returnUrl" name="returnUrl" />
                    <a href="javascript:" onclick="setLanguage('en-us')">English</a>
                    <a href="javascript:" onclick="setLanguage('zh-cn')">中文</a></p>
                    <script>
                        function setLanguage(culture)
                        {
                            $("#culture").val(culture);
                            $("#returnUrl").val(window.location.pathname);
                            $("#form_language").submit();
                        }
                    </script>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="footer-link t2">
                        <li><span class="iconfont">&#xe6ed;</span><a target="_blank" href="https://github.com/neo-project">GitHub</a></li>
                        <li><span class="iconfont">&#xe681;</span><a target="_blank" href="https://www.facebook.com/NEOSmartEcon/">Facebook</a></li>
                        <li><span class="iconfont">&#xe601;</span><a target="_blank" href="https://twitter.com/neo_blockchain">Twitter</a></li>
                        <li><span class="iconfont">&#xeaa2;</span><a target="_blank" href="https://join.slack.com/t/neosmarteconomy/shared_invite/enQtMjYyMjg4Nzc2MDUzLTNmZGEyMzAzMjBmM2YwNjBlNDc0MjBjNTVmMGYwMTY3NjY1Yzc1MGY3MGY1M2YzN2NjMmU5ZDE5MGIzNzFjNzk">slack</a></li>
                        <li><span class="iconfont">&#xe7d9;</span><a target="_blank" href="https://www.reddit.com/r/NEO/">Reddit</a></li>
                        <li><span class="iconfont">&#xe604;</span><a target="_blank" href="https://shang.qq.com/wpa/qunwpa?idkey=7a70d15ce55b94c5cc93d8dffd074316f40d44c243a998e9128f8712deca934b">QQ</a></li>
                        <li><span class="iconfont">&#xe64a;</span><a target="_blank" href="https://weibo.com/neosmarteconomy">@Localizer["Weibo"]</a></li>
                        <li><span class="iconfont">&#xe602;</span><a target="_blank" href="http://www.huodongxing.com/org/240661560945">@Localizer["Huodongxing"]</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer-logo m3">
                    <img src="/images/neo_logo.svg">
                </div>
            </div>
            <div class="row copyright">
                <div class="col-sm-12 m3 t3">
                    <p class="visible-xs"><a href="javascript:language('en-us')">English</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:language('zh-cn')">中文</a></p>
                    <p><a href="mailto:contact@neo.org">E-mail: contact@neo.org</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logo">@Localizer["Download Logo"]</a></p>
                    <p>Copyright © NEO Team 2014-@DateTime.Now.Year &nbsp;&nbsp;<a href="https://github.com/neo-project/neo.org/tree/develop" target="_blank">@Localizer["About this website"]</a></p>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
