@model DiscoverViewModel

@if (Model?.Type == DiscoverViewModelType.Blog && Model.Blog.IsShow)
{
    <div class="col-md-8">
        @if (string.IsNullOrEmpty(Model.Blog.Cover))
        {
            <a class="img" href="~/blog/details/@Model.Blog.Id" data-original="@Helper.ToCDN("/images/discover/blog.png")"></a>
        }
        else
        {
            <a class="img" href="~/blog/details/@Model.Blog.Id" data-original="@String.Format("/upload/{0}", Model.Blog.Cover).ToLower()"></a>
        }
    </div>
    <div class="col-md-4">
        <div class="center">
            <p class="green bold m4">BLOG</p>
            <h4 class="d-title"><a href="~/blog/details/@Model.Blog.Id">@Model.Blog.Title</a></h4>
            @if (ViewBag.UserRules)
            {
                <a asp-action="Edit" asp-controller="Blog" asp-route-id="@Model.Blog.Id">Edit</a>
                <a class="ml-2" asp-action="Delete" asp-controller="Blog" asp-route-id="@Model.Blog.Id">Delete</a>
            }
            <p class="m6">@Model.Blog.Title</p>
            <p class="m5">
                @Model.Blog.Summary
            </p>
        </div>
    </div>
}
else if (Model?.Type == DiscoverViewModelType.Event)
{
<div class="col-md-8">
    @if (string.IsNullOrEmpty(Model.Event.Cover))
    {
        <a class="img" href="~/event/details/@Model.Event.Id" data-original="@Helper.ToCDN("/images/discover/event.png")"></a>
    }
    else
    {
        <a class="img" href="~/event/details/@Model.Event.Id" data-original="@String.Format("/upload/{0}", Model.Event.Cover).ToLower()"></a>
    }
</div>
    <div class="col-md-4">
        <div class="center">
            <p class="green bold m4">EVENT</p>
            <h4 class="d-title"><a href="~/event/details/@Model.Event.Id">@Model.Event.Name</a></h4>
            @if (ViewBag.UserRules)
            {
                <a asp-action="Edit" asp-controller="Event" asp-route-id="@Model.Event.Id">Edit</a>
                <a class="ml-2" asp-action="Delete" asp-controller="Event" asp-route-id="@Model.Event.Id">Delete</a>
            }
            <div class="small">
                <div class="m6"> @Model.Event.StartTime - @Model.Event.EndTime</div>
                <div> @Model.Event.Country, @Model.Event.City</div>
            </div>
        </div>
    </div>
}
else if (Model?.Type == DiscoverViewModelType.News)
{
<div class="col-md-8">
    @if (string.IsNullOrEmpty(Model.News.Cover))
    {
        <a class="img" href="@Model.News.Link" data-original="@Helper.ToCDN("/images/discover/news.png")"></a>
    }
    else
    {
        <a class="img" href="@Model.News.Link" data-original="@String.Format("/upload/{0}", Model.News.Cover).ToLower()"></a>
    }
</div>
    <div class="col-md-4">
        <div class="center">
            <p class="green bold m4">NEWS</p>
            <h4 class="d-title"><a href="@Model.News.Link" target="_blank">@Model.News.Title</a></h4>
            @if (ViewBag.UserRules)
            {
                <a asp-action="Edit" asp-controller="News" asp-route-id="@Model.News.Id">Edit</a>
                <a class="ml-2" asp-action="Delete" asp-controller="News" asp-route-id="@Model.News.Id">Delete</a>
            }
            <div class="small">@Model.News.Time</div>
        </div>
    </div>
}