@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Get Wallets"].Value;
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/wallets.min.css", true)" />
}
<div id="homeFri" class="p1 bg5">
    <div class="container">
        <h1 class="w800">@Localizer["Get Wallets"]</h1>
        <p class="mt5 w600">@Localizer["The wallets shown on this page have been developed by groups within the Neo community. Choose the wallet that best fits your needs, and if you encounter any problems during use, please contact the developer directly. When creating a new Neo wallet, please remember to back up your private key in a secure manner. Your private key is the only way to control your own Neo assets."]</p>
    </div>
</div>
<div class="container">
    <div class="row align-items-end mt-1">
        <div class="col-md-3 offset-md-9 mt-1">
            <select class="form-control" id="select">
                <option value="">@Localizer["All Wallets"]</option>
                <option value="desktop">@Localizer["Desktop"]</option>
                <option value="mobile">@Localizer["Mobile"]</option>
                <option value="web">@Localizer["Web"]</option>
                <option value="extension">@Localizer["Extension"]</option>
                <option value="hardware">@Localizer["Hardware"]</option>
            </select>
        </div>
    </div>

    <ul class="row mt5 client-ul">
        <li class="desktop">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/gui.png")" />
            <header>neo-gui</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
            </div>
            <a class="open-source" href="https://github.com/neo-project/neo-gui" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/neo-project/neo-gui" target="_blank">The Neo Project</a></div>
            <div class="license d-none"><a class="float-left" href="https://github.com/neo-project/neo-gui/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://github.com/neo-project/neo-gui/releases" target="_blank">@Localizer["Download"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-desktop preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/gui.png")" />
                </div>
                <p>@Localizer["Neo-gui is a full-node Neo client, which contains all the basic functions of Neo network. This wallet is designed for advanced users, with professional software interaction and extremely high security. However, it takes a long time to initialize synchronization, occupies disk and memory, and has poor stability."]</p>
                <p>@Localizer["Need to install"] <a href="https://www.microsoft.com/net/download/dotnet-framework-runtime" target="_blank">.NetFramework 4.7.2</a> @Localizer["and"] <a href="https://www.microsoft.com/en-us/download/details.aspx?id=14632" target="_blank">VC++ 2010 Redist x64</a>/<a href="https://www.microsoft.com/en-us/download/details.aspx?id=5555" target="_blank">x86</a>
                <p>@Localizer["For more information, see:"]<a href="@Localizer["https://docs.neo.org/docs/en-us/node/gui/install.html"]" target="_blank">@Localizer["Instructions for use"]</a></p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-success">@Localizer["Comprehensive"]</span>
                        <div>@Localizer["This wallet is a full node that stores all the data in the Neo blockchain, which means that there is no need to trust a third party when verifying payments or executing contracts. The full node provides the highest level of security and is an integral part of protecting the network. However, it requires more hard disk space (15GB), greater bandwidth, and a longer initialization synchronization time. The initialization synchronization speed can be accelerated by downloading the <a href=\"http://sync.ngd.network/\" target=\"_blank\">offline synchronization package</a> provided by NGD."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/neo-project/neo-gui" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Support Plugins"]</span>
                        <p>Neo-gui @Localizer["supports plugins. The following is a list of commonly-used plug-in components."]</p>
                        <br />
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">@Localizer["Plugin"]</th>
                                    <th scope="col">@Localizer["Introduction"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">ImportBlocks</a>
                                    </td>
                                    <td>@Localizer["Synchronizes the client using offline packages."]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/cli.png")" />
            <header>neo-cli</header>
            <div class="platform">
                <i class="iconfont" header data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xe6c1;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61f;</i>
            </div>
            <a class="open-source" href="https://github.com/neo-project/neo-cli" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/neo-project/neo-cli" target="_blank">The Neo Project</a></div>
            <div class="license d-none"><a href="https://github.com/neo-project/neo-cli/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://github.com/neo-project/neo-cli/releases" target="_blank">@Localizer["Download"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-desktop preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/cli.png")" />
                </div>
                <p>
                    @Localizer["Neo-cli is a full-node command-line client that can run across platforms. It can provide APIs for developers to call, or participate in the consensus mechanism as a consensus node in the block chain. This wallet is designed for developers, with professional software interaction, as well as higher security and stability. The disadvantages of this wallet are that it takes a long time to initialize synchronization, and it takes up disk and memory."]
                </p>
                <p>@Localizer["For more information, see:"] <a href="@Localizer["https://docs.neo.org/docs/en-us/node/cli/setup.html"]" target="_blank">@Localizer["Instructions for use"]</a>, <a href="https://github.com/neo-project/neo-cli/blob/master/CHANGELOG.md" target="_blank">@Localizer["Change log"]</a></p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-success">@Localizer["Comprehensive"]</span>
                        <div>@Localizer["This wallet is a full node that stores all the data in the Neo blockchain, which means that there is no need to trust a third party when verifying payments or executing contracts. The full node provides the highest level of security and is an integral part of protecting the network. However, it requires more hard disk space (15GB), greater bandwidth, and a longer initialization synchronization time. The initialization synchronization speed can be accelerated by downloading the <a href=\"http://sync.ngd.network/\" target=\"_blank\">offline synchronization package</a> provided by NGD."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/neo-project/neo-cli" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Support Plugins"]</span>
                        <p>Neo-cli @Localizer["supports plugins. The following is a list of commonly-used plug-in components."]</p>
                        <br />
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">@Localizer["Plugin"]</th>
                                    <th scope="col">@Localizer["Introduction"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">ApplicationLogs</a>
                                    </td>
                                    <td>@Localizer["Synchronizes the smart contract log (ApplicationLogs) automatically in RPC mode. Currently the log has been changed to be stored in the format of LevelDB."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">CoreMetrics</a>
                                    </td>
                                    <td>@Localizer["Enquiries the timestamp of history blocks."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">ImportBlocks</a>
                                    </td>
                                    <td>@Localizer["Synchronizes the client using offline packages."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcNep5Tracker</a>
                                    </td>
                                    <td>@Localizer["Enquiries NEP-5 balance and transactions history of accounts through RPC."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcSecurity</a>
                                    </td>
                                    <td>@Localizer["Enhances the security of RPC requests by enabling base64 encryption for HTTP requests. You need to configure the user name and password in the plugin config.json file."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcSystemAssetTracker</a>
                                    </td>
                                    <td>@Localizer["Enquiries the UTXO assets related information."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">RpcWallet</a>
                                    </td>
                                    <td>@Localizer["Provides wallet-specific RPC functionalities."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">SimplePolicy</a>
                                    </td>
                                    <td>@Localizer["Enables policies for filtrate illegal transactions."]</td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <a href="https://github.com/neo-project/neo-plugins/releases/" target="_blank">StatesDumper</a>
                                    </td>
                                    <td>@Localizer["Exports neo-cli status data."]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/o3.png")" />
            <header>O3 Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xe6c1;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61f;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <a class="open-source" href="https://github.com/O3Labs" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://o3.network/" target="_blank">O3 Labs</a></div>
            <div class="license d-none"><a href="https://github.com/O3Labs/OzoneWalletIOS/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://o3.network/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-desktop" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/o31.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/o32.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/o33.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/o34.png")" />
                </div>
                <div class="p-desktop preview" style="display:none;">
                    <img data-original="@Helper.ToCDN("/images/wallets/o3-desktop.png")" />
                </div>
                <p>
                    @Localizer["It's a cross-platform wallet developed by O3 Labs. This wallet supports most mainstream operating systems, maintains a high update frequency and can support Neo network updates and features in a timely manner."]
                </p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives you a high degree of control over digital assets. The private key is encrypted and stored by the Encrypted Key and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the Encrypted Key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/O3Labs" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-9.mediawiki" target="_blank">NEP-9</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/neon.png")" />
            <header>Neon Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xe6c1;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61f;</i>
            </div>
            <a class="open-source" href="https://github.com/CityOfZion/neon-wallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/CityOfZion/neon-wallet" target="_blank">City of Zion</a></div>
            <div class="license d-none"><a href="https://github.com/CityOfZion/neon-wallet/blob/dev/LICENSE.md" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://neonwallet.com/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-desktop preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/neon.png")" />
                </div>
                <p>@Localizer["It's a cross-platform wallet developed by Neo developer community City of Zion. This wallet supports mainstream operating systems such as Windows, macOS and Linux, and focuses on UE and UI."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the wallet file."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/anybit.png")" />
            <header>AnyBit</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <a class="open-source" href="https://github.com/AnyBitIO/anybit-Android" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://www.anybit.io/" target="_blank">AnyBit</a></div>
            <div class="license d-none"><a href="https://github.com/AnyBitIO/anybit-iOS/blob/master/LICENSE" target="_blank">Apache License</a></div>
            <div class="button d-none"><a class="btn" href="https://www.anybit.io/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/anybit1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/anybit2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/anybit3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/anybit4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/anybit5.png")" />
                </div>
                <p>
                    @Localizer["It's a the first hot and cold combined wallet that supports NEO. The mnemonic and private key are stored locally. This wallet is divided into general mode and isolation mode. In the isolation mode, the devices used need to be completely isolated from the network. This wallet is simple in functions, and when transaction happens, the hot wallet needs to be used for transaction request and broadcast."]
                </p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key or the mnemonic are stored locally. This wallet gives more support to the cold and hot wallet dual mode cooperation, offline signature authorization and online asset observation. It is completely isolated from the network environment so as to store assets more securely."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/AnyBitIO/anybit-Android" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/sea.png")" />
            <header>SEA Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61f;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <a class="open-source" href="https://github.com/OTCGO/sea-app" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://otcgo.cn/" target="_blank">SEA</a></div>
            <div class="license d-none"><a href="https://github.com/OTCGO/sea-app/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none">
                <a class="btn" href="https://otcgo.cn/download/" target="_blank">@Localizer["Download"]</a>
                <a class="btn" href="https://otcgo.cn/#/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/sea1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/sea2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/sea3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/sea4.png")" />
                </div>
                <p>@Localizer["It's a wallet developed by SEA. This wallet contains basic functions such as importing private keys, transferring assets, retrieving GAS, etc."]</p>
                <p>@Localizer["Languages"]: 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/OTCGO/sea-app" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile hardware">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/spatium.png")" />
            <header>Spatium</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe622;</i>
            </div>
            <div class="developer d-none"><a href="http://spatium.net/" target="_blank">CaspianTechnologies</a></div>
            <div class="button d-none"><a class="btn" href="http://spatium.net/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/spatium1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/spatium2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/spatium3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/spatium4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/spatium5.png")" />
                </div>
                <p>
                    @Localizer["It's a digital currency wallet developed by CaspianTechnologies. This wallet needs signatures from multiple parties on transactions, and it is compatible with the Spatium hardware wallet, which possesses the biological recognition technologies. It also focuses on the security."]
                </p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the hardware wallet, so it has extremely high security."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/cobo.png")" />
            <header>Cobo Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <div class="developer d-none"><a href="https://cobo.com/about" target="_blank">Cobo</a></div>
            <div class="button d-none"><a class="btn" href="https://cobo.com/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/cobo1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/cobo2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/cobo3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/cobo4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/cobo5.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/cobo6.png")" />
                </div>
                <p>@Localizer["Cobo is a wallet that supports multiple digital asset management."]</p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["Similar to a digital asset exchange, your assets are hosted on its servers. Your assets may be stolen in the event of an attack on your server. However, you also need to trust the developers of this wallet."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/math.png")" />
            <header>@Localizer["Math Wallet"]</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <div class="developer d-none"><a href="http://www.mathwallet.org" target="_blank">Math Labs</a></div>
            <div class="button d-none"><a class="btn" href="http://www.mathwallet.org" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/math1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/math2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/math3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/math4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/math5.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/math6.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/math7.png")" />
                </div>
                <p>@Localizer["It's a multiple digital asset wallet developed by Math Labs. This wallet supports BTC, ETH, NEO, EOS and other ecosystems, as well as face recognition, living body recognition and other biometric recognition technologies."]</p>
                <p>@Localizer["Languages"]: English / 简体中文 / 한국어</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/infinito.png")" />
            <header>infinito wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
            </div>
            <div class="developer d-none"><a href="https://www.infinitowallet.io" target="_blank">Infinito Blockchain Labs</a></div>
            <div class="button d-none"><a class="btn" href="https://www.infinitowallet.io" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/infinito1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/infinito2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/infinito3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/infinito4.png")" />
                </div>
                <p>@Localizer["It's a multi-token wallet developed by Infinito Blockchain Labs . This wallet supports BTC, ETH, NEO, EOS and other ecosystems. It has more than 10 languages for alternatives and supports fingerprint identification."]</p>
                <p>@Localizer["Languages"]: English / 简体中文 / Tiếng Việt / 日本語 / 한국어 / Italiano / Русский / Español</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/iwallic.png")" />
            <header>iWallic</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <a class="open-source" href="https://github.com/ext-studio/iwallic" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/ext-studio" target="_blank">e-studio</a></div>
            <div class="button d-none">
                <a class="btn" href="https://iwallic.com" target="_blank">@Localizer["Website"]</a>
                <a class="btn" href="https://app.iwallic.com/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/iwallic1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/iwallic2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/iwallic3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/iwallic4.png")" />
                </div>
                <p>@Localizer["It's an Android wallet developed by e-studio. This wallet contains basic functions such as importing private keys, transferring assets, etc."]</p>
                <p>@Localizer["Languages"]: English / 简体中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]@Localizer["Get source code"]: <a href="https://github.com/ext-studio/iwallic" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/atomic.png")" />
            <header>Atomic Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xe6c1;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61f;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
            </div>
            <a class="open-source" href="https://github.com/Atomicwallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/Atomicwallet" target="_blank">Atomicwallet</a></div>
            <div class="button d-none"><a class="btn" href="https://atomicwallet.io/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-desktop active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Desktop"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/atomic1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/atomic2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/atomic3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/atomic4.png")" />
                </div>
                <p>@Localizer["Atomic is a decentralized wallet that supports 300+ cryptocurrency assets. The wallet uses Atomic Swap technology for cross-chain custody free exchange. Atomic Wallet provides instant exchange and \"buy crypto with a credit card\" feature. Available for Windows, Mac OS, Linux, and Android."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="extension">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/neoline.png")" />
            <header>NEO Line</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="extension">&#xe621;</i>
            </div>
            <a class="open-source" href="https://github.com/NeoNextClub/neoline" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/NeoNextClub" target="_blank">NeoNext</a></div>
            <div class="license d-none"><a href="https://github.com/NeoNextClub/neoline/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none">
                <a class="btn" href="https://neoline.cn" target="_blank">@Localizer["Website"]</a>
                <a class="btn" href="https://chrome.google.com/webstore/detail/neoline/cphhlgmgameodnhkjdmkpanlelnlohao" target="_blank">@Localizer["Download"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-extension active" href="javascript:" onclick="switchPlatform('extension');">@Localizer["Extension"]</a>
                </div>
                <div class="p-extension preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/neoline1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/neoline2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/neoline3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/neoline4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/neoline5.png")" />
                </div>
                <p>@Localizer["NEOLine is a browser extension wallet of Neo. We intend to provide a secure and convenient digital asset wallet. It offers comprehensive wallet capabilities and a wide range of dAPIs for developers."]</p>
                <p>@Localizer["Languages"]: English / 中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/NeoNextClub/neoline" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="extension">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/teemo.png")" />
            <header>Teemo Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="extension">&#xe621;</i>
            </div>
            <a class="open-source" href="https://github.com/NewEconoLab/TeemoWallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/NewEconoLab" target="_blank">NewEconoLab</a></div>
            <div class="button d-none"><a class="btn" href="https://chrome.google.com/webstore/detail/teemo-wallet/faddjfhplkcfackpcjnmmeapchnkobjk" target="_blank">@Localizer["Download"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-extension active" href="javascript:" onclick="switchPlatform('extension');">@Localizer["Extension"]</a>
                </div>
                <div class="p-extension preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/teemo1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/teemo2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/teemo3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/teemo4.png")" />
                </div>
                <p>@Localizer["Teemo is a browser extension wallet of Neo.<br/>The extension injects the Neo dApp API into every website's JavaScript context, so that DApps can interact with the blockchain."]</p>
                <p>@Localizer["Languages"]: English / 中文</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets."]@Localizer["Get source code"]: <a href="https://github.com/NewEconoLab/TeemoWallet" target="_blank">GitHub</a></div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/bitkeep.png")" />
            <header>Bitkeep Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <div class="developer d-none"><a href="https://www.bitkeep.com/about" target="_blank">BitKeep</a></div>
            <div class="button d-none"><a class="btn" href="https://www.bitkeep.com/" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/bitkeep1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/bitkeep2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/bitkeep3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/bitkeep4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/bitkeep5.png")" />
                </div>
                <p>@Localizer["Bitkeep is a decentralized multi-chain digital wallet that supports thousands of digital assets such as BTC, ETH, EOS, NEO, USDT, ONT, multi-wallet management, aggregation transactions, exchange asset docking and more."]</p>
                <p>@Localizer["Languages"]: English / 中文 / 日本語 / 한국어 </p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="desktop mobile web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/zelcore.svg")" />
            <header>Zelcore Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Windows">&#xf266;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="macOS">&#xe61f;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Linux">&#xe6c1;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="iOS">&#xe734;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <div class="developer d-none"><a href="https://github.com/zelcash/ZelCore" target="_blank">Zel Team</a></div>
            <div class="button d-none">
                <a class="btn" href="https://zel.network/project/zelcore/download.html" target="_blank">@Localizer["Download"]</a>
                <a class="btn" href="https://zel.network/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-desktop" href="javascript:" onclick="switchPlatform('desktop');">@Localizer["Desktop"]</a>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/zelcore1.jpg")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/zelcore2.jpg")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/zelcore3.jpg")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/zelcore4.jpg")" />
                </div>
                <div class="p-desktop preview" style="display:none;">
                    <img data-original="@Helper.ToCDN("/images/wallets/zelcore-desktop.jpg")" />
                </div>
                <p>@Localizer["Zel is the cryptocurrency that supports the Zel ecosystem, creating ZelEX and ZelDev platforms by encouraging ZelNode ownership, thus enabling a truly distributed development platform."]</p>
                <p>@Localizer["Languages"]: English / 简体中文 / Deutsch / Francais</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>@Localizer["This wallet gives you a high degree of control over digital assets. The private key is encrypted and stored by the Encrypted Key and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the Encrypted Key."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>@Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/neotracker.png")" />
            <header>NEO Tracker</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <a class="open-source" href="https://github.com/neotracker/neotracker-wallet" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/neotracker/" target="_blank">NEO Tracker</a></div>
            <div class="license d-none"><a href="https://github.com/neotracker/neotracker-wallet/blob/master/LICENSE.md" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://neotracker.io/wallet" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/neotracker.png")" />
                </div>
                <p>@Localizer["It's an online wallet developed by NEO Tracker. This wallet is logged in with the private key or key storage, and is also a blockchain browser."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the wallet file."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when when you visit a web wallet."]
                            @Localizer["Get source code"]: <a href="https://github.com/neotracker/neotracker-wallet" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a> </p>
                        </div>
                    </div>
                </div>
                <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/nelwallet.png")" />
            <header>NEL Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <a class="open-source" href="https://github.com/NewEconoLab/NELBrowser-Web-React" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://nel.group/" target="_blank">NewEconoLabs</a></div>
            <div class="license d-none"><a href="https://github.com/NewEconoLab/NELBrowser-Web-React/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://wallet.nel.group/" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/nelwallet.png")" />
                </div>
                <p>@Localizer["It's an online wallet developed by NEL. This wallet supports NNS auction, transaction information viewing, and is also a blockchain browser."]</p>
                <p>@Localizer["Languages"]: English / 简体中文<br>
                <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when when you visit a web wallet."]
                            @Localizer["Get source code"]: <a href="https://github.com/NewEconoLab/NELBrowser-Web-React" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-6.mediawiki" target="_blank">NEP-6</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/yez.jpg")" />
            <header>YEZ Wallet</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Android">&#xe636;</i>
            </div>
            <div class="developer d-none"><a href="https://wallet.yezcoin.com/" target="_blank">YEZ Wallet</a></div>
            <div class="button d-none">
                <a class="btn" href="https://walletapp.yezcoin.com" target="_blank">@Localizer["Download"]</a>
                <a class="btn" href="https://wallet.yezcoin.com/" target="_blank">@Localizer["Go to Web Wallet"]</a>
            </div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-web" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                    <a class="plat-btn btn-mobile active" href="javascript:" onclick="switchPlatform('mobile');">@Localizer["Mobile"]</a>
                </div>
                <div class="p-mobile preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/yez1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/yez2.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/yez3.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/yez4.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/yez5.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/yez6.png")" />
                </div>
                <div class="p-web preview" style="display:none;">
                    <img data-original="@Helper.ToCDN("/images/wallets/yez-web1.png")" />
                    <img data-original="@Helper.ToCDN("/images/wallets/yez-web2.png")" />
                </div>
                <p>@Localizer["YEZ Wallet is a NEP-5 Wallet. We focuses on easy on-boarding with Google/Facebook Login integration.User can send/receive NEO, GAS, YEZ and other NEP-5 digital assets."]</p>
                <p>@Localizer["Languages"]: English / 简体中文<br>
                <p>@Localizer["Supported Browser"]: Chrome / Edge</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the wallet files and passwords. However, users should better run the wallet on secure devices, and always pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-danger">@Localizer["Low"]</span>
                        <div>@Localizer["This wallet is non-open source, which means that users need to trust the developers of this wallet completely. The Neo Foundation and NGD do not endorse this client."]</div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-5.mediawiki" target="_blank">NEP-5</a>, <a href="https://github.com/neo-project/proposals/blob/master/nep-9.mediawiki" target="_blank">NEP-9</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="web">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/ansy.png")" />
            <header>Ansy</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Web">&#xe623;</i>
            </div>
            <a class="open-source" href="https://github.com/snowypowers/ansy" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/snowypowers/" target="_blank">Snowypowers</a></div>
            <div class="license d-none"><a href="https://github.com/snowypowers/ansy/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://snowypowers.github.io/ansy/" target="_blank">@Localizer["Go to Web Wallet"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-web active" href="javascript:" onclick="switchPlatform('web');">@Localizer["Web"]</a>
                </div>
                <div class="p-web preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/ansy.png")" />
                </div>
                <p>@Localizer["It's a simple paper wallet generator developed by Snowypowers. This wallet only supports the encryption and decryption of private keys. It fails to support other functions like transferring assets."]</p>
                <p>@Localizer["Languages"]: English<br>
                <p>@Localizer["Supported Browser"]: Chrome/Edge</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet supports the encryption and decryption of the private key for secure storage. The website itself does not store the private key, so please pay attention to the safe backup and safekeeping of the private key."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when when you visit a web wallet."]
                            @Localizer["Get source code"]: <a href="https://github.com/snowypowers/ansy" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            <p>@Localizer["Support"]: <a href="https://github.com/neo-project/proposals/blob/master/nep-2.mediawiki" target="_blank">NEP-2</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="hardware">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/ledger.png")" />
            <header>Ledger Nano S</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe622;</i>
            </div>
            <a class="open-source" href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/LedgerHQ" target="_blank">Ledger SAS</a></div>
            <div class="license d-none"><a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-hardware active" href="javascript:" onclick="switchPlatform('hardware');">@Localizer["Hardware"]</a>
                </div>
                <div class="p-hardware preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/ledgernanos.png")" />
                </div>
                <p>@Localizer["It's a multi-currency hardware wallet that supports NEO. This wallet’s private key is stored in the hardware chip and it focuses on the security."]</p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the hardware wallet, so it has extremely high security."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]
                            @Localizer["Get source code"]: <a href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="hardware">
            <img class="client-logo" data-original="@Helper.ToCDN("/images/wallets/logo/ledger.png")" />
            <header>Ledger Blue</header>
            <div class="platform">
                <i class="iconfont" data-toggle="tooltip" data-placement="bottom" title="Hardware">&#xe622;</i>
            </div>
            <a class="open-source" href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
            <div class="developer d-none"><a href="https://github.com/LedgerHQ" target="_blank">Ledger SAS</a></div>
            <div class="license d-none"><a href="https://github.com/LedgerHQ/ledger-wallet-chrome/blob/master/LICENSE" target="_blank">MIT License</a></div>
            <div class="button d-none"><a class="btn" href="https://www.ledgerwallet.com" target="_blank">@Localizer["Website"]</a></div>
            <div class="desc d-none">
                <div class="preview-div">
                    <h3>@Localizer["Preview"]</h3>
                    <a class="plat-btn btn-hardware active" href="javascript:" onclick="switchPlatform('hardware');">@Localizer["Hardware"]</a>
                </div>
                <div class="p-hardware preview">
                    <img data-original="@Helper.ToCDN("/images/wallets/ledgerblue.png")" />
                </div>
                <p>
                    @Localizer["It's a multi-currency hardware wallet that supports NEO. This wallet’s private key is stored in the hardware chip and it focuses on the security."]
                </p>
                <p>@Localizer["Languages"]: English</p>
                <div>
                    <div class="metrics">
                        <span>@Localizer["Degree of Digital Asset Control"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet gives users a high degree of control over digital assets. The private key is encrypted and stored by the hardware wallet, so it has extremely high security."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Verification"]</span><span class="span-warning">@Localizer["Centralized"]</span>
                        <div>
                            @Localizer["Light wallet, which relies on the central service, can be used without synchronizing block data. But users need to trust third parties that they will not hide and simulate payments."]
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Transparency"]</span><span class="span-success">@Localizer["High"]</span>
                        <div>
                            @Localizer["This wallet is open-source, which means any developer in the world can audit the code and make sure the final software isn't hiding any secrets. However, you still need to trust the developers of this wallet when installing or updating the final software."]
                            @Localizer["Get source code"]: <a href="https://github.com/LedgerHQ" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="metrics">
                        <span>@Localizer["Supported NEP"]</span>
                        <div>
                            @Localizer["None"]
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-hr">
                        <div class="clearfix">
                            <img class="float-left" id="model_img" />
                            <div class="modal-title float-left">
                                <h3 id="model_name"></h3>
                                <div id="model_dev"></div>
                                <div id="model_button"></div>
                                <div id="model_license" class="light-text"></div>
                            </div>
                        </div>
                        <div class="platform" id="model_platform"></div>
                        <div class="light-text">@Localizer["Supported Platform"]</div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="model_desc"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".client-ul li img").click(function () {
                zoomin(this);
            });
            $(".client-ul li header").click(function () {
                zoomin(this);
            });
            $(".card-header").attr("onclick", "showDetails(this)");
            if (window.location.hash) {
                var _num = parseInt(window.location.hash.substr(1, 1));
                var _str = window.location.hash.substr(2);
                console.log(_num);
                console.log(_str);
                showPlatform($('.nav-client li')[_num], _str);
            }
        })
        $("#select").change(function () {
            showPlatform($(this).val());
        });
        function showPlatform(name) {
            $("body").trigger("scroll");
            if (name) {
                $('.client-ul li').not('.' + name).hide();
                $('.' + name).show();
            }
            else
                $('.client-ul li').show();
        }
        function switchPlatform(obj) {
            $(".modal .preview").hide();
            $(".modal .p-" + obj).show();
            $(".modal .plat-btn").removeClass("active");
            $(".modal .btn-" + obj).addClass("active");
        }
        function zoomin(obj) {
            var img = $(obj).parent().find("img");
            var name = $(obj).parent().find("header");
            var developer = $(obj).parent().find(".developer");
            var platform = $(obj).parent().find(".platform");
            var desc = $(obj).parent().find(".desc");
            var link = $(obj).parent().find(".link");
            var button = $(obj).parent().find(".button");
            var license = $(obj).parent().find(".license");
            $("#modal").modal();
            $("#model_img").html("");
            $("#model_name").html("");
            $("#model_dev").html("");
            $("#model_platform").html("");
            $("#model_button").html("");
            $("#model_license").html("");
            $("#model_desc").html("");
            $("#model_link").html("");
            desc.find("img").each(function () {
                $(this).attr("src", $(this).data("original"));
            });;

            $("#model_img").attr("src", img.attr("src"));
            $("#model_name").html(name.html());
            $("#model_dev").html(developer.html());
            $("#model_platform").html(platform.html());
            $("#model_button").html(button.html());
            $("#model_license").html(license.html());
            $("#model_desc").html(desc.html());
            $("#model_link").html(link.html());
        }
    </script>
}
