@model IEnumerable<NeoWeb.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telegram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telegram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
