@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="top-bar">
    <div class="top-bar-dots">
    </div>
    <div class="top-bar-title">
        Python
    </div>
</div>

<div class="top-bar-mobile">
    <div class="top-bar-title-wrapper">
        <img class="top-bar-title-icon" data-original="@Helper.ToCDN("/images/home/PythonDark.png")" />
        <div class="top-bar-title">
            Python
        </div>
    </div>
    <i class="iconfont close-icon">&#xe603;</i>
</div>

<pre class="green code">
<code>
from boa3.builtin.contract import Nep17TransferEvent, abort

&#64;metadata
def manifest_metadata() -> NeoMetadata:
    meta = NeoMetadata()
    meta.author = "coz"
    return meta

OWNER = UInt160(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
TOKEN_TOTAL_SUPPLY = 100_000_000 * 100_000_000  # 10m total supply * 10^8 (decimals)

# Events
on_transfer = Nep17TransferEvent

&#64;public
def transfer(from_address: UInt160, to_address: UInt160, amount: int, data: Any) -> bool:
    assert len(from_address) == 20 and len(to_address) == 20
    assert amount >= 0

    # The function MUST return false if the from account balance does not have enough tokens to spend.
    from_balance = get(from_address).to_int()
    if from_balance < amount:
    return False

    # The function should check whether the from address equals the caller contract hash.
    if from_address != calling_script_hash:
    if not check_witness(from_address):
    return False

    # skip balance changes if transferring to yourself or transferring 0 cryptocurrency
    if from_address != to_address and amount != 0:
    if from_balance == amount:
    delete(from_address)
    else:
    put(from_address, from_balance - amount)

    to_balance = get(to_address).to_int()
    put(to_address, to_balance + amount)

    on_transfer(from_address, to_address, amount)
    # if the to_address is a smart contract, it must call the contracts onPayment
    post_transfer(from_address, to_address, amount, data)
    return True
</code>
</pre>
<div class="bottom-bar">
    <div class="bottom-bar-title">Python @Localizer["Resources"]</div>
    <div class="bottom-bar-buttons">
        <a class="bottom-bar-button" href="https://docs.coz.io/neo3/boa/index.html" target="_blank">
            <img class="button-icon" data-original="@Helper.ToCDN("/images/home/Documentation.png")" />
            @Localizer["Documentation"]
        </a>
        <a class="bottom-bar-button" href="https://github.com/CityOfZion/neo3-boa/tree/development/boa3_test/examples" target="_blank">
            <img class="button-icon" data-original="@Helper.ToCDN("/images/home/Templates.png")" />
            @Localizer["Templates"]
        </a>
        <a class="bottom-bar-button" href="dev#tooling">
            <img class="button-icon" data-original="@Helper.ToCDN("/images/home/Tools.png")" />
            @Localizer["Tools"]
        </a>
    </div>
</div>
