@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="top-bar">
    <div class="top-bar-dots">
    </div>
    <div class="top-bar-title">
        C#
    </div>
</div>

<div class="top-bar-mobile">
    <div class="top-bar-title-wrapper">
        <img class="top-bar-title-icon" data-original="@Helper.ToCDN("/images/home/CSharpDark.png")" />
        <div class="top-bar-title">
            C#
        </div>
    </div>
    <i class="iconfont close-icon">&#xe603;</i>
</div>

<pre class="green code">
<code>
using Neo.SmartContract.Framework;

[DisplayName("Nep17 example")]
[ManifestExtra("Author", "Neo Core Dev")]
public class Nep17Contract : SmartContract
{
    #region Token Settings
    static readonly ulong TotalSupply = 10_000_000_000_000_000;
    static readonly UInt160 Owner = "NdHjSPVnw99RDMCoJdCnAcjkE23gvqUeg2".ToScriptHash();
    #endregion

    #region Notifications
    [DisplayName("Transfer")]
    public static event Action<UInt160, UInt160, BigInteger> OnTransfer;
    #endregion

    public static bool Transfer(UInt160 from, UInt160 to, BigInteger amount, object data)
    {
        if (!ValidateAddress(from) || !ValidateAddress(to)) throw new Exception("The parameters from and to SHOULD be 20-byte non-zero addresses.");
        if (amount <= 0) throw new Exception("The parameter amount MUST be greater than 0.");
        if (!Runtime.CheckWitness(from) && !from.Equals(ExecutionEngine.CallingScriptHash)) throw new Exception("No authorization.");
        if (AssetStorage.Get(from) < amount) throw new Exception("Insufficient balance.");
        if (from == to) return true;

        AssetStorage.Reduce(from, amount);
        AssetStorage.Increase(to, amount);

        OnTransfer(from, to, amount);

        // Validate payable
        if (IsDeployed(to)) Contract.Call(to, "onPayment", new object[] { from, amount, data });
        return true;
    }
}
</code>
</pre>
<div class="bottom-bar">
    <div class="bottom-bar-title">CSharp @Localizer["Resources"]</div>
    <div class="bottom-bar-buttons">
        <a class="bottom-bar-button" href="https://docs.neo.org/v3/docs/en-us/gettingstarted/develop.html" target="_blank">
            <img class="button-icon" data-original="@Helper.ToCDN("/images/home/Documentation.png")" />
            @Localizer["Documentation"]
        </a>
        <a class="bottom-bar-button" href="https://github.com/neo-project/examples/tree/master/csharp" target="_blank">
            <img class="button-icon" data-original="@Helper.ToCDN("/images/home/Templates.png")" />
            @Localizer["Templates"]
        </a>
        <a class="bottom-bar-button" href="dev#tooling">
            <img class="button-icon" data-original="@Helper.ToCDN("/images/home/Tools.png")" />
            @Localizer["Tools"]
        </a>
    </div>
</div>
