@model List<DiscoverViewModel>

@for (int i = 0; i < Model.Count(); i++)
{
    var item = (Model)[i];

    <div class="news-card">
        @if (item.Type == DiscoverViewModelType.Blog)
        {
            @if (string.IsNullOrEmpty(item.Blog.Cover))
            {
                <a class="img" href="~/blog/details/@item.Blog.Id" data-original="@Helper.ToCDN("/images/discover/blog.svg")"></a>
            }
            else
            {
                <a class="img" href="~/blog/details/@item.Blog.Id" data-original="@String.Format("/upload/{0}", @item.Blog.Cover).ToLower()"></a>
            }
            <div class="content-wrapper">
                <div class="content-title"><a href="~/blog/details/@item.Blog.Id">@item.Blog.Title</a></div>

                @if (ViewBag.UserRules != null && ViewBag.UserRules)
                {
                    <a asp-action="Edit" asp-controller="Blog" asp-route-id="@item.Blog.Id">Edit</a>
                    <a class="ml-2" asp-action="Delete" asp-controller="Blog" asp-route-id="@item.Blog.Id">Delete</a>
                }
                <div class="content-body">@item.Blog.Summary...</div>
                <div class="content-tags">
                    @if (!string.IsNullOrEmpty(item.Blog.Tags))
                    {
                        foreach (var tag in item.Blog.Tags.Split(','))
                        {
                            <a class="content-tag" href="~/discover?keywords=@tag.Trim()"># @tag.Trim()</a>
                        }
                    }
                </div>
            </div>
        }
        else if (item.Type == DiscoverViewModelType.Event)
        {
            @if (string.IsNullOrEmpty(item.Event.Cover))
            {
                <a class="img" href="~/event/details/@item.Event.Id" data-original="@Helper.ToCDN("/images/discover/events.svg")"></a>
            }
            else
            {
                <a class="img" href="~/event/details/@item.Event.Id" data-original="@String.Format("/upload/{0}", @item.Event.Cover).ToLower()"></a>
            }
            <div class="content-wrapper">
                <div class="content-title"><a href="~/blog/details/@item.Blog.Id">@item.Blog.Title</a></div>

                @if (ViewBag.UserRules != null && ViewBag.UserRules)
                {
            <a asp-action="Edit" asp-controller="Blog" asp-route-id="@item.Blog.Id">Edit</a>
            <a class="ml-2" asp-action="Delete" asp-controller="Blog" asp-route-id="@item.Blog.Id">Delete</a>}
                <div class="content-body">@item.Blog.Summary...</div>
                <div class="content-tags">
                    @if (!string.IsNullOrEmpty(item.Blog.Tags))
                    {
                        foreach (var tag in item.Blog.Tags.Split(','))
                        {
            <a class="content-tag" href="~/discover?keywords=@tag.Trim()"># @tag.Trim()</a>                        }
                                }
                </div>
            </div>
        }
        else if (item.Type == DiscoverViewModelType.Media)
        {
            @if (string.IsNullOrEmpty(item.News.Cover))
            {
                <a class="img" href="@item.News.Link" target="_blank" data-original="@Helper.ToCDN("/images/discover/news.svg")"></a>
            }
            else
            {
                <a class="img" href="@item.News.Link" target="_blank" data-original="@String.Format("/upload/{0}", @item.News.Cover).ToLower()"></a>
            }
    <div class="content-wrapper">
        <div class="content-title"><a href="~/blog/details/@item.Blog.Id">@item.Blog.Title</a></div>

        @if (ViewBag.UserRules != null && ViewBag.UserRules)
        {
            <a asp-action="Edit" asp-controller="Blog" asp-route-id="@item.Blog.Id">Edit</a>
            <a class="ml-2" asp-action="Delete" asp-controller="Blog" asp-route-id="@item.Blog.Id">Delete</a>}
                <div class="content-body">@item.Blog.Summary...</div>
                <div class="content-tags">
                    @if (!string.IsNullOrEmpty(item.Blog.Tags))
                    {
                        foreach (var tag in item.Blog.Tags.Split(','))
                        {
                            <a class="content-tag" href="~/discover?keywords=@tag.Trim()"># @tag.Trim()</a>                        }
                        }
                </div>
            </div>
        }
    </div>
}
