@model List<NewsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="landing-row hero-container home-default">
  <div class="col-left">
    <div class="col-left-content">
      <img class="logo-img" src="@Helper.ToCDN("/images/transparent.png")"
        data-original="@Helper.ToCDN("/images/home/N3Logo.svg")" />
      <div class="sub-title work-sans-semibold">@Localizer["Take a look at the latest version of the Neo platform"]
      </div>
      <a asp-controller="tour" asp-action="index" class="btn-n3 tour-btn" target="_blank">@Localizer["Take A Tour"]</a>
    </div>
  </div>

  <div class="col-right">
    <div class="landing-title">@Localizer["The Complete Blockchain Development Platform"]</div>
    <div class="news-wrapper">
      <div class="latest-news-text">
        @Localizer["Latest News:"]
      </div>
      <a class="news-link"
        href="~/blog/details/@Model.FirstOrDefault(p => p.Type == NewsViewModelType.Blog).Blog.Id">@Model[0].Blog.Title
        <i class="iconfont circle-arrow-icon green">&#xe6ab;</i></a>
    </div>
  </div>
</div>
