@model List<NewsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="hero-container home-frontier">
  <div class="hero-inner-wrapper">

    <div class="primary-section">
      @* Heading container *@
      <div class="heading-container">
        <div class="n3-logo">
          @Localizer["N3"]
        </div>
        <div class="blurb">
          <h1 class="caption">@Localizer["Neo Frontier"]</h1>
          <h2 class="subcaption">@Localizer["Launchpad"]</h1>
          <div class="timeframe">@Localizer["May 24th - July 12th"]</div>
        </div>
      </div>

      @* Laptop container (Duplicate) *@
      <div class="laptop-container">
        <img src="@Helper.ToCDN("/images/transparent.png")"
             data-original="@Helper.ToCDN("/images/home/n3-frontier/n3-frontier-laptop.png")"
             alt="" />
      </div>

      @* Prizes container *@
      <div class="prizes-container">
        <div class="caption">@Localizer["$100,000+ in prizes"]</div>
        <div class="categories">
          <div class="category defi">
            <div class="category-icon">
              <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/home/n3-frontier/n3-frontier-icon-defi.svg", true)" />
            </div>
            <div class="category-name">@Localizer["DeFi"]</div>
            <div class="category-prize">@Localizer["$12,000+"]</div>
          </div>

          <div class="category nft">
            <div class="category-icon">
              <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/home/n3-frontier/n3-frontier-icon-nft.svg", true)" />
            </div>
            <div class="category-name">@Localizer["NFT"]</div>
            <div class="category-prize">@Localizer["$12,000+"]</div>
          </div>

          <div class="category general">
            <div class="category-icon">
              <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/home/n3-frontier/n3-frontier-icon-general.svg", true)" />
            </div>
            <div class="category-name">@Localizer["General"]</div>
            <div class="category-prize">@Localizer["$12,000+"]</div>
          </div>
        </div>
      </div>

      @* Plus container *@
      <div class="plus-container">
        <div class="caption">@Localizer["+ Plus"]</div>
        <ul>
          <li>@Localizer["8 x excellence awards of $5,000 each + prize multipliers"]</li>
          <li>@Localizer["Incubation opportunities to the best teams"]</li>
          <li>@Localizer["Vested NEO awards for teams that continue to build beyond the hackathon"]</li>
        </ul>
      </div>

      @* CTA container *@
      <div class="cta-container">
        <a class="cta btn-2" href="/migration">@Localizer["Register on Devpost"]</a>
      </div>

      @* News container (Duplicate) *@
      <div class="news-container">
        <div class="news-wrapper">
          <div class="caption">
            @Localizer["Latest News:"]
          </div>
          <a class="news-link"
            href="~/blog/details/@Model.FirstOrDefault(p => p.Type == NewsViewModelType.Blog).Blog.Id">
            <span>@Model[0].Blog.Title</span>
            <i class="iconfont circle-arrow-icon">&#xe6ab;</i>
          </a>
        </div>
      </div>
    </div>

    <div class="secondary-section">
      @* Laptop container *@
      <div class="laptop-container">
        <img src="@Helper.ToCDN("/images/transparent.png")"
             data-original="@Helper.ToCDN("/images/home/n3-frontier/n3-frontier-laptop.png")"
             alt="" />
      </div>

      @* News container *@
      <div class="news-container">
        <div class="news-wrapper">
          <div class="caption">
            @Localizer["Latest News:"]
          </div>
          <a class="news-link"
            href="~/blog/details/@Model.FirstOrDefault(p => p.Type == NewsViewModelType.Blog).Blog.Id">
            <span>@Model[0].Blog.Title</span>
            <i class="iconfont circle-arrow-icon green">&#xe6ab;</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
