@model List<DiscoverViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/home.min.css", true)" />
}
@* 基本块 - Home page *@
<div id="homeFri" class="bg8 p1">
    <div class="svg-back">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 905.6 603.2">
            <defs>
                <radialGradient id="radial-gradient" cx="30" cy="30" r="44" gradientUnits="userSpaceOnUse">
                    <stop offset="0.7" stop-color="#02e49b" stop-opacity="0.7" />
                    <stop offset="1" stop-color="#ffffff" stop-opacity="0" />
                </radialGradient>
                <g id="ani">
                    <circle class="cls-5" cx="30.2" cy="30.2" r="44" />
                </g>
                <g id="icon">
                    <circle class="cls-1" cx="30.2" cy="30.2" r="30.2" />
                    <polygon class="cls-2" points="16.1 19.1 16.1 40.9 30.2 46.1 30.2 24 45.6 18.4 31.7 13.5 16.1 19.1" />
                    <polygon class="cls-3" points="31.4 24.8 31.4 36.6 45.6 41.7 45.6 19.7 31.4 24.8" />
                </g>
                <g id="code">
                    <circle class="cls-1" cx="28.6" cy="28.6" r="28.6" />
                    <polygon class="cls-2" points="19.7 18.8 14.2 18.8 7.1 29.3 14.6 38.7 20.2 38.7 12.3 28.7 19.7 18.8" />
                    <polygon class="cls-2" points="38 18.7 43.5 18.7 50.8 29 43.3 38.6 37.8 38.6 45.9 28.4 38 18.7" />
                    <polygon class="cls-2" points="32.8 18.7 27.9 18.7 24.4 38.7 29.3 38.6 32.8 18.7" />
                </g>
            </defs>
            <a class="hover" href="https://nspcc.ru/" target="_blank" title="NSPCC">
                <use class="svg-ani" xlink:href="#ani" x="445" y="540" />
                <use xlink:href="#icon" x="445" y="540" />
                <text class="svg-title" transform="translate(515 578)">NSPCC</text>
            </a>
            <a class="hover" href="https://cityofzion.io" target="_blank" title="COZ">
                <text class="svg-title" transform="translate(20 360)">City of Zion</text>
                <use class="svg-ani" xlink:href="#ani" x="142" y="323" />
                <use xlink:href="#icon" x="142" y="323" />
            </a>
            <a class="hover" href="https://neoresearch.io" target="_blank" title="NeoR">
                <text class="svg-title" transform="translate(71.7 149.9)">NeoResearch</text>
                <use class="svg-ani" xlink:href="#ani" x="261" y="126" transform="scale(0.93)"/>
                <use xlink:href="#icon" x="261" y="126" transform="scale(0.93)" />
            </a>
            <a class="hover" href="https://neo-one.io" target="_blank" title="NEO ONE">
                <text class="svg-title" transform="translate(222.5 27)">NEO ONE</text>
                <use class="svg-ani" xlink:href="#ani" x="490" y="0" transform="scale(0.68)" />
                <use xlink:href="#icon" x="490" y="0" transform="scale(0.68)" />
            </a>
            <a class="hover" href="https://nel.group" target="_blank" title="NEL">
                <use class="svg-ani" xlink:href="#ani" x="672" y="52" transform="scale(0.78)" />
                <use xlink:href="#icon" x="672" y="52" transform="scale(0.78)" />
                <text class="svg-title" transform="translate(586.8 72.4)">NEL</text>
            </a>
            <a class="hover" href="https://neonext.io" target="_blank" title="NEXT">
                <use class="svg-ani" xlink:href="#ani" x="802" y="470" transform="scale(0.68)" />
                <use xlink:href="#icon" x="802" y="470" transform="scale(0.68)" />
                <text class="svg-title" transform="translate(596.3 350)">NEXT</text>
            </a>

            <a class="hover" href="https://red4sec.com/" target="_blank" title="RED4SEC">
                <use class="svg-ani" xlink:href="#ani" x="1155" y="350" transform="scale(0.58)" />
                <use xlink:href="#code" x="1155" y="350" transform="scale(0.58)" />
                <text class="svg-title" transform="translate(716.4 228.8)">RED4SEC</text>
            </a>

            <a class="hover" href="https://neow3j.io" target="_blank" title="Neow3j">
                <use class="svg-ani" xlink:href="#ani" x="500" y="400" transform="scale(0.63)" />
                <use xlink:href="#code" x="500" y="400" transform="scale(0.63)" />
                <text class="svg-title" transform="translate(212.9 276.5)">Neow3j</text>
            </a>

            <a class="hover" href="https://github.com/alienworks" target="_blank" title="Alienworks">
                <use class="svg-ani" xlink:href="#ani" x="420" y="918" transform="scale(0.55)"/>
                <use xlink:href="#code" x="420" y="918" transform="scale(0.55)" />
                <text class="svg-title" transform="translate(91.9 528.5)">Alienworks</text>
            </a>

            <a class="hover" href="https://neonewstoday.com/" target="_blank" title="NNT">
                <use class="svg-ani" xlink:href="#ani" x="640" y="455" />
                <use xlink:href="#code" x="640" y="455" />
                <text class="svg-title" transform="translate(713.9 488.4)">Neo News Today</text>
            </a>
        </svg>
        <div id="cas"></div>
    </div>
    @if (ViewBag.OnTop != null)
    {
        <div class="notify">
            <div class="alert alert-dismissible fade show px-0" role="alert">
                @{var top = ViewBag.OnTop as DiscoverViewModel;}
                @if (top.Type == DiscoverViewModelType.Blog)
                {
                    <h6><a class="with-space" href="~/blog/details/@top.Blog.Id">@top.Blog.Title</a></h6>
                }
                @if (top.Type == DiscoverViewModelType.Event)
                {
                    <h6><a class="with-space" href="~/event/details/@top.Event.Id">@top.Event.Name</a></h6>
                }
                @if (top.Type == DiscoverViewModelType.News)
                {
                    <h6><a class="with-space" href="@top.News.Link" target="_blank">@top.News.Title</a></h6>
                }
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="iconfont" aria-hidden="true">&#xe620;</i>
                </button>
            </div>
        </div>
    }

    <div class="container">
        <h3>
            @Localizer["Join the"]<br />
            <span class="h1 typetext" id="typetext"></span><br />
            @Localizer["open network for the smart economy"]
        </h3>
        <div class="mt4">
            <a asp-controller="about" asp-action="index" class="btn">@Localizer["Learn more"]</a>
        </div>
    </div>
</div>
<div class="b3">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <h2>@Localizer["Become a Neo developer"]</h2>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <p class="mt6">@Localizer["As the most developer friendly platform, Neo is supporting a global dApp ecosystem with its comprehensive suite of tools and resources to empower anyone from anywhere in the world to join Neo’s vision of a smart economy."]</p>
                <a asp-controller="dev" asp-action="index" class="btn mt4">@Localizer["Get started"]</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row list3">
            <div class="col-lg-4">
                <span class="green">
                    @Localizer["Mainstream Languages"]
                </span>
                <ul class="list-ul list-inline">
                    <li>C#</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>JavaScript<br />(JS/TS)</li>
                    <li>Go</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <span class="green">@Localizer["Highly Active Network"]</span>
                <ul class="list-ul list-inline two">
                    <li>2,000,000+<span>@Localizer["User Addresses"]</span></li>
                    <li>500,000+<span>@Localizer["Community Members"]</span></li>
                    <li>100+<span>dApps</span></li>
                    <li>300+<span>@Localizer["Technical Contributors"]</span></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <span class="green">@Localizer["Global Neo Communities"]</span>
                <ul class="list-ul list-inline">
                    <li>20<span>@Localizer["Cities"]</span></li>
                    <li>7<span>@Localizer["Countries"]</span></li>
                    <li>10+<span>@Localizer["Communities"]</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="module mt3 p3">
        <h2 class="module-text">@Localizer["Neo Ecosystem"]</h2>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/Ecosystem.svg")" />
        <div class="module-text">
            <p class="mt5">@Localizer["With thriving partners and projects, the Neo ecosystem is rapidly growing and developing, thus enabling Neo to become the foundation for next-gen Internet."]</p>
            <p class="mt4"><a asp-controller="eco" asp-action="index" class="btn">@Localizer["Learn more"]</a></p>
        </div>
    </div>
</div>

<div class="module1 bg1">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>@Localizer["Join EcoBoost program and power up for success"]</h2>
                <p class="mt5">@Localizer["Neo is investing USD $100 million through its  EcoBoost program to accelerate the realization of large-scale commercial blockchain solutions by empowering developers and projects in the ecosystem."]</p>
                <p class="mt4"><a asp-controller="ecoboost" asp-action="index" class="btn1">@Localizer["Learn more"]</a></p>
            </div>
        </div>
    </div>
</div>
<div class="b5 p1">
    <div class="container">
        <div class="module mt0">
            <img class="module-img" data-original="@Helper.ToCDN("/images/home/GetWallet.svg")" />
            <div class="module-text">
                <h2>@Localizer["Get a NEO Wallet today, and take control of your assets!"]</h2>
                <p class="mt4"><a asp-controller="wallets" asp-action="index" class="btn">@Localizer["Get wallet"]</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container mt1">
    <h2>@Localizer["Discover"]<a asp-controller="discover" asp-action="index" class="btn2">@Localizer["View more"]</a></h2>
    <div class="row list2">
        @{await Html.RenderPartialAsync("../Discover/_DiscoverPartial", Model);}
    </div>
</div>
<div class="mt1"></div>

@section Scripts{
    <script src="@Helper.ToCDN("/lib/typed.js/typed.min.js")"></script>
    <script src="@Helper.ToCDN("/lib/three.js/three.js")"></script>
    @*<script src="../lib/three.js/three.js"></script>*@
    <script>
            var typed = new Typed('#typetext', {
            strings: ["@Localizer["community-driven"]","@Localizer["developer-friendly"]","@Localizer["enterprise-ready"]"],
            typeSpeed: "@SharedLocalizer["en"].Value" == "zh" ? 80 : 40,
            startDelay: 300,
            backDelay: 1500,
            backSpeed: "@SharedLocalizer["en"].Value" == "zh" ? 40 : 20,
            loop: true
        });
    </script>
    <script>
        (function () {
            var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera(25, 1, 1, 100);

            var renderer = new THREE.WebGLRenderer({ alpha: true });
            renderer.setSize(600, 600);
            document.getElementById("cas").appendChild(renderer.domElement);

            var geometry = new THREE.SphereGeometry(1, 30, 30);
            var texture = new THREE.TextureLoader().load('../images/home/earth.png');
            var material = new THREE.MeshBasicMaterial({
                map: texture,
                opacity: 1,
                transparent: true,
                side: THREE.BackSide
            });
            var material2 = new THREE.MeshBasicMaterial({
                map: texture,
                opacity: 1,
                transparent: true,
                side: THREE.FrontSide
            });

            var sphere = new THREE.Mesh(geometry, material);
            sphere2 = new THREE.Mesh(geometry, material2);
            scene.add(sphere);
            scene.add(sphere2);

            camera.position.z = 5;

            var animate = function () {
                requestAnimationFrame(animate);
                sphere.rotation.y += 0.01;
                sphere2.rotation.y += 0.01;
                renderer.render(scene, camera);
            };

            animate();
        })()
    </script>
}

