@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

@section Styles{ 
    <link href="~/css/homepage.css" rel="stylesheet"/>
}

@* loading页面 *@
<div class="load-page">
    <div class="span">
        <div class="square"></div>
    </div>
</div>

@* 背景滚动效果 *@
<div class="scroll-page city-back">
    <div class="home-scroll scroll-five" data-0="background-position-x:0px" data-end="background-position-x:200px;"></div>
    <div class="home-scroll scroll-four" data-0="background-position-x:0px" data-end="background-position-x:400px;"></div>
    <div class="home-scroll scroll-thr" data-0="background-position-x:0px" data-end="background-position-x:600px;"></div>
    <div class="home-scroll scroll-sec" data-0="background-position-x:0px" data-end="background-position-x:800px;"></div>
    <div class="home-scroll scroll-fri" data-0="background-position-x:0px" data-end="background-position-x:2000px;"></div>
    @*<div class="home-scroll scroll-text-acr" data-0="" data-end="">
        数字资产<br />智能合约
    </div>
    <div class="home-scroll scroll-text-ver" data-0="" data-end="">
        数字身份
    </div>*@
    <div class="home-scroll scroll-top"></div>
</div>

@* 基本块 *@
<div class="home-page-content" id="homeFri">
    <div class="row">
        <div class="back-mask"></div>
        <div class="midpoint home-text-fir">
            <h1>@Localizer["NEO, A Distributed Smart Economy Network"]</h1>
        </div>
    </div>
    <ul class="news">
        @foreach (var item in (ViewBag.News as List<NeoWeb.Models.News>))
        {
            <li>
                <a href="@item.Link" target="_blank">@item.Title</a>
            </li>
        }
    </ul>
</div>
<div class="home-page-content">
    <div class="container body-content  home-neo-intro">
        <div class="row text-white t2">
            <p class="h1 m1">@Localizer["What is NEO"]</p>
            <div class="col-sm-6 text-left p2">
                @Localizer["NEO is a non-profit community-based blockchain project, that use of blockchain technology and digital identity to digitize assets, the use of smart contracts for digital assets to be self-managed, to achieve \"smart economy\" with a distributed network."]
            </div>
            <div class="col-sm-6 text-left p2">
                @Localizer["NEO was Founded in 2014 and was real-time open source on GitHub in June 2015. Since its inception, the NEO team has experienced the upsurge and trough of the blockchain industry and the frenzy and cooling of the digital money market. We believe technology drives progress and together we can create the future. Motivated by this, NEO has been created to shift our traditional economy into the new era of the \"Smart Economy\"."]
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 p2">
                <h2 class="m3 text-uppercase">@Localizer["Digital Asset"] + @Localizer["Digital Identity"] + @Localizer["Smart Contract"]</h2>
                <h2 class="m3"> = </h2>
                <h1 class="m3">@Localizer["Smart Economy"]</h1>
            </div>
        </div>
        <p class="t2 text-white p2">@Localizer["Know more? Please see"] <a class="bold-font text-white" href="javascript:"  data-toggle="modal" data-target="#myModal">@Localizer["NEO technical characteristics"]</a></p>
        <p>NEO</p>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Localizer["NEO technical characteristics"]</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 tech-item">1、@Localizer["NEO underlying technology supports multiple types of digital assets. Users can register, transfer and trade at will on NEO."]</div>
                    <div class="col-md-4 tech-item">2、@Localizer["Digital certificates are supported, placing trust into the public chain. This provides full legal protection for all assets digitized through the NEO platform."]</div>
                    <div class="col-md-4 tech-item">3、@Localizer["Facilitate P2P exchange of digital assets. Buyers and sellers of digital assets and currencies will be handled peer-to-peer without the need for third party exchanges."]</div>
                    <div class="col-md-4 tech-item">4、@Localizer["Turing-complete smart contract, which will have high certainty and finality, support parallel operation, sharding and unlimited scalability when run in NeoVM."]</div>
                    <div class="col-md-4 tech-item">5、@Localizer["NeoContract supports multiple programming languages such as C#, Java, and Go. Developers can rapidly develop smart contracts based on the NEO platform without learning a unique language."]</div>
                    <div class="col-md-4 tech-item">6、@Localizer["Neo Virtual Machine (NeoVM): NEO's lightweight stack-based virtual machine provides shorter startup times with efficient execution. Deterministic calling tree technology allows NEO to achieve unlimited theoretical scalability."]</div>
                    <div class="col-md-4 tech-item">7、@Localizer["Consensus nodes use Byzantine Fault Tolerance Algorithm to reach consensus and ensure the finality of transactions. It also ensures that the system keeps its finality and availability as long as Byzantine fault occurs on less than 1/3 of the nodes."]</div>
                    <div class="col-md-4 tech-item">8、@Localizer["Comprises Cross-chain Assets Swap Protocol and Cross-chain distributed transaction protocol and can achieve atomic assets swap and guarantee the operation consistency of smart contracts executed on different chains."]</div>
                    <div class="col-md-4 tech-item">9、@Localizer["Introduced Lattice cryptography-based signing and encryption techinique to avoid quantum crisis by turing encryption and decryption problem into the Shortest Vector Problem(SVP) which cannot be solved by current quantum computers."]</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-page-content back-color home-down">
    <div class="container home-detail zindex">
        <div class="row">
            <div class="col-sm-6 p2">
                <h1 class="m2">@Localizer["NEO Client"]</h1>
                <p class="t2 m2">
                    @Localizer["The NEO Team and community has created various wallets for different platforms. You can download the wallets or access the web wallets below."]
                <a class="btneo t1">@Localizer["Go to download page"]</a>
                <p class="home-down-tab m2">
                    <a class="iconfont" title="@Localizer["Mobile"]" href="#" target="_blank">&#xe64b;</a>
                    <a class="iconfont" title="@Localizer["Desktop"]" href="#" target="_blank">&#xe632;</a>
                    <a class="iconfont" title="@Localizer["Web"]" href="#" target="_blank">&#xe63c;</a>
                </p>
            </div>
            @*<div class="col-sm-6"></div>*@
        </div>
    </div>
</div>

<div class="home-page-content home-deve">
    <div class="home-detail zindex">
        <div class="detail-text">
            <h1 class="m2">@Localizer["Digital Asset"]</h1>
            <p class="t1 m2">@Localizer["Digital assets are programmable assets that exist in the form of electronic data. With blockchain technology, the digitization of assets can be decentralized, trustful, traceable, highly transparent, and free of intermediaries. On the NEO blockchain, users are able to register, trade, and circulate multiple types of assets. Proving the connection between digital and physical assets is possible through digital identity. Assets registered through a validated digital identity are protected by law."]</p>
        </div>
        <img class="right-pic m2 p2" src="~/images/banner1.svg" />
    </div>
    <div class="home-detail zindex">
        <div class="detail-text">
            <h1 class="m2">@Localizer["Digital Identity"]</h1>
            <p class="t1 m2">@Localizer["Digital identity refers to the identity information of individuals, organizations, and other entities that exist in electronic form. The more mature digital identity system is based on the PKI (Public Key Infrastructure) X.509 standard. In NEO, we will implement a set of X.509 compatible digital identity standards. This set of digital identity standards, in addition to compatible X.509 level certificate issuance model, will also support Web Of Trust point-to-point certificate issuance model."]</p>
        </div>
        <img class="left-pic m2 p2" src="~/images/banner1.svg" />
    </div>
    <div class="home-detail zindex">
        <div class="detail-text">
            <h1 class="m2">@Localizer["Smart Contract"]</h1>
            <p class="t1 m2">@Localizer["The NeoContract smart contract system is the biggest feature of the seamless integration of the existing developer ecosystem. Developers do not need to learn a new programming language but use C#, Java and other mainstream programming languages in their familiar IDE environments (Visual Studio, Eclipse, etc.) for smart contract development, debugging and compilation. NEO's Universal Lightweight Virtual Machine, NeoVM, has the advantages of high certainty, high concurrency, and high scalability. The NeoContract smart contract system will allow millions of developers around the world to quickly carry out the development of smart contracts. NeoContract will have a separate white paper describing the implementation details."]</p>
        </div>
        <img class="right-pic m2 p2" src="~/images/banner1.svg" />
    </div>
    <div class="home-detail zindex home-developer ">
        <div class="container m1 p1">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h1 class="m2">@Localizer["If you are developer"]</h1>
                    <p class="t1 m2">@Localizer["Participate in our project, get NEO and GAS for development or view our technical documentation"]</p>
                    <a class="btneo t1">@Localizer["Go to developer page"]</a>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-page">
        <div class="home-scroll" data-100-top="margin-left:0px;" data-bottom="margin-left:50px;">
            <img src="~/images/home-scroll-1.png" />
        </div>
        <div class="home-scroll" data-100-top="margin-top:0px;" data-bottom="margin-top:100px;">
            <img src="~/images/home-scroll-2.png" />
        </div>
        <div class="home-scroll" data-100-top="margin-top:0px;" data-bottom="margin-top:50px;">
            <img src="~/images/home-scroll-3.png" />
        </div>
        <div class="home-scroll" data-100-top="margin-top:0px;" data-bottom="margin-top:100px;">
            <img src="~/images/home-scroll-4.png" />
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/skrollr.js"></script>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $youziku.load("body", "e938e314246f492b8728c35fa5c4a067", "Source-Han-Light");
        $youziku.draw();
    </script>
    <script type="text/javascript">


        window.onload = function () {
            pageSize();

            if (/Mobile|Windows Phone|Lumia|Android|webOS|iPhone|iPod|Blackberry|PlayBook|BB10|Opera Mini|\bCrMo\/|Opera Mobi/i.test(navigator.userAgent)) {
            } else {
                skrollr.init({
                    edgeStrategy: 'set',
                    easing: {
                        WTF: Math.random,
                        inverted: function (p) {
                            return 1 - p;
                        }
                    }
                });
            }

            setTimeout(function () {
                $(".load-page").hide();
            }, 100);
            //兼容IE调整
            $("body").css("height", "auto");
        }

        $(window).resize(function () { 
            pageSize()
        });

        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height());
            })
        }
    </script>
}
