@model List<DiscoverViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/home.min.css", true)" />
}
@* 基本块 - Home page *@

<div class="landing">
    <div class="section left">
        <div class="content-wrapper">
            <img class="logo-img" data-original="@Helper.ToCDN("/images/home/N3Logo.svg")" />
            <div class="sub-title font-family w">@Localizer["Take a look at the latest version of the Neo platform"]</div>
            <a asp-controller="tour" asp-action="index" class="btn-n3">@Localizer["Take Tour"]</a>
        </div>
    </div>
    <div class="section right">
        <div class="content-wrapper">
            <div class="title font-family-bold">@Localizer["The Complete Blockchain Development Platform"]</div>
            <div class="news-wrapper">
                <div class="latest-news font-family-bold">
                    @Localizer["Latest News:"]
                </div>
                <a class="news-link font-family-bold" asp-controller="news" asp-action="index">@Localizer["This is an example of a article on the latest news ticker"]</a>
            </div>
        </div>
    </div>
</div>
<div class="all-in-one">
    <img class="title-img" data-original="@Helper.ToCDN("/images/home/AllInOne.svg")" />
    <div class="highlight-wrapper">
        @{ string[] titles = { };
            string[] urls = { }; }
    </div>
</div>
<div class="get-started">
    <div class="font-family-bold type-text">
        <span class="neo">@Localizer["Neo"]</span>
        <span class="type-text" id="typetext"></span>
    </div>

    <div class="font-family-bold explanation">
        @Localizer["After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date."]
    </div>

    <div class="font-family-semibold learn-more">
        @Localizer["Learn more about migration"]
    </div>

    <a class="btn-n3 black">@Localizer["Migration Guide"]</a>
    <div class="font-family-bold get-started-text black-theme">
        @Localizer["Get Started"]
    </div>
    <div class="get-started-wrapper">

    </div>
</div>

<div class="dual-tokens">
    <div class="dual-container left">
        <div class="token-row">
            <div class="token-wrapper">
                <img class="token-img" />
                <div class="font-family-bold token-name">
                    Neo
                </div>
            </div>
            <div class="token-wrapper">
                <img class="token-img" />
                <div class="font-family-bold token-name">
                    Gas
                </div>
            </div>
        </div>
        <div class="calculator-wrapper">
            <div class="calculator-header">
                <img class="calculator-icon" />
                <div>@Localizer["GAS interest calculator"]</div>
            </div>
            <div class="font-family-bold calculator">
                @Localizer["With"]
                <input class=".font-family-bold calculator-input"/>
                @Localizer["NEO"]
            </div>
            <div class="font-family-semibold calculator-result">
                @Localizer["You would receive 10.75 GAS per month"]
            </div>
            <div class="font-family-semibold calculator-footnote">
                @Localizer["GAS rewards increase with governance participation."]
            </div>
        </div>
    </div>
    <div class="dual-container right">
        <div class="font-family-bold title">
            <span class="green-theme">@Localizer["Dual"]</span><br />
            <span>@Localizer["Tokens"]</span>
        </div>
        <div class="font-family-bold green-theme content">
            @Localizer["Neo has a unique dual token model that seperates governance from utility."]
        </div>
        <div class="font-family-semibold content">
            @Localizer["NEO token holders are the owners of the network who are able to participate in governance. NEO holders also recieve passive distribution of the network utility token, GAS - No staking required."]
        </div>
        <div class="font-family-semibold content">
            @Localizer["GAS is used to pay for network fees, smart contract deployments, and in dApp purchases."]
        </div>

        <div class="button-wrapper">
            <a class="btn-n3 button">@Localizer["Learn More"]</a>
            <a class="btn-n3 button">@Localizer["Find A Wallet"]</a>
        </div>
    </div>
</div>

<div class="governance">
    <div class="governance-section left">
        <div class="governance-section">
            <img class="governance-header-img" />
            <div class="font-family-bold governance-headline">
                <span class="green-theme">@Localizer["On-Chain"]</span> @Localizer["Governance"]
            </div>
        </div>
    </div>
    <div class="governance-section right">
        <div class="governance-section">
        </div>
    </div>
</div>

<div class="b3">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <h2>@Localizer["Become a Neo developer"]</h2>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <p class="mt6">@Localizer["As the most developer friendly platform, Neo is supporting a global dApp ecosystem with its comprehensive suite of tools and resources to empower anyone from anywhere in the world to join Neo’s vision of a smart economy."]</p>
                <a asp-controller="dev" asp-action="index" class="btn mt4">@Localizer["Get started"]</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row list3">
            <div class="col-lg-4">
                <span class="green">
                    @Localizer["Mainstream Languages"]
                </span>
                <ul class="list-ul list-inline">
                    <li>C#</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>JavaScript<br />(JS/TS)</li>
                    <li>Go</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <span class="green">@Localizer["Highly Active Network"]</span>
                <ul class="list-ul list-inline two">
                    <li>2,000,000+<span>@Localizer["User Addresses"]</span></li>
                    <li>500,000+<span>@Localizer["Community Members"]</span></li>
                    <li>100+<span>dApps</span></li>
                    <li>300+<span>@Localizer["Technical Contributors"]</span></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <span class="green">@Localizer["Global Neo Communities"]</span>
                <ul class="list-ul list-inline">
                    <li>20<span>@Localizer["Cities"]</span></li>
                    <li>7<span>@Localizer["Countries"]</span></li>
                    <li>10+<span>@Localizer["Communities"]</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="module mt3 p3">
        <h2 class="module-text">@Localizer["Neo Ecosystem"]</h2>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/Ecosystem.svg")" />
        <div class="module-text">
            <p class="mt5">@Localizer["With thriving partners and projects, the Neo ecosystem is rapidly growing and developing, thus enabling Neo to become the foundation for next-gen Internet."]</p>
            <p class="mt4"><a asp-controller="eco" asp-action="index" class="btn">@Localizer["Learn more"]</a></p>
        </div>
    </div>
</div>

<div class="module1 bg1">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>@Localizer["Join EcoBoost program and power up for success"]</h2>
                <p class="mt5">@Localizer["Neo is investing USD $100 million through its  EcoBoost program to accelerate the realization of large-scale commercial blockchain solutions by empowering developers and projects in the ecosystem."]</p>
                <p class="mt4"><a asp-controller="ecoboost" asp-action="index" class="btn1">@Localizer["Learn more"]</a></p>
            </div>
        </div>
    </div>
</div>
<div class="b5 p1">
    <div class="container">
        <div class="module mt0">
            <img class="module-img" data-original="@Helper.ToCDN("/images/home/GetWallet.svg")" />
            <div class="module-text">
                <h2>@Localizer["Get a NEO Wallet today, and take control of your assets!"]</h2>
                <p class="mt4"><a asp-controller="wallets" asp-action="index" class="btn">@Localizer["Get wallet"]</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container mt1">
    <h2>@Localizer["Discover"]<a asp-controller="discover" asp-action="index" class="btn2">@Localizer["View more"]</a></h2>
    <div class="row list2">
        @{await Html.RenderPartialAsync("../Discover/_DiscoverPartial", Model);}
    </div>
</div>
<div class="mt1"></div>

@section Scripts{
    <script src="@Helper.ToCDN("/lib/typed.js/typed.min.js")"></script>
    <script>
            var typed = new Typed('#typetext', {
            strings: ["@Localizer["is new again"]","@Localizer["is new again"]","@Localizer["is new again"]"],
            typeSpeed: "@SharedLocalizer["en"].Value" == "zh" ? 60 : 30,
            startDelay: 300,
            backDelay: 1500,
            backSpeed: "@SharedLocalizer["en"].Value" == "zh" ? 40 : 20,
            loop: true,
            cursorChar: '_',
            shuffle: true,
        });
    </script>
}

