@model List<DiscoverViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/homepage.css" asp-append-version="true" />
        <link rel="stylesheet" href="/lib/animate.css/animate.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/homepage.min.css", true)" />
        <link href="@Helper.ToCDN("/lib/animate.css/animate.min.css")" rel="stylesheet" />
    </environment>
}

@* 基本块 - Home page *@
<div id="homeFri">
    <div class="container p1">
        <div class="row mt1">
            <div class="col-md-12">
                <h3>
                    @Localizer["Join the"]<br />
                    <span class="h1 typetext" id="typetext"></span><br />
                    @Localizer["network of blockchain solutions"]
                </h3>
                <div class="mt4">
                    <a asp-controller="about" asp-action="index" class="btn">@Localizer["Learn more"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b3">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <h2>@Localizer["What Neo can do"]</h2>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <p class="mt6">@Localizer["As the most-developer friendly platform, Neo is supporting 100+ dAPPs with its comprehensive suite of tools and resources, so that anyone from anywhere in the world could share the future of a smart economy."]</p>
                <a asp-controller="dev" asp-action="index" class="btn mt4">@Localizer["Get started"]</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row list3">
            <div class="col-lg-4">
                <span class="green">
                    @Localizer["Mainstream Languages"]
                </span>
                <ul class="list-ul row">
                    <li class="col-4 col-lg-12 text-right text-lg-left">C#</li>
                    <li class="col-4 col-lg-12 text-center text-lg-left">Python</li>
                    <li class="col-4 col-lg-12 text-left">Java</li>
                    <li class="col-7 col-lg-12 text-right text-lg-left">JavaScript</li>
                    <li class="col-2 col-lg-12 text-center text-lg-left">Go</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <span class="green">@Localizer["Highly Active Network"]</span>
                <ul class="list-ul list-inline row">
                    <li class="col-6 col-lg-12">2,000,000+<span>@Localizer["Wallet Addresses"]</span></li>
                    <li class="col-6 col-lg-12">1,000,000+<span>@Localizer["Community Members"]</span></li>
                    <li class="col-6 col-lg-6 col-lg-4">100+<span>dApps</span></li>
                    <li class="col-6 col-lg-6 col-lg-8">500+<span>@Localizer["Technical Contributors"]</span></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <span class="green">@Localizer["Global Neo Communities"]</span>
                <ul class="list-ul list-inline row">
                    <li class="col-4 col-lg-6">20<span>@Localizer["Cities"]</span></li>
                    <li class="col-4 col-lg-6">7<span>@Localizer["Countries"]</span></li>
                    <li class="col-4 col-lg-6">10+<span>@Localizer["Communities"]</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="module mt3 p3">
        <h2 class="module-text">@Localizer["Neo’s Ecosystem"]</h2>
        <img class="module-img" data-original="/images/ecosystem/Ecosystem.svg" />
        <div class="module-text">
            <p class="mt5">@Localizer["With our hundreds of thriving partners and projects, the Neo ecosystem is rapidly growing and developing, thus enabling us to become the foundation for next-gen Internet."]</p>
            <p class="mt4"><a asp-controller="eco" asp-action="index" class="btn">@Localizer["Learn more"]</a></p>
        </div>
    </div>
</div>

<div class="module1 bg1">
    <div class="container p2">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <h2>@Localizer["Partner with us and power up for success"]</h2>
                <p class="mt5">@Localizer["Neo is investing USD100 million through its EcoBoost initiative to accelerate the realization of large-scale commercial blockchain solutions by empowering our developers and projects."]</p>
                <p class="mt4"><a asp-controller="eco" asp-action="ecoboost" class="btn1">@Localizer["Learn more"]</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="module mt2">
        <img class="module-img" data-original="/images/home/GetWallet.svg" />
        <div class="module-text">
            <h2>@Localizer["Get a NEO Wallet today, and take control of your assets!"]</h2>
            <p class="mt4"><a asp-controller="client" asp-action="index" class="btn">@Localizer["Get wallet"]</a></p>
        </div>
    </div>
</div>

<div class="container mt1">
    <h2>@Localizer["Discover"]<a asp-controller="discover" asp-action="index" class="btn2">@Localizer["View more"]</a></h2>
    <div class="row list2">
        @{await Html.RenderPartialAsync("../Discover/_DiscoverPartial", Model);}
    </div>
</div>
<div class="mt1"></div>

@section Scripts{
    <script src="~/js/typetext.js"></script>
    <script>
        pageSize();
        $(window).resize(function () {
            pageSize();
        });

        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height() - 100);
            })
        }
        setTimeout(function () {
            new TypeText({
                id: 'typetext',
                text: ["@Localizer["most community-driven"]","@Localizer["most developer-friendly"]","@Localizer["most enterprise-ready"]"],
                speed: 300,
                despeed: 80,
                space: 500
            });
        }, 1000)

    </script>
}

