@model List<DiscoverViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.IsWhiteLogo = true;
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/home.min.css", true)" />
}
@* 基本块 - Home page *@

<div class="landing">
    <div class="section left">
        <div class="content-wrapper">
            <img class="logo-img" data-original="@Helper.ToCDN("/images/home/N3Logo.svg")" />
            <div class="sub-title font-family-semibold">@Localizer["Take a look at the latest version of the Neo platform"]</div>
            <a asp-controller="tour" asp-action="index" class="btn-n3">@Localizer["Take Tour"]</a>
        </div>
    </div>
    <div class="section right">
        <div class="content-wrapper">
            <div class="title font-family-bold">@Localizer["The Complete Blockchain Development Platform"]</div>
            <div class="news-wrapper">
                <div class="latest-news-text font-family-bold">
                    @Localizer["Latest News:"]
                </div>
                <a class="news-link font-family-bold" asp-controller="news" asp-action="index">@Localizer["This is an example of a article on the latest news ticker"]</a>
            </div>
        </div>
    </div>
</div>
<div class="all-in-one">
    <img class="title-img" data-original="@Helper.ToCDN("/images/home/AllInOne.svg")" />
    <div class="highlight-wrapper">
        @{ string[] titles = { };
            string[] urls = { }; }
    </div>
</div>
<div class="get-started">
    <div class="font-family-bold type-text">
        <span class="neo">@Localizer["Neo"]</span>
        <span class="type-text" id="typetext"></span>
    </div>

    <div class="font-family-bold explanation">
        @Localizer["After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date."]
    </div>

    <div class="font-family-semibold learn-more">
        @Localizer["Learn more about migration"]
    </div>

    <a class="btn-n3 black">@Localizer["Migration Guide"]</a>
    <div class="font-family-bold get-started-text black-theme">
        @Localizer["Get Started"]
    </div>
    <div class="get-started-wrapper">

    </div>
</div>

<div class="dual-tokens">
    <div class="dual-container left">
        <div class="token-row">
            <div class="token-wrapper">
                <img class="token-img" />
                <div class="font-family-bold token-name">
                    Neo
                </div>
            </div>
            <div class="token-wrapper">
                <img class="token-img" />
                <div class="font-family-bold token-name">
                    Gas
                </div>
            </div>
        </div>
        <div class="calculator-wrapper">
            <div class="calculator-header">
                <img class="calculator-icon" />
                <div>@Localizer["GAS interest calculator"]</div>
            </div>
            <div class="font-family-bold calculator">
                @Localizer["With"]
                <input class=".font-family-bold calculator-input"/>
                @Localizer["NEO"]
            </div>
            <div class="font-family-semibold calculator-result">
                @Localizer["You would receive 10.75 GAS per month"]
            </div>
            <div class="font-family-semibold calculator-footnote">
                @Localizer["GAS rewards increase with governance participation."]
            </div>
        </div>
    </div>
    <div class="dual-container right">
        <div class="font-family-bold title">
            <span class="green-theme">@Localizer["Dual"]</span><br />
            <span>@Localizer["Tokens"]</span>
        </div>
        <div class="font-family-bold green-theme content">
            @Localizer["Neo has a unique dual token model that seperates governance from utility."]
        </div>
        <div class="font-family-semibold content">
            @Localizer["NEO token holders are the owners of the network who are able to participate in governance. NEO holders also recieve passive distribution of the network utility token, GAS - No staking required."]
        </div>
        <div class="font-family-semibold content">
            @Localizer["GAS is used to pay for network fees, smart contract deployments, and in dApp purchases."]
        </div>

        <div class="button-wrapper">
            <a class="btn-n3 button">@Localizer["Learn More"]</a>
            <a class="btn-n3 button">@Localizer["Find A Wallet"]</a>
        </div>
    </div>
</div>

<div class="governance">
    <div class="governance-section left">
        <div class="governance-content-wrapper">
            <img class="governance-header-img" />
            <div class="font-family-bold governance-headline">
                <span class="green-theme">@Localizer["On-Chain"]</span><br />@Localizer["Governance"]
            </div>
            <div class="governance-subtitle">
                @Localizer["A dynamic on-chain council voted in by the NEO token holders."]
            </div>
            <div class="governance-paragraph">
                @Localizer["NEO holders vote in committee members and consensus nodes that maintain the liveliness of the Neo network and adjust critical blockchain parameters."]
            </div>
            <div class="governance-paragraph">                 @Localizer["GAS rewards are distributed to both voters and committee members."]
            </div>
        </div>
    </div>
    <div class="governance-section right">
        <div class="governance-content-wrapper">
            <div class="font-family-bold governance-title">
                @Localizer["Learn More"]
            </div>
            <div class="learn-more-wrapper">
                <img class="learn-more-icon" />
                <div class="font-family-bold item-wrapper">
                    <div>@Localizer["How to vote"]</div>
                    <a><img class="nav-icon" /></a>
                </div>
            </div>
            <div class="learn-more-wrapper">
                <img class="learn-more-icon" />
                <div class="font-family-bold item-wrapper">
                    <div>@Localizer["Register as a committee candidate"]</div>
                    <a><img class="nav-icon" /></a>
                </div>
            </div>
            <div class="learn-more-wrapper">
                <img class="learn-more-icon" />
                <div class="font-family-bold item-wrapper">
                    <div>@Localizer["General guide to governance"]</div>
                    <a><img class="nav-icon" /></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="latest-news">
    <div class="latest-news-wrapper">
        <img class="latest-news-title"  />
        <div class="latest-news-subtitle">@Localizer["Keep up to date"]</div>
        <div class="news-list">
            @{await Html.RenderPartialAsync("../Discover/_DiscoverPartial", Model);}
        </div>
        <a asp-controller="discover" asp-action="index" class="btn-n3 black view-all-btn">@Localizer["View All"]</a>
    </div>
</div>
<div class="mt1"></div>

@section Scripts{
    <script src="@Helper.ToCDN("/lib/typed.js/typed.min.js")"></script>
    <script>
            var typed = new Typed('#typetext', {
            strings: ["@Localizer["is new again"]","@Localizer["is new again"]","@Localizer["is new again"]"],
            typeSpeed: "@SharedLocalizer["en"].Value" == "zh" ? 60 : 30,
            startDelay: 300,
            backDelay: 1500,
            backSpeed: "@SharedLocalizer["en"].Value" == "zh" ? 40 : 20,
            loop: true,
            cursorChar: '_',
            shuffle: true,
        });
    </script>
}

