@model List<DiscoverViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/home.min.css", true)" />
}
@* 基本块 - Home page *@
<div id="home">

<div class="section landing">
    <div class="sub-section left">
        <div class="content-wrapper">
            <img class="logo-img" data-original="@Helper.ToCDN("/images/home/N3Logo.svg")" />
            <div class="sub-title font-family bold w">@Localizer["Take a look at the latest version of the Neo platform"]</div>
            <a asp-controller="tour" asp-action="index" class="btn-n3">@Localizer["Take Tour"]</a>
        </div>
    </div>
    <div class="sub-section right">
        <div class="content-wrapper">
            <div class="title font-family-bold bold">@Localizer["The Complete Blockchain Development Platform"]</div>
            <div class="news-wrapper">
                <div class="latest-news font-family-bold bold">
                    @Localizer["LATEST NEWS:"] 
                </div>
                <a class="news-link font-family bold" asp-controller="news" asp-action="index" >@Localizer["This is an example of a article on the latest news ticker"]</a>
            </div>
        </div>
    </div>

</div>
</div>
<div class="b3">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <h2>@Localizer["Become a Neo developer"]</h2>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <p class="mt6">@Localizer["As the most developer friendly platform, Neo is supporting a global dApp ecosystem with its comprehensive suite of tools and resources to empower anyone from anywhere in the world to join Neo’s vision of a smart economy."]</p>
                <a asp-controller="dev" asp-action="index" class="btn mt4">@Localizer["Get started"]</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row list3">
            <div class="col-lg-4">
                <span class="green">
                    @Localizer["Mainstream Languages"]
                </span>
                <ul class="list-ul list-inline">
                    <li>C#</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>JavaScript<br />(JS/TS)</li>
                    <li>Go</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <span class="green">@Localizer["Highly Active Network"]</span>
                <ul class="list-ul list-inline two">
                    <li>2,000,000+<span>@Localizer["User Addresses"]</span></li>
                    <li>500,000+<span>@Localizer["Community Members"]</span></li>
                    <li>100+<span>dApps</span></li>
                    <li>300+<span>@Localizer["Technical Contributors"]</span></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <span class="green">@Localizer["Global Neo Communities"]</span>
                <ul class="list-ul list-inline">
                    <li>20<span>@Localizer["Cities"]</span></li>
                    <li>7<span>@Localizer["Countries"]</span></li>
                    <li>10+<span>@Localizer["Communities"]</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="module mt3 p3">
        <h2 class="module-text">@Localizer["Neo Ecosystem"]</h2>
        <img class="module-img" data-original="@Helper.ToCDN("/images/ecosystem/Ecosystem.svg")" />
        <div class="module-text">
            <p class="mt5">@Localizer["With thriving partners and projects, the Neo ecosystem is rapidly growing and developing, thus enabling Neo to become the foundation for next-gen Internet."]</p>
            <p class="mt4"><a asp-controller="eco" asp-action="index" class="btn">@Localizer["Learn more"]</a></p>
        </div>
    </div>
</div>

<div class="module1 bg1">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>@Localizer["Join EcoBoost program and power up for success"]</h2>
                <p class="mt5">@Localizer["Neo is investing USD $100 million through its  EcoBoost program to accelerate the realization of large-scale commercial blockchain solutions by empowering developers and projects in the ecosystem."]</p>
                <p class="mt4"><a asp-controller="ecoboost" asp-action="index" class="btn1">@Localizer["Learn more"]</a></p>
            </div>
        </div>
    </div>
</div>
<div class="b5 p1">
    <div class="container">
        <div class="module mt0">
            <img class="module-img" data-original="@Helper.ToCDN("/images/home/GetWallet.svg")" />
            <div class="module-text">
                <h2>@Localizer["Get a NEO Wallet today, and take control of your assets!"]</h2>
                <p class="mt4"><a asp-controller="wallets" asp-action="index" class="btn">@Localizer["Get wallet"]</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container mt1">
    <h2>@Localizer["Discover"]<a asp-controller="discover" asp-action="index" class="btn2">@Localizer["View more"]</a></h2>
    <div class="row list2">
        @{await Html.RenderPartialAsync("../Discover/_DiscoverPartial", Model);}
    </div>
</div>
<div class="mt1"></div>

@section Scripts{

}

