@model NeoWeb.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="col-md-4 m3">
    @if (String.IsNullOrEmpty(Model.Cover))
    {
        <img width="100%" height="250" data-original="@String.Format(@Helper.ToCDN("/images/event/{0}.jpg"), Model.Type.ToString().ToLower())">
    }
    else
    {
        <img width="100%" height="250" data-original="@String.Format("../upload/{0}", Model.Cover)">
    }
    <p class="m5 gray small">@Model.StartTime.ToString("yyyy-MM-dd")<span class="green bold"> EVENTS</span></p>
    <p><a class="h4 color-n" href="~/event/details/@Model.Id">@Model.Name</a></p>
    <p class="small gray"><i class="iconfont">&#xe71d;</i> @Model.Country.Name<br /><i class="iconfont">&#xe71d;</i> @Model.Organizers</p>
</div>