@model NeoWeb.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="event-detail text-left">
    <div class="row mt-3">
        <div class="col-12 col-sm-4 col-md-3 text-center">
        @if (@Model.IsFree)
        {
            <span class="ticket-free"></span>
        }
        @if (String.IsNullOrEmpty(Model.Cover))
        {
            <img class="type-img mb-2" src="@String.Format("/images/event/{0}.jpg", Model.Type)">
        }
        else
        {
            <img class="type-img mb-2" src="@String.Format("/upload/{0}", Model.Cover)">
        }
        </div>
        <div class="col-12 col-sm-8 col-md-9">
            <p class="e-detail-title">
                <a class="t2" href="~/event/details/@Model.Id">@Model.Name</a>
            </p>
            <div class="mt-1">
                <i class="iconfont t1">&#xe64c;</i> <span>@Model.StartTime.ToString("yyyy-MM-dd HH:mm") ~ @Model.EndTime.ToString("yyyy-MM-dd HH:mm")</span>
            </div>
            <div class="mt-1">
                <i class="iconfont t1">&#xe64e;</i> <span class="@Localizer["d-none-zh"]"> @Model.Country.Name</span><span class="@Localizer["d-none"]">@Model.Country.ZhName</span> - <span>@Model.City</span>
            </div>
            <div class="mt-1 left-to-center">
                <a class="event-btn" href="~/event/details/@Model.Id">More Info</a>
            </div>
        </div>
    </div>
</div>