@model NeoWeb.Models.EventViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @Model.Name;
    ViewData["Image"] = @String.Format("https://neo.org/upload/{0}", Model.Cover);
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/discover.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/discover.min.css", true)" />
    </environment>
}

<div class="back-area small clearfix mt3">
    <div class="fl-l"><a onclick="JavaScript:history.back(-1)">BACK TO LIST</a></div>
    <div class="fl-r">
        @if (@ViewBag.PrevEventId != Model.Id)
        {
            <a class="mr1" href="~/blog/details/@ViewBag.PrevEventId"><i class="iconfont">&#xe6b8;</i> <span class="desktop-show">@Localizer["PREVIOUS"]</span></a>
        }
        @if (@ViewBag.NextEventId != Model.Id)
        {
            <a href="~/blog/details/@ViewBag.NextEventId"><span class="desktop-show">@Localizer["NEXT"]</span> <i class="iconfont">&#xe6b7;</i></a>
        }
    </div>
</div>
<hr />
<div class="w700 mt3">
    <article class="article">
        <header>
            <div class="article-time">@Model.StartTime.Month.ToMonth() @Model.StartTime.Day, @Model.StartTime.Year<span>EVENT</span></div>
            <h2 class="article-title mt5">@Model.Name</h2>
            <p class="gray mt5">@Model.StartTime - @Model.EndTime</p>
        </header>
        <p class="mt5">
            @if (ViewBag.UserRules)
            {
                <a class="btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn ml2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        </p>
        <hr class="mt4 mb0" />

        <section>
            @if (string.IsNullOrEmpty(Model.Cover))
            {
                <img class="mt3" width="100%" height="375px" src="" />
            }
            else
            {
                <img class="mt3" width="100%" height="375px" src="~/upload/@Model.Cover" />
            }
            <div class="mt5">
                @Html.Raw(Model.Details)
            </div>
        </section>
        <hr />
        <div>
            @if (Model.Tags != null)
            {
                foreach (var tag in Model.Tags.Split(","))
                {
                    <a href="/blog?t=@tag"># @tag</a>
                }
            }
        </div>

    </article>
</div>
<hr class="mt3" />
<div class="back-area small clearfix">
    <div class="text-left"><a href="~/blog"><i class="iconfont">&#xeaa4;</i><span class="desktop-show">@Localizer["BACK TO LIST"]</span></a></div>
    <div class="text-center"><a class="back-to-top"><i class="iconfont">&#xe65a;</i><span class="desktop-show">@Localizer["Back to top"]</span></a></div>
    <div class="text-right">
        @if (@ViewBag.PrevEventId != Model.Id)
        {
            <a class="icon-left" href="~/blog/details/@ViewBag.PrevEventId"><i class="iconfont">&#xe6b8;</i><span class="desktop-show">@Localizer["Previous article"]</span></a>
        }
        @if (@ViewBag.NextEventId != Model.Id)
        {
            <a href="~/blog/details/@ViewBag.NextEventId"><span class="desktop-show">@Localizer["Next article"]</span><i class="iconfont">&#xe6b7;</i></a>
        }
    </div>
</div>

@section Scripts{
    <script src="@Helper.ToCDN("/js/jquery.qrcode.min.js")"></script>
    <script src="@Helper.ToCDN("/js/text-autospace.js")"></script>
    <script>
        function setCookie(name, value) {
            var Days = 30;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
        }
        //设置已读
        setCookie(@Model.Id, "Read");
        //二维码
        $('#qrcode').qrcode(location.href);
        //中英文之间添加空格
        text_replace(".with-space");
        //懒加载
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
        //回到顶部
        $('.back-to-top').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 500);
        });
    </script>
}