@model NeoWeb.Models.EventViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @Model.Name;
    ViewData["Image"] = @String.Format("https://neo.org/upload/{0}", Model.Cover);
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/discover.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/discover.min.css", true)" />
    </environment>
}

<div class="nav-area mt3">
    <div><i class="iconfont">&#xe618;</i><a asp-action="index" asp-controller="discover">BACK TO LIST</a></div>
    <div>
        @if (@ViewBag.PrevEventId != Model.Id)
        {
            <a class="icon-left" href="~/event/details/@ViewBag.PrevEventId"><i class="iconfont">&#xe61c;</i><span>@Localizer["Previous"]</span></a>
        }
        @if (@ViewBag.NextEventId != Model.Id)
        {
            <a class="ml-5" href="~/event/details/@ViewBag.NextEventId"><span>@Localizer["Next"]</span><i class="iconfont">&#xe61b;</i></a>
        }
    </div>
</div>
<hr />
<div class="w700 mt3">
    <article class="article">
        <div class="article-time">@Model.StartTime.Month.ToMonth() @Model.StartTime.Day, @Model.StartTime.Year<span>EVENT</span></div>
        <header><h2 class="article-title mt5 with-space">@Model.Name</h2></header>
        <p class="gray mt5">
            @if (Model.StartTime.Date == Model.EndTime.Date)
            {
                <div>@Model.StartTime.DayOfWeek.ToString().Substring(0, 3), @Model.StartTime.ToString("yyyy-MM-dd HH:mm") - @Model.EndTime.ToString("HH:mm")</div>
            }
            else
            {
                <div>@Model.StartTime.ToString("yyyy-MM-dd HH:mm") - @Model.EndTime.ToString("yyyy-MM-dd HH:mm")</div>
            }
        </p>
        <p class="gray mt5">@Model.Country - @Model.City</p>
        <p class="gray mt5">@(Model.IsFree ? "Free Ticket" : "")</p>
        <div class="share">
            @{
                var title = (ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "") + Localizer["NEO Smart Economy"].Value;
                var details = ViewData["Details"] ?? Localizer["NEO Smart Economy"].Value;
                var image = (ViewData["Image"] ?? Helper.ToCDN("/images/twitter-img.jpg"));
                var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
            }

            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@(title)&url=@(url)&via=NEO_Blockchain&related=NEO_Blockchain"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="fb-share-button"
                 data-href="@url"
                 data-layout="button_count">
            </div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="qr-div">
                <i class="iconfont">&#xe615;</i>
                <div id="qrcode"></div>
            </div>
        </div>
        <p class="mt5">
            @if (ViewBag.UserRules)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="ml2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        </p>
        <hr class="mt4 mb0" />

        <section>
            @if (string.IsNullOrEmpty(Model.Cover))
            {
                <img class="mt3" width="100%" height="375px" src="" />
            }
            else
            {
                <img class="mt3" width="100%" height="375px" src="~/upload/@Model.Cover" />
            }
            <div class="mt5 with-space">
                @Html.Raw(Model.Details)
            </div>
        </section>
        <hr />
        <div>
            @if (Model.Tags != null)
            {
                foreach (var tag in Model.Tags.Split(","))
                {
                    <a href="/discover?keywords=@tag">#@tag</a>
                }
            }
        </div>

    </article>
</div>
<hr class="mt3" />
<div class="nav-area mt-2 mb-5">
    <div><i class="iconfont">&#xe618;</i><a asp-action="index" asp-controller="discover">BACK TO LIST</a></div> 
    <div><a class="back-to-top"><i class="iconfont">&#xe619;</i><span>@Localizer["Back to top"]</span></a></div>
    <div>
        @if (@ViewBag.PrevEventId != Model.Id)
        {
            <a class="icon-left" href="~/event/details/@ViewBag.PrevEventId"><i class="iconfont">&#xe61c;</i><span>@Localizer["Previous"]</span></a>
        }
        @if (@ViewBag.NextEventId != Model.Id)
        {
            <a class="ml-5" href="~/event/details/@ViewBag.NextEventId"><span>@Localizer["Next"]</span><i class="iconfont">&#xe61b;</i></a>
        }
    </div>
</div>

@section Scripts{
    <script src="@Helper.ToCDN("/js/jquery.qrcode.min.js")"></script>
    <script src="@Helper.ToCDN("/js/text-autospace.js")"></script>
    <script>
        function setCookie(name, value) {
            var Days = 30;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
        }
        //设置已读
        setCookie(@Model.Id, "Read");
        //二维码
        $('#qrcode').qrcode(location.href);
        //中英文之间添加空格
        text_replace(".with-space");
        //懒加载
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
        //回到顶部
        $('.back-to-top').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 500);
        });
    </script>
}