@model NeoWeb.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Model.Name;
    if (String.IsNullOrEmpty(Model.Cover))
    {
        ViewData["Image"] = @String.Format(Helper.CDN + "/images/event/twitter-{0}.jpg", Model.Type).ToLower();
    }
    else
    {
        ViewData["Image"] = @String.Format("https://neo.org/upload/{0}", Model.Cover);
    }
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/event.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/event.min.css", true)" />
    </environment>
    <style>
        body {
            padding-top: 140px;
        }
        .event-content {
            background-color: #f9fbf8;
            padding: 30px;
        }
        .event-btn-signup{
            bottom: 10px;
        }
        .event-btn-signup::after {
            content: "@Localizer["Sign Up"]";
        }
    </style>
}
<div class="container">
    <div class="event-content border-static">
        <div class="row mt-3">
            <div class="col-12 col-sm-5 col-md-4">
                @if (String.IsNullOrEmpty(Model.Cover))
                {
                    <img class="img-thumbnail type-img mb-2" src="@String.Format(Helper.CDN + "/images/event/{0}.jpg", Model.Type).ToLower()">
                }
                else
                {
                    <img class="img-thumbnail type-img mb-2" src="@String.Format("/upload/{0}", Model.Cover).ToLower()">
                }
            </div>
            <div class="col-12 col-sm-7 col-md-8">
                <h3 class="with-space">@Model.Name</h3>
                <div class="mt-2">
                    <img src="@Helper.ToCDN("/images/event/time.svg")" /> <span>@Model.StartTime.ToString("yyyy-MM-dd HH:mm") ~ @Model.EndTime.ToString("yyyy-MM-dd HH:mm")</span>
                </div>
                <div class="mt-2">
                    <img src="@Helper.ToCDN("/images/event/addr.svg")" /> <span class="@Localizer["d-none-zh"]">@Model.Country.Name</span><span class="@Localizer["d-none"]">@Model.Country.ZhName</span> - <span>@Model.City</span>
                    <span class="with-space">@Html.Raw(Model.Address)</span>
                </div>
                <div class="mt-2">
                    @if (Model.IsFree)
                    {
                        <span>@Localizer["Free ticket"]</span>
                    }
                    else
                    {
                        <span>@Localizer["Paid ticket"]</span>
                    }
                </div>
                @if (ViewBag.UserRules)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@Model.Id">@Localizer["Delete"]</a>
                }
            </div>
        </div>

        @if (!String.IsNullOrEmpty(Model.ThirdPartyLink))
        {
            <div class="third-party">
                <a class="event-btn event-btn-signup" href="@Model.ThirdPartyLink">@Localizer["Sign Up"]</a>
            </div>
            <hr />
        }
        else
        {
            <div>
                无需购票
            </div>
            <hr />
        }
        <div class="with-space">
            @if (String.IsNullOrEmpty(Model.Details))
            {
                <span>@Localizer["Details of the event are being edited, please look forward to."]</span>
            }
            else
            {
                @Html.Raw(Model.Details)
            }
        </div>
    </div>
    <div class="mt-2">
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
    <a class="iconfont t1 gray-text" id="toTop" onclick="scroll()">&#xe637;</a>
</div>
@section Scripts{
<script src="@Helper.ToCDN("/js/text-autospace.js")"></script>
    <script>
        text_replace(".with-space");
        
        topShow();
        $(window).resize(function () {
            topShow();
        });

        $(window).bind("scroll", function () {
            topShow();
        });

        function topShow() {
            var _l = $(window).scrollTop() - $(window).height();
            console.log(_l);
            console.log($(window).height() / 2);
            if (_l > -$(window).height()/2) {
                $("#toTop").show();
            } else {
                $("#toTop").hide();
            }
        }

        function scroll() {
            $("html").animate({ scrollTop: 0 }, 200);
        }
    </script>
}