@model IEnumerable<NeoWeb.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Event";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/event.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/event.min.css", true)" />
    </environment>
    <style>
    </style>
}

<div class="p2">
    <h2 class="m1 text-center">News & Events</h2>
    <div class="row">
        <div class="col-md-8">
            <img class="m2" width="100%" height="440" />
        </div>
        <div class="col-md-4">
            <div class="center n o-des">
                <p class="green bold m4">EVENTS</p>
                <h4>NEO JOY 2019 - Shanghai</h4>
                <p class="m6"><i class="iconfont">&#xe71d;</i> Wed, 2019-07-30, 16:30 - 18:30</p>
                <p><i class="iconfont">&#xe71d;</i> China, Shanghai</p>
                <p class="m5">
                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <p class="m5 gray"><small>July 16, 2019</small></p>
            </div>
        </div>
    </div>
</div>

<div class="border-bottom">
    <input type="text" />
    <span><i class="iconfont">&#xe71d;</i> Filters</span>
    <select>
        <option>All type</option>
        <option>BLOGS</option>
        <option>EVENTS</option>
        <option>NEWS</option>
    </select>
    <select>
        <option>All years</option>
        <option>2019</option>
        <option>2018</option>
        <option>2017</option>
    </select>
</div>

<div class="row m4">
    <div class="col-md-4 m4">
        <img width="100%" height="200" />
        <p class="m5 gray small">July 16, 2019 <span class="green bold">EVENTS</span></p>
        <p class="h4">NEO JOY 2019 - Shanghai</p>
        <p class="small gray"><i class="iconfont">&#xe71d;</i> NEO JOY 2019 - Shanghai<br /><i class="iconfont">&#xe71d;</i> Wed, 2019-07-30, 16:30 - 18:30</p>
    </div>
    <div class="col-md-4 m4">
        <img width="100%" height="200" />
        <p class="m5 gray small">July 16, 2019 <span class="green bold">EVENTS</span></p>
        <p class="h4">NEO JOY 2019 - Shanghai</p>
        <p class="small gray">#FFFFFFF,#FFFFFF,#FFFFFFF</p>
    </div>
    <div class="col-md-4 m4">
        <img width="100%" height="200" />
        <p class="m5 gray small">July 16, 2019 <span class="green bold">EVENTS</span></p>
        <p class="h4">NEO JOY 2019 - Shanghai</p>
        <p class="small gray"><i class="iconfont">&#xe71d;</i> NEO JOY 2019 - Shanghai<br /><i class="iconfont">&#xe71d;</i> Wed, 2019-07-30, 16:30 - 18:30</p>
    </div>

    @foreach (var item in Model.Where(p => p.EndTime < DateTime.Now).OrderByDescending(p => p.StartTime).Take(10))
    {
        await Html.RenderPartialAsync("_EventPartialPage", item);
    }

</div>

@*<div class="container text-center" style="position: relative;">
    <div class="row">
        <div class="col-12 col-lg-8 text-center">

            <div class="border-static-title back-white">COMING EVENTS</div>
            @foreach (var item in Model.Where(p => p.EndTime >= DateTime.Now))
            {
                await Html.RenderPartialAsync("_EventPartialPage", item);
            }
            @if (!Model.Any(p => p.EndTime >= DateTime.Now))
            {
                <div class="m-2 mb-5 text-left">@Localizer["No matching search results."] <a href="~/event">@Localizer["View other events."]</a></div>
            }
                <div class="border-static-title back-white">PAST EVENTS</div>
            
            @foreach (var item in Model.Where(p => p.EndTime < DateTime.Now).OrderByDescending(p => p.StartTime).Take(10))
            {
                await Html.RenderPartialAsync("_EventPartialPage", item);
            }

            @if (!Model.Any(p => p.EndTime < DateTime.Now))
            {
                <div class="m-2 mb-5 text-left">@Localizer["No events were found that match the filter criteria."] <a href="~/event">@Localizer["See All Event."]</a></div>
            }
        </div>
    </div>
</div>*@
@section Scripts{
    <script>
        //$(function () {
        //    var url = window.location.search;
        //    if (url.indexOf("z=") != -1) {
        //        var str = url.substr(1).split("=")[1].split("/");
        //        $("#chooseY").html(str[0]);
        //        $("#chooseM").html(str[1]);
        //    }
        //    monthChange(0);
        //});

        //function monthChange(num) {
        //    var _year = parseInt($("#chooseY").html());
        //    var _month = parseInt($("#chooseM").html()) - 1;
        //    var date = new Date(_year, _month + num, 1);
        //    drawCal(getObj(date));
        //    getlist(date);
        //    $("#chooseY").html(date.getFullYear());
        //    $("#chooseM").html(date.getMonth() + 1);
        //}


        //function calender(date) {
        //    date = date || new Date();
        //    drawCal(getObj(date));//传入想要展示的日期，获取值
        //}

        //function getObj(date) {
        //    var _y = date.getFullYear();
        //    var _m = date.getMonth();
        //    var _num = new Date(_y, _m + 1, 0).getDate();
        //    var obj = {
        //        year: _y, month: _m + 1, num: _num,
        //        startday: new Date(_y, _m, 1).getDay(),
        //        lastday: new Date(_y, _m, _num).getDay()
        //    };
        //    return obj;
        //}

        //function drawCal(obj) {
        //    var html = "";
        //    for (var j = 1; j <= obj.startday; j++) { html += "<li></li>"; }
        //    for (var i = 1; i <= obj.num; i++) {
        //        if ((i + obj.startday - 1) % 7 == 0) html += "</br>";
        //        html += "<li class=" + i + ">" + i + "</li>";
        //    }
        //    document.getElementById("calender").innerHTML = html;
        //}

        //function addNews(marks, date) {
        //    if (!marks.length) return false;
        //    $(".news-ul").empty();
        //    for (var i = 0; i < marks.length; i++) {
        //        var mark = $("." + marks[i].split('/')[2]);
        //        mark.addClass("had-event").attr("data", i);
        //        var _day = mark.html();
        //        var _href = date.getFullYear() + "/" + (parseInt(date.getMonth()) + 1) + "/" + _day;
        //        mark.html("<a href='?z=" + _href + "'>" + _day + "</a>");
        //    }
        //}

        //function addToday(date) {
        //    var _today = new Date();
        //    if (_today.getMonth() == date.getMonth() && _today.getFullYear() == date.getFullYear()) {
        //        var _mark = _today.getDate();
        //        $("#calender li." + _mark).addClass("today-mark");
        //    }

        //}

        //function getlist(date) {
        //    date = date || new Date();
        //    json = { year: date.getFullYear(), month: date.getMonth() + 1 };
        //    $.get("event/date", json).done(function (data) {
        //        var date = new Date(json.year, json.month - 1, 1);
        //        calender(date);
        //        addNews(data, date);
        //        addToday(date);
        //    });
        //}
        //$(function () {
        //    $("#dropdownMenuk").html($("#k option[selected]").html());
        //    $("#dropdownMenuc").html($("#c option[selected]").html());
        //    $("#dropdownMenud").html($("#d option[selected]").html());
        //});

        //function setselect(id, obj) {
        //    var options = $("#" + id + " option");
        //    options.removeAttr("selected");
        //    var selected_val = $(obj).attr("value");
        //    var selected_html = $(obj).html();
        //    $("#" + id + " option").each(function () {
        //        if ($(this).val() == selected_val) {
        //            $(this).attr("selected", "selected");
        //            $("#dropdownMenu" + id).html(selected_html);
        //        }
        //    });
        //}
        //text_replace(".with-space");
        //$("#menu_list a").css("border-bottom", "none");
        //$("#menu_list li.nav-item [href='/event']").css("border-bottom", "2px solid #58bf00");
    </script>
}
