@model IEnumerable<NeoWeb.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Event";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/event.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/event.min.css" asp-append-version="true" />
    </environment>
}

<div class="event-banner">
    <div class="container">
        <div class="search-div text-center">
            <img class="img-fluid search-group mt-3 mb-5" src="~/images/event/h1.jpg" />
            <form asp-action="index" method="get">
                <div class="input-group search-group">
                    <select name="k" class="form-control">
                        <option value="">Categories</option>
                        @foreach (var item in ViewBag.Types as IEnumerable<EventType>)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select name="c" class="form-control">
                        <option value="0">All Country</option>
                        @foreach (var item in ViewBag.Countries as IEnumerable<Country>)
                        {
                            if (item.Id == ViewBag.CountryId)
                            {
                                <option selected="selected" value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <select name="d" class="form-control">
                        @for (int i = 0; i < (ViewBag.Dates as string[]).Length; i++)
                        {
                            @if (i == ViewBag.Date)
                            {
                                <option selected="selected" value="@i">@ViewBag.Dates[i]</option>
                            }
                            else
                            {
                                <option value="@i">@ViewBag.Dates[i]</option>
                            }
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">@Localizer["Search"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container text-center" style="position: relative;">

    <div class="text-left m3">
        @if (ViewBag.UserRules)
        {
            <a asp-action="Create">@Localizer["Create a new event"]</a>
        }
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 text-center">
            @* 先显示未来的活动 *@
            <div>
                LIVE EVENTS
            </div>
            @foreach (var item in Model.Where(p => p.EndTime >= DateTime.Now))
            {
                Html.RenderPartial("_EventPartialPage", item);
            }
            <div class="mt-4 mb-4" style="border-top: 3px dotted #aaa"></div>
            @* 再显示过去的活动 *@
            @foreach (var item in Model.Where(p => p.EndTime < DateTime.Now))
            {
                Html.RenderPartial("_EventPartialPage", item);
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="d-none d-lg-block col-md-4">
            <div class="calender alert-light">
                <div class="dis-table">
                    <div class="dis-table-cell text-left">
                        <span id="chooseY">@DateTime.Now.Year</span>/<span id="chooseM">@DateTime.Now.Month</span>
                    </div>
                    <div class="dis-table-cell text-right">
                        <a onclick="monthChange(-1)"><</a>   <a onclick="monthChange(1)">></a>
                    </div>
                </div>
                <ul>
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tues</li>
                    <li>Wed</li>
                    <li>Tur</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="cal-tbody" id="calender"></ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
<script>
    $(function () {
        //$(".sss").click(function () {
        //    var num = $(this).attr("data");
        //    $(".news-ul li").removeClass("select-news");
        //    $(".news-ul li").eq(num).addClass("select-news");
        //});
        monthChange(0);
    });

    function monthChange(num) {
        var _year = parseInt($("#chooseY").html());
        var _month = parseInt($("#chooseM").html())-1;
        var date = new Date(_year, _month + num, 1);
        drawCal(getObj(date));
        getlist(date);
        $("#chooseY").html(date.getFullYear());
        $("#chooseM").html(date.getMonth()+1);
    }


    function calender(date) {
        date = date || new Date();
        drawCal(getObj(date));//传入想要展示的日期，获取值
    }

    function getObj(date) {
        var _y = date.getFullYear();
        var _m = date.getMonth();
        var _num = new Date(_y, _m + 1, 0).getDate();
        var obj = {
            year: _y, month: _m + 1, num: _num,
            startday: new Date(_y, _m, 1).getDay(),
            lastday: new Date(_y, _m, _num).getDay()
        };
        return obj;
    }

    function drawCal(obj) {
        var html = "";
        for (var j = 1; j <= obj.startday; j++) { html += "<li></li>"; }
        for (var i = 1; i <= obj.num; i++) {
            if ((i + obj.startday - 1) % 7 == 0) html += "</br>";
            html += "<li class=" + i + ">" + i + "</li>";
        }
        document.getElementById("calender").innerHTML = html;
    }

    function addNews(marks,date) {
        if (!marks.length) return false;
        $(".news-ul").empty();
        for (var i = 0; i < marks.length; i++) {
            var mark = $("." + marks[i].split('/')[2]);
            mark.addClass("had-event").attr("data", i);
            var _day = mark.html();
            var _href = date.getFullYear()+"/"+(parseInt(date.getMonth())+1)+"/"+ _day;
            mark.html("<a href='?z=" + _href + "'>" + _day + "</a>");
        }
    }

    function getlist(date){
        date = date || new Date();
        json = {year:date.getFullYear(),month:date.getMonth()+1}
        $.get("event/date", json).done(function (data) {
            marks = data;
            var date = new Date(json.year, json.month - 1, 1);
            calender(date);
            addNews(marks,date);
        });
    }
</script>
}