@model IEnumerable<NeoWeb.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Event";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/event.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/event.min.css" asp-append-version="true" />
    </environment>
}

<div class="event-banner">
    <div class="container">
        <div class="search-div">
            <h1 class="text-center mb-3">Find your next experience</h1>
            <form asp-action="search" method="post">
                <div class="input-group search-group">
                    <input name="keyword" type="text" value="@ViewBag.Keywords" class="form-control" placeholder="Search events or categories">
                    <select name="countryId" class="form-control d-none d-md-inline-block">
                        <option value="0" selected="selected">All Country</option>
                        @foreach (var item in (Model as IEnumerable<Event>).OrderBy(p => p.Country.Name).GroupBy(p => p.Country))
                        {
                            <option value="@((item.FirstOrDefault() as Event).Country.Id)">@((item.FirstOrDefault() as Event).Country.Name)</option>
                        }
                    </select>
                    <select name="date" class="form-control d-none d-md-inline-block">
                        <option selected="selected" value="">All Dates</option>
                        <option value="this_week">This Week</option>
                        <option value="this_month">This Month</option>
                        <option value="past_events">Past Events</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">@Localizer["Search"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@* 按类别筛选 *@
<div class="mb-3 text-center d-md-none">
    <div class="container">
        <a class="btn btn-sm btn-light mb-1" href="~/event/index">ALL</a>
        @foreach (var item in (Model as IEnumerable<Event>).GroupBy(p => p.Type))
        {
            <a class="btn btn-sm btn-light mb-1" href="~/event/index/@item.FirstOrDefault().Type.ToString().ToLower()">@item.FirstOrDefault().Type</a>
        }
    </div>
</div>

<div class="container text-center">
    <div class="text-center m3">
        @if (ViewBag.UserRules)
        {
            <a asp-action="Create">@Localizer["Create a new event"]</a>
        }
    </div>
    <div class="row">
        <div class="col-12 col-md-8 text-center">
            @* 先显示未来的活动 *@
            @foreach (var item in Model.Where(p => p.EndTime >= DateTime.Now))
            {
                Html.RenderPartial("_EventPartialPage", item);
            }
            <div class="mt-4 mb-4" style="border-top: 3px dotted #aaa" ></div>
            @* 再显示过去的活动 *@
            @foreach (var item in Model.Where(p => p.EndTime < DateTime.Now))
            {
                Html.RenderPartial("_EventPartialPage", item);
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="d-none d-md-block col-md-4">
            @foreach (var item in (Model as IEnumerable<Event>).GroupBy(p => p.Type))
            {
                <a class="d-block alert alert-light mb-2" href="~/event/index/@item.FirstOrDefault().Type.ToString().ToLower()">@item.FirstOrDefault().Type</a>
            }
            <div class="alert alert-light p-5" style="height: 300px;">
                日历
            </div>
        </div>
    </div>
</div>
