@model IEnumerable<NeoWeb.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Event";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/event.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/event.min.css" asp-append-version="true" />
    </environment>
}

<div class="event-banner">
    <div class="container">
        <div class="search-div text-center">
            <img class="img-fluid search-group mt-3 mb-5" src="~/images/event/h1.jpg" />
            <form asp-action="index" method="get">
                <div class="input-group search-group">
                    <select name="k" class="form-control">
                        <option value="">Categories</option>
                        @foreach (var item in ViewBag.Types as IEnumerable<EventType>)
                        {
                            if (item.ToString() == ViewBag.Keywords)
                            {
                                <option selected="selected" value="@item">@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>
                    <select name="c" class="form-control d-none d-sm-block">
                        <option value="0">All Country</option>
                        @foreach (var item in ViewBag.Countries as IEnumerable<Country>)
                        {
                            if (item.Id == ViewBag.CountryId)
                            {
                                <option selected="selected" value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <select name="d" class="form-control d-none d-sm-block">
                        @for (int i = 0; i < (ViewBag.Dates as string[]).Length; i++)
                        {
                            @if (i == ViewBag.Date)
                            {
                                <option selected="selected" value="@i">@ViewBag.Dates[i]</option>
                            }
                            else
                            {
                                <option value="@i">@ViewBag.Dates[i]</option>
                            }
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">@Localizer["Search"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container text-center" style="position: relative;">

    <div class="text-left m3">
        @if (ViewBag.UserRules)
        {
            <a asp-action="Create" class="event-btn">@Localizer["Create a new event"]</a>
        }
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 text-center">
            @* 先显示未来的活动 *@
            <div class="event-line"><span class="h2 bold-font ">COMING EVENTS</span></div>
            @foreach (var item in Model.Where(p => p.EndTime >= DateTime.Now))
            {
                Html.RenderPartial("_EventPartialPage", item);
            }
            @if (!Model.Any(p => p.EndTime >= DateTime.Now))
            {
                <div class="m-2 mb-5 text-left">@Localizer["No matching search results."] <a href="~/event">@Localizer["View other events."]</a></div>
            }
            <div class="event-line"><span class="h2 bold-font ">PAST EVENTS</span></div>
            @* 再显示过去的活动 *@
            @foreach (var item in Model.Where(p => p.EndTime < DateTime.Now).OrderByDescending(p => p.StartTime))
            {
                Html.RenderPartial("_EventPartialPage", item);
            }

            @if (!Model.Any(p => p.EndTime < DateTime.Now))
            {
            <div class="m-2 mb-5 text-left">@Localizer["No events were found that match the filter criteria."] <a href="~/event">@Localizer["See All Event."]</a></div>
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="d-none d-lg-block col-md-4">
            <div class="t1 bold-font text-left">Events Dates</div>
            <div class="calender m3 alert-light">
                <div class="dis-table t2">
                    <div class="dis-table-cell text-right">
                        <a class="change-date" onclick="monthChange(-1)"><i class="iconfont">&#xeaa5;</i></a>
                    </div>
                    <div class="dis-table-cell text-center t1">
                        <span id="chooseY">@DateTime.Now.Year</span>  <span id="chooseM">@DateTime.Now.Month</span>
                    </div>
                    <div class="dis-table-cell text-left">
                        <a class="change-date" onclick="monthChange(1)"><i class="iconfont">&#xeaa3;</i></a>
                    </div>
                </div>
                <hr />
                <ul class="cal-head">
                    <li>SUN</li>
                    <li>MON</li>
                    <li>TUE</li>
                    <li>WED</li>
                    <li>TUR</li>
                    <li>FRI</li>
                    <li>SAT</li>
                </ul>
                <ul class="cal-tbody" id="calender"></ul>
            </div>
            <div class="d-none t1 bold-font text-left">Contact Info</div>
            <div class="d-none contact-us m3 alert-light">
                <p class="t2">
                    marketing@neo.org Local organizers who want to promote NEO events on this website can contact:
                </p>
                <p class="t1"><a href="mailto:marketing@neo.org">marketing@neo.org</a></p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
<script>
    $(function () {
        var url = window.location.search;
        if (url.indexOf("z=") != -1) {
            var str = url.substr(1).split("=")[1].split("/");
            $("#chooseY").html(str[0]);
            $("#chooseM").html(str[1]);
        }
        monthChange(0);
    });

    function monthChange(num) {
        var _year = parseInt($("#chooseY").html());
        var _month = parseInt($("#chooseM").html())-1;
        var date = new Date(_year, _month + num, 1);
        drawCal(getObj(date));
        getlist(date);
        $("#chooseY").html(date.getFullYear());
        $("#chooseM").html(date.getMonth()+1);
    }


    function calender(date) {
        date = date || new Date();
        drawCal(getObj(date));//传入想要展示的日期，获取值
    }

    function getObj(date) {
        var _y = date.getFullYear();
        var _m = date.getMonth();
        var _num = new Date(_y, _m + 1, 0).getDate();
        var obj = {
            year: _y, month: _m + 1, num: _num,
            startday: new Date(_y, _m, 1).getDay(),
            lastday: new Date(_y, _m, _num).getDay()
        };
        return obj;
    }

    function drawCal(obj) {
        var html = "";
        for (var j = 1; j <= obj.startday; j++) { html += "<li></li>"; }
        for (var i = 1; i <= obj.num; i++) {
            if ((i + obj.startday - 1) % 7 == 0) html += "</br>";
            html += "<li class=" + i + ">" + i + "</li>";
        }
        document.getElementById("calender").innerHTML = html;
    }

    function addNews(marks,date) {
        if (!marks.length) return false;
        $(".news-ul").empty();
        for (var i = 0; i < marks.length; i++) {
            var mark = $("." + marks[i].split('/')[2]);
            mark.addClass("had-event").attr("data", i);
            var _day = mark.html();
            var _href = date.getFullYear()+"/"+(parseInt(date.getMonth())+1)+"/"+ _day;
            mark.html("<a href='?z=" + _href + "'>" + _day + "</a>");
        }
    }

    function addToday(date) {
        var _today = new Date();
        if (_today.getMonth() == date.getMonth() && _today.getFullYear() == date.getFullYear()) {
            var _mark = _today.getDate();
            $("#calender li." + _mark).addClass("today-mark");
        }

    }

    function getlist(date){
        date = date || new Date();
        json = { year: date.getFullYear(), month: date.getMonth() + 1 };
        $.get("event/date", json).done(function (data) {
            var date = new Date(json.year, json.month - 1, 1);
            calender(date);
            addNews(data, date);
            addToday(date);
        });
    }
</script>
}