@model IEnumerable<NeoWeb.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Search";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/event.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/event.min.css" asp-append-version="true" />
    </environment>
}
<div class="container event-detail">
    <h2>@Localizer["Search Result"]</h2>
    <div class="mt-2">
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
    @foreach (var item in Model)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-6 col-md-5">
                <img class="img-thumbnail type-img mb-2" src="@String.Format("/images/event/{0}.jpg", item.Type)">
            </div>
            <div class="col-12 col-sm-6 col-md-7">
                <h2>@item.Name</h2>
                <div class="mt-2">
                    <i class="iconfont">&#xe620;</i><span class="@Localizer["d-none-zh"]">@item.Country.Name</span><span class="@Localizer["d-none"]">@item.Country.ZhName</span> - <span>@item.City</span>
                    <div>@item.Address</div>
                </div>
                <div class="mt-2">
                    <span>@item.StartTime.ToString("yyyy-MM-dd HH:mm") ~ @item.EndTime.ToString("yyyy-MM-dd HH:mm")</span>
                </div>
                <div class="mt-2">
                    @if (item.IsFree)
                    {
                        <span>@Localizer["Free ticket"]</span>
                    }
                    else
                    {
                        <span>@Localizer["Paid ticket"]</span>
                    }
                </div>
                <a href="~/event/details/@item.Id" class="btn btn-success mt-2">@Localizer["Show details"]</a>
                @if (ViewBag.UserRules)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                }
            </div>
        </div>
        <hr />
    }
    <div class="mt-2">
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</div>

