@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "EcoBoost";
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/eco.min.css", true)" />
}

<div id="homeFri" class="bg7 p2">
    <div class="container w900">
        <h1 class="">EcoBoost</h1>
        <p class="mt4">@Localizer["Working in tandem with various partners, the EcoBoost program provides full life-cycle support for high-potential projects. Neo would love to hear from you and discuss about how EcoBoost could help."]</p>
        <p class="h3 mt5"><span class="h5 mr2">@Localizer["Funding"]</span>@Localizer["USD $100 Million"]</p>
        <p class="mt4"><a class="btn" href="javascript:" onclick="showDialog()">@Localizer["Apply Now"]</a></p>
    </div>
</div>

<div class="p3 b5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-4 text-center text-md-left">
                <h3 class="p4">@Localizer["Target Projects"]</h3>
            </div>
            <div class="col-lg-8">
                <ul class="row target">
                    <li><img data-original="@Helper.ToCDN("/images/ecoboost/TProject1.svg")" />@Localizer["Seed projects for incubation"]</li>
                    <li><img data-original="@Helper.ToCDN("/images/ecoboost/TProject2.svg")" />@Localizer["dApps for growth support"]</li>
                    <li><img data-original="@Helper.ToCDN("/images/ecoboost/TProject3.svg")" />@Localizer["Infrastructure projects"]</li>
                    <li><img data-original="@Helper.ToCDN("/images/ecoboost/TProject4.svg")" />@Localizer["Other institutions"]</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container p1">
    <h2>@Localizer["Full Life Cycle Support"]</h2>
    <div class="row mt5">
        <div class="col-md-6">@Localizer["The EcoBoost program was created to stimulate and support ecosystem developers and project participants. In this process, multiple resources will be combined to provide full life-cycle support, including funding, technical guidance, marketing assistance, and more."]</div>
        <div class="col-md-6"></div>
    </div>
    <div class="row list1 mt3">
        <div class="col-md-3">
            <img data-original="@Helper.ToCDN("/images/ecoboost/Funding.svg")" />
            <div>
                <div class="list-title">@Localizer["Funding"]</div>
                <div>@Localizer["EcoFund<br />Developer grants<br />Smart contract fees subsidies"]</div>
            </div>
        </div>
        <div class="col-md-3">
            <img data-original="@Helper.ToCDN("/images/ecoboost/Technology.svg")" />
            <div>
                <div class="list-title">@Localizer["Tech"]</div>
                <div>@Localizer["Security Auditing<br />Wallet Integration<br />Payment Gateways<br />Liquidity Solutions"]</div>
            </div>
        </div>
        <div class="col-md-3">
            <img data-original="@Helper.ToCDN("/images/ecoboost/Community.svg")" />
            <div>
                <div class="list-title">@Localizer["Community"]</div>
                <div>@Localizer["500,000+ Community Members<br />10+ Global Developer Communities<br />100+ dApps grow together"]</div>
            </div>
        </div>
        <div class="col-md-3">
            <img data-original="@Helper.ToCDN("/images/ecoboost/Marketing.svg")" />
            <div>
                <div class="list-title">@Localizer["Marketing"]</div>
                <div>@Localizer["Social Media Promotion<br />PR resources<br />Offline events"]</div>
            </div>
        </div>
    </div>
</div>



<div id="ecoFormDiv" class="d-none">
    <iframe id="ecoForm" width="100%" height="800" src="https://forms.office.com/Pages/ResponsePage.aspx?id=oCQpxT6HT0mUryoNzPM39V4qlNr0QWlFh7zqEYca2PdUM0tINzVUWFY2NUpTNU5CQTkxNU1RNk9OVC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</div>

<div class="modal eco-modal fade" id="EcoReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Loading……
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        showEco();
        function showEco(str) {
            $("body").trigger("scroll");
            if (str) {
                var e = window.event || arguments.callee.caller.arguments[0];
                $(e.target).addClass("selected").siblings().removeClass("selected");
            }
            str = str ? str : "Liquidity";
            $('.eco-logo li').not('.' + str).hide();
            $('.' + str).show();
        }
        function showDialog() {
            $(".modal-body").html($("#ecoFormDiv").html());
            $('#EcoReg').modal('show');
        }
    </script>
}