@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "EcoBoost";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/eco.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/eco.min.css", true)" />
    </environment>
}

<div class="eco-bannner">
    <div class="container p2">
        <h2 class="eco-title m1 mb-5 w900">@Localizer["NEO EcoBoost Phase One Official Launch: Partner Recruitment"]</h2>
        <p>@Localizer["Phase 1: EcoBoost partner recruitment"]</p>
        <p>@Localizer["Phase 2: NEO EcoBoost project registration"]</p>
        <p>@Localizer["Phase 3: EcoBoost full-speed launch"]</p>
        <p><a class="eco-click" href="javascript:" data-toggle="modal" data-target="#EcoBoost">@Localizer["Click Here!"]</a></p>
        <a class="eco-btn m3" href="mailto:eg@neo.org">@Localizer["JOIN NOW"]</a>
    </div>
</div>
<div class="bg-white">
    <div class="container p2">
        <h3>@Localizer["Highlights of NEO EcoBoost"]</h3>
        <ul class="eco-intro m3">
            <li>
                <span class="iconfont">&#xe660;</span><br />
                <p class="bold-font t2 m3 mb0">@Localizer["Funding"]</p>
                <p class="t1 m4 mb0 lh3">@Localizer["$100M"]</p>
            </li>
            <li>
                <span class="iconfont">&#xe659;</span><br />
                <p class="bold-font t2 m3 mb0">@Localizer["Goal"]</p>
                <p class="t4 m4 mb0 lh3">@Localizer["Seed Project Activation<br />dApps Growth Support<br />Infrastructure Development<br />Institutional Collaboration"]</p>
            </li>
            <li>
                <span class="iconfont">&#xe61d;</span><br />
                <p class="bold-font t2 m3 mb0">@Localizer["Life Cycle Support"]</p>
                <p class="t4 m4 mb0 lh3">@Localizer["Funding<br />Tech Support<br />Community Synergy<br />Promotion"]</p>
            </li>
        </ul>
        <p class="t4 m3 lh3 w900 p4">@Localizer["NEO EcoBoost is designed to provide life cycle support for developers, dApps, and infrastructure to help support the growth and development of the NEO ecosystem.<br />Stage One of NEO EcoBoost is the Partner Recruitment program, which seeks to build relationships with media, platforms, and institutions.  NEO Global Development will share resources with partners to help them support high-quality projects within the NEO Eco System. Parties interested in becoming a long-term partner of the NEO EcoBoost program, are invited to contact us at <a class='eco-link' href='mailto:eg@neo.org'>eg@neo.org</a>."]</p>
    </div>
</div>
<div class="container p2">
    <h3>@Localizer["Who are we looking for"]</h3>
    <ul class="eco-intro m3">
        <li>
            <span class="iconfont">&#xe621;</span><br />
            <p class="bold-font t2 m3 mb0">@Localizer["Media"]</p>
            <p class="eco-detail t4 m4 mb0 lh3">@Localizer["To assist in the publicity, reporting and branding of the projects within NEO ecosystem"]</p>
        </li>
        <li>
            <span class="iconfont">&#xe634;</span><br />
            <p class="bold-font t2 m3 mb0">@Localizer["Platforms"]</p>
            <p class="eco-detail t4 m4 mb0 lh3">@Localizer["To drive greater traffic into the projects within NEO ecosystem and stimulate greater liquidity as well as application scenarios"]</p>
        </li>
        <li>
            <span class="iconfont">&#xe618;</span><br />
            <p class="bold-font t2 m3 mb0">@Localizer["Institution"]</p>
            <p class="eco-detail t4 m4 mb0 lh3">@Localizer["To provide industry resources and support to improve the liquidity of the projects within the NEO ecosystem"]</p>
        </li>
    </ul>
</div>
<div class="bg-white">
    <div class="container p2">
        <h3>@Localizer["Benefits for NEO EcoBoost partners"]</h3>
        <ul class="eco-intro m3">
            <li>
                <span class="iconfont">&#xe602;</span><br />
                <p class="eco-detail t4 m3 mb0 lh3">@Localizer["Establish long-term partnership with NEO ecosystem"]</p>
            </li>
            <li>
                <span class="iconfont">&#xe6ba;</span><br />
                <p class="eco-detail t4 m3 mb0 lh3">@Localizer["Receive strong support from NGD"]</p>
            </li>
            <li>
                <span class="iconfont">&#xe61e;</span><br />
                <p class="eco-detail t4 m3 mb0 lh3">@Localizer["Gain access to NEO global community network"]</p>
            </li>
        </ul>
    </div>
</div>

<div class="modal eco-modal fade" id="EcoBoost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Localizer["Stage1:EcoBoost Partner Recruitment launch"]</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-left">
                <div class="t3">
                    <p>@Localizer["NEO EcoBoost program is created to stimulate and support developers and project participants in the NEO ecosystem. In this process, multiple resources will be combined to provide full-cycle funding, technology and marketing support for eco-projects. The NEO EcoBoost program is divided into three phases – the eco-partner recruitment phase, the NEO eco-project registration phase, and the EcoBoost full-speed launch phase."]</p>
                    <span class="green-text">@Localizer["Phase 1 (in progress): EcoBoost partner recruitment"]</span><br />
                    <p>@Localizer["At this stage, the recruitment targets are media platforms, wallets, dApp distribution channels, traders, universities, security auditors, and more. The eco-partners and NEO share resources to support the projects within NEO ecosystem. For details of this stage, please refer to the first-level page. After this phase is completed, we still welcome partners who are looking to cooperate with NEO to join us, and the application portal will remain open."]</p>
                    <span class="green-text">@Localizer["Phase 2: NEO EcoBoost project registration"]</span><br />
                    <p>@Localizer["After enrolling a sufficient number of eco-partners, the NEO eco-project recruitment will be launched, which will be aimed at seed-stage projects, developers/development teams, dApps, infrastructure projects, etc. This phase will go on after the EcoBoost launch."]</p>
                    <span class="green-text">@Localizer["Phase 3: EcoBoost full-speed launch"]</span><br />
                    <p>@Localizer["This phase will carefully match the needs of the projects in the NEO ecosystem and the resources provided by eco-partners to accelerate the development of NEO eco-projects."]</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
}