@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <p><a href="@Localizer["https://neo.org/blog/details/3076"]">@Localizer["NEO Sponsor Giveback Plan Extension Announcement"]</a></p>
            <p><a href="@Localizer["https://neo.org/blog/details/3046"]">@Localizer["Implementation Details of \"NEO Sponsor Giveback Plan\""]</a></p>
            <p>@Html.Raw(Localizer["The time for completing the information expires until <b>May 31,  2018</b>"].Value)</p>
            <p>@Html.Raw(Localizer["Giveback will be issued from <b>June 5, 2018</b> to <b>June 10, 2018</b>"].Value)</p>
            <p>@Localizer["Sponsor can choose to accept giveback in <b>RMB</b> or <b>NEO</b>"]</p>
        </div>
    </div>
</div>