@model NeoWeb.Models.ICO2
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ICO2";
}
<div class="container">
    <h2 class="text-center">ICO2</h2>
    <br />
    <div class="form-horizontal">
        <div class="form-group row">
            <label for="prikey" class="col-md-4 col-form-label text-right">@Localizer["Private key when ICO"]</label>
            <div class="col-md-4">
                <input name="prikey" id="prikey" class="form-control" autocomplete="off" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex-pattern="[L|K][1-9A-HJ-NP-Za-km-z]{51}" data-val-regex="@Localizer["Please enter the correct private key in the WIF format"]" />
                <small class="form-text text-muted">@Localizer["Please enter your private key that participates in ICO at that time, we will sign in the browser side, and upload the signature and the NEO address to the server to authenticate, the private key <b> will not </b> upload to the server, please rest assured fills in"]</small>
                <small><span class="text-danger" data-valmsg-for="prikey" data-valmsg-replace="true"></span></small>
            </div>
        </div>
    </div>
    <form asp-action="ICO2" id="form_ico2" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-md-4">
                <input type="hidden" name="pubkey" id="pubkey" />
                <input type="hidden" name="signature" id="sign" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Choose" class="col-form-label text-right col-md-4">@Localizer["How to receive giveback"]</label>
            <div class="col-md-4">
                <select id="select1" asp-for="Choose" class="form-control" onchange="setChoose()">
                    <option value="0">人民币（CNY）</option>
                    <option value="1">NEO</option>
                </select>
                <small><span asp-validation-for="Choose" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row hidden-neo">
            <label asp-for="BankAccount" class="col-form-label text-right col-md-4">@Localizer["bank account"]</label>
            <div class="col-md-4">
                <input id="bankAccount" asp-for="BankAccount" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-digits="This field is not a valid Bank account" data-val-minlength-min="15" data-val-minlength="@string.Format(Localizer["Length is at least {0} characters"].Value, 15)" data-val-maxlength-max="19" data-val-maxlength="@string.Format(Localizer["Length cannot exceed {0} characters"].Value, 19)"/>
                <small class="form-text text-muted">@Localizer["Must be a bank card in mainland China"]</small>
                <small><span asp-validation-for="BankAccount" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row hidden-neo">
            <label asp-for="BankName" class="col-form-label text-right col-md-4">@Localizer["bank name"]</label>
            <div class="col-md-4">
                <input asp-for="BankName" placeholder="如：招商银行上海创智天地支行" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-minlength-min="5" data-val-minlength="@string.Format(Localizer["Length is at least {0} characters"].Value, 5)" data-val-maxlength-max="30" data-val-maxlength="@string.Format(Localizer["Length cannot exceed {0} characters"].Value, 30)"/>
                <small class="form-text text-muted">@Localizer["Must be a bank in mainland China"]，开户行大致格式应为 XX银行XX市XX分行（支行），不能只填写 XX银行 或者 XX市XX分行（支行）</small>
                <small><span asp-validation-for="BankName" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row hidden-neo">
            <label asp-for="Name" class="col-form-label text-right col-md-4">@Localizer["owner of account"]</label>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-minlength-min="2" data-val-minlength="@string.Format(Localizer["Length is at least {0} characters"].Value, 2)" data-val-maxlength-max="8" data-val-maxlength="@string.Format(Localizer["Length cannot exceed {0} characters"].Value, 8)" />
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row hidden-cny">
            <label asp-for="GivebackNeoAddress" class="col-form-label text-right col-md-4">@Localizer["NEO address to receive giveback"]</label>
            <div class="col-md-4">
                <input id="givebackNeoAddress" asp-for="GivebackNeoAddress" class="form-control" data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex-pattern="A[F-HJ-NP-Za-f][1-9A-HJ-NP-Za-km-z]{32}" data-val-regex="@Localizer["Please enter a valid NEO address"]"/>
                <small class="form-text text-muted">@Localizer["Please make sure that the address is yours"]</small>
                <small><span asp-validation-for="GivebackNeoAddress" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-md-4 col-form-label text-right">@Localizer["Email"]</label>
            <div class="col-md-4">
                <input asp-for="Email" class="form-control" id="textinput" type="text" data-val="true" data-val-required="@Localizer["This field is required"]"  data-val-email="@Localizer["Please enter a valid E-mail address"]">
                <small class="form-text text-muted">@Localizer["Please enter the email so that we can contact you"]</small>
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label text-right col-md-4"></label>
            <div class="col-md-4">
                <input type="button" onclick="submit_click()" id="btn_submit" value="@Localizer["Submit Application"]" class="btn btn-secondary" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label text-right col-md-4"></label>
            <div class="col-md-4">
                <span class="text-danger">@ViewBag.Message</span>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_NotePartialPage")
@section Scripts {
    <script>
        var alert_prikey = '@Localizer["Please enter the correct private key in the WIF format"]';
        var btn_val = '@Localizer["Submit Application"]';
        var btn_wait = '@Localizer["Please wait"]';
        var confirm_text = '@Localizer["Are you sure the information you filled out is correct?"]'
        var compatible_text = '@Localizer["The signature failed and the browser is not compatible, please resubmit your application with the latest Chrome or Edge browser."]'

        function setChoose() {
            if ($("#select1").val() == 0) {
                $(".hidden-neo").show();
                $(".hidden-cny").hide();
            }
            else {
                $(".hidden-neo").hide();
                $(".hidden-cny").show();
            }
        }
        setChoose();
        var IsCompatible = false;
        function submit_click() {
            if ($("#form_ico2").valid())
            {
                IsCompatible = false;
                $("#btn_submit").val(btn_wait);
                setTimeout(signClick, 100);
                //浏览器不兼容时提示
                setTimeout(function () {
                    if (!IsCompatible) {
                        alert(compatible_text);
                        $("#btn_submit").val(btn_val);
                    }
                }, 10000);
            }
        }

        function signClick() {
            //签名信息包含银行账户和接受回馈的NEO地址，防止签名重放
            var message = "giveback" + $("#bankAccount").val() + $("#givebackNeoAddress").val();
            sign(message, $("#prikey").val())
        }

        function sign(msg, wif) {
            Promise.resolve(1).then(function () {
                return AntShares.Wallets.Wallet.getPrivateKeyFromWIF(wif);
            }).then(function (privateKey) {
                return AntShares.Wallets.Account.create(privateKey);
                }, function (err) {
                IsCompatible = true;
                alert(alert_prikey);
                $("#btn_submit").val(btn_val);
                }).then(function (account) {
                    return Promise.all([
                        account.publicKey,
                        AntShares.Wallets.Wallet.SignMessage(msg, account)
                    ]);
                }).then(function (results) {
                    $("#pubkey").val(results[0].toString());
                    $("#sign").val(new Uint8Array(results[1]).toHexString());
                    IsCompatible = true;
                    if (confirm(confirm_text))
                        $("#form_ico2").submit();
                    else
                        $("#btn_submit").val(btn_val);
                }, function (err) {
                    console.log(err);
                });
        }
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.nav-item [href='/giveback']").css("border-bottom", "2px solid #58bf00")
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Helper.CDN/js/AntSharesSDK.js"></script>
}