@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Give Back";
}
@section Styles
    {
    <environment include="Development">
        <link href="~/css/giveback.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/giveback.min.css" rel="stylesheet" />
    </environment>
}
<div class="container">
    <h2 class="text-center">@Localizer["NEO Sponsor Giveback Plan"]</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 text-center ico1">
            <a class="btn btn-default" href="~/giveback/ico1">ICO1 @Localizer["Giveback entry"]</a>
            <p>
                ICO1 @Localizer["time:"]<br />
                2015/10/20 - 2015/10/31<br />
                @Localizer["ICO on weangel.com"]
            </p>
        </div>
        <div class="col-sm-6 text-center ico2">
            <a class="btn btn-default" href="~/giveback/ico2">ICO2 @Localizer["Giveback entry"]</a>
            <p>
                ICO2 @Localizer["time:"]<br />
                2016/8/8 - 2016/9/8<br />
                @Localizer["ICO on the official website of NEO"]
            </p>

        </div>
    </div>
</div>

