@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="main-title">
    @Localizer["Developer Experience"]
</h2>
<br />

<div class="tagline">
    @Localizer["Supporting multiple languages is only one small part of what Neo offers to developers. It caters to varying end user needs with both traditional and web-based IDE integrations. One-stop shop smart contract and dApp development frameworks are also provided to quickly bootstrap developers and get them up and running as architects for the next-generation Internet."]
</div>
<br />

<div class="page-paragraph">
    @Localizer["Thanks to the contributions of Neo's independent developer community, users can begin creating applications for the Neo blockchain without ever needing to install any software. Tools such as NEO-ONE, NeoCompiler Eco, and Neo Playground, built by teams from the US, Brazil, and Switzerland respectively, are all accessible directly from within a browser."]
</div>
<br />

<div class="page-paragraph">
    @Localizer["To take the platform's developer friendliness to the next level, Neo teamed up with ex-Microsoft veterans to establish NGD Enterprise, a Seattle-based office focused purely on developer experience."]
</div>
<br />

<div class="page-paragraph">
    @Localizer["As its flagship project, NGD Enterprise created the Neo Blockchain Toolkit for VS Code, allowing developers to easily deploy private Neo networks then create, deploy, and interact with smart contracts coded in any language. Over the last few years VS Code has emerged as a top choice for developers, cornering over half of the current market share for code editors. This made it a natural choice for integration with Neo tooling, helping the platform meet developers where they already are."]
</div>
<br />

<div class="sub-title">
    @Localizer["From MVP to production-ready"]
</div>

<div class="page-paragraph">
    @Localizer["Put your contract through its paces with automated contract testing tools. As advocates of a test-driven development approach, NGD Enterprise provides an expandable testing framework. Set up a private blockchain, deploy a contract, then analyze it for issues with your own custom unit test suite—all in a single click."]
</div>
<br />

<div class="page-paragraph">
    @Localizer["Sometimes errors happen, even in a carefully tested application, and in a decentralized environment they can be very difficult to replicate. Thanks to execution trace capture, you can grab and investigate any transaction on a Neo network and replay it through the Neo Debugger."]
</div>
<br />

<div class="page-paragraph">
    @Localizer["The debugger provides a disassembled bytecode view, source code mapping, and revolutionary time-travel debugging tools. Armed with these powerful resources, you can skip the tedious hours spent tracking down bugs by directly stepping forward or backward through both the source code and bytecode, inspecting carefully for any unexpected state changes."]
</div>
