@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="main-title">@Localizer["dBFT 2.0"]
</h2>

<div class="tagline">@Localizer["When Satoshi Nakamoto introduced Bitcoin and the eponymous Nakamoto consensus mechanism to the world, the value of trustless and borderless transaction settlement was realized for the first time."]
</div><br/>

<div class="page-paragraph">@Localizer["Bitcoin and the many blockchains that followed typically achieve consensus with probabilistic finality. In other words, the transaction settlement is not necessarily guaranteed. In most cases, settlement becomes more difficult to overturn as the transaction becomes more deeply embedded in the blockchain."]
</div><br/>

<div class="page-paragraph">@Localizer["This is adequate for the needs of some applications, such as low-priority transfers or the simple storage of value. But for most user-facing or highly liquid applications, more reliable assurances are required regarding transaction settlement."]
</div><br/>

<div class="sub-title">@Localizer["One block finality, maximum confidence"]
</div>

<div class="page-paragraph">@Localizer["Since its inception, Neo has championed a BFT-powered, safety-first approach that has been rapidly gaining in popularity in the blockchain industry—and for good reason."]
</div><br/>

<div class="page-paragraph">@Localizer["Neo’s consensus mechanism, delegated Byzantine Fault Tolerance, represents a new evolution of the groundbreaking PBFT. Similar to its predecessor, dBFT requires a ⅔ majority agreement between validators called consensus nodes before new blocks can be committed to the blockchain."]
</div><br/>

<div class="page-paragraph">@Localizer["This means the blockchain will never fork, and every transaction is permanently settled as soon as it is included in a confirmed block. In other words, Neo’s consensus mechanism immediately eliminates the possibility of transaction reversal. All applications based on Neo’s Layer 1 inherit this safety property."]
</div><br/>

<div class="page-paragraph">@Localizer["With Neo, users can always enjoy fast, low-cost transactions that are fully finalized within a single block."]
</div><br/>

<div class="sub-title">@Localizer["Democratic decentralization"]
</div>

<div class="page-paragraph">@Localizer["Like other Proof of Stake-based blockchains, Neo combines cryptographic tools and game theory to establish a robust and sustainable network. Governance voting by NEO stakeholders ensure all participants are economically aligned in a shared interest to safeguard the blockchain and its growing ecosystem. This democratic mechanism provides the Neo blockchain with all the tools required to fully decentralize control over the network."]
</div>

