@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<h2 class="main-title">@Localizer["Interoperability"]
</h2>

<div class="tagline">@Localizer["Neo strives to be the best platform for building decentralized applications. It achieves this with an unmatched feature set for blockchain that is accessible to developers of all backgrounds. But Neo alone cannot play host to the entire next-generation Internet, and some applications may want to take advantage of unique benefits from other ecosystems."]
</div><br/>

<div class="sub-title">@Localizer["So easy, it feels native"]
</div><br/>

<div class="page-paragraph">@Localizer["As a founding member of the interoperability protocol alliance Poly Network, Neo makes cross-chain interaction as easy as a native transaction. Users and applications on the Neo blockchain can easily send assets or tap services from all other participating networks through Poly Network’s bridges."]
</div><br/>

<div class="page-paragraph">@Localizer["Most importantly, Poly Network provides an interoperability solution without an extra token. This design ensures the blockchain complements each protocol it integrates with, providing new use cases and opportunities to all."]
</div><br/>

<div class="page-paragraph">@Localizer["Poly Network has already transferred more than US $3 billion in equivalent value to Neo Legacy from participating networks. More than 8 networks are already supported, including Bitcoin, Ethereum, Binance Smart Chain, Elrond, Zilliqa, Huobi Eco Chain, Ontology, Switcheo and other Cosmos-based blockchains."]
</div><br/>