@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="main-title">     @Localizer["NeoFS"]
</h2>

<div class="tagline">     @Localizer["NeoFS is a distributed, decentralized object storage network. Used to its fullest potential, NeoFS can act as the host infrastructure for an entirely new class of truly decentralized applications."]
</div>
<br />
<div class="page-paragraph">     @Localizer["The network also provides benefits for traditional web applications. It is designed to function as a drop-in replacement for expensive centralized data silos, granting developers full control over where and how their application data is stored and accessed. Stored data is always encrypted, and can be set to be decryptable by all or locked down with secure, granular access lists. NeoFS users always remain in complete control of their data."]
</div>
<br />
<div class="page-paragraph">     @Localizer["Malicious nodes that do not correctly store data are mitigated through zero-knowledge data validation techniques, and replication mechanisms provide a reliable service even in the event of a storage node failure. Even in a naturally chaotic decentralized environment, NeoFS provides a reliable service."]
</div>

<div class="sub-title">     @Localizer["An open market"]
</div>

<div class="page-paragraph">     @Localizer["NeoFS operates on free market principles; anyone can join the network as a storage node or become elected to the inner ring to participate in network management and upkeep, earning rewards as a result."]
</div>
<br />
<div class="page-paragraph">     @Localizer["The service is also uniquely customizable; those renting capacity from the network can select their desired geographic placement locations to minimize content delivery time to their users, define specific disk type requirements, or scale up to any desired level of redundancy."]
</div>

<div class="sub-title">     @Localizer["It’s all native"]
</div>

<div class="page-paragraph">     @Localizer["The network’s deep integration with the Neo blockchain introduces another revolutionary innovation. For the first time, smart contracts running on a public blockchain will be able to access and manipulate data stored in the decentralized cloud."]
</div>
<br />
<div class="page-paragraph">     @Localizer["Enabled through Neo’s native oracle, developers can tap into the NeoFS network at the code level, manipulating data from within NeoVM without the cost of persisting the data on-chain."]
</div>
<br />
<div class="page-paragraph">     @Localizer["NeoFS also makes the ideal host for application frontends, replacing the need for centralized web hosts. With the integrated CDN services, applications can even customize edge cache locations, ensuring the fastest possible delivery of data to their core users."]
</div>
<br />
<div class="page-paragraph">     @Localizer["With these pioneering tools, the new era of truly decentralized applications can be achieved with zero compromise on usability."]
</div>
