@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="main-title">@Localizer["Smart Contracts"]</h2>
<div class="tagline">@Localizer["SmartContractsTagline"]</div>

<div class="sub-title">@Localizer["Your language, your way"]</div>
<div class="page-paragraph">
    @Localizer["Your language, your way-p"]
</div>

<div class="sub-title">@Localizer["Smart contracts"]</div>
<div class="page-paragraph">
    @Localizer["Smart contracts-p"]
</div>

<div class="sub-title">@Localizer["The price is right"]</div>
<div class="page-paragraph">
    @Localizer["The price is right-p"]
</div>
