@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <link rel="stylesheet" href="/css/careers.css" />
}
<div class="banner m2 p2">
    <h1 class="m2 p3">JOIN US<br />加入我们</h1>
</div>

<div class="container">
    <div class="row m2">
        <p class="t1">关于NGD</p>
        <p class="t2">
            @Localizer["NGD (NEO Global Development) is an organization founded under NEO Foundation (NF) in March 2018 on the execution side of NF strategies on technology R&D, marketing and community development. Since NEO is a non-profit international open-source blockchain project seeking interaction and collaboration with the global community, NGD will liaise with organizations and members of the community on behalf of NF. NGD is dedicated to realizing NEO’s vision - the implementation of NEO Smart Economy, a new economic model empowered by technical innovation by converging the community forces."]
        </p>
    </div>
    <div class="row m2">
        <ul class="careers-tab">
            <li class="selected"><a>@Localizer["All"]</a></li>
            <li><a>R&D</a></li>
            <li><a>Marketing</a></li>
            <li><a>Ecosystem Growth</a></li>
            <li><a>HR & Admin</a></li>
        </ul>
    </div>
    @if (ViewBag.UserRules)
    {
        <a asp-action="Create">新增</a>
    }
    @* lang、description、Need、Title *@
    <div class="row">
        @foreach (var item in (Model as IEnumerable<NeoWeb.Models.Careers>)@*.Where(p => p.Lang == ViewBag.Lang)*@)
        {
            @if (item.IsShow)
            {
                <div class="careers-content m3 p2" careers-type="@item.Type">
                    @if (ViewBag.UserRules)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">编辑</a>
                    }
                    <a href="mailto:join@neo.org?subject=@item.Title" class="car-apply t3">@Localizer["APPLY"]</a>
                    <div class="white-sha t2"><a class="more-info">@Localizer["More Info"]</a></div>
                    <p class="t1">@item.Title</p>
                    <div>@Html.Raw(item.Description)</div>
                </div>
            }
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(".more-info").click(function () {
            $(this).parents(".careers-content").addClass("unfold");
        })
    </script>
}