@model IEnumerable<NeoWeb.Models.DiscoverViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Discover";
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/discover.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/discover.min.css", true)" />
    </environment>
    <style>
    </style>
}

<div class="p2">
    <h2 class="m1 text-center">Discover</h2>
    <div class="row">

        @{
            var top = (ViewBag.Ontop as DiscoverViewModel);
        }
        @if (top?.Type == DiscoverViewModelType.Blog && top.Blog.IsShow)
        {
            <div class="col-md-8 discove-top">
                <a href="~/blog/details/@top.Blog.Id">
                    <img class="m2" src="@String.Format("/upload/{0}", top.Blog.Cover).ToLower()" />
                </a>
            </div>
            <div class="col-md-4">
                <div class="center n o-des">
                    <p class="green bold m4">BLOG</p>
                    <h4><a href="~/blog/details/@top.Blog.Id">@top.Blog.Title</a></h4>
                    <p class="m6">@top.Blog.Title</p>
                    <p class="m5">
                        @top.Blog.Summary
                    </p>
                </div>
            </div>
        }
        else if (top?.Type == DiscoverViewModelType.Event)
        {
            <div class="col-md-8 discove-top">
                <a href="~/event/details/@top.Event.Id">
                    <img class="m2" src="@String.Format("/upload/{0}", top.Event.Cover).ToLower()" />
                </a>

            </div>
            <div class="col-md-4">
                <div class="center n o-des">
                    <p class="green bold m4">EVENT</p>
                    <h4><a href="~/event/details/@top.Event.Id">@top.Event.Name</a></h4>
                    <p class="m6"> @top.Event.StartTime - @top.Event.EndTime</p>
                    <p> @top.Event.Country, @top.Event.City</p>
                </div>
            </div>
        }
        else if (top?.Type == DiscoverViewModelType.News)
        {
            <div class="col-md-8 discove-top">
                <a href="@top.News.Link" target="_blank"><img class="m2" src="@String.Format("/upload/{0}", top.News.Cover).ToLower()" /></a>

            </div>
            <div class="col-md-4">
                <div class="center n o-des">
                    <p class="green bold m4">NEWS</p>
                    <h4><a href="@top.News.Link" target="_blank">@top.News.Title</a></h4>
                    <p class="m6">@top.News.Time</p>
                </div>
            </div>
        }
    </div>
</div>

<div class="border-bottom form-inline">
    <input type="text" class="form-control" />
    <span>Filters</span>
    <select class="form-control">
        <option>All types</option>
        <option>BLOGS</option>
        <option>EVENTS</option>
        <option>NEWS</option>
    </select>
    <select class="form-control" asp-items="ViewBag.Year"></select>
</div>

<div class="row mt4">
    @foreach (var item in Model)
    {
        if (item.Type == DiscoverViewModelType.Blog)
        {
            @if (item.Blog.IsShow || ViewBag.UserRules)
            {
                <div class="col-md-4 m4 discove-item">
                    <a href="~/blog/details/@item.Blog.Id">
                        <img class="m2" src="@String.Format("/upload/{0}", @item.Blog.Cover).ToLower()" />
                    </a>
                    <p class="m5 gray small">@item.Time.Month.ToMonth() @item.Time.Day, @item.Time.Year<span class="green bold">@item.Type</span></p>
                    <p class="h4"><a href="~/blog/details/@item.Blog.Id">@item.Blog.Title</a></p>
                    <p class="small gray">
                        @if (!string.IsNullOrEmpty(item.Blog.Tags))
                        {
                            foreach (var tag in item.Blog.Tags.Split(','))
                            {
                                <a href="~/discover?keywords=@tag.Trim()">#@tag.Trim()</a>
                            }
                        }
                    </p>
                    @if (!item.Blog.IsShow && ViewBag.UserRules)
                    {
                        <p>未发布博客，仅管理员可见</p>
                    }
                </div>
            }
        }
        else if (item.Type == DiscoverViewModelType.Event)
        {
            <div class="col-md-4 m4 discove-item">
                <a href="~/event/details/@item.Event.Id">
                    <img class="m2" src="@String.Format("/upload/{0}", @item.Event.Cover).ToLower()" />
                </a>
                <p class="m5 gray small">@item.Time.Month.ToMonth() @item.Time.Day, @item.Time.Year<span class="green bold">@item.Type</span></p>
                <p class="h4"><a href="~/event/details/@item.Event.Id">@item.Event.Name</a></p>
                <p class="small gray">@item.Event.Country - @item.Event.City</p>
            </div>
        }
        else if (item.Type == DiscoverViewModelType.News)
        {
            <div class="col-md-4 m4 discove-item">
                <a href="@item.News.Link" target="_blank">
                    <img class="m2" src="@String.Format("/upload/{0}", @item.News.Cover).ToLower()" />
                </a>
                <p class="m5 gray small">@item.Time.Month.ToMonth() @item.Time.Day, @item.Time.Year<span class="green bold">@item.Type</span></p>
                <p class="h4"><a href="@item.News.Link" target="_blank">@item.News.Title</a></p>
                <p class="small gray">>@item.News.Tags</p>
            </div>
        }
    }

</div>


