@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Press Kit"].Value;
}
@section Styles{
    <style>
        .layout-container {
            max-width: none;
            padding: 0;
            margin: 0;
        }
    </style>
}
<div class="p1 bg3">
    <h1 class="w800">@Localizer["Press Kit"]</h1>
    <p class="mt5 w700">@Localizer["The logo below is only for you to choose to use in cooperation promotion, thank you!"]</p>
</div>
<div class="container mb-5 text-center">
    <img data-original="@Helper.CDN/images/logo/neo_color_dark.svg" style="background-color: #ddd" />
    <div class="mt-3 mb-5">
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_color_dark.svg">SVG</a>
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_color_dark.png">PNG</a>
    </div>
    <img data-original="@Helper.CDN/images/logo/neo_color_light.svg" />
    <div class="mt-3 mb-5">
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_color_light.svg">SVG</a>
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_color_light.png">PNG</a>
    </div>
    <img data-original="@Helper.CDN/images/logo/neo_mono.svg" style="background-color: #ddd" />
    <div class="mt-3 mb-5">
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_mono.svg">SVG</a>
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_mono.png">PNG</a>
    </div>
    <img data-original="@Helper.CDN/images/logo/neo_white.svg" />
    <div class="mt-3 mb-5">
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_white.svg">SVG</a>
        <a class="btn" target="_blank" href="@Helper.CDN/images/logo/neo_white.png">PNG</a>
    </div>
</div>

