@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Press Kit"].Value;
}
@section Styles{
    <style>
        .layout-container {
            max-width: none;
            padding: 0;
            margin: 0;
        }
    </style>
}
<div class="p1 bg3">
    <h1 class="w800">@Localizer["Press Kit"]</h1>
    <p class="mt5 w700">@Localizer["Download Neo logo and other brand assets here. Please refer to Neo Brand book for application guidelines."]</p>
    <p class="mt5 w700"><a class="btn mt-3" target="_blank" href="@Helper.CDN/images/presskit/Neo Brand Book_v1.0_20191017.pdf">Download Neo Brand Book</a></p>
</div>
<div class="container mb-5 text-center">
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-5">
            <div class="mx-auto" style="width: 64.8%; height: 140px">
                <img data-original="@Helper.CDN/images/presskit/neo.svg" />
            </div>
            <a class="btn mt-3" target="_blank" href="@Helper.CDN/images/presskit/neo.zip">Download zip</a>
        </div>
        <div class="col-sm-12 col-md-6 mt-5">
            <div class="mx-auto" style="width: 80%; height: 140px">
                <img data-original="@Helper.CDN/images/presskit/gas.svg" style="width: 95%" />
            </div>
            <a class="btn mt-3" target="_blank" href="@Helper.CDN/images/presskit/gas.zip">Download zip</a>
        </div>
    </div>
</div>

