@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Neo Contributors"].Value;
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/team.min.css", true)" />
}
<div class="p1 bg3" style="min-height: 0">
    <h1 class="w800">@Localizer["Contributors"]</h1>
</div>
<div class="container">
    <hr class="mt2" />
    <h4 class="mt5">Neo Foundation Key Members</h4>
    <div class="row mt3 team-list align-items-center">
        <div class="col-6 col-md-5 col-lg-4">
            <img data-original="/images/team/da.jpg" />
        </div>
        <div class="col-6 col-md-6 offset-md-1 col-lg-6 offset-lg-1 ">
            <div class="row">
                <h3 class="col-12">@Localizer["Hongfei Da"]</h3>
                <div class="col-12 bolder mt6">@Localizer["Founder of Neo, Chair of Neo Foundation, CEO of NGD"]</div>
                <div class="d-none d-md-block col-12 mt5">@Localizer["Hongfei Da is the founder of Neo, a leading open source blockchain initiative that is building the infrastructure of the next-gen Internet with a vision to create a smart economy. As a pioneer in international blockchain technology space, he founded AntShares in 2014 which was later renamed to NEO in June 2017. Leveraging on his extensive experience and expertise in blockchain technologies and innovations, he is widely recognized as pioneering and visionary leader within the global blockchain industry."]</div>
                <div class="col-12 h6 mt-2 mt-md-1 link">
                    <a class="iconfont mr3" target="_blank" href="https://www.linkedin.com/in/dahongfei/">&#xe612;</a>
                    <a class="iconfont mr3" target="_blank" href="https://twitter.com/dahongfei">&#xe607;</a>
                    <a class="iconfont" target="_blank" href="https://github.com/dahongfei">&#xe609;</a>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none mt-2 col-12">@Localizer["Hongfei Da is the founder of Neo, a leading open source blockchain initiative that is building the infrastructure of the next-gen Internet with a vision to create a smart economy. As a pioneer in international blockchain technology space, he founded AntShares in 2014 which was later renamed to NEO in June 2017. Leveraging on his extensive experience and expertise in blockchain technologies and innovations, he is widely recognized as pioneering and visionary leader within the global blockchain industry."]</div>
    </div>

    <div class="row mt3 team-list align-items-center">
        <div class="col-6 col-md-5 col-lg-4">
            <img data-original="/images/team/erik.jpg" />
        </div>
        <div class="col-6 col-md-6 offset-md-1 col-lg-6 offset-lg-1 ">
            <div class="row">
                <h3 class="col-12">@Localizer["Erik Zhang"]</h3>
                <div class="col-12 bolder mt6">@Localizer["Founder and core developer of Neo, Chair of Neo Foundation"]</div>
                <div class="d-none d-md-block col-12 mt5">@Localizer["Erik is founder and core developer of Neo, author of the dBFT consensus mechanism. He is an expert on blockchain technology and information security, as well as a strong advocate for open source development. He organizes Neo's global developer communities  to continuously innovate, apply and promote technology in the blockchain field. Currently he is leading the development of Neo3, enhancing the developer experience, to get ready for large-scale commercial blockchain applications."]</div>
                <div class="col-12 h6 mt-2 mt-md-1 link">
                    <a class="iconfont mr3" target="_blank" href="https://www.linkedin.com/in/erik-zhang-5a6b14ab/">&#xe612;</a>
                    <a class="iconfont mr3" target="_blank" href="https://twitter.com/neoerikzhang">&#xe607;</a>
                    <a class="iconfont" target="_blank" href="https://github.com/erikzhang">&#xe609;</a>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none mt-2 col-12">@Localizer["Erik is founder and core developer of Neo, author of the dBFT consensus mechanism. He is an expert on blockchain technology and information security, as well as a strong advocate for open source development. He organizes Neo's global developer communities  to continuously innovate, apply and promote technology in the blockchain field. Currently he is leading the development of Neo3, enhancing the developer experience, to get ready for large-scale commercial blockchain applications."]</div>
    </div>

    <hr class="mt2" />
    <h4 class="mt4">Neo Core Developers</h4>
    <div class="row team-list" id="core"></div>

    <hr class="mt2" />
    <h4 class="mt4">Neo Global Development (NGD) Key Members</h4>
    <div class="row team-list" id="neo"></div>

    <hr class="mt2" />
    <h4 class="mt4">Neo Community Outstanding Contributors</h4>
    <div class="row team-list" id="community"></div>

    <hr class="mt2" />
</div>

<script id="coreMember" type="text/html">
    {{each core value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7 link">
                {{if value.linkin}}<a class="iconfont mr3" target="_blank" href={{value.linkin}}>&#xe612;</a>{{/if}}
                {{if value.github}}<a class="iconfont" target="_blank" href={{value.github}}>&#xe609;</a>{{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="neoMember" type="text/html">
    {{each neo value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
        </div>
    </div>
    {{/each}}
</script>

<script id="comMember" type="text/html">
    {{each community value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
        </div>
    </div>
    {{/each}}
</script>

@section Scripts{
    <script src="@Helper.ToCDN("/js/template.js")"></script>

    <script>
        addMember();

        function addMember() {

            $.ajax({
                type: "GET",
                url: "@Helper.ToCDN("/js/team.json")",
                dataType: 'json',
                success: function (data) {
                    var core = "", neo = "", community = "";
                    core += template("coreMember", data);
                    document.getElementById("core").innerHTML = core;

                    neo += template("neoMember", data);
                    document.getElementById("neo").innerHTML = neo;

                    community += template("comMember", data);
                    document.getElementById("community").innerHTML = community;

                }
            });
        }
    </script>
}