@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "NEO Contributors";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/team.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/team.min.css", true)" />
    </environment>
}
<div class="container text-center p2">
    <h2 class="m1">@Localizer["NEO Contributors"]</h2>
    <p class="m2">@Localizer["This page presents some NEO contributors, which are divided into the following four parts: NEO core developers, NEO Foundation key members, NGD key members, and NEO community outstanding contributors.Thank them for their outstanding contribution to the ecosystem of NEO."]</p>
    <div class="m2">
        <h3>
            @Localizer["NEO Core Developers"]
        </h3>
        <div class="team">
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/erik.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Erik Zhang<br />张铮文
                        <a href="https://www.linkedin.com/in/erik-zhang-5a6b14ab/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/erikzhang" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Erik is founder and core developer of NEO, author to dBFT consensus mechanism, expert on blockchain technology and computer security and a certified information system auditor (CISA). Previously he was engaged in Shanda Games and www.huobi.com where he specialised in information security and R&D in digital currency.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Lijy.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Jianying Li<br />李剑英
                        <a href="https://www.linkedin.com/in/lightsever/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/lightszero" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">A programmer who enjoys being challenged by difficult research topics starts to develop an interest in blockchain technology after getting to know NEO.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/shargon.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Fernando Díaz Toledano
                        <a href="https://www.linkedin.com/in/erik-zhang-5a6b14ab/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/erikzhang" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Founder, Red4Sec, expert in security, blockchain and smart contracts. Responsible for the audit of several blockchains.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Jeff.jpg?v=2")" />
                <div class="card-body">
                    <div class="card-title">
                        Jeff Solinsky
                        <a href="https://www.linkedin.com/in/jeffsolinsky" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/jsolman" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Born in 1983, Jeff has been programming since age 11 and had software jobs since before attending college at DeVry University, where he received a full tuition scholarship and graduated with a 4.0 GPA. He has designed and developed software systems professionally targeting a wide range of devices from embedded to huge clusters in AWS. His early interest in Blockchain blossomed from a hobby to a full time career. Jeff highly values family, and when he is not working, he enjoys hanging out with his wife and children, studying the Christian Bible, and being involved in his faith.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Igor.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Igor M. Coelho
                        <a href="https://github.com/igormcoelho" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Igor is a brazilian researcher/professor on algorithms, combinatorial optimization and high performance computing, including emerging architectures such as Graphics Processing Units (GPUs).  His passion for privacy, decentralization and self-governing transparent systems has brought him to the blockchain field. An open-source passionate, music and art lover, that also loves to work with his brother.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/ThomasSaunders.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Thomas Saunders
                        <a href="https://www.linkedin.com/in/moderncarpentry/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/localhuman" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Thomas is the author of neo-python and the Python compiler for NEO.  He spends most of his time as a founder and Chief of Engineering at Nash.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/vitor.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Vitor Nazario Coelho
                        <a href="https://www.linkedin.com/in/vitor-naz%C3%A1rio-coelho-b76511a1/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/vncoelho" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Vitor Nazario Coelho is doctor in Electrical Engineering, in the field of Computational Intelligence, by Universidade Federal de Minas Gerais (UFMG), finishing his PhD in 2 years, with 25 years old, without attending Master studies. His thesis was awarded as the best one in the Engineering area in the year of 2016 of UFMG. For two years he was Post-Doctorate researcher at Universidade Federal Fluminense, supported by the outstanding program PDR-10/FAPERJ program. He has been mostly contributing in the field of Mono/Multi-Objective Optimization and Metaheuristics. Currently, he acts as an autonomous developer, researcher, investor and partner of different projects.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/jaime.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Jaime Kindelan Alonso
                        <a href="https://www.linkedin.com/in/jaime-kindelan/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/belane" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">IT security consultant and security analyst with more than 13 years of experience as a Development Operations & Security Project Manager leading Information Security teams for international corporations. Currently developer and part of the City of Zion Council, co-Founder, Red4Sec Cybersecurity.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/ashley.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Ashley Rolleston
                        <a href="https://www.linkedin.com/in/ashleyrolleston/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/AshRolls" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text"> Ashley is a co-Founder, City of Zion and a talented software engineer with fifteen years industry experience. Ashley has advanced technical experience in the full software development life-cycle, including a broad variety of experience in other computing disciplines.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="m2">
        <h3>NEO Foundation @Localizer["key members"]</h3>
        <p class="m3 d-none">NEO Foundation 简介</p>
        <div class="team">
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/da.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Da Hongfei<br />达鸿飞
                        <a href="https://www.linkedin.com/in/dahongfei/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a class="d-none" href="https://github.com/dahongfei" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Founder, NEO, Co-Chair of NEO Foundation.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/erik.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Erik Zhang<br />张铮文
                        <a href="https://www.linkedin.com/in/erik-zhang-5a6b14ab/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/erikzhang" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Erik is founder and core developer of NEO, author to dBFT consensus mechanism, expert on blockchain technology and computer security and a certified information system auditor (CISA). Previously he was engaged in Shanda Games and www.huobi.com where he specialised in information security and R&D in digital currency.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="m2">
        <h3>NEO Global Development (NGD) @Localizer["key members"]</h3>
        <p class="m3">@Localizer["NEO Global Development (NGD) is an organization that was founded by the NEO Foundation (NF) in March of 2018. Its purpose is to focus on the execution of NF strategies surrounding technological R&D, marketing, and community development."]</p>
        <div class="team">
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/zc.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Johnson Zhao<br />赵晨
                        <a href="https://www.linkedin.com/in/zhao-chen-07a4674/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                    </div>
                    <div class="card-text">General Manager at NEO Global Development. Hong Kong University postgraduate. Rich cross-discipline experiences in banking and the international financial service industry. Dedicated to inter-industry communication, building the developer community, refining business models, and integrating blockchain use cases with technical expertise and understanding.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/peter.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Peter Lin<br />林鹏涛
                        <a href="https://www.linkedin.com/in/pengtao-lin-453653b4/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                        <a href="https://github.com/peterlinx" target="_blank"><i class="iconfont">&#xe6ed;</i></a>
                    </div>
                    <div class="card-text">Director of R&D, NEO Global Development (NGD), one of the early NEO developers.He has 6 years of experience in internet technology development, engaged in the development of blockchain applications in the public chain and alliance chain.</div>
                </div>
            </div>
            <div class="card border-static">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/gao.jpg")" />
                <div class="card-body">
                    <div class="card-title">
                        Lemonie Gao <br />高童文
                        <a href="https://www.linkedin.com/in/lemonie/" target="_blank"><i class="iconfont">&#xe698;</i></a>
                    </div>
                    <div class="card-text">Manager of HR & Administrative. Our team is growing rapidly! We are so excited about being one part of this world-changing game. If you are the person who are constantly looking for more fun and challenges, NGD will be a great place to work.</div>
                </div>
            </div>
        </div>
        <p class="m3">@Localizer["In addition, there are more than 50 full-time employees and interns in NGD, which are not listed here."]</p>
    </div>
    <div class="m2">
        <h3>
            @Localizer["NEO Community Outstanding Contributors"]
        </h3>
        <p class="m3">@Localizer["The names are listed in no particular order."]</p>
        <div class="team m3">
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/canesin.png")" />
                <div class="card-body">
                    <div class="card-title">Fábio César Canesin</div>
                    <div class="card-text">Co-Founder, City of Zion</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/tba.png")" />
                <div class="card-body">
                    <div class="card-title">Tyler B Adams</div>
                    <div class="card-text">Co-Founder, City of Zion</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Fabian.jpg")" />
                <div class="card-body">
                    <div class="card-title">Fabian Wahle</div>
                    <div class="card-text">Co-Founder, City of Zion<br />Founder, NSPCC</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Dean.jpg")" />
                <div class="card-body">
                    <div class="card-title">Dean Jeffs</div>
                    <div class="card-text">Founder, NEO News Today </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/chris-hager.jpg")" />
                <div class="card-body">
                    <div class="card-title">Chris Hager<div class="card-text">Developer, City of Zion</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Luciano.jpg")" />
                <div class="card-body">
                    <div class="card-title">Luciano Engel</div>
                    <div class="card-text">Co-Founder, City of Zion</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Ethan.png")" />
                <div class="card-body">
                    <div class="card-title">Ethan Fast</div>
                    <div class="card-text">Co-Founder, City of Zion</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/afong.jpg")" />
                <div class="card-body">
                    <div class="card-title">Alan Fong</div>
                    <div class="card-text">Co-Founder, City of Zion </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/erik-vd-brink.jpg")" />
                <div class="card-body">
                    <div class="card-title">Erik van den Brink</div>
                    <div class="card-text">Developer, City of Zion</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/AlexD.jpg")" />
                <div class="card-body">
                    <div class="card-title">Alex Dicarlo</div>
                    <div class="card-text">Founder, Neotracker, Founder, NEO·ONE</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/DeanvanDugteren.jpg")" />
                <div class="card-body">
                    <div class="card-title">Dean van Dugteren</div>
                    <div class="card-text">Developer and workshop host/instructor</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Anthony.jpg")" />
                <div class="card-body">
                    <div class="card-title">Anthony De Meulemeester</div>
                    <div class="card-text">Creator and project maintainer of neo-go and neo-storm</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/zadra.jpg")" />
                <div class="card-body">
                    <div class="card-title">Zdravko Georgiev</div>
                    <div class="card-text">Community developer</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/yasen.jpg")" />
                <div class="card-body">
                    <div class="card-title">Yasen Mihailov</div>
                    <div class="card-text">Community developer</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/Liuyx.jpg")" />
                <div class="card-body">
                    <div class="card-title">Liu Yongxin<br />刘永新</div>
                    <div class="card-text">Co-Founder, NewEconoLabs</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" data-original="@Helper.ToCDN("/images/team/wingyung.jpg")" />
                <div class="card-body">
                    <div class="card-title">Wing Yung Chan</div>
                    <div class="card-text">Community Developer</div>
                </div>
            </div>
        </div>
    </div>
</div>

