@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "NEO Contributors";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/team.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.CDN/css/team.min.css" asp-append-version="true" />
    </environment>
}
    <div class="container text-center p2">
        <h2 class="m1">@Localizer["NEO Contributors"]</h2>
        <p class="m2">@Localizer["This page presents some NEO contributors, which are divided into the following four parts: NEO core developers, NEO Foundation key members, NGD key members, and NEO community outstanding contributors.Thank them for their outstanding contribution to the ecology of NEO."]</p>
        <div class="m2">
            <h3>
                @Localizer["NEO Core Developers"]
            </h3>
            <div class="team nf">
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m2">
            <h3>NEO Foundation @Localizer["key members"]</h3>
            <p class="m3">NEO Foundation 简介</p>
            <div class="team nf">
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/da.jpg" />
                    <div class="card-body">
                        <div class="card-title">Da Hongfei<br />达鸿飞</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m2">
            <h3>NEO Global Development (NGD) @Localizer["key members"]</h3>
            <p class="m3">@Localizer["NEO Global Development (NGD) is an organization that was founded by the NEO Foundation (NF) in March of 2018. Its purpose is to focus on the execution of NF strategies surrounding technological R&D, marketing, and community development."]</p>
            <div class="team">
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/zc.jpg" />
                    <div class="card-body">
                        <div class="card-title">Johnson Zhao<br />赵晨</div>
                        <div class="card-text">General Manager</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/peter.jpg" />
                    <div class="card-body">
                        <div class="card-title">Peter Lin<br />林鹏涛</div>
                        <div class="card-text">Director, R&D</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/gao.jpg" />
                    <div class="card-body">
                        <div class="card-title">Lemonie Gao <br />高童文</div>
                        <div class="card-text">Manager, HR & Administrative</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m2">
            <h3>
                @Localizer["NEO Community Outstanding Contributors"]
            </h3>
            <div class="team nf">
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
                    <div class="card-body">
                        <div class="card-title">Erik Zhang<br />张铮文</div>
                        <div class="card-text">Co-Chair</div>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts{
            <script src="@Helper.CDN/js/jquery.lazyload.min.js"></script>
            <script>
        $('[data-original]').lazyload({
                    threshold: 200,
                    effect: "fadeIn"
        });
            </script>
        }
    </div>

