
@{
    ViewData["Title"] = "NEO Contributors";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/team.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.CDN/css/team.min.css" asp-append-version="true" />
    </environment>
}
<h2 class="text-center m3">NEO Foundation</h2>
<p class="text-center">Setting NEO's Vision and Strategy.</p>
<div class="team nf">
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/da.jpg" />
        <div class="card-body">
            <div class="card-title">Da Hongfei<br />达鸿飞</div>
            <div class="card-text">Co-Chair</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/erik.jpg" />
        <div class="card-body">
            <div class="card-title">Erik Zhang<br />张铮文</div>
            <div class="card-text">Co-Chair</div>
        </div>
    </div>
</div>
<hr />
<h2 class="text-center m3">NEO Global Development (NGD)</h2>
<p class="text-center">Realizing NEO's Vision, Executing NEO's Strategy.</p>
<div class="team">
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/zc.jpg" />
        <div class="card-body">
            <div class="card-title">Johnson Zhao<br />赵晨</div>
            <div class="card-text">General Manager</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/peter.jpg" />
        <div class="card-body">
            <div class="card-title">Peter Lin<br />林鹏涛</div>
            <div class="card-text">Director of R&D</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/qiaoling.jpg" />
        <div class="card-body">
            <div class="card-title">Sharlyne<br />李巧伶</div>
            <div class="card-text">Senior Manager, Marketing</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/malcolm.jpg" />
        <div class="card-body">
            <div class="card-title">Malcolm Lerider<br /><br /></div>
            <div class="card-text">Senior Manager, Ecosystem growth</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/chris.jpg" />
        <div class="card-body">
            <div class="card-title">Chris Chen<br />陈志同</div>
            <div class="card-text">Senior Engineer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/shou.jpg" />
        <div class="card-body">
            <div class="card-title">Ray Fan<br />樊收收</div>
            <div class="card-text">Engineer, Test</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/yan.jpg" />
        <div class="card-body">
            <div class="card-title">Mingxia Yan<br />严明夏</div>
            <div class="card-text">Engineer, Front End</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/huang.jpg" />
        <div class="card-body">
            <div class="card-title">JC Huang<br />黄书熹</div>
            <div class="card-text">Community Operation</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/fang.jpg" />
        <div class="card-body">
            <div class="card-title">Robin Fang<br />方宇婷</div>
            <div class="card-text">Translator</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/zeng.jpg" />
        <div class="card-body">
            <div class="card-title">Kris Zeng<br />曾程</div>
            <div class="card-text">Community Operations</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/yu.jpg" />
        <div class="card-body">
            <div class="card-title">Celia Yu<br />郁焰</div>
            <div class="card-text">Senior Engineer, Documentation</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/simiao.jpg" />
        <div class="card-body">
            <div class="card-title">Nikkor Wang<br />王思邈</div>
            <div class="card-text">Community Operations</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/tamar.jpg" />
        <div class="card-body">
            <div class="card-title">Tamar Salant<br /><br /></div>
            <div class="card-text">Manager, Ecosystem growth</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/mikihayama.jpg" />
        <div class="card-body">
            <div class="card-title">Miki Hayama<br /><br /></div>
            <div class="card-text">Director, Ecosystem growth</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/miles.jpg" />
        <div class="card-body">
            <div class="card-title">Miles Graham<br /><br /></div>
            <div class="card-text">Global Regulatory Affairs Officer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/Grace.jpg" />
        <div class="card-body">
            <div class="card-title">Grace Gui<br />桂海芳</div>
            <div class="card-text">Global Marketing</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/rita.jpg" />
        <div class="card-body">
            <div class="card-title">Rita Zhang<br />张孖涵</div>
            <div class="card-text">Assistant, HR & Administrative</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/john.jpg" />
        <div class="card-body">
            <div class="card-title">John Wang<br />王佳超</div>
            <div class="card-text">Manager, Ecosystem growth</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/gao.jpg" />
        <div class="card-body">
            <div class="card-title">Lemonie Gao <br />高童文</div>
            <div class="card-text">Manager, HR & Administrative</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/xue.jpg" />
        <div class="card-body">
            <div class="card-title">Chris Xue<br />薛慧静</div>
            <div class="card-text">Accountant, Finance</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/tianli.jpg" />
        <div class="card-body">
            <div class="card-title">Li Tian<br />田力</div>
            <div class="card-text">Senior R&D Manager</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/xiaoli.jpg" />
        <div class="card-body">
            <div class="card-title">Ellie Li <br />李小莉</div>
            <div class="card-text">UI Designer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/hong.jpg" />
        <div class="card-body">
            <div class="card-title">Zhihong Zhang <br />张志宏</div>
            <div class="card-text">Senior Engineer,Software </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/tao.jpg" />
        <div class="card-body">
            <div class="card-title">Tao Zhang <br />张涛</div>
            <div class="card-text">Senior Engineer,Software </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/stacey.jpg" />
        <div class="card-body">
            <div class="card-title">Stacey Li<br />李雅君</div>
            <div class="card-text">Media Manager</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/liumy.jpg" />
        <div class="card-body">
            <div class="card-title">Mengyu Liu<br />刘梦雨</div>
            <div class="card-text">Software developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/luxy.jpg" />
        <div class="card-body">
            <div class="card-title">Xinyi Lu<br />陆心怡</div>
            <div class="card-text">Quality assurance engineer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/zhangsy.jpg" />
        <div class="card-body">
            <div class="card-title">Shuyun Zhang<br />章淑云</div>
            <div class="card-text">Senior quality assurance engineer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/suyy.jpg" />
        <div class="card-body">
            <div class="card-title">Yuyang Su<br />苏瑜阳</div>
            <div class="card-text">Quality assurance engineer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/denis.jpg" />
        <div class="card-body">
            <div class="card-title">Denis Suslov<br /><br /></div>
            <div class="card-text">Associate manager, Ecosystem growth</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/songp.jpg" />
        <div class="card-body">
            <div class="card-title">Sara Song<br />宋萍</div>
            <div class="card-text">Associate Manager, Ecosystem growth</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/jinq.jpg" />
        <div class="card-body">
            <div class="card-title">Qiao Jin<br />金桥</div>
            <div class="card-text">Software Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/luc.jpg" />
        <div class="card-body">
            <div class="card-title">Chuan Lu<br />卢川</div>
            <div class="card-text">Senior Software Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/wanglf.jpg" />
        <div class="card-body">
            <div class="card-title">Longfei Wang<br />王龙飞</div>
            <div class="card-text">Software Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/liurd.jpg" />
        <div class="card-body">
            <div class="card-title">Rendong Liu<br />刘仁栋</div>
            <div class="card-text">Software Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/quesp.jpg" />
        <div class="card-body">
            <div class="card-title">Songping Que<br />阙耸萍</div>
            <div class="card-text">Community Operation Specialist</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/qianz.jpg" />
        <div class="card-body">
            <div class="card-title">Zhuo Qian<br />钱卓</div>
            <div class="card-text">Software Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/gaoy.jpg" />
        <div class="card-body">
            <div class="card-title">Yuan Gao<br />高原</div>
            <div class="card-text">Senior Marketing Manager</div>
        </div>
    </div>
</div>
<hr />
<h2 class="text-center m3">NEO Community</h2>
<p class="text-center"></p>
<div class="team">
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/jianying.jpg" />
        <div class="card-body">
            <div class="card-title">Li Jianying</div>
            <div class="card-text">Core Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/canesin.png" />
        <div class="card-body">
            <div class="card-title">Fabio C. Canesin</div>
            <div class="card-text">City of Zion Co-Founder</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/ethan.png" />
        <div class="card-body">
            <div class="card-title">Ethan Fast</div>
            <div class="card-text">City of Zion Co-Founder</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/tsaunders.jpg" />
        <div class="card-body">
            <div class="card-title">Thomas Saunders</div>
            <div class="card-text">City of Zion Co-Founder</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/Luciano.jpg" />
        <div class="card-body">
            <div class="card-title">Luciano Engel</div>
            <div class="card-text">City of Zion Co-Founder</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/tba.png" />
        <div class="card-body">
            <div class="card-title">Tyler B Adams</div>
            <div class="card-text">City of Zion Co-Founder</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/afong.jpg" />
        <div class="card-body">
            <div class="card-title">Alan Fong</div>
            <div class="card-text">City of Zion Co-Founder</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/joe.jpg" />
        <div class="card-body">
            <div class="card-title">Joe Stewart</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/chris-hager.jpg" />
        <div class="card-body">
            <div class="card-title">Chris Hager<div class="card-text">    City of Zion Developer</div></div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/david_s.jpg" />
        <div class="card-body">
            <div class="card-title">David Schwartz</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/jason.jpg" />
        <div class="card-body">
            <div class="card-title">Jason L Perry</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/yjx.jpg" />
        <div class="card-body">
            <div class="card-title">Yak Jun Xiang</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/erik-vd-brink.jpg" />
        <div class="card-body">
            <div class="card-title">Erik van den Brink</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/travis.jpg" />
        <div class="card-body">
            <div class="card-title">Travis Lin</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/jlgaffney.jpg" />
        <div class="card-body">
            <div class="card-title">Justin Gaffney</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/deanpress.jpg" />
        <div class="card-body">
            <div class="card-title">Dean van Dugteren</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/jaime.jpg" />
        <div class="card-body">
            <div class="card-title">Jaime Kindelan</div>
            <div class="card-text">Security Team</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/shargon.jpg" />
        <div class="card-body">
            <div class="card-title">Fernando Díaz Toledano</div>
            <div class="card-text">Security Team</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/sa.jpg" />
        <div class="card-body">
            <div class="card-title">Silas Albrecht</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/Luke.jpg" />
        <div class="card-body">
            <div class="card-title">Luke Plaster</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/charlie.jpg" />
        <div class="card-body">
            <div class="card-title">Charlie Revett</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/nikolajkuntner.jpg" />
        <div class="card-body">
            <div class="card-title">Nikolaj Kuntner</div>
            <div class="card-text">Gentleman Scientist</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/evgenyboxer.jpg" />
        <div class="card-body">
            <div class="card-title">Evgeny Boxer</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/PauloAboimPinto.jpg" />
        <div class="card-body">
            <div class="card-title">Paulo Aboim Pinto</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/sergioflores.jpg" />
        <div class="card-body">
            <div class="card-title">Sérgio Flores</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/matt.jpg" />
        <div class="card-body">
            <div class="card-title">Matt Huggins</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/kurisu.jpg" />
        <div class="card-body">
            <div class="card-title">Christopher Colomb</div>
            <div class="card-text">City of Zion Translator</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/benjamin-jj-de-bos.jpg" />
        <div class="card-body">
            <div class="card-title">Benjamin J.J. de Bos</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/guba.jpg" />
        <div class="card-body">
            <div class="card-title">Alex Guba</div>
            <div class="card-text">City of Zion Developer</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/mo.jpg" />
        <div class="card-body">
            <div class="card-title">Tom Mo<br />莫韬</div>
            <div class="card-text">Developer Intern</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/luoxue.jpg" />
        <div class="card-body">
            <div class="card-title">Luo Xue<br />罗雪</div>
            <div class="card-text">Developer Intern</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/Jonathan.jpg" />
        <div class="card-body">
            <div class="card-title">Jonathan Lim<br />林威杰</div>
            <div class="card-text">Developer Intern</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/steveface.jpg" />
        <div class="card-body">
            <div class="card-title">Steveface<br />叶凡</div>
            <div class="card-text">Developer Intern</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" data-original="@Helper.CDN/images/team/miryam.jpg" />
        <div class="card-body">
            <div class="card-title">Miryam Amsili<br />米雅</div>
            <div class="card-text">Developer Intern</div>
        </div>
    </div>
    <div class="card">
        <a target="_blank" href="https://github.com/neo-project/neo.org/blob/master/NeoWeb/Views/Team/contributor.md">
            <img class="card-img-top" data-original="@Helper.CDN/images/team/add.jpg" />
        </a>
        <div class="card-body">
            <div class="card-title"><a target="_blank" href="https://github.com/neo-project/neo.org/blob/master/NeoWeb/Views/Team/contributor.md">Add Your Photo</a></div>
            <div class="card-text">NEO contributor</div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="@Helper.CDN/js/jquery.lazyload.min.js"></script>
    <script>
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
    </script>
}
