@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NeoWeb.Models.TestCoin
@{
    ViewData["Title"] = Localizer["Developer"].Value;
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/editor.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/testnet.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
        <link rel="stylesheet" href="@Helper.ToCDN("/css/testnet.min.css", true)" />
    </environment>
}
<div class="p1 bg5">
    <h1 class="w800">@Localizer["Apply For TestNet NEO&GAS"]</h1>
</div>
<div class="container">
    <form asp-action="Apply">
        @Html.AntiForgeryToken()
        <div class="row mt3 test-apply">
            <div class="form-group col-md-6 m3">
                <label asp-for="Name">@Localizer["Name"]</label> <span class="red">*</span><br />
                <input class="form-control" asp-for="Name" type="text"
                       data-val="true" data-val-required="@Localizer["This field is required"]">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 m3">
                <label asp-for="Email">@Localizer["Email"]</label> <span class="red">*</span><br />
                <input class="form-control" asp-for="Email" type="email"
                       data-val="true" data-val-required="@Localizer["This field is required"]" data-val-email="@Localizer["Please enter a valid E-mail address"]">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Phone">@Localizer["Phone Number"]</label><br />
                <input class="form-control" asp-for="Phone" type="tel"
                       data-val="true" data-val-phone="@Localizer["Please enter a valid phone number"]">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="QQ">@Localizer["QQ"]</label><br />
                <input class="form-control" asp-for="QQ" type="text"
                       data-val="true" data-val-regex-pattern="\d+" />
                <span asp-validation-for="QQ" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Company">@Localizer["Company Name/Project Name"]</label> <span class="red">*</span><br />
                <input class="form-control" asp-for="Company" type="text" placeholder=@Localizer["Company Name/Project Name"]
                       data-val="true" data-val-required="@Localizer["This field is required"]" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Reason">@Localizer["Reasons For Application"]</label> <span class="red">*</span><br />
                <textarea class="form-control" asp-for="Reason" type="text" rows="2" cols="20"
                          data-val="true" data-val-required="@Localizer["This field is required"]" data-val-length-min="50" data-val-length-max="300" data-val-length="@Localizer["Application reason at least 50 characters, up to 300 characters"]"></textarea>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Version">Neo Version</label>
                <select asp-for="Version" class="form-control" id="Version">
                    <option value="0">Neo2.x</option>
                    <option value="1">Neo3</option>
                </select>
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="NeoCount">@Localizer["Amount Of NEO"]</label><br />
                <input class="form-control" asp-for="NeoCount" id="NEOCount" type="text"
                       data-val="true" data-val-required="@Localizer["This field is required"]" data-val-regex-pattern="\d+" data-val-regex="@Localizer["Please enter a valid number"]" />
                <span asp-validation-for="NeoCount" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="GasCount">@Localizer["Amount Of GAS"]</label><br />
                <input class="form-control" asp-for="GasCount" id="GASCount" type="text"
                       data-val="true" data-val-regex-pattern="\d+" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter a valid number"]" />
                <span asp-validation-for="GasCount" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="PubKey">@Localizer["Neo Public Key"]</label> <span class="red-text">*</span><br />
                <input class="form-control" asp-for="PubKey" type="text"
                       data-val="true" data-val-regex-pattern="0[0-9|abcdef]{65}" data-val-required="@Localizer["This field is required"]" data-val-regex="@Localizer["Please enter a valid public key"]" />
                <span asp-validation-for="PubKey" class="text-danger"></span>
                <p class="pub-key-hint t4 lh3">@Localizer["Please enter your own Neo public key. If the application succeedsis successful, we will send Neo/GAS to a multiple multi-signature address and tell you how to use it."]</p>
            </div>
        </div>
        <p class="mt4 text-center mb-5"><input type="submit" class="btn mb-4" value=@Localizer["Submit Application"]></p>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $("#Version").change(versionChanged);
            function versionChanged() {
                var ver = $("#Version ").val();
                if (ver == 1) {
                    $("#NEOCount").val(0);
                    $("#NEOCount").attr("disabled", "disabled");
                }
                else {
                    $("#NEOCount").removeAttr("disabled");
                }
            }
            versionChanged();
    </script>
}