@model NeoWeb.Models.TestCoin

@{
    ViewData["Title"] = "测试币申请详情";
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/testnet-list.min.css", true)" />
}
<p class="mt-4">测试币申请详情</p>
<div class="border-static back-white p-4 m3">
    <div class="row m3">
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.QQ)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.QQ)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Company)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Company)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Reason)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Reason)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Version)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Version)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.NeoCount)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.NeoCount)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.GasCount)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.GasCount)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.PubKey)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.PubKey)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Remark)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Remark)
        </div>
        <div class="col-1 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Time)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Time)
        </div>
    </div>
</div>
<div class="my-5">
    <a asp-action="Edit" asp-route-id="@Model.Id">备注</a>
    <a href="javascript:" onclick="document.referrer === '' ?
              window.location.pathname = '/Testnet/list' :
              window.history.back();">返回上一页</a>
</div>
