@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/download.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/download.min.css" asp-append-version="true" />
    </environment>
}
<div class="container body-content">
    <div class="row download-container">
        <h1 class="m2">@Localizer["Client Downloads"]</h1>
        <ul class="nav-download m3 t1" id="downTab">
            <li><em class="iconfont">&#xe64b;</em>@Localizer["Mobile"]</li>
            <li><em class="iconfont">&#xe632;</em>@Localizer["Desktop"]</li>
            <li><em class="iconfont">&#xe63c;</em>@Localizer["Web"]</li>
        </ul>
        <ul class="download-ul download-mobile">
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-app.jpg" /><span class="h2">NEO APP</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/PeterLinX" target="_blank">PeterLinX</a><br />
                        @Localizer["Supported Languages"]: @Localizer["English/Chinese"]<br />
                        @Localizer["Supported OS"]: Android 5 @Localizer["or later"]
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/PeterLinX/AntSharesApp" target="_blank">@Localizer["Get source code"]</a><br />
                    </p>
                    <a class="down-btn" title="Google Play" href="@Localizer["https://play.google.com/store/apps/details?id=neo.app"]" target="_blank">@Localizer["Open Google Play"]</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-O3.jpg" /><span class="h2">O3 - Neo Wallet</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/CityOfZion" target="_blank">Andrei Terentiev</a><br />
                        @Localizer["Supported Languages"]: @Localizer["English"]<br />
                        @Localizer["Supported OS"]: iOS 11.0 @Localizer["or later"]
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/CityOfZion/OzoneWalletIOS" target="_blank">@Localizer["Get source code"]</a><br />
                    </p>
                    <a class="down-btn" title="Google Play" href="https://itunes.apple.com/us/app/id1292233893" target="_blank">@Localizer["Download"]</a>
                </div>
            </li>
        </ul>

        <ul class="download-ul download-desktop">
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-gui.jpg" /><span class="h2">NEO-GUI</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/neo-project" target="_blank">NEO Project</a><br />
                        @Localizer["Supported Languages"]: @Localizer["English/Chinese"]<br />
                        @Localizer["Supported OS"]: Windows 7 SP1 @Localizer["or later"]
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/neo-project/neo-gui/" target="_blank">@Localizer["Get source code"]</a><br />
                        <a href="/client/chain.acc.zip" target="_blank">@Localizer["Download offline synchronized data"]</a>
                    </p>
                    <a class="down-btn" href="https://github.com/neo-project/neo-gui/releases" target="_blank">@Localizer["Download"]</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-cli.jpg" /><span class="h2">NEO-CLI</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/neo-project" target="_blank">NEO Project</a><br />
                        @Localizer["Supported Languages"]: @Localizer["English"]<br />
                        @Localizer["Supported OS"]: Windows / Linux
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/neo-project/neo-cli/" target="_blank">@Localizer["Get source code"]</a><br />
                        <a href="/client/chain.acc.zip" target="_blank">@Localizer["Download offline synchronized data"]</a>
                    </p>
                    <a class="down-btn" href="https://github.com/neo-project/neo-cli/releases" target="_blank">@Localizer["Download"]</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-NEON.jpg" /><span class="h2">NEON</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://cityofzion.io" target="_blank">City of Zion</a><br />
                        @Localizer["Supported Languages"]: @Localizer["English"]<br />
                        @Localizer["Supported OS"]: OSX / Windows / Linux
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">@Localizer["Get source code"]</a><br />
                        <br />
                    </p>
                    <a class="down-btn" href="https://github.com/CityOfZion/neon-wallet/releases" target="_blank">@Localizer["Download"]</a>
                </div>
            </li>
        </ul>

        <ul class="download-ul download-web">
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-tracker.jpg" /><span class="h2">NEO Tracker</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://neotracker.io/wallet" target="_blank">neotracker</a><br />
                        @Localizer["Supported Languages"]: @Localizer["English"]<br />
                        @Localizer["Supported Browser"]: Chrome/Edge
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/neotracker" target="_blank">@Localizer["Get source code"]</a><br />
                    </p>
                    <a class="down-btn" href="https://neotracker.io/wallet" target="_blank">@Localizer["Visit Site"]</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-wallet.jpg" /><span class="h2">NEO WALLET</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/PeterLinX/" target="_blank">PeterLinX</a><br>
                        @Localizer["Supported Languages"]: @Localizer["English/Chinese"]<br>
                        @Localizer["Supported Browser"]: Chrome/Edge
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/PeterLinX" target="_blank">@Localizer["Get source code"]</a><br />
                    </p>
                    <a class="down-btn" href="https://neowallet.cn/" target="_blank">@Localizer["Visit Site"]</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-otcgo.jpg" /><span class="h2">@Localizer["OTCGO"]</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/OTCGO/" target="_blank">fl0wjacky</a><br>
                        @Localizer["Supported Languages"]: @Localizer["Chinese"]<br>
                        @Localizer["Supported Browser"]: Chrome/Edge
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/OTCGO/" target="_blank">@Localizer["Get source code"]</a><br />
                    </p>
                    <a class="down-btn" href="https://otcgo.cn/" target="_blank">@Localizer["Visit Site"]</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-ansy.jpg" /><span class="h2">Ansy</span></div>
                    <p class="m2 t2">
                        @Localizer["Developer"]: <a href="https://github.com/snowypowers" target="_blank">snowypowers</a><br>
                        @Localizer["Supported Languages"]: @Localizer["English"]<br>
                        @Localizer["Supported Browser"]: Chrome/Edge
                    </p>
                    <p class="m2 t2 bold-font">
                        <a href="https://github.com/snowypowers/ansy" target="_blank">@Localizer["Get source code"]</a><br />
                    </p>
                    <a class="down-btn" href="https://snowypowers.github.io/ansy/" target="_blank">@Localizer["Visit Site"]</a>
                </div>
            </li>
        </ul>
    </div>
    <p class="down-hint t2 m2"> @Localizer["Wallets are developed by a third party/community. Please contact the corresponding parties for technical support."]</p>
</div>
@section Scripts{
    <script>
        $(function () {
            var test = window.location.hash.substr(1);
            var num = parseInt(test);
            if (num) {
                $("#downTab li").eq(num - 1).addClass("downtab-select");
                switch (num) {
                    case 1: $(".download-mobile").addClass("down-select"); break;
                    case 2: $(".download-desktop").addClass("down-select"); break;
                    case 3: $(".download-web").addClass("down-select"); break;
                    default: break;
                }
            } else {
                $("#downTab li").eq(1).addClass("downtab-select");
                $(".download-desktop").addClass("down-select");
            }

            $("#downTab li").click(function () {
                $(".downtab-select").removeClass("downtab-select");
                $(this).addClass("downtab-select");
                $(".down-select").removeClass("down-select");
                switch ($(this).index()) {
                    case 0: $(".download-mobile").addClass("down-select"); break;
                    case 1: $(".download-desktop").addClass("down-select"); break;
                    case 2: $(".download-web").addClass("down-select"); break;
                }
            })
        })
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.menu-item [href='/download']").css("border-bottom", "2px solid #58bf00")
    </script>
}