@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{ ViewData["Title"] = Localizer["Neo Defined"].Value; }
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/about.min.css", true)" />
}

<div class="introduction">
    <div class="introduction-start">
        <h1 class="uppercase"><span class="green">NEO</span> <br class="@SharedLocalizer["d-none-zh"]" /> @Localizer["Defined"]</h1>
        <div class="introduction-content">@Localizer["After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date."]</div>
    </div>
    <img class="introduction-img" data-original="@Helper.ToCDN("/images/discover/placeholder.png", true)" />
</div>

<div class="divider"></div>

<div class="content-wrapper">
    <div class="title-row">
        <div class="title">Introduction</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 paragraph margin-bottom">
            <div class="headline">
                Neo is an open-source community driven blockchain platform.
            </div>
            At its core, Neo utilizes blockchain technology and digital identities to digitize and automate the management of assets using smart contracts. It aims to create a Smart Economy by providing infrastructures for the Next-Gen Internet and build a solid foundation for mass blockchain adoption.
        </div>
        <div class="col-12 col-md-6">
            <div class="subtitle">
                Vision
            </div>
            <div class="body-paragraph">
                To be an open network for the Smart Economy.
            </div>

            <div class="divider"></div>

            <div class="subtitle green margin-top">
                Mission
            </div>
            <div class="body-paragraph">
                To make any asset, digital or physical, accessible by human beings and programs with minimized trust and permission.
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="title-row">
        <div class="title">History</div>
        <div class="arrow-buttons">
            <i class="iconfont disabled" id="scroll-left-btn">&#xe61c;</i>
            <i class="iconfont" id="scroll-right-btn">&#xe61b;</i>
        </div>
    </div>
    <div class="scroll-wrapper" id="scroll-wrapper">
        <img class="@SharedLocalizer["d-none"]" id="scroll-img" data-original="@Helper.ToCDN("/images/discover/Timeline-zh.png", true)" />
        <img class="@SharedLocalizer["d-none-zh"]" id="scroll-img" data-original="@Helper.ToCDN("/images/discover/Timeline.png", true)" />
    </div>

    <div class="row">
        <div class="col-12 col-md-6 content-headline">
            Neo was founded by Da Hongfei and Erik Zhang in 2014 under the name Antshares. The original source code was published to GitHub in July 2015 and the MainNet subsequently launched in October 2016.
        </div>
        <div class="col-12 col-md-6 paragraph">
            In 2017, Antshares was rebranded to Neo as it implemented Smart Contracts 2.0. It underwent aggressive global expansion as hundreds of new developers poured onto the blockchain. Neo leadership began distributing NEO token rewards to groups and individuals that contributed to the growth of the Neo platform. Some of the earliest groups to join Neo included COZ, NewEconoLabs, and O3 Labs.
            <br /><br />
            In 2021, Neo is being upgraded to version 3.0, known as N3. As a project that began in June 2018, the N3 upgrade represents the biggest advancement in Neo’s history. It is aimed at bringing the first all-in-one blockchain development experience to the industry, packed with powerful native features such as distributed storage, oracles, name services, and identity. Neo N3 also boasts a simpler and more modular architecture than its predecessors, along with an improved governance and economic model.
            <br /><br />
            Neo was a pioneer in the early blockchain industry. Not only was it the first public smart contract platform to be founded in China, it was also the first chain to use a dual token model and the first to implement a BFT style consensus mechanism. Further, it is still the first and only token sale to return all the original raised funds to its participants once it had generated enough money to be self-sustaining.

        </div>
    </div>
</div>

<div class="divider"></div>

<div class="content-wrapper">
    <div class="title-row">
        <div class="title">Execution Philsophy</div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 paragraph">
            <span>Over the years, Neo’s organizational structure matured as its Shanghai based operation grew from less than a dozen to over 50. The number of community groups dedicated to advancing Neo’s technology also increased. Today, Neo has developers all over the world contributing to core development, infrastructure, and tooling, including alumni from organizations such as Microsoft, Facebook, Amazon, Samsung, Dell, Seagate, and others.</span>
            <br /><br />
            <span class="bold">The main groups working on Neo can be broken down as follows:</span>
            <div class="bullet-container">
                <div class="bullet-row"><div class="green-dot"></div>Neo Foundation</div>
                <div class="bullet-row"><div class="green-dot"></div>Core Developers</div>
                <div class="bullet-row"><div class="green-dot"></div>Neo Global Development</div>
                <div class="bullet-row"><div class="green-dot"></div>Sponsored Community Groups</div>
            </div>
            <span class="bold">
                In the eyes of the idealist, the overarching goal of Neo is to be a decentralized and open network for the Smart Economy. The pragmatist, however, knows that in order for this goal to be realised in a timely manner, some centralized coordination must occur.
                <br /><br />
            </span>
            <span>
                To this end, the Neo Foundation was established as a strategic guide for the Neo platform. As an organisation, the Neo Foundation sets the overall goals for the project and provides funding to other self-governed groups to pursue these goals as they see fit.
                <br /><br />
                Neo also knows that the blockchain industry cannot circumvent existing legal systems or create solutions that are wholly incompatible with existing business frameworks. Instead, we must all work together to build the Smart Economy of tomorrow.
            </span>
        </div>
        <div class="col-12 col-md-6 paragraph">
            Neo has approached this issue by founding and joining several industry groups designed to establish standards, educate law-makers, and increase access to infrastructure.
            <br /><br />
            In 2021, Neo will take its biggest step forward toward decentralization with the launch of Neo N3. NEO holders will have the opportunity to vote in a Neo Council responsible for governing the blockchain, running consensus nodes, and setting critical blockchain parameters such as transaction fees.
            <br /><br />
            <span class="bold">
                Neo practices a philosophy of “Pragmatic Idealism”
            </span>
            <img class="quote-img" data-original="@Helper.ToCDN("/images/discover/placeholder.png", true)" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script>$(document).ready(() => {
    const scrollDistance = 300;

    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    $("#scroll-wrapper").on("scroll", debounce(function (e) {
        const scrollWrapper = $("#scroll-wrapper")
        console.log(scrollWrapper.scrollLeft(), scrollWrapper.innerWidth());
        if (scrollWrapper.scrollLeft() > 0) {
            $("#scroll-left-btn").removeClass("disabled")
        } else {
            $("#scroll-left-btn").addClass("disabled")
        }
        if (scrollWrapper.scrollLeft() + 8 < scrollWrapper.width()) {
            $("#scroll-right-btn").removeClass("disabled")
        } else {
            $("#scroll-right-btn").addClass("disabled")
        }
    }, 50))

    $("#scroll-left-btn").click(function (e) {
        if ($(this).hasClass("disabled")) {
            e.preventDefault();
            return;
        }
        
        $("#scroll-wrapper").animate({
            scrollLeft: "-=" + scrollDistance
        }, 650)
    })

    $("#scroll-right-btn").click(function (e) {
        if ($(this).hasClass("disabled")) {
            e.preventDefault();
            return;
        }
        $("#scroll-wrapper").animate({
            scrollLeft: "+=" + scrollDistance
        }, 650)
    })

    });</script>
}
