@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">@Localizer["Communities"]</h2>
<div class="menu-page-description">
    @Localizer["Neo has sponsored various self-governed communities around the world to help build out Neo’s developer tools and infrastructure. The communities also provide support to new developers joining the ecosystem and provide outreach and learning opportunities to local groups in their various regions."]
</div>

<div class="communities-container">
    @{ string[,] items = new string[10, 5]
                      {
        { "/images/discover/placeholder.png", "COZ", "CozDescription", "https://coz.io", "https://github.com/CityOfZion" },

        { "/images/discover/placeholder.png", "NeoResearch", "NeoResearchDescription", "https://neoresearch.io", "https://github.com/neoresearch" },

        { "/images/discover/placeholder.png", "Neo St Petersburg Competence Center", "SpccDescrition", "https://nspcc.ru/en/", "https://github.com/nspcc-dev/" },

        { "/images/discover/placeholder.png", "NEXT", "NextDescription", "https://neonext.io", "https://github.com/NeoNEXT" },

        { "/images/discover/placeholder.png", "AxLabs", "AxLabsDescription", "https://axlabs.com", "https://github.com/AxLabs" },

        { "/images/discover/placeholder.png", "Neo Tracker", "NeoTrackerDescription", "https://neo-one.io", "https://github.com/neo-one-suite" },
                      
        { "/images/discover/placeholder.png", "NewEconoLabs", "NewEconoLabsDescription", "https://nel.group/index-En.html", "https://github.com/NewEconoLab" },

        { "/images/discover/placeholder.png", "Alienworks", "AlienworksDescription", "", "https://github.com/alienworks" },

         { "/images/discover/placeholder.png", "Red4Sec", "Red4SecDescription", "https://red4sec.com/en", "https://github.com/red4sec" },

         { "/images/discover/placeholder.png", "Neo News Today", "NeoNewsTodayDescription", "https://neonewstoday.com/ ", "" },
    };

    for (int i = 0; i < items.GetLength(0); i++)
    {
    <div class="communities-item">
        <img class="content-img" data-original="@Helper.ToCDN(items[i, 0], true)" />
        <div class="content-wrapper">
            <div class="communities-name">@items[i, 1]</div>
            <div class="communities-description">
                @Localizer[items[i, 2]]
            </div>
            @if (!String.IsNullOrEmpty(@items[i, 3])) {
            <a class="link-wrapper" href="@items[i, 3]">
                <img class="link-icon" data-original="@Helper.ToCDN("/images/discover/WebLink.svg", true)" />
                <div>@items[i, 3]</div>
            </a>
            }

            @if (!String.IsNullOrEmpty(@items[i, 4])) {
                <a class="link-wrapper" href="@items[i, 4]">
                    <i class="iconfont link-icon">&#xe609;</i>
                    <div>@items[i, 4]</div>
                </a>
            }
        </div>
    </div>
    }
    }


</div>
