@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Overview</h2>
<div class="menu-page-description">
    After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date.
</div>

<div class="people-card-container">
    @{
        string[,] people = new string[5, 5]
        {
            { "Erik Zhang", "张铮文", "Neo Founder", "Founder and Core developer of Neo, Chair of Neo Foundation", "https://www.linkedin.com/in/erik-zhang-5a6b14ab/" },
            { "Da Hongfei", "达鸿飞", "Neo Founder", "Founder of Neo, Chair of Neo Foundation, CEO of NGD", "https://www.linkedin.com/in/dahongfei/" },
            { "John deVadoss", "", "NGD Enterprise Founder", "Director of Enterprise Adoption", "https://www.linkedin.com/in/johnkdevadoss/" },
            { "Longfei Wang", "王龙飞", "NEO Foundation", "Developer Community Strategist", "https://www.linkedin.com/in/longfei-wang-a7b3b125/" },
            { "Grace Gui", "桂海芳", "NEO Foundation", "Program Manager", "https://www.linkedin.com/in/grace-gui-95906635/" }
        };


        for (int i = 0; i < people.GetLength(0); i++)
        {
        <div class="people-card">
            <img class="people-img" data-original="@Helper.ToCDN("/images/discover/placeholder.svg")" />

            @if (!String.IsNullOrEmpty(people[i, 0]))
            {
        <div class="content-row">
            <div class="primary-name">@people[i, 0]</div>
            <a href="https://www.github.com" target="_blank"><i class="iconfont link-icon">&#xe609;</i></a>
        </div>}

            @if (!String.IsNullOrEmpty(people[i, 1]))
            {
        <div class="content-row">
            <div class="secondary-name">@people[i, 1]</div>
            <a href="@people[i, 4]" target="_blank"><img class="link-icon" data-original="@Helper.ToCDN("/images/discover/LinkedIn.svg")" /></a>
        </div>}

            @if (!String.IsNullOrEmpty(people[i, 2]))
            {
        <div class="content-row">
            <div class="title-name">@Localizer[people[i, 2]]</div>
        </div>}

            @if (!String.IsNullOrEmpty(people[0, 3]))
            {
        <div class="content-row">
            <div class="people-description">@people[i, 3]</div>
        </div>}

        </div>
        }
    }
</div>
