@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">@Localizer["Industry Collaboration"]</h2>
<div class="menu-page-description">
    @Localizer["Neo prides itself on being a leader in the blockchain space and takes this responsibility seriously. Neo has partnered with various groups to advance blockchain standards and adoption across traditional industries."]
</div>

<div class="communities-container">
    @{ string[,] items = new string[5, 4]
                      {
        { "/images/discover/placeholder.png", "InterWork Alliance", "InterWork Alliance Description", "https://interwork.org/"},
        { "/images/discover/placeholder.png", "PolyNetwork", "PolyNetwork Description", "https://www.poly.network"},
        { "/images/discover/placeholder.png", ".NET Foundation", "NET Foundation Description", "https://dotnetfoundation.org/"},
        { "/images/discover/placeholder.png", "BSN", "BSN Description", "https://bsnbase.io/"},
        { "/images/discover/placeholder.png", "IEEE", "IEEE Description", "https://ieee.org"}
                      };

        for (int i = 0; i < items.GetLength(0); i++)
        {
<div class="communities-item">
    <img class="content-img" data-original="@Helper.ToCDN(items[i, 0], true)" />
    <div class="content-wrapper">
        <div class="communities-name">@items[i, 1]</div>
        <div class="communities-description">
            @Localizer[items[i, 2]];
        </div>
        <a class="link-wrapper" href="@items[i, 3]">
            <img class="link-icon" data-original="@Helper.ToCDN("/images/discover/WebLink.svg", true)" />
            <div>@items[i, 3]</div>
        </a>
    </div>
</div> } }


</div>
