@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="main-title">@Localizer["Neo Foundation"]</h2>
<div class="page-paragraph">
    @Localizer["The Neo Foundation is responsible for setting the strategic direction for the Neo project and distributing funding to various groups for execution. Led by project founders Da Hongfei and Erik Zhang, the Neo Foundation primarily liaises with Neo Global Development, sponsored communities, and core developers."]
</div>

<div class="people-card-container">
    <div class="people-card">
        <img class="people-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="/images/discover/DaHongfei.jpg" />
        <div class="people-content">
            <div class="col-name">
                <div class="primary-name">Da Hongfei</div>
                <div class="secondary-name">达鸿飞</div>
                <div class="title-name">@Localizer["NEO FOUNDER"]</div>
                <div class="people-description">Founder of Neo, Chair of Neo Foundation, CEO of NGD</div>
            </div>
            <div class="col-icon">
                <a href="https://www.linkedin.com/in/dahongfei/" target="_blank"><i class="iconfont link-icon">&#xe62e;</i></a>
            </div>
        </div>
    </div>
    <div class="people-card">
        <img class="people-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="/images/discover/ErikZhang.jpg" />

        <div class="people-content">
            <div class="col-name">
                <div class="primary-name">Erik Zhang</div>
                <div class="secondary-name">张铮文</div>
                <div class="title-name">@Localizer["NEO FOUNDER"]</div>
                <div class="people-description">Founder and Core developer of Neo, Chair of Neo Foundation</div>
            </div>
            <div class="col-icon">
                <a href="https://www.linkedin.com/in/erik-zhang-5a6b14ab/" target="_blank"><i class="iconfont link-icon">&#xe62e;</i></a>
            </div>
        </div>
    </div>
</div>

