@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="main-title">@Localizer["Neo Foundation"]</h2>
<div class="page-paragraph">
    @Localizer["The Neo Foundation is responsible for setting the strategic direction for the Neo project and distributing funding to various groups for execution. Led by project founders Da Hongfei and Erik Zhang, the Neo Foundation primarily liaises with Neo Global Development, sponsored communities, and core developers."]
</div>

<div class="people-card-container">
    @{ string[,] people = new string[3, 6]
    {
        { "Da Hongfei", "达鸿飞", "NEO FOUNDER ", "Founder of Neo, Chair of Neo Foundation, CEO of NGD", "https://www.linkedin.com/in/dahongfei/", "/images/discover/DaHongfei.jpg" },
        { "Erik Zhang", "张铮文", "NEO FOUNDER", "Founder and Core developer of Neo, Chair of Neo Foundation", "https://www.linkedin.com/in/erik-zhang-5a6b14ab/", "/images/discover/ErikZhang.jpg" },
        { "John deVadoss", "", "NGD ENTERPRISE BORAD PRESIDENT", "Director of Enterprise Adoption", "https://www.linkedin.com/in/johnkdevadoss/", "/images/discover/JohnDevadoss.jpg" },
    };


        for (int i = 0; i < people.GetLength(0); i++)
                    {
        <div class="people-card">
            <img class="people-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN(people[i, 5])" />

            <div class="people-content">
                <div class="col-name">
                    <div class="primary-name">@people[i, 0]</div>
                    @if (!String.IsNullOrEmpty(people[i, 1]))
                    {
                        <div class="secondary-name">@people[i, 1]</div>}
                    @if (!String.IsNullOrEmpty(people[i, 2]))
                    {
                        <div class="title-name">@Localizer[people[i, 2]]</div>}
                    @if (!String.IsNullOrEmpty(people[0, 3]))
                    {
                        <div class="people-description">@people[i, 3]</div>}
                </div>
                <div class="col-icon">
                    @if (!String.IsNullOrEmpty(people[i, 4]))
                    {
                        <a href="@people[i, 4]" target="_blank"><i class="iconfont link-icon">&#xe62e;</i></a>}

                </div>
            </div>
            </div>} }
    </div>

