@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Neo Foundation</h2>
<div class="menu-page-description">
    At magnum periculum adiit in oculis quidem faciunt, ut summo bono, dolorem aspernari ut aut ad naturam aut rerum hic tenetur a se esse ratione intellegi posse et dolorem ipsum, quia voluptas sit, voluptatem et accusamus et quas molestias.
</div>

<div class="people-card-container">
    @{ string[,] people = new string[5, 5]
    {
        { "Erik Zhang", "张铮文", "NEO FOUNDER", "Founder and Core developer of Neo, Chair of Neo Foundation", "https://www.linkedin.com/in/erik-zhang-5a6b14ab/" },
        { "Da Hongfei", "达鸿飞", "NEO FOUNDER ", "Founder of Neo, Chair of Neo Foundation, CEO of NGD", "https://www.linkedin.com/in/dahongfei/" },
        { "John deVadoss", "", "NGD ENTEPRISE FOUNDER", "Director of Enterprise Adoption", "https://www.linkedin.com/in/johnkdevadoss/" },
        { "Longfei Wang", "王龙飞", "NEO FOUNDATION", "Developer Community Strategist", "https://www.linkedin.com/in/longfei-wang-a7b3b125/" },
        { "Grace Gui", "桂海芳", "NEO FOUNDATION", "Program Manager", "" },
    };


        for (int i = 0; i < people.GetLength(0); i++)
                    {
        <div class="people-card">
            <img class="people-img" data-original="@Helper.ToCDN("/images/discover/placeholder.svg")" />

            <div class="people-content">
                <div class="col-name">
                    <div class="primary-name">@people[i, 0]</div>
                    @if (!String.IsNullOrEmpty(people[i, 1]))
                    {
                        <div class="secondary-name">@people[i, 1]</div>}
                    @if (!String.IsNullOrEmpty(people[i, 2]))
                    {
                        <div class="title-name">@Localizer[people[i, 2]]</div>}
                    @if (!String.IsNullOrEmpty(people[0, 3]))
                    {
                        <div class="people-description">@people[i, 3]</div>}
                </div>
                <div class="col-icon">
                    @if (!String.IsNullOrEmpty(people[i, 4]))
                    {
                        <a href="@people[i, 4]" target="_blank"><i class="iconfont link-icon">&#xe62e;</i></a>}

                </div>
            </div>
            </div>} }
    </div>

