@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{ ViewData["Title"] = Localizer["Contributors"].Value; }
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/contributors.min.css", true)" />
}

<div class="introduction others">
    <div class="introduction-start">
        <div class="introduction-title"><span class="green">@Localizer["NEO"]</span> <br class="@SharedLocalizer["d-none-zh"]" /> @Localizer["Contributors"]</div>
        <div class="introduction-content">@Localizer["Many hands make light work. Neo is a collaborative project with contributors from many different groups and organizations across the globe."]</div>
    </div>
    <img class="introduction-img" data-original="@Helper.ToCDN("/images/discover/ContributorsWorldMap.svg", true)" />
</div>

<div class="introduction outstanding-contributors">
    <div class="introduction-start">
        <div class="introduction-title @SharedLocalizer["d-none-zh"]"><em>@Localizer["Outstanding"]</em><br />@Localizer["Contributors"]</div>
        <div class="introduction-title zh @SharedLocalizer["d-none"]"><em>@Localizer["Outstanding"]</em><br />@Localizer["Contributors"]</div>
        <div class="introduction-content">@Localizer["Community projects like Neo attract people from all walks of life with all kinds of skills and abilities. Some may work with the project long term, while others may make impactful contributions over a short period of time. We like to provide special acknowledgement of these outstanding community members and thank them for their contributions to the Neo project."]</div>
    </div>
    <img class="introduction-img" data-original="@Helper.ToCDN("/images/discover/ContributorsWorldMap.svg", true)" />
</div>

<div class="introduction industry-collaboration">
    <div class="introduction-start">
        <div class="introduction-title @SharedLocalizer["d-none-zh"]"><em>@Localizer["Industry"]</em><br />@Localizer["Collaboration"]</div>
        <div class="introduction-title zh @SharedLocalizer["d-none"]"><em>@Localizer["Industry"]</em><br />@Localizer["Collaboration"]</div>
        <div class="introduction-content">@Localizer["Many hands make light work. Neo is a collaborative project with contributors from many different groups and organizations across the globe."]</div>
    </div>
    <img class="introduction-img" data-original="@Helper.ToCDN("/images/discover/ContributorsWorldMap.svg", true)" />
</div>

<div class="divider"></div>

<div class="resources">
    <div class="resources-start">
        <div class="menu">
            <div class="menu-item">
                @Localizer["Core Developers"]
                <i class="iconfont">&#xe6ab;</i>
            </div>
            <div class="menu-item">
                @Localizer["Communities"]
                <i class="iconfont">&#xe6ab;</i>
            </div>
            <div class="menu-item">
                @Localizer["Neo Foundation"]
                <i class="iconfont">&#xe6ab;</i>
            </div>
            <div class="menu-item">
                @Localizer["Neo Global Development"]
                <i class="iconfont">&#xe6ab;</i>
            </div>
            <div class="menu-item">
                @Localizer["Outstanding Contributors"]
                <i class="iconfont">&#xe6ab;</i>
            </div>
            <div class="menu-item">
                @Localizer["Industry Collabration"]
                <i class="iconfont">&#xe6ab;</i>
            </div>
        </div>
        
        <select class="select-menu-page form-control">
            <option>@Localizer["Core Developers"]</option>
            <option>@Localizer["Communities"]</option>
            <option>@Localizer["Neo Foundation"]</option>
            <option>@Localizer["Neo Global Development"]</option>
            <option>@Localizer["Outstanding Contributors"]</option>
            <option>@Localizer["Industry Collabration"]</option>
        </select>
    </div>

    <div class="resources-end">
        <div class="menu-page">
            <partial name="./_CoreDevelopersPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_CommunitiesPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_NeoFoundationPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_NeoGlobalDevelopmentPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_OutStandingContributorsPartial" />
        </div>
        <div class="menu-page">
            <partial name="./_IndustryCollaborationPartial" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Helper.ToCDN("/lib/jquery/jquery.min.js")"></script>
    <script>
        $(document).ready(() => {
            const hashArray = ['core-developers', 'communities', 'neo-fundation', 'neo-global-development', 'outstanding-contributors', 'industry-collabration']

            function updateCurrentPage(i) {
                const icIndex = hashArray.indexOf('industry-collabration')
                const ocIndex = hashArray.indexOf('outstanding-contributors')
                if (i === icIndex) {
                    $(".introduction.industry-collaboration").removeClass("d-none")
                    $(".introduction.outstanding-contributors").addClass("d-none")
                    $(".introduction.others").addClass("d-none")
                } else if (i === ocIndex) {
                    $(".introduction.outstanding-contributors").removeClass("d-none")
                    $(".introduction.industry-collaboration").addClass("d-none")
                    $(".introduction.others").addClass("d-none")
                } else {
                    $(".introduction.industry-collaboration").addClass("d-none")
                    $(".introduction.outstanding-contributors").addClass("d-none")
                    $(".introduction.others").removeClass("d-none")
                }

                $('.menu-item').each((j, menuItem) => {
                    if (i === j) {
                        $(menuItem).addClass('active');
                        window.location.hash = hashArray[i];
                    } else {
                        $(menuItem).removeClass('active');
                    }
                });
                $('.menu-page').each((j, menuPage) => {
                    if (i === j) {
                        $(menuPage).addClass('active');
                        window.location.hash = hashArray[i];
                    } else {
                        $(menuPage).removeClass('active');
                    }
                });
                $('.select-menu-page').prop('selectedIndex', i);
            };

            $('.menu-item').each((i, menuItem) => {
                $(menuItem).click(() => {
                    updateCurrentPage(i);
                });
            });

            $('.select-menu-page').change(e => {
                updateCurrentPage(e.target.selectedIndex);
            });

            const hash = window.location.hash.replace(/#/g, '');
            const index = hashArray.indexOf(hash);

            updateCurrentPage(index >= 0 ? index : 0);
        });
    </script>
}
